<template>
  <div id="video" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--Slider ticker-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->
      </div>
      <!-- end content -->
      <!--content-->
      <div class="col-12">
        <!-- Post title -->
        <div class="post-title mb-4">
          <!-- title -->
          <h1 class="entry-title display-4 display-3-lg mt-2">
            {{ videoInfo.video_title }}
          </h1>
          <div class="post-atribute mb-3">
            <div class="my-3 text-muted small">
              <!--author-->
              <span v-if="videoInfo.video_author" class="d-none d-sm-inline">
                by
                <nuxt-link
                  class="font-weight-bold"
                  :to="videoInfo.video_authorId"
                  >{{ videoInfo.video_author }}</nuxt-link
                >
              </span>
              <!--date-->
              <time
                class="ml-0 ml-sm-2 ml-md-3"
                :datetime="videoInfo.video_date"
              >
                <span class="fa fa-clock"></span>
                {{ videoInfo.video_date }}
              </time>
            </div>
          </div>
        </div>

        <!-- post content -->
        <div class="post-content">
          <div class="w-100 mb-2">
            <AppAudioReader
              v-if="videoInfo.audio_link"
              :audioData="{
                title: videoInfo.video_title,
                file: videoInfo.audio_link
              }"
              :banner="videoInfo.video_img"
            />
          </div>
          <!--Post video-->
          <div class="col-12 mt-1 mb-4">
            <div class="row">
              <div
                v-if="videoInfo.video_type === 'youtube'"
                class="embed-responsive embed-responsive-16by9"
              >
                <iframe
                  class="embed-responsive-item"
                  :src="
                    `https://www.youtube.com/embed/${videoInfo.video_anchor}?rel=0`
                  "
                  allowfullscreen
                ></iframe>
              </div>
              <video v-else id="investbar-video" width="100%" controls>
                <source :src="videoInfo.video_anchor" type="video/mp4" />
                Your browser does not support HTML video.
              </video>
            </div>
          </div>
          <div itemprop="articleBody" v-html="videoInfo.video_content">
            <!-- Video intro here -->
          </div>

          <!-- tags -->
          <div class="tags-area my-3">
            <ul class="tags-list">
              <li><span>熱門搜尋關鍵字</span></li>
              <li
                v-for="(keyword, index) in keywords"
                :key="index + 1"
                class="tags-link mr-1"
                ><nuxt-link :to="'/tag/tagindex?keyword=' + keyword"
                  >#{{ keyword }}</nuxt-link
                ></li
              >
            </ul>
          </div>
        </div>
        <hr />
        <!-- Social share -->
        <div class="social-share mb-3 d-flex align-item-center">
          <!-- share facebook -->
          <FBShareButton
            :title="videoInfo.video_title"
            :description="videoInfo.video_description"
            :image="videoInfo.video_img"
          />
          <!-- share LINE -->
          <LineShareButton />
        </div>

        <hr />
        <!-- AD images -->
        <ContentAd :ad="ad" />
        <!-- End AD images -->

        <!--Related post title-->
        <div class="related-post mb-5">
          <AppBlockTitle6 :text="'相關影音'" />
          <div class="row">
            <!--video post start-->
            <article
              v-for="post in relatedVideos"
              :key="post.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4 :post="post" :middleIcon="'fas fa-video'" />
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import htmlToText from 'html-to-text'
import AppSubmenu from '@/components/AppSubmenu'
import AppBlockTitle6 from '@/components/AppBlockTitle6'
import AppPostSection4 from '@/components/AppPostSection4'
import LineShareButton from '@/components/LineShareButton'
import FBShareButton from '@/components/FBShareButton'
import ContentAd from '@/components/ContentAd'
import YTWebsiteValidator from '@/utils/YTWebsiteValidator'
import YTAnchorGetter from '@/utils/YTAnchorGetter'
import videoInternalData from '@/pages/videobar/video-internal-data'
import AppAudioReader from '@/components/AppAudioReader'

export default {
  name: 'Video',
  components: {
    AppSubmenu,
    AppBlockTitle6,
    AppPostSection4,
    LineShareButton,
    FBShareButton,
    ContentAd,
    AppAudioReader
  },
  validate({ params }) {
    if (!params.id) return false
    if (Number.isNaN(params.id)) return false
    return true
  },
  async asyncData({
    $axios,
    params,
    redirect,
    $tokenGenerator,
    $timeFilter,
    env
  }) {
    const videoInternal = videoInternalData.data
    const { data: videoInfoData } = await $axios.post('video/videodetail', {
      token: $tokenGenerator(),
      article_id: params.id
    })
    if (!videoInfoData.content.video_id) {
      /* 判定找不到新聞，導至 error 頁 */
      return redirect('/error')
    }
    if (videoInfoData.content.video_isCharge === 1) {
      /* 判定為 vip 文章，導至 vip 文章頁 */
      return redirect(`/vip_article/${params.id}`)
    }
    if (!videoInfoData.content.video_link) {
      /* 判定找不到影片，導至 news 頁 */
      return redirect(`/news/${params.id}`)
    }
    const { data: relatedVideosData } = await $axios.post('video/videorelate', {
      token: $tokenGenerator(),
      article_id: params.id
    })
    const relatedVideosMap = []
    relatedVideosData.content.forEach((video, i) => {
      relatedVideosMap[i] = {
        news_id: video.video_id,
        news_title: video.video_title,
        news_img: video.video_image,
        news_date: $timeFilter(video.video_date)
      }
    })
    for (const key in videoInternal) {
      if (videoInfoData.content.video_category === videoInternal[key].id) {
        videoInfoData.content.video_categoryName = videoInternal[key].title
      }
    }
    videoInfoData.content.video_description =
      htmlToText
        .fromString(videoInfoData.content.video_content)
        .replace(/\n/g, '')
        .slice(0, 150) + '...'
    videoInfoData.content.video_date = $timeFilter(
      videoInfoData.content.video_date
    )
    videoInfoData.content.video_isotime = new Date(
      videoInfoData.content.video_date
    ).toISOString()
    if (YTWebsiteValidator(videoInfoData.content.video_link)) {
      videoInfoData.content.video_anchor = YTAnchorGetter(
        videoInfoData.content.video_link
      )
      videoInfoData.content.video_type = 'youtube'
      videoInfoData.content.video_content = videoInfoData.content.video_content.replace(
        /(?:<iframe[^>]*)(?:(?:\/>)|(?:>.*?<\/iframe>))/,
        ''
      )
    } else {
      videoInfoData.content.video_anchor = videoInfoData.content.video_link
      videoInfoData.content.video_type = 'mp4'
      videoInfoData.content.video_content = videoInfoData.content.video_content.replace(
        /(?:<iframe[^>]*)(?:(?:\/>)|(?:>.*?<\/iframe>))/,
        ''
      )
    }
    return {
      videoInfo: videoInfoData.content,
      relatedVideos: relatedVideosMap,
      domain: env.domain
    }
  },
  data() {
    return {
      posts: [],
      videoInfo: {},
      relatedVideos: [],
      menuItems: [
        {
          title: '小資',
          link: '/videobar/prettyvideo'
        },
        {
          title: '狂理財',
          link: '/videobar/ckvideo'
        },
        {
          title: '親子',
          link: '/videobar/pcvideo'
        },
        {
          title: '退休',
          link: '/videobar/retirevideo'
        },
        {
          title: '投資',
          link: '/videobar/investvideo'
        },
        {
          title: '華小姐投資',
          link: '/videobar/misshua'
        },
        {
          title: '基金bar',
          link: '/videobar/fundbar'
        }
      ],
      ad: {}
    }
  },
  computed: {
    keywords() {
      return this.videoInfo.video_keywords.split(',')
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ad = m.default.missHuaBanner
    })
  },
  head() {
    return {
      title: this.videoInfo.video_title + ' - moneybar財經商業資訊社群網站',
      meta: [
        {
          property: 'og:url',
          name: 'og:url',
          content: this.domain + '/video/' + this.videoInfo.video_id
        },
        {
          property: 'og:title',
          name: 'og:title',
          content: `${this.videoInfo.video_title} - moneybar財經商業資訊社群網站`
        },
        {
          property: 'og:image',
          name: 'og:image',
          content:
            this.videoInfo.video_img ||
            'https://www.moneybar.com.tw/img/logo/moneybar_logo.png'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          name: 'og:description',
          content: this.videoInfo.video_description
        },
        {
          property: 'article:section',
          content: this.videoInfo.video_categoryName
        },
        {
          property: 'article:published_time',
          content: this.videoInfo.video_isotime
        },
        {
          hid: 'description',
          property: 'description',
          content: this.videoInfo.video_description
        }
      ]
    }
  }
}
</script>
