<template>
  <div id="cart" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <AppTitleBox :text="'您的訂閱方案'" :titleSize="1.75" />
      <table class="custom-table w-100">
        <thead>
          <tr>
            <th
              v-for="(field, index) in subscriptionFields"
              :key="index + 1"
              scope="col"
              class="bg-lavender text-white py-2"
              >{{ field }}</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ cartItem.case_id }}</td>
            <td>{{ cartItem.case_title }}</td>
            <td>{{ cartItem.case_price }}</td>
            <td v-html="cartItem.case_description"></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center w-100">
        <AppTitleBox
          :text="'您的結帳資訊'"
          :titleSize="1.75"
          :subText="'本店採用「藍新」第三方金流服務進行付款'"
          :subSize="1.5"
        />
      </div>
      <form @submit.prevent.stop="" class="custom-form">
        <!-- INVOICE -->
        <div class="row" :class="invoiceSelected === 0 ? '' : 'border-none'">
          <div class="col-md-5">
            <label>發票設定</label>
          </div>
          <div class="col-md-7">
            <select v-model="invoiceSelected">
              <option
                v-for="(select, index) in invoiceSelections"
                :key="index + 1"
                :value="select.value"
                >{{ select.text }}</option
              >
            </select>
          </div>
        </div>
        <!-- 捐贈給公益團體 -->
        <template v-if="invoiceSelected === 1">
          <!-- 捐贈碼 -->
          <div class="row">
            <div class="col-md-5">
              <label>捐贈碼</label>
            </div>
            <div class="col-md-7">
              <input
                class=""
                type="text"
                v-model="npoCode"
                placeholder="請輸入 3 到 7 碼數字"
              />
            </div>
          </div>
        </template>
        <!-- 二聯式電子發票 -->
        <template v-if="invoiceSelected === 2">
          <div class="row border-none">
            <div class="col-md-5">
              <label
                ><input
                  v-model="formInput.carrier_type"
                  type="radio"
                  name="invoice"
                  class="mr-3"
                  value="member"
                />會員載具</label
              >
            </div>
            <div class="col-md-7">
              <span class="text-left">{{ formInput.m_email }}</span>
            </div>
          </div>
          <div class="row border-none">
            <div class="col-md-5">
              <label
                ><input
                  v-model="formInput.carrier_type"
                  type="radio"
                  name="invoice"
                  class="mr-3"
                  value="cellphone"
                />手機載具</label
              >
            </div>
            <div class="col-md-7"
              ><input
                type="text"
                id="company-code"
                v-model="mobileCarrierId"
                :disabled="formInput.carrier_type !== 'cellphone'"
                class="w-100"
                placeholder="必須以 / 為起始，長度共 8 碼"/></div></div
          ><div class="row">
            <div class="col-md-5">
              <label
                ><input
                  v-model="formInput.carrier_type"
                  type="radio"
                  name="invoice"
                  class="mr-3"
                  value="citizen"
                />自然人憑證</label
              >
            </div>
            <div class="col-md-7"
              ><input
                type="text"
                id="company-code"
                v-model="citizenCarrierId"
                :disabled="formInput.carrier_type !== 'citizen'"
                class="w-100"
                placeholder="2 位大寫字母加 14 位數字"/></div
          ></div>
        </template>
        <!-- 三聯式紙本發票 -->
        <template v-if="invoiceSelected === 3">
          <!-- COMPANY ID -->
          <div class="row border-none">
            <div class="col-md-5">
              <label>公司統編</label>
            </div>
            <div class="col-md-7">
              <input class="" type="text" v-model="companyCode" />
            </div>
          </div>
          <!-- 收件人姓名 -->
          <div class="row border-none">
            <div class="col-md-5">
              <label>收件人姓名</label>
            </div>
            <div class="col-md-7">
              <span class="text-left">{{ formInput.m_name }}</span>
            </div>
          </div>
          <!-- 收件人電話 -->
          <div class="row border-none">
            <div class="col-md-5">
              <label>收件人電話</label>
            </div>
            <div class="col-md-7">
              <span class="text-left">{{ formInput.m_phone }}</span>
            </div>
          </div>
          <!-- ADDRESS -->
          <div class="row">
            <div class="col-md-5">
              <label>地址</label>
            </div>
            <div class="col-md-7">
              <select v-model="selectedCity" @change="resetSelectedArea">
                <option value="">請選擇縣市</option>
                <option
                  v-for="(city, index) in cities"
                  :key="index + 1"
                  :value="city"
                  >{{ city }}</option
                >
              </select>
              <select v-model="selectedArea">
                <option :value="{}">請選擇地區</option>
                <option
                  v-for="(area, index) in areas"
                  :key="index + 1"
                  :value="area"
                  >{{ area.AreaName }}</option
                >
              </select>
              <input
                class=""
                v-model="addressSuffix"
                placeholder="請輸入街道地址"
                type="text"
              />
              <span class="text-red" v-if="addressIsRequried"
                >請填入發票寄送的地址</span
              >
            </div>
          </div>
        </template>
        <!-- TOTAL -->
        <div class="row">
          <div class="col-md-5">
            <label>訂閱方案總額</label>
          </div>
          <div class="col-md-7">
            <span class="text-left">
              {{ cartItem.case_price | filterPeriod }} 元
            </span>
          </div>
        </div>
        <!-- DISCOUNT CODE -->
        <div class="row">
          <div class="col-md-5">
            <label>折扣碼</label>
          </div>
          <div class="col-md-7">
            <input
              type="text"
              v-model="couponInput"
              :disabled="lockUseCouponBtn"
              placeholder="請輸入您擁有的優惠折扣碼"
            />
            <button v-if="isSubmitting" class="btn-success mt-1">
              請稍候...
            </button>
            <button
              v-else
              @click="handleCouponCheck"
              :disabled="lockUseCouponBtn"
              class="btn-success mt-1"
            >
              {{ lockUseCouponBtn ? '已使用折扣碼' : '檢查折扣碼與進行折價' }}
            </button>
            <button
              @click="handleCancelCoupon"
              :disabled="!lockUseCouponBtn"
              class="btn-danger mt-1"
              >取消折扣碼</button
            >
          </div>
        </div>
        <!-- DISCOUNT AMOUNT -->
        <div class="row">
          <div class="col-md-5">
            <label>折抵金額</label>
          </div>
          <div class="col-md-7">
            <span class="text-left"> {{ formInput.coupon_value }} 元 </span>
          </div>
        </div>
        <!-- PAYING AMOUNT -->
        <div class="row">
          <div class="col-md-5">
            <label>應付金額</label>
          </div>
          <div class="col-md-7">
            <span class="text-left">
              {{ discountedPrice | filterPeriod }} 元
            </span>
          </div>
        </div>
        <!-- PAYING METHOD -->
        <div class="row">
          <div class="col-md-5">
            <label>付款方式</label>
          </div>
          <div class="col-md-7">
            <select v-model="formInput.m_payment">
              <option
                v-for="(payment, index) in paymentSelections"
                :key="index + 1"
                :value="payment.value"
                >{{ payment.text }}</option
              >
            </select>
          </div>
        </div>
        <!-- SYSTEM INFO -->
        <div class="row">
          <div class="col-12">
            <span class="d-block text-center"
              >開立公司戶(三聯式)電子發票後，會EMAIL「電子發票證明聯」到您的信箱，將不再另行寄送紙本發票。
              系統自動為您對獎，中獎後主動通知您並掛號寄出紙本發票。提醒您，個人(二聯式)電子發票一旦開立，不得任意更改或改開公司戶(三聯式)電子發票。
            </span>
          </div>
        </div>
        <div class="row agree__checkbox">
          <div class="col-12 text-center d-flex align-items-center">
            <input
              id="agree"
              type="checkbox"
              v-model="isAgreed"
              true-value="1"
              false-value=""
            />
            <label class="form-check-label text-small" for="agree">
              （請勾選）為提昇作業效率，我同意由 Moneybar
              代為處理電子發票及銷貨退回證明單。
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="text-right">
              <!-- 測試環境不開放藍新 -->
              <template v-if="SPGATEWAY_AVALIABLE">
                <button
                  v-if="isChangePlan"
                  @click="handleChangePlan"
                  class="btn-primary"
                  :disabled="isSubmitting"
                  >{{ isSubmitting ? '請稍候...' : '變更訂閱方案' }}</button
                >
                <button
                  v-else
                  @click="handleSubmit"
                  class="btn-primary"
                  :disabled="isSubmitting"
                  >{{ isSubmitting ? '請稍候...' : '進行付款結帳' }}</button
                >
              </template>
              <template v-else>
                <button class="btn-primary" disabled>
                  測試環境不可新增訂單
                </button>
              </template>
              <button class="btn-info">
                <nuxt-link
                  class="text-white"
                  :to="'/blogs/moneyvip/' + cartItem.expert_id + '/plans/'"
                  >重新檢視訂閱方案</nuxt-link
                >
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppTitleBox from '@/components/AppTitleBox'
import addressGenerator from '@/utils/addressGenerator'
import cityCountyData from '@/assets/json/CityCountyData'

export default {
  name: 'Cart',
  components: { AppBreadcrumb, AppTitleBox },
  filters: {
    filterPeriod(val) {
      if (!val) return val
      return (val + '').replace(/\s\D*\s\/\s\D*/gi, '')
    }
  },
  data() {
    return {
      isSubmitting: false,
      isAgreed: 0,
      cartItem: {},
      formInput: {},
      memberInvoiceFormInput: {},
      subscriptionFields: ['', '方案名稱', '方案費用', '方案說明'],
      selectedCity: '',
      areas: [],
      selectedArea: {},
      addressSuffix: '',
      companyCode: '',
      mobileCarrierId: '',
      citizenCarrierId: '',
      invoiceSelected: 2,
      npoCode: '',
      couponInput: '',
      invoiceSelections: [
        {
          value: 1,
          text: '捐贈給公益團體'
        },
        {
          value: 2,
          text: '二聯式電子發票'
        },
        {
          value: 3,
          text: '三聯式電子發票'
        }
      ],
      paymentSelections: [
        {
          value: '',
          text: '請選擇'
        },
        {
          value: 'creditcard',
          text: '信用卡定期扣款'
        },
        {
          value: 'others',
          text: 'WEBATM、一般ATM 轉帳或超商代碼付款'
        },
        {
          value: 'unionpay',
          text: '銀聯卡（單次付款）'
        }
      ],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '訂閱方案購物車'
        }
      ]
    }
  },
  computed: {
    ...mapState(['user']),
    SPGATEWAY_AVALIABLE() {
      return +process.env.SPGATEWAY_AVALIABLE
    },
    cities() {
      return cityCountyData.cities.map((i) => i.CityName)
    },
    isChangePlan() {
      return !!this.$route.query.changeplan
    },
    addressIsRequried() {
      return !(this.companyCode === '')
    },
    selectedZip() {
      if (!this.selectedArea) return ''
      return this.selectedArea.ZipCode || ''
    },
    selectedAreaName() {
      if (!this.selectedArea) return ''
      return this.selectedArea.AreaName || ''
    },
    combinedAddress() {
      return (
        this.selectedZip +
        this.selectedCity +
        this.selectedAreaName +
        this.addressSuffix
      )
    },
    carrierCode() {
      if (this.invoiceSelected === 1) {
        return this.npoCode
      }
      if (this.invoiceSelected === 3) {
        return null
      }
      if (this.formInput.carrier_type === 'member') {
        return null
      } else if (this.formInput.carrier_type === 'cellphone') {
        return this.mobileCarrierId
      } else {
        return this.citizenCarrierId
      }
    },
    mobileCarrierIdIsValid() {
      return /^\/[0-9A-Z+-.]{7}$/.test(this.mobileCarrierId)
    },
    citizenCarrierIdIsValid() {
      return /^[a-zA-Z]{2}[0-9]{14}$/.test(this.citizenCarrierId)
    },
    compnayCodeIsValid() {
      return /^[0-9]{8}$/.test(this.companyCode)
    },
    npoCodeIsValid() {
      return /^[0-9]{3,7}$/.test(this.npoCode)
    },
    discountedPrice() {
      if (!this.formInput.coupon_value) return this.cartItem.case_price
      return (
        Number(this.cartItem.case_price.split(' ')[0].replace(',', '')) -
        this.formInput.coupon_value
      )
    },
    lockUseCouponBtn() {
      return this.formInput.coupon_value !== 0
    }
  },
  watch: {
    selectedCity(value) {
      for (let i = 0; i < cityCountyData.cities.length; i++) {
        if (cityCountyData.cities[i].CityName === value) {
          this.areas = cityCountyData.cities[i].AreaList
          return this.areas
        }
      }
      this.areas = []
    },
    selectedArea(newValue, oldValue) {
      if (!newValue) this.selectedArea = oldValue
    }
  },
  /**
   * 進入購物車頁時取出在訂閱頁中點選『訂閱』時存入的資料，並取得使用者慣用的發票設定
   */
  beforeMount() {
    this.cartItem = JSON.parse(localStorage.getItem('cartItem'))
    this.fetchMemberInvoice()
    this.initFormInput()
  },
  methods: {
    initFormInput() {
      this.formInput = {
        m_name: this.user.CName,
        m_email: this.user.Email,
        m_phone: this.user.Mobile,
        m_payment: '',
        carrier_type: 'member',
        coupon_value: 0,
        couponCode: ''
      }
    },
    bindCouponCode(couponValue) {
      this.formInput.couponCode = this.couponInput
      this.formInput.coupon_value = couponValue
    },
    unbindCouponCode() {
      this.formInput.coupon_value = 0
      this.couponInput = ''
      this.formInput.couponCode = ''
    },
    checkFormInput() {
      if (this.carrierCode !== null) {
        // 愛心碼
        if (
          this.invoiceSelected === 1 &&
          this.carrierCode === this.npoCode &&
          !this.npoCodeIsValid
        ) {
          if (!this.carrierCode) {
            this.$Swal.fire('請確認愛心碼是否已填寫')
            return false
          }
          this.$Swal.fire('請確認愛心碼是否合法')
          return false
        }
        // 手機載具
        if (
          this.invoiceSelected === 2 &&
          this.formInput.carrier_type === 'cellphone' &&
          this.carrierCode === this.mobileCarrierId &&
          !this.mobileCarrierIdIsValid
        ) {
          if (!this.carrierCode) {
            this.$Swal.fire('請確認手機載具是否已填寫')
            return false
          }
          this.$Swal.fire('請確認手機載具是否合法')
          return false
        }
        // 自然人憑證
        if (
          this.carrierCode === this.citizenCarrierId &&
          !this.citizenCarrierIdIsValid
        ) {
          if (!this.carrierCode) {
            this.$Swal.fire('請確認自然人憑證是否已填寫')
            return false
          }
          this.$Swal.fire('請確認自然人憑證是否合法')
          return false
        }
      } else if (this.invoiceSelected === 3) {
        // 統編
        if (!this.companyCode) {
          this.$Swal.fire('請確認統編是否已填寫')
          return false
        }
        if (this.companyCode && !this.compnayCodeIsValid) {
          this.$Swal.fire('請確認統編是否合法')
          return false
        }
        if (!this.combinedAddress) {
          this.$Swal.fire('請確認地址是否已填寫')
          return false
        }
        if (
          !this.addressSuffix ||
          !this.selectedArea ||
          !this.selectedZip ||
          !this.selectedCity
        ) {
          this.$Swal.fire('請確認地址是否完整')
          return false
        }
      }
      if (!this.formInput.m_payment) {
        this.$Swal.fire('請確認付款方式是否已填寫')
        return false
      }
      if (!this.isAgreed) {
        this.$Swal.fire('請勾選發票處理原則！')
        return false
      }
      return true
    },
    checkFormName() {
      return new Promise((resolve, reject) => {
        if (!this.formInput.m_name) {
          this.$Swal.fire({
            title: '請輸入您的姓名',
            input: 'text',
            confirmButtonText: '送出',
            showLoaderConfirm: true,
            preConfirm: (name) => {
              if (!name.trim()) {
                this.$Swal.fire('請輸入姓名')
                return null
              }
              return this.$axios
                .post('member/edit', {
                  member_account: this.$cookies.get('memberAccount'),
                  member_id: this.$cookies.get('memberId'),
                  user_name: name,
                  token: this.$tokenGenerator(),
                  user_address: '',
                  user_bday: '',
                  user_email: '',
                  user_gender: '',
                  user_img: '',
                  user_phone: '',
                  user_zipcode: ''
                })
                .then((response) => {
                  if (response.data.status !== '000') {
                    reject(response.data.err_msg)
                  }
                  this.formInput.m_name = name
                  this.$Toast.fire({
                    icon: 'success',
                    title: '姓名更新成功！'
                  })
                  resolve(true)
                })
            }
          })
        } else {
          resolve(true)
        }
      })
    },
    async fetchMemberInvoice() {
      try {
        const { data } = await this.$axios.post('member/invoice', {
          MemberNo: this.user.MemberNo,
          token: this.$tokenGenerator()
        })
        if (
          data.err_msg === 'success' &&
          data.status === '000' &&
          data.content !== ''
        ) {
          const invoiceData = JSON.parse(JSON.parse(data.content))
          this.invoiceSelected = invoiceData.invoiceSelected
          this.npoCode = invoiceData.npoCode
          this.mobileCarrierId = invoiceData.mobileCarrierId
          this.citizenCarrierId = invoiceData.citizenCarrierId
          this.companyCode = invoiceData.compnayCode
          if (invoiceData.address) {
            const { city, area, address } = addressGenerator(
              invoiceData.address
            )
            this.selectedCity = city
            this.addressSuffix = address
            for (let i = 0; i < cityCountyData.cities.length; i++) {
              if (cityCountyData.cities[i].CityName === city) {
                for (
                  let j = 0;
                  j < cityCountyData.cities[i].AreaList.length;
                  j++
                ) {
                  if (cityCountyData.cities[i].AreaList[j].AreaName === area) {
                    this.selectedArea = cityCountyData.cities[i].AreaList[j]
                  }
                }
              }
            }
          }
        }
      } catch (error) {
        console.error(error)
      }
    },
    async handleMemberInvoice() {
      try {
        await this.$axios.post('member/invoice', {
          MemberNo: this.user.MemberNo,
          invoicedata: JSON.stringify({
            invoiceSelected: this.invoiceSelected,
            npoCode: this.npoCode,
            mobileCarrierId: this.mobileCarrierId,
            citizenCarrierId: this.citizenCarrierId,
            compnayCode: this.companyCode,
            address: this.combinedAddress
          }),
          token: this.$tokenGenerator()
        })
      } catch (error) {
        console.error(error)
      }
    },
    /**
     * 一般訂閱觸發函式
     * 先進行欄位檢查，若欄位檢查全數通過，且 Swal Promise 通過，會先發 AJAX 更新使用者填寫的發票設定，在發 AJAX 確認新增訂單
     * 後端 Response 會給藍新所需的加密資訊，前端寫入 Vuex Store 並導向 /spgatewaypayment
     */
    async handleSubmit() {
      try {
        if (this.isSubmitting) {
          return false
        }
        if (!this.checkFormInput()) {
          return false
        }
        const checkResult = await this.checkFormName()
        if (!checkResult) return null

        const result = await this.$Swal.fire({
          text: '系統即將導入付款頁面，是否確認進行付款？',
          icon: 'info',
          showCancelButton: true,
          cancelButtonText: '否',
          confirmButtonText: '是'
        })
        if (result.value) {
          this.handleMemberInvoice()
          const payload = {
            ...this.formInput,
            carrier_type:
              this.invoiceSelected === 2
                ? this.formInput.carrier_type
                : 'member',
            company_code: this.invoiceSelected === 3 ? this.companyCode : null,
            carrier_code: this.carrierCode,
            m_address: this.combinedAddress,
            MemberNo: this.user.MemberNo,
            expert_id: this.cartItem.expert_id,
            plan_id: this.cartItem.case_id,
            couponCode: this.formInput.couponCode,
            token: this.$tokenGenerator()
          }
          this.isSubmitting = true
          const { data } = await this.$axios.post('plan/addOrder', payload)
          if (data.content === 'free') {
            location.href = '/member/paidplan'
            return null
          }
          if (data.status === '000' && data.message === '') {
            this.$store.commit('SET_SPG_INFO', data.content)
            this.$router.push('/spgatewaypayment')
            return null
          }
        }
      } catch (error) {
        this.isSubmitting = false
        this.$Toast.fire({
          icon: 'error',
          title: '發生錯誤，請稍後在試'
        })
      }
    },
    async handleChangePlan() {
      try {
        if (this.isSubmitting) {
          return false
        }
        if (!this.checkFormInput()) {
          return false
        }
        if (!this.isAgreed) {
          this.$Swal.fire('請勾選發票處理原則！')
          return false
        }
        const result = await this.$Swal.fire({
          text: '系統即將導入付款頁面，是否確認進行付款？',
          icon: 'info',
          showCancelButton: true,
          cancelButtonText: '否',
          confirmButtonText: '是'
        })
        if (result.value) {
          this.handleMemberInvoice()
          const payload = {
            ...this.formInput,
            company_code: this.invoiceSelected === 3 ? this.companyCode : null,
            carrier_code: this.carrierCode,
            m_address: this.combinedAddress,
            MemberNo: this.user.MemberNo,
            mp_id: this.cartItem.mp_id,
            expert_id: this.cartItem.expert_id,
            plan_id: this.cartItem.case_id,
            token: this.$tokenGenerator()
          }
          this.isSubmitting = true
          const { data } = await this.$axios.post('plan/exOrder', payload)
          if (data.content === 'free') {
            location.href = '/member/paidplan'
            return null
          }
          if (data.status === '000' && data.message === '') {
            this.$store.commit('SET_SPG_INFO', data.content)
            this.$router.push('/spgatewaypayment')
            return null
          }
        }
      } catch (error) {
        this.isSubmitting = false
        this.$Toast.fire({
          icon: 'error',
          title: '發生錯誤，請稍後在試'
        })
      }
    },
    async handleCouponCheck() {
      this.isSubmitting = true
      try {
        if (!this.couponInput.trim()) {
          this.$Swal.fire('請輸入折扣碼！')
          return false
        }
        const { data } = await this.$axios.post('coupon/check', {
          MemberNo: this.user.MemberNo,
          couponCode: this.couponInput,
          plan_id: this.cartItem.case_id,
          expert_id: this.cartItem.expert_id,
          token: this.$tokenGenerator()
        })
        if (data.status === '000') {
          this.$Toast.fire({
            icon: 'success',
            title: '折扣碼使用成功！'
          })
          const couponValue = data.value
          this.bindCouponCode(couponValue)
          return false
        } else {
          this.$Swal.fire(data.err_msg)
          return false
        }
      } catch (error) {
        console.error(error)
        this.$Toast.fire({
          icon: 'error',
          title: '發生錯誤，請稍後在試'
        })
      } finally {
        this.isSubmitting = false
      }
    },
    async handleCancelCoupon() {
      try {
        const result = await this.$Swal.fire({
          text: '確定不使用此折扣碼嗎？',
          showCancelButton: true,
          cancelButtonText: '否',
          confirmButtonText: '是'
        })
        if (result.value) {
          this.$Toast.fire({
            icon: 'success',
            title: '折扣碼解除成功！'
          })
          this.unbindCouponCode()
          return null
        }
        return null
      } catch (error) {
        this.$Swal.fire({
          icon: 'error',
          title: '發生錯誤，請稍後在試！'
        })
      }
    },
    resetSelectedArea() {
      this.selectedArea = {}
    }
  },
  head() {
    return {
      title: '購物車結帳 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
