<template>
  <div id="retirement" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!-- start left column -->
      <div class="col-md-8">
        <div class="row">
          <div
            id="bootnews_author-2"
            class="col-12 bg-light order-md-1 order-2"
          >
            <ProfileRetirement
              :pension="pensionInfo.Pension"
              :fqInfo="fqLevel"
              :profileImg="profileImg"
            />
          </div>
          <aside
            class="col-md-4 left-sidebar-lg order-md-2 order-1"
            id="left-sidebar"
          >
            <div class="sticky">
              <aside
                id="categories_custom-2"
                class="widget widget_categories widget_categories_custom"
              >
                <!-- SIDEBAR MENU -->
                <ProfileUserMenu :activeLink="currentPath" />
                <!-- END MENU -->
              </aside>
            </div>
            <div class="gap-3"></div>
          </aside>
          <div class="col-md-8 order-3">
            <div class="retirement__info custom-shadow">
              <p class="retirement__info-desc" v-html="sMemo"></p>
              <div class="retirement__info-data">
                <div class="retirement__info__data-item--border"
                  ><span>1.預期平均壽命：</span
                  ><span>{{ pensionInfo.Age }}歲</span></div
                >
                <div class="retirement__info__data-item"
                  ><span>2.預期退休後每月費用：</span
                  ><span class="text-strong"
                    >{{ pensionInfo.EachCharge | toFixedTwo }}萬</span
                  ></div
                >
                <div class="retirement__info__data-item--border"
                  ><span>折算至目前每月之購買力</span
                  ><span
                    >{{ pensionInfo.PurchasingPower | toFixedTwo }}萬</span
                  ></div
                >
                <div class="retirement__info__data-item"
                  ><span>預期法定退休金合計：</span
                  ><span class="text-strong"
                    >{{ pensionInfo.ExpLegalPension | toFixedTwo }}萬</span
                  ></div
                >
                <div class="retirement__info__data-item"
                  ><span>勞退舊制退休金（舊制）</span
                  ><span
                    >{{ pensionInfo.LaborPensionOld | toFixedTwo }}萬</span
                  ></div
                >
                <div class="retirement__info__data-item"
                  ><span>勞退舊制退休金（新制）</span
                  ><span
                    >{{ pensionInfo.LaborPensionNew | toFixedTwo }}萬</span
                  ></div
                >
                <div class="retirement__info__data-item"
                  ><span>勞保老年給付（新制）</span
                  ><span
                    >{{ pensionInfo.ElderAnnuity | toFixedTwo }}萬</span
                  ></div
                >
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <nuxt-link to="/retirebar/pensioncalculation"
                ><button class="retirement-btn">重新試算</button></nuxt-link
              >
            </div>
          </div>
        </div>
      </div>

      <!-- end left column -->
      <!-- start right column -->
      <aside class="col-md-4 right-sidebar-lg order-3 order-md-3">
        <template v-for="(ad, index) in ads">
          <AsideAd :ad="ad" :key="index + 1" />
        </template>
      </aside>
      <!-- end right column -->
    </div>
    <div class="retirement__info custom-shadow">
      <div class="retirement__info-title">
        <span>比一比，哪一種請領方式最划算</span>
        <span class="text-small">（單位：萬元）</span>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="bg-chocolate text-white thead-age text-center">年齡</th>
            <th
              colspan="4"
              class="bg-chocolate text-white thead-labor text-center"
              >勞保</th
            >
            <th
              colspan="3"
              class="bg-chocolate text-white thead-retire text-center"
              >勞退</th
            >
          </tr>
          <tr>
            <th rowspan="2" class="bg-goldenrod text-white text-center"
              >退休</th
            >
            <th class="bg-goldenrod text-white text-center">舊制</th>
            <th colspan="3" class="bg-goldenrod text-white text-center"
              >新制</th
            >
            <th class="bg-goldenrod text-white text-center">舊制</th>
            <th colspan="2" class="bg-goldenrod text-white text-center"
              >新制</th
            >
          </tr>
          <tr>
            <th class="bg-wheat text-right">一次領</th>
            <th class="bg-wheat text-right">減額請領</th>
            <th class="bg-wheat text-right">標準請領</th>
            <th class="bg-wheat text-right">展延請領</th>
            <th class="bg-wheat text-right">一次領</th>
            <th class="bg-wheat text-right">一次領</th>
            <th class="bg-wheat text-right">月領</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(pensionData, index) in pensionTableData" :key="index + 1">
            <td class="text-right">{{
              pensionData.retirementAge | toFixedTwo
            }}</td>
            <td class="text-right">{{ pensionData.LP_O_Once | toFixedTwo }}</td>
            <td class="text-right">{{
              pensionData.LP_N_Decrease | toFixedTwo
            }}</td>
            <td class="text-right">{{
              pensionData.LP_N_Normal | toFixedTwo
            }}</td>
            <td class="text-right">{{
              pensionData.LP_N_Extended | toFixedTwo
            }}</td>
            <td class="text-right">{{ pensionData.LR_O_Once | toFixedTwo }}</td>
            <td class="text-right">{{ pensionData.LR_N_Once | toFixedTwo }}</td>
            <td class="text-right">{{
              pensionData.LR_N_Month | toFixedTwo
            }}</td>
          </tr>
          <tr class="odd last">
            <td colspan="2" class="bg-goldenrod text-center text-white"
              >月領</td
            >
            <td data-th="減額請領">-</td>
            <td data-th="標準請領">-</td>
            <td data-th="展延請領">-</td>
            <td colspan="3" class="bg-goldenrod"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AsideAd from '@/components/AsideAd'
import ProfileUserMenu from '@/components/ProfileUserMenu'
import ProfileRetirement from '@/components/ProfileRetirement'
export default {
  name: 'MemberCapension',
  components: {
    AppBreadcrumb,
    AsideAd,
    ProfileUserMenu,
    ProfileRetirement
  },
  filters: {
    filterAfterDot(val) {
      if (!val) return val
      return val.replace(/\.\d*/gi, '')
    },
    toFixedTwo(val) {
      if (!val) return '-'
      if (Number.isInteger(val)) return val.toFixed(2)
      return Number(val).toFixed(2)
    }
  },
  data() {
    return {
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '會員中心', link: '/member' },
        { title: '我的退休金' }
      ],
      memoReg: /(\d*|\d*\.\d*|(\d{1,3}?,\d{1,3})*)萬元/gi,
      pensionInfo: {
        Pension: '0',
        Age: '0',
        EachCharge: '0',
        PurchasingPower: '0',
        ExpLegalPension: '0',
        LaborPensionOld: '0',
        LaborPensionNew: '0',
        ElderAnnuity: '0',
        sMemo: ''
      },
      pensionTableData: [],
      profileImg: '',
      fqInfo: {
        scoreA: null,
        scoreB: null
      },
      ads: []
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    sMemo() {
      if (!this.pensionInfo.sMemo) return ''
      return this.pensionInfo.sMemo.replace(
        this.memoReg,
        '&nbsp;<span class="text-strong">$1</span>&nbsp;萬元'
      )
    },
    fqLevel() {
      if (this.fqInfo.scoreA === null || this.fqInfo.scoreB === null)
        return '未測驗'
      // 吻仔魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB <= 12)
        return '投資新手'
      // 鯛魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB <= 12)
        return '投資老手'
      // 石斑魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB >= 13)
        return '投資高手'
      // 鯊魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB >= 13)
        return '投資贏家'
      // 未測驗
      return null
    }
  },
  created() {
    if (process.client) {
      if (!this.$store.getters.isAuthenticated) {
        this.$Swal.fire('請先登入以進入個人頁面！')
        this.$router.push('/login')
        return false
      }
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [m.default.topic, m.default.vipSubscription]
    })
  },
  mounted() {
    this.fetchMemberPension()
    this.fetchUserInfo()
    this.fetchFQScore()
  },
  methods: {
    async fetchUserInfo() {
      const { data: userInfoData } = await this.$axios.post('member/isedit', {
        member_account: this.$store.getters.memberAccount,
        token: this.$tokenGenerator()
      })
      this.profileImg = userInfoData.content.user_img
    },
    async fetchFQScore() {
      const memberId = this.$store.getters.memberId
      const { data } = await this.$axios.post('member/fqinfo', {
        token: this.$tokenGenerator(),
        MemberNo: memberId
      })
      this.fqInfo = data.content
    },
    async fetchMemberPension() {
      const memberId = this.$store.getters.memberId
      const { data } = await this.$axios.post('ret/PensionResulut', {
        token: this.$tokenGenerator(),
        MemberNo: memberId
      })
      if (Array.isArray(data)) return null
      this.pensionInfo = data.Content
      this.pensionTableData = data.Content.PensionList
    }
  },
  head() {
    return {
      title: '計算退休金缺口 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
