<template>
  <div id="vip_article" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->

      <!--content-->
      <div class="col-md-8">
        <AppNewsContent :isPaid="isPaid" :news="newsContent" />
      </div>
      <!-- end content -->

      <!-- start right column -->
      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <!--sticky-->
        <div class="sticky">
          <AsideAd :ad="firstAd" />

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->
          <!-- AD Banner -->
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
        <!--End sticky-->
      </aside>
      <!-- end right column -->
      <!--Block start-->
      <AppSectionLoader v-if="isLoading" />
      <template v-else>
        <div class="block-area px-4">
          <!-- block title -->
          <AppBlockTitle11
            :text="'看更多 ' + newsContent.expert_name + ' 文章'"
          />
          <div class="row">
            <template v-for="sectionPost in topPosts">
              <AppPostSection1
                :currentPage="currentPage"
                :post="sectionPost"
                :key="sectionPost.post_id"
              />
            </template>
          </div>
        </div>
        <div class="block-area px-4 w-100">
          <template v-for="articlePost in restPosts">
            <AppArticleSection
              :currentPage="currentPage"
              :key="articlePost.post_id"
              :post="articlePost"
            />
          </template>
        </div>

        <!--End Block-->
        <!--Pagination-->
        <client-only>
          <div v-if="showPagination" class="col-12">
            <AppPagination
              :innerValue="currentPage"
              :page-count="totalPages"
              :click-handler="onPageChange"
            />
          </div>
        </client-only>
      </template>
      <!--end pagination-->
    </div>
  </div>
</template>

<script>
import htmlToText from 'html-to-text'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppPostSection1 from '@/components/AppPostSection1'
import AppArticleSection from '@/components/AppArticleSection'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppNewsContent from '@/components/AppNewsContent'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AppPagination from '@/components/AppPagination'
import AsideAd from '@/components/AsideAd'
import YTAnchorGetter from '@/utils/YTAnchorGetter'
import YTWebsiteValidator from '@/utils/YTWebsiteValidator'
import newsTypeConfig from '@/assets/json/newsType.config'
import paginationConfig from '@/assets/json/pagination.config'

export default {
  name: 'VIPArticleId',
  components: {
    AppBlockTitle7,
    AppBlockTitle11,
    AppPostSection1,
    AppArticleSection,
    AppBreadcrumb,
    AppNewsContent,
    AppLatestVIPArticles,
    AppPagination,
    AsideAd
  },
  async asyncData({
    query,
    params,
    $axios,
    redirect,
    store,
    $tokenGenerator,
    $timeFilter,
    $imgPlaceholder,
    env,
    app
  }) {
    try {
      if (+query.page === 1) {
        return redirect(`/vip_article/${params.id}`)
      }
      const newsType = newsTypeConfig.data.newsType
      let { MemberNo } = store.state.user
      let articleAPI = 'article/detail'
      if (MemberNo) {
        store.dispatch('FETCH_USER_SUBSCRIPTIONS', MemberNo)
      } else {
        MemberNo = 0
        articleAPI = 'backstage/article/detail'
      }
      const { data: articleData } = await $axios.post(articleAPI, {
        ArticleNo: params.id,
        MemberNo,
        token: $tokenGenerator()
      })
      // 更換裝置登入時
      if (articleData.status === '088') {
        app.$cookies.remove('memberId')
        app.$cookies.remove('memberAccount')
        return redirect(`/login?skey_expired=1`)
      }

      /* 若上傳的是影片就存入 news_video */
      let newsVideo = null
      if (
        articleData.content.bannerType === 2 ||
        /https/gi.test(articleData.content.video)
      ) {
        newsVideo = articleData.content.video
      }
      if (Array.isArray(articleData.content)) {
        /* 判定找不到專家文字，導至 error 頁 */
        return redirect('/error')
      }
      if (!articleData.content.chargeArticleSelected) {
        /* 判定為免費文章，導至 article 頁 */
        return redirect(`/article/${articleData.content.id}`)
      }
      const { data: expertData } = await $axios.post('backstage/channelslist', {
        token: $tokenGenerator(),
        enabled: [0, 1],
        page: 1,
        pageSize: 1,
        keyword: articleData.content.professionalSelected,
        isVIP: null
      })
      const { data: articlelistData } = await $axios.post('news/articlelist', {
        expert_id: articleData.content.expert,
        groupNo: articleData.content.planGroup,
        page: query.page || 1,
        pageSize: 30,
        token: $tokenGenerator()
      })
      articlelistData.content.forEach((i) => {
        i.news_type = newsType[i.news_type]
        i.news_date = $timeFilter(i.PublishTime)
        i.news_img = $imgPlaceholder(i.news_img)
      })

      return {
        planId: articleData.content.plan_id,
        newsContent: {
          news_id: articleData.content.id,
          news_title: articleData.content.title,
          expert_id: expertData.content[0].professional_id,
          expert_name: articleData.content.professionalSelected,
          news_date: $timeFilter(articleData.content.datetime),
          news_content: store.state.user.subscriptions.includes(
            articleData.content.plan_id
          )
            ? articleData.content.editorContent
            : '',
          Is_paid: articleData.content.chargeArticleSelected,
          news_tags: articleData.content.keywords.split(','),
          news_img: articleData.content.image,
          plan_group: articleData.content.subscriptionSelected,
          news_isotime: new Date(
            articleData.content.datetime.replace(/-/g, '/')
          ).toISOString(),
          news_description:
            htmlToText
              .fromString(articleData.content.editorContent)
              .slice(0, 150) + '...',
          news_video: YTWebsiteValidator(newsVideo)
            ? YTAnchorGetter(newsVideo)
            : newsVideo,
          audio: articleData.content.audio
        },
        breadcrumbs: [
          {
            title: '首頁',
            link: '/'
          },
          { title: 'VIP訂閱', link: '/vip' },
          {
            title: articleData.content.professionalSelected,
            link: '/blogs/moneyvip/' + expertData.content[0].professional_id
          },
          {
            title: articleData.content.title
          }
        ],
        domain: env.domain,
        topPosts: articlelistData.content.splice(0, 3),
        restPosts: articlelistData.content,
        totalPages: articlelistData.totalPage,
        currentPage: +query.page || 1
      }
    } catch (error) {
      console.error(error)
    }
  },
  data() {
    return {
      planId: 0,
      isLoading: false,
      newsContent: {},
      breadcrumbs: [],
      topPosts: [],
      restPosts: [],
      totalPages: 0,
      currentPage: 1,
      dataPerPage: 30,
      firstAd: {},
      secondAd: {},
      newsType: {}
    }
  },
  computed: {
    isPaid() {
      if (!this.planId) return true
      return this.$store.state.user.subscriptions.includes(this.planId)
    },
    deviceType() {
      return this.$store.state.deviceType
    },
    showPagination() {
      return paginationConfig.vips.includes(this.newsContent.expert_id)
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.richkid_ad_1
      this.secondAd = m.default.appLink
    })
  },
  methods: {
    async fetchArticleList(page, pageSize) {
      this.isLoading = true
      const { data } = await this.$axios.post('news/articlelist', {
        expert_id: this.newsContent.expert_id,
        requestingStage: 'forestage',
        page,
        pageSize,
        MemberNo: null,
        token: this.$tokenGenerator()
      })
      data.content.forEach((i) => {
        i.news_type = this.newsType[i.news_type]
        i.news_date = this.$timeFilter(i.PublishTime)
        i.news_img = this.$imgPlaceholder(i.news_img)
      })
      this.topPosts = data.content.splice(0, 3)
      this.restPosts = data.content
      this.totalPages = data.totalPage
      this.isLoading = false
    },
    onPageChange(page) {
      this.currentPage = page
      this.fetchArticleList(this.currentPage, this.dataPerPage)
    }
  },
  head() {
    return {
      title: this.newsContent.news_title + ' - moneybar財經商業資訊社群網站',
      meta: [
        {
          property: 'og:url',
          name: 'og:url',
          content: this.domain + '/vip_article/' + this.newsContent.news_id
        },
        {
          property: 'og:title',
          name: 'og:title',
          content: `${this.newsContent.news_title} - moneybar財經商業資訊社群網站`
        },
        {
          property: 'og:image',
          name: 'og:image',
          content:
            this.newsContent.news_img ||
            'https://www.moneybar.com.tw/img/logo/moneybar_logo.png'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.newsContent.news_description
        },
        {
          property: 'article:section',
          content: 'VIP訂閱'
        },
        {
          property: 'article:published_time',
          content: this.newsContent.news_isotime
        },
        {
          hid: 'description',
          name: 'description',
          content: this.newsContent.news_description
        }
      ]
    }
  }
}
</script>
