<template>
  <div id="investbar" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--Slider ticker-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!-- Block start -->
        <div class="block-area">
          <!--block content-->
          <div class="row">
            <!--post left start-->
            <div class="col-lg-6">
              <AppPostSection2 :post="leftPost" />
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <template v-for="post in rightPosts">
                <AppPostSection3 :post="post" :key="post.post_id" />
              </template>
              <!--End post list-->
            </div>
            <!--end post right list-->
          </div>
          <!-- end block content -->
        </div>
        <!--End Block-->

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="(post, index) in threeNews">
              <AppPostSection1 :post="post" :key="index + 1" />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>

      <!--start left column-->
      <div class="col-md-8">
        <!--最新新聞-->
        <AppLatestNews />
        <!--End 最新新聞-->
      </div>
      <!--end left column-->

      <!--start right sidebar-->
      <aside
        v-if="deviceType === 'tablet'"
        class="col-md-4 right-sidebar-lg d-none d-md-block"
      >
        <div class="sticky">
          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppPostSection1 from '@/components/AppPostSection1'
import AppPostSection2 from '@/components/AppPostSection2'
import AppPostSection3 from '@/components/AppPostSection3'
import AppLatestNews from '@/components/AppLatestNews'
import AppLatestTopics from '@/components/AppLatestTopics'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AsideAd from '@/components/AsideAd'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'Investbar',
  components: {
    AppSubmenu,
    AppBlockTitle7,
    AppPostSection1,
    AppPostSection2,
    AppPostSection3,
    AppLatestNews,
    AppLatestTopics,
    AppLatestVIPArticles,
    AsideAd
  },
  async asyncData({ $axios, $tokenGenerator, $imgPlaceholder, $timeFilter }) {
    const { data: latestNews } = await $axios.post('backstage/newslist', {
      token: $tokenGenerator(),
      requestingStage: 'forestage',
      Type: [1, 3],
      Status: [0, 1, 2, 4],
      CategoryID: null,
      PCategoryID: 8,
      Keyword: null,
      page: 1,
      pageSize: 5,
      backstage: 0
    })
    const { data: threeNewsData } = await $axios.post('news/threeNews', {
      CategoryID: [1040, 1041, 1042],
      enable: 'True',
      page: 1,
      pageSize: 1,
      token: $tokenGenerator()
    })
    const threeNewsDataMap = []
    for (const key in threeNewsData.content) {
      threeNewsDataMap.push(threeNewsData.content[key][0] || {})
    }
    const newsTypes = ['新手投資', '美股', '股票']
    threeNewsDataMap.forEach((news, index) => {
      if (!news.news_title) return false
      news.news_customUrl = news.news_url
      news.news_img = $imgPlaceholder(news.news_img)
      news.news_type = newsTypes[index]
    })
    return {
      posts: latestNews.content.map((item) => ({
        news_id: item.id,
        news_title: item.title,
        news_img: $imgPlaceholder(item.image),
        news_type: item.category,
        news_date: $timeFilter(item.publishTime),
        news_content: item.content
      })),
      threeNews: threeNewsDataMap
    }
  },
  data() {
    return {
      threeNews: [],
      posts: [],
      latestTopics: [],
      latestArticles: [],
      news: [],
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    leftPost() {
      return this.posts[0] || {}
    },
    rightPosts() {
      return this.posts.slice(1, 5) || [{}, {}, {}, {}]
    },
    menuItems() {
      for (let i = 0; i < menuConfig.menu.length; i++) {
        if (menuConfig.menu[i].title === '投資bar')
          return menuConfig.menu[i].subMenu
      }
      return []
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.appLink
    })
  },
  head() {
    return {
      title: '投資bar - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
