<template>
  <div id="pretty-video" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--Slider ticker-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!-- YOUTUBE PLAYLIST -->
        <div class="col-12 px-lg-3 bg-dark mb-5">
          <div class="row">
            <!-- PLAYLIST TITLE -->
            <div class="col-12 px-3">
              <div class="my-3">
                <h4 class="text-white"
                  >最新{{ internalInfo.breadcrumbText }}影音</h4
                >
              </div>
            </div>
            <!-- THE YOUTUBE PLAYER -->
            <div
              class="col-md-8 px-3 video-full pb-3"
              :style="activeVideoType === 'youtube' ? 'height: 400px' : ''"
            >
              <iframe
                v-if="activeVideoType === 'youtube'"
                id="vid_frame"
                :src="
                  `https://www.youtube.com/embed/${activeVideoAnchor}?autoplay=1&rel=0&showinfo=0&autohide=1`
                "
                width="700"
                height="400"
              ></iframe>
              <video v-else id="investbar-video" width="100%" controls>
                <source :src="activeVideoAnchor" type="video/mp4" />
                Your browser does not support HTML video.
              </video>
            </div>
            <!-- THE PLAYLIST -->
            <div class="col-md-4 px-3">
              <div class="py-1 px-3 bg-primary mb-3">
                <h4 class="h5 mt-3 text-white"
                  >{{ internalInfo.breadcrumbText }}熱門播放清單</h4
                >
              </div>
              <ol class="playlist-title list-unstyled">
                <li
                  v-for="(video, index) in latestVideos"
                  :key="index + 1"
                  @click="toggleVideo($event, index)"
                  :class="activeVideoIndex === index ? 'active' : ''"
                >
                  <a href="javascript:void(0);">
                    <span class="video-thumb">
                      <img width="72" :src="video.Image" :alt="video.Title"
                    /></span>
                    <div class="video-title">
                      {{ video.video_title | stringSlicer(18) }}
                    </div>
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <!-- END YOUTUBE PLAYLIST -->
        </div>
        <!-- END YOUTUBE PLAYLIST -->

        <!-- 小資 -->
        <div class="block-area">
          <div class="row">
            <article
              v-for="upVideo in upVideos"
              :key="upVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="upVideo"
              />
            </article>
            <!-- AD images -->
            <ContentAd :ad="ad" />
            <!-- End AD images -->

            <article
              v-for="downVideo in downVideos"
              :key="downVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="downVideo"
              />
            </article>
          </div>
        </div>
        <!--end 小資-->
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable camelcase */
import AppSubmenu from '@/components/AppSubmenu'
import AppPostSection4 from '@/components/AppPostSection4'
import ContentAd from '@/components/ContentAd'
import YTWebsiteValidator from '@/utils/YTWebsiteValidator'
import YTAnchorGetter from '@/utils/YTAnchorGetter'
import videoInternalData from '@/pages/videobar/video-internal-data'

export default {
  name: 'PrettyVideo',
  components: {
    AppSubmenu,
    AppPostSection4,
    ContentAd
  },
  async asyncData({ $axios, params, redirect, $tokenGenerator }) {
    const internalKey = params.internal
    const fetchInternalData = videoInternalData.data[internalKey]
    if (!fetchInternalData) {
      return redirect('/error')
    }
    const { data: videosData } = await $axios.post('video/videobar', {
      video_type: [fetchInternalData.id],
      video_count: 7,
      token: $tokenGenerator()
    })
    const videosDataMap = videosData.content.video[fetchInternalData.id]
    videosDataMap.forEach((item) => {
      item.video_title = item.Title
      if (YTWebsiteValidator(item.Url)) {
        item.video_anchor = YTAnchorGetter(item.Url)
        item.video_type = 'youtube'
      } else {
        item.video_anchor = item.Url
        item.video_type = 'mp4'
      }
    })
    const { data: videoListData } = await $axios.post('video/video', {
      token: $tokenGenerator(),
      pageSize: 20,
      page: 1,
      keyword: null
    })
    const videoListMap = videoListData.content.map((item) => ({
      news_id: item.Id,
      news_img: item.Image,
      news_title: item.Title,
      news_date: item.PublishTime
    }))

    return {
      latestVideos: videosDataMap,
      videos: videoListMap,
      internalInfo: fetchInternalData,
      activeVideoAnchor: videosDataMap[0]
        ? videosDataMap[0].video_anchor
        : null,
      activeVideoType: videosDataMap[0] ? videosDataMap[0].video_type : null
    }
  },
  data() {
    return {
      internalInfo: {},
      latestVideos: [],
      activeVideoAnchor: '',
      activeVideoType: '',
      activeVideoIndex: 0,
      videos: [],
      menuItems: [
        {
          title: '小資',
          link: 'prettyvideo'
        },
        {
          title: '狂理財',
          link: 'ckvideo'
        },
        {
          title: '親子',
          link: 'pcvideo'
        },
        {
          title: '退休',
          link: 'retirevideo'
        },
        {
          title: '投資',
          link: 'investvideo'
        },
        {
          title: '華小姐投資',
          link: 'misshua'
        },
        {
          title: '基金bar',
          link: 'fundbar'
        }
      ],
      ad: {}
    }
  },
  computed: {
    upVideos() {
      return this.videos.slice(0, 12)
    },
    downVideos() {
      return this.videos.slice(12, 20)
    },
    title() {
      return this.internalInfo.title
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ad = m.default.Parents_AD
    })
  },
  methods: {
    toggleVideo(e, index) {
      if (
        this.activeVideoType === 'mp4' &&
        this.latestVideos[index].video_type === 'mp4'
      ) {
        document.getElementById('investbar-video').src = this.latestVideos[
          index
        ].video_anchor
      } else {
        this.activeVideoAnchor = this.latestVideos[index].video_anchor
      }
      this.activeVideoType = this.latestVideos[index].video_type
      this.activeVideoIndex = index
    }
  },
  head() {
    return {
      title: this.title + ' - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
