<template>
  <div id="videobar" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--Slider ticker-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!-- YOUTUBE PLAYLIST -->
        <div v-if="latestVideos.length" class="col-12 px-lg-3 bg-dark mb-5">
          <div class="row" style="min-height: 455px;">
            <!-- PLAYLIST TITLE -->
            <div class="col-12 px-3">
              <div class="my-3">
                <h4 class="text-white">最新影音</h4>
              </div>
            </div>
            <!-- THE YOUTUBE PLAYER -->
            <div
              class="col-md-8 px-3 video-full pb-3"
              :style="activeVideoType === 'youtube' ? 'height: 400px' : ''"
            >
              <iframe
                v-if="activeVideoType === 'youtube'"
                id="vid_frame"
                :src="
                  `https://www.youtube.com/embed/${activeVideoAnchor}?autoplay=1&rel=0&showinfo=0&autohide=1`
                "
                width="700"
                height="400"
              ></iframe>
              <video v-else id="investbar-video" width="100%" controls>
                <source :src="activeVideoAnchor" type="video/mp4" />
                Your browser does not support HTML video.
              </video>
            </div>
            <!-- THE PLAYLIST -->
            <div class="col-md-4 px-3">
              <div class="py-1 px-3 bg-primary mb-3">
                <h4 class="h5 mt-3 text-white">熱門播放清單</h4>
              </div>
              <ol class="playlist-title list-unstyled">
                <li
                  v-for="(video, index) in latestVideos"
                  :key="index + 1"
                  @click="toggleVideo($event, index)"
                  :class="activeVideoIndex === index ? 'active' : ''"
                >
                  <a href="javascript:void(0);">
                    <span class="video-thumb"
                      ><img
                        v-if="video.video_type === 'youtube'"
                        width="72"
                        :src="
                          `https://img.youtube.com/vi/${video.video_anchor}/default.jpg`
                        "
                        :alt="video.Title"/>
                      <img
                        v-else
                        width="72"
                        :src="video.Image"
                        :alt="video.Title"
                    /></span>
                    <div class="video-title">
                      {{ video.Title | stringSlicer(16) }}
                    </div>
                  </a>
                </li>
              </ol>
            </div>
          </div>
          <!-- END YOUTUBE PLAYLIST -->
        </div>
        <!-- END YOUTUBE PLAYLIST -->

        <!-- 小資 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'小資'" />
          <div class="row">
            <article
              v-for="prettyVideo in prettyVideos"
              :key="prettyVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="prettyVideo"
              />
            </article>
          </div>
        </div>
        <!--end 小資-->

        <!-- 狂理財 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'狂理財'" />
          <div class="row">
            <article
              v-for="ckVideo in ckVideos"
              :key="ckVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="ckVideo"
              />
            </article>
          </div>
        </div>
        <!--end 狂理財-->

        <!-- 親子 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'親子'" />
          <div class="row">
            <article
              v-for="parentVideo in parentVideos"
              :key="parentVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="parentVideo"
              />
            </article>
          </div>
        </div>
        <!--end 親子-->

        <!-- 退休 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'退休'" />
          <div class="row">
            <article
              v-for="retireVideo in retireVideos"
              :key="retireVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="retireVideo"
              />
            </article>
          </div>
        </div>
        <!--end 退休-->
        <!-- AD images -->
        <ContentAd :ad="ad" />
        <!-- End AD images -->

        <!-- 投資 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'投資'" />
          <div class="row">
            <article
              v-for="investVideo in investVideos"
              :key="investVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="investVideo"
              />
            </article>
          </div>
        </div>
        <!--end 投資-->

        <!-- 華小姐投資 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'華小姐投資'" />
          <div class="row">
            <article
              v-for="huaVideo in huaVideos"
              :key="huaVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="huaVideo"
              />
            </article>
          </div>
        </div>
        <!--end 華小姐投資-->

        <!-- 基金Bar -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'基金bar'" />
          <div class="row">
            <article
              v-for="fundVideo in fundVideos"
              :key="fundVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="fundVideo"
              />
            </article>
          </div>
        </div>
        <!--end 基金Bar-->
      </div>
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppPostSection4 from '@/components/AppPostSection4'
import YTWebsiteValidator from '@/utils/YTWebsiteValidator'
import YTAnchorGetter from '@/utils/YTAnchorGetter'
import ContentAd from '@/components/ContentAd'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'Videobar',
  components: {
    AppSubmenu,
    AppBlockTitle11,
    AppPostSection4,
    ContentAd
  },
  async asyncData({ $axios, $tokenGenerator, $imgPlaceholder }) {
    const { data: latestVideosData } = await $axios.post('video/newvideo', {
      token: $tokenGenerator(),
      requestingStage: 'forestage',
      pageSize: 7,
      page: 1,
      keyword: null,
      enable: [1, 'True']
    })
    latestVideosData.content.Article.forEach((video) => {
      if (YTWebsiteValidator(video.Url)) {
        video.video_anchor = YTAnchorGetter(video.Url)
        video.video_type = 'youtube'
      } else {
        video.video_anchor = video.Url
        video.video_type = 'mp4'
      }
    })
    const { data: videosData } = await $axios.post('video/videobar', {
      video_type: [1789, 1793, 1743, 1753, 1794, 1795, 1805],
      video_count: 4,
      token: $tokenGenerator()
    })
    for (const key in videosData.content.video) {
      videosData.content.video[key].forEach((video) => {
        video.news_id = video.Id
        video.news_img = $imgPlaceholder(video.Image)
        video.news_title = video.Title
        video.news_date = video.PublishTime
      })
    }
    let activeVideoType = ''
    let activeVideoAnchor = ''
    if (latestVideosData.content.Article.length) {
      activeVideoType = latestVideosData.content.Article[0].video_type
      activeVideoAnchor = latestVideosData.content.Article[0].video_anchor
    }
    return {
      latestVideos: latestVideosData.content.Article,
      videos: videosData.content.video,
      activeVideoType,
      activeVideoAnchor
    }
  },
  data() {
    return {
      isLoading: false,
      latestVideos: [],
      activeVideoAnchor: '',
      activeVideoType: '',
      activeVideoIndex: 0,
      // 分別依照小資、狂理財...回傳影片資訊
      videos: [],
      ad: {}
    }
  },
  computed: {
    prettyVideos() {
      return this.videos['1789']
    },
    ckVideos() {
      return this.videos['1793']
    },
    parentVideos() {
      return this.videos['1743']
    },
    retireVideos() {
      return this.videos['1753']
    },
    investVideos() {
      return this.videos['1794']
    },
    huaVideos() {
      return this.videos['1795']
    },
    fundVideos() {
      return this.videos['1805']
    },
    menuItems() {
      for (let i = 0; i < menuConfig.menu.length; i++) {
        if (menuConfig.menu[i].title === '＄影音bar')
          return menuConfig.menu[i].subMenu
      }
      return []
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ad = m.default.missHuaBanner
    })
  },
  methods: {
    toggleVideo(e, index) {
      if (
        this.activeVideoType === 'mp4' &&
        this.latestVideos[index].video_type === 'mp4'
      ) {
        document.getElementById('investbar-video').src = this.latestVideos[
          index
        ].video_anchor
      } else {
        this.activeVideoAnchor = this.latestVideos[index].video_anchor
      }
      this.activeVideoType = this.latestVideos[index].video_type
      this.activeVideoIndex = index
    }
  },
  head() {
    return {
      title: '影音bar - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供小資族聰明理財、小資smart花錢消費、小資圓夢，記帳、理財、省錢、投資PK文及小資理財新手入門。'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供小資族聰明理財、小資smart花錢消費、小資圓夢，記帳、理財、省錢、投資PK文及小資理財新手入門。'
        }
      ]
    }
  }
}
</script>
