<template>
  <div id="cooperation" class="container">
    <AppBreadcrumb :breadcrumbs="breadcrumbs" />
    <!-- images -->
    <figure class="ratio_1140-535 image-wrapper">
      <img
        class="img-fluid"
        v-lazy="'/img/1140x535/about-us.png'"
        alt="Image description"
      />
      <figcaption>Image captions</figcaption>
    </figure>
    <AppTitleBox :text="'網站合作'" :titleSize="2" />
    <div class="border p-4">
      <span class="text-mid">
        我們是一群熱愛投資及網路產業的人，希望透過傳遞有價多元的投資
        資訊，幫助更多的人達到財富自由，我們歡迎各種類型的合作模式，
        請將你的想法或計畫發送郵件到
        <a href="mailto:service@moneybar.com.tw">service@moneybar.com.tw</a>，
        我們會盡快跟你聯繫，謝謝！
      </span>
    </div>
    <div class="gap-3"></div>
  </div>
</template>

<script>
import AppTitleBox from '@/components/AppTitleBox'
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'Cooperation',
  components: { AppTitleBox, AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '網站合作'
        }
      ]
    }
  },
  head() {
    return {
      title: '聯絡我們 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
