<template>
  <div id="iplaymoney" class="container">
    <div class="row" style="min-height: 500px;">
      <div class="mb-5">
        <img
          src="/img/iplaymoney/iplaymoney.png"
          alt="iplaymoney"
          class="img-fluid"
        />
      </div>
      <!-- start right column -->
      <!-- <aside class="col-md-3 right-sidebar-lg order-3 order-md-3">
        <template v-for="(ad, index) in ads">
          <AsideAd :ad="ad" :key="index + 1" />
        </template>
      </aside> -->
      <!-- end right column -->
    </div>
  </div>
</template>

<script>
// import AsideAd from '@/components/AsideAd'
export default {
  name: 'Iplaymoney',
  // components: { AsideAd },
  data() {
    return {
      ads: []
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.topic,
        m.default.vipSubscription,
        m.default.USStock,
        m.default.appLink
      ]
    })
  }
}
</script>
