<template>
  <div id="my-subscription" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!-- start left column -->
      <div class="col-12">
        <div class="row">
          <aside class="col-md-3 left-sidebar-lg" id="left-sidebar">
            <div class="sticky">
              <aside
                id="categories_custom-2"
                class="widget widget_categories widget_categories_custom"
              >
                <!-- SIDEBAR MENU -->
                <ProfileUserMenu :activeLink="currentPath" />
                <!-- END MENU -->
              </aside>
            </div>
            <div class="gap-3"></div>
          </aside>
          <div class="col-md-9">
            <AppTitleBox :text="'會員資訊'" :titleSize="1.6" />
            <form class="custom-form">
              <div class="row">
                <!-- 姓名 -->
                <div class="col-md-4">
                  <label>姓名：</label>
                </div>
                <div class="col-md-8">
                  <span class="text-right">
                    {{ userInfo.user_name }}
                  </span>
                </div>
              </div>
              <div class="row">
                <!-- Email -->
                <div class="col-md-4">
                  <label>Email：</label>
                </div>
                <div class="col-md-8">
                  <span class="text-right">
                    {{ userInfo.user_email }}
                  </span>
                </div>
              </div>
              <div class="row">
                <!-- 電話 -->
                <div class="col-md-4">
                  <label>電話：</label>
                </div>
                <div class="col-md-8">
                  <span class="text-right">
                    {{ userInfo.user_phone }}
                  </span>
                </div>
              </div>
              <div class="row">
                <!-- 地址 -->
                <div class="col-md-4">
                  <label>地址：</label>
                </div>
                <div class="col-md-8">
                  <span class="text-right">{{ userInfo.user_address }}</span>
                </div>
              </div>
              <div class="text-right py-2">
                <nuxt-link to="/member/" class="btn btn-info rounded mr-2"
                  >修改會員資料</nuxt-link
                >
              </div>
            </form>
            <hr />
            <div class="my-subscription__info">
              <span class="text-marked">【按鈕說明】</span><br />
              <ol class="my-subscription__info-items">
                <li class="my-subscription__info-item"
                  ><span class="text-red font-weight-bold">取消訂閱</span
                  >是指<span class="text-marked text-red font-weight-bold"
                    >取消「下次訂閱」，並非取消本次訂閱。</span
                  >原本已經付款的訂閱期間可以看到原期限結束，
                  <p class="bg-silver text-brown font-weight-bold p-2"
                    >範例：<br />訂閱月費日期為 08/23，該期可看到
                    09/22，下次扣款日為 09/23，如您於 09/21取消訂閱，那麼 09/23
                    不會扣款。<br />如您於 09/24 取消訂閱，且已於 09/23
                    收到扣款通知，那麼表示您再續訂一期，也就是 09/23~10/22，但
                    10/23 不會扣款</p
                  >
                  <div class="gap-3"></div>
                </li>
                <li class="my-subscription__info-item">
                  <span class="text-navy font-weight-bold">變更訂閱方案</span
                  >是<span class="text-red text-marked font-weight-bold"
                    >依照「原本的付款方式（含原本綁定信用卡卡號）」，變更「現在訂閱方案以外」的方案。</span
                  >
                  <p class="bg-silver text-brown font-weight-bold p-2"
                    >範例：<br />如您原本使用 A
                    銀行信用卡綁定年費，您點選變更訂閱方案時，只能使用 A
                    銀行信用卡變更月費、季費、2
                    年費方案。此時因您的年費尚未停止，所以無法選擇年費。<br />※
                    如您想要變更為 B
                    銀行信用卡，或是再定年費，請點選「取消訂閱」後，再點選「重新訂閱該專家」。</p
                  ><div class="gap-3"></div>
                </li>
                <li class="my-subscription__info-item">
                  <span class="text-green font-weight-bold">重新訂閱該專家</span
                  >通常<span class="text-marked text-red font-weight-bold"
                    >在您已點選「取消訂閱」，或是訂閱已經過期後出現。</span
                  >此時點選重新訂閱該專家，您可以重新選擇方案以及付款方式。<div
                    class="gap-3"
                  ></div>
                </li>
              </ol>
            </div>
            <div class="my-subscription__cases">
              <AppTitleBox :text="'我的已繳費訂閱方案'" :titleSize="1.6" />
              <table class="custom-table w-100">
                <thead>
                  <tr>
                    <th class="thead-id bg-lavender text-white py-2">&nbsp;</th>
                    <th class="thead-case-name bg-lavender text-white py-2"
                      >方案名稱</th
                    >
                    <th class="thead-case-fee bg-lavender text-white py-2"
                      >方案費用</th
                    >
                    <th class="thead-case-subs bg-lavender text-white py-2"
                      >訂閱日期</th
                    >
                    <th class="thead-case-nextpay bg-lavender text-white py-2"
                      >下次扣(繳)款日</th
                    >
                    <th class="thead-case-edit bg-lavender text-white py-2"
                      >操作</th
                    >
                  </tr>
                </thead>

                <tbody>
                  <AppSectionLoader v-if="isFetchingUserPlans" />
                  <template v-else>
                    <tr v-for="(planSub, index) in planSubs" :key="index + 1">
                      <td>{{ planSub.plan_id }}</td>
                      <td>{{ planSub.plan_title }}</td>
                      <td>{{ planSub.plan_price }}</td>
                      <td>{{ planSub.order_date }}</td>
                      <td v-html="planSub.order"></td>
                      <td class="px-4">
                        <span v-if="planSub.payment_type === 'FREE'">
                          此為完全折扣方案，無法重新訂閱及自動續訂
                        </span>
                        <span v-else-if="planSub.plan_once === 1">
                          此為一次性付款方案
                        </span>
                        <template v-else>
                          <button
                            v-if="
                              planSub.payment_type === 'CREDIT' &&
                                planSub.status !== 'stop'
                            "
                            :data-mpid="planSub.mp_id"
                            data-toggle="modal"
                            data-target="#changeModal"
                            class="btn btn-block btn-blue rounded"
                            @click="fetchExchangeList($event, 2)"
                            >變更訂閱方案</button
                          >

                          <button
                            :data-mpid="planSub.mp_id"
                            data-toggle="modal"
                            data-target="#changeModal"
                            @click="fetchExchangeList($event, 2)"
                            v-if="
                              planSub.payment_type !== 'CREDIT' &&
                                planSub.status !== 'stop'
                            "
                            class="btn btn-block btn-blue rounded"
                            >續訂或變更方案</button
                          >
                          <button
                            :data-mpid="planSub.mp_id"
                            @click="handleCancelSubscription"
                            v-if="planSub.status === 'subscription'"
                            class="btn btn-block btn-danger rounded"
                            >取消下一次訂閱</button
                          >
                          <button
                            v-if="planSub.status === 'stop'"
                            :data-mpid="planSub.mp_id"
                            data-toggle="modal"
                            data-target="#changeModal"
                            @click="fetchExchangeList($event, 1)"
                            class="btn btn-block btn-green rounded"
                            >重新訂閱該專家</button
                          >
                        </template>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
              <div class="gap-3"></div>
              <AppTitleBox :text="'我的待繳費訂閱方案'" :titleSize="1.6" />
              <table class="custom-table w-100">
                <thead>
                  <tr>
                    <th class="thead-id bg-lavender text-white py-2">&nbsp;</th>
                    <th class="thead-case-name bg-lavender text-white py-2"
                      >方案名稱</th
                    >
                    <th class="thead-case-fee bg-lavender text-white py-2"
                      >方案費用</th
                    >
                    <th class="thead-case-subs bg-lavender text-white py-2"
                      >訂閱日期</th
                    >
                    <th class="bg-lavender text-white py-2">繳款資訊</th>
                  </tr>
                </thead>
                <tbody>
                  <AppSectionLoader v-if="isFetchingUserPlans" />
                  <template v-else>
                    <tr
                      v-for="(planPending, index) in planPendings"
                      :key="index + 1"
                    >
                      <td>{{ planPending.plan_id }}</td>
                      <td>{{ planPending.plan_title }}</td>
                      <td>{{ planPending.plan_price }}</td>
                      <td>{{ planPending.order_date }}</td>
                      <td>
                        {{ planPending.payment_type | htmlFilter }}<br />
                        {{ planPending.pay_money | htmlFilter }}<br />
                        <template v-if="planPending.couponData"
                          >{{ planPending.couponData | htmlFilter }}<br
                        /></template>
                        {{ planPending.payment_bank | htmlFilter }}<br />
                        {{ planPending.code | htmlFilter }}<br />
                        {{ planPending.expire | htmlFilter }}
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
              <div class="gap-3"></div>
              <!-- Modal / Starts -->
              <div
                class="modal fade"
                id="changeModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="changeModal"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog"
                  id="changeModalDialog"
                  role="document"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">可變更的訂閱方案</h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="overflow-x: auto;">
                      <table class="custom-table">
                        <thead>
                          <tr>
                            <th scope="col" class="bg-lavender text-white py-2"
                              >&nbsp;</th
                            >
                            <th scope="col" class="bg-lavender text-white py-2"
                              >方案名稱</th
                            >
                            <th scope="col" class="bg-lavender text-white py-2"
                              >方案費用</th
                            >
                            <th scope="col" class="bg-lavender text-white py-2"
                              >方案說明</th
                            >
                            <th scope="col" class="bg-lavender text-white py-2"
                              >操作</th
                            >
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(plan, index) in changePlans"
                            :key="index + 1"
                          >
                            <td>{{ plan.plan_id }}</td>
                            <td>{{ plan.plan_title }}</td>
                            <td>{{ plan.plan_price }}</td>
                            <td v-html="plan.plan_cont"></td>
                            <td>
                              <button
                                v-if="isContinuePlan"
                                :data-index="index"
                                class="btn btn-sm btn-success"
                                @click="handleContinuePlan"
                                >變更訂閱</button
                              >
                              <button
                                v-else
                                :data-index="index"
                                class="btn btn-sm btn-danger"
                                @click="handleSubscribe"
                                >訂閱</button
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal / Ends -->
              <AppTitleBox :text="'我的已過期訂閱方案'" :titleSize="1.6" />
              <table class="custom-table w-100">
                <thead>
                  <tr>
                    <th scope="col" class="thead-id bg-lavender text-white py-2"
                      >&nbsp;</th
                    >
                    <th
                      scope="col"
                      class="thead-case-name bg-lavender text-white py-2"
                      >方案名稱</th
                    >
                    <th
                      scope="col"
                      class="thead-case-fee bg-lavender text-white py-2"
                      >方案費用</th
                    >
                    <th
                      scope="col"
                      class="thead-case-subs bg-lavender text-white py-2"
                      >訂閱日期</th
                    >
                    <th
                      scope="col"
                      class="thead-case-end bg-lavender text-white py-2"
                      >結束日期</th
                    >
                    <th
                      scope="col"
                      class="thead-case-edit bg-lavender text-white py-2"
                      >操作</th
                    >
                  </tr>
                </thead>
                <tbody>
                  <AppSectionLoader v-if="isFetchingUserPlans" />
                  <template v-else>
                    <tr
                      v-for="(planExpired, index) in planExpireds"
                      :key="index + 1"
                    >
                      <td>{{ planExpired.plan_id }}</td>
                      <td>{{ planExpired.plan_title }}</td>
                      <td>{{ planExpired.plan_price }}</td>
                      <td>{{ planExpired.order_date }}</td>
                      <td>{{ planExpired.next_start }}</td>
                      <td class="px-4">
                        <span v-if="planExpired.mp_payment_type === 'FREE'">
                          此為完全折扣方案，無法重新訂閱及自動續訂
                        </span>
                        <span v-else-if="planExpired.plan_once === 1">
                          此為一次性付款方案
                        </span>
                        <button
                          v-else
                          :data-mpid="planExpired.mp_id"
                          data-toggle="modal"
                          data-target="#changeModal"
                          @click="fetchExchangeList($event, 1)"
                          class="btn btn-block btn-success rounded"
                          >重新訂閱該專家</button
                        >
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
              <div class="gap-3"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- end left column -->
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppTitleBox from '@/components/AppTitleBox'
import ProfileUserMenu from '@/components/ProfileUserMenu'

export default {
  name: 'MySubscription',
  components: { AppBreadcrumb, AppTitleBox, ProfileUserMenu },
  filters: {
    htmlFilter(val) {
      if (!val) return val
      return val.replace('<br>', '')
    }
  },
  data() {
    return {
      isFetchingUserPlans: false,
      isContinuePlan: false,
      selectedMpId: null,
      userInfo: {},
      planSubs: [],
      planPendings: [],
      planExpireds: [],
      changePlans: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '會員中心', link: '/member' },
        { title: '我的已繳費訂閱方案' }
      ],
      ads: []
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.topic,
        m.default.vipSubscription,
        m.default.USStock,
        m.default.appLink
      ]
    })
    if (!this.$store.getters.isAuthenticated) {
      this.$Swal.fire('請先登入以進入個人頁面！')
      this.$router.push('/login')
      return false
    }
    this.fetchUserInfo()
    this.fetchUserPlans()
  },
  methods: {
    /**
     * 取消訂閱
     */
    async handleCancelSubscription(e) {
      const mpId = e.target.dataset.mpid
      const { data } = await this.$axios.post('plan/cancelOrder', {
        mp_id: mpId,
        token: this.$tokenGenerator()
      })
      if (data.status === '002' && data.message === '取消成功') {
        this.fetchUserPlans()
        return this.$Toast.fire({
          icon: 'success',
          title: '訂閱取消成功'
        })
      }
    },
    /**
     * 續訂
     */
    async handleContinuePlan(e) {
      const i = e.target.dataset.index
      const planId = this.changePlans[i].plan_id
      const { data } = await this.$axios.post('plan/exOldOrder', {
        mp_id: this.selectedMpId,
        plan_id: planId,
        token: this.$tokenGenerator()
      })
      if (data.status === '000' && data.message === '') {
        this.fetchUserPlans()
        return this.$Toast.fire('續訂成功！')
      }
    },
    /**
     * 重新訂閱
     */
    handleSubscribe(e) {
      const i = e.target.dataset.index
      const storage = {
        mp_id: this.selectedMpId,
        MemberNo: this.changePlans[i].MemberNo,
        expert_id: this.changePlans[i].expect_id,
        expert_name: this.changePlans[i].expect_name,
        new_mp_start: this.changePlans[i].new_mp_start,
        case_description: this.changePlans[i].plan_cont,
        plan_group: this.changePlans[i].plan_group,
        case_id: this.changePlans[i].plan_id,
        case_price: this.changePlans[i].plan_price,
        case_title: this.changePlans[i].plan_title
      }
      localStorage.setItem(
        'cartItem',
        JSON.stringify({
          ...storage,
          MemberNo: this.$store.getters.memberId
        })
      )
      $('#changeModal').modal('hide')
      this.$router.push({ path: '/cart', query: { changeplan: 1 } })
    },
    async fetchUserInfo() {
      const memberId = this.$store.getters.memberId
      const { data: userInfoData } = await this.$axios.post('member/isedit', {
        member_id: memberId,
        member_account: this.$store.getters.memberAccount,
        token: this.$tokenGenerator()
      })
      this.userInfo = userInfoData.content
    },
    async fetchUserPlans() {
      this.isFetchingUserPlans = true
      const memberId = this.$store.getters.memberId
      const { data: planSubData } = await this.$axios.post('plan/sub', {
        MemberNo: memberId,
        page: 1,
        pageSize: 999,
        token: this.$tokenGenerator()
      })
      if (planSubData.status === '000' && planSubData.message === '') {
        planSubData.content.forEach((item) => {
          if (item.plan_price.includes('無限制')) {
            item.isUnlimited = true
          }
        })
        this.planSubs = planSubData.content
      }
      const { data: planPendingData } = await this.$axios.post('plan/pending', {
        MemberNo: memberId,
        page: 1,
        pageSize: 999,
        token: this.$tokenGenerator()
      })
      if (planPendingData.status === '000' && planPendingData.message === '') {
        this.planPendings = planPendingData.content
        this.planPendings.forEach((pendingData) => {
          pendingData.couponData = ''
          if (pendingData.couponCode && pendingData.couponValue) {
            pendingData.couponData = `折扣碼：${pendingData.couponCode}（折扣金額：${pendingData.couponValue}）`
          }
        })
      }
      const { data: planExpiredData } = await this.$axios.post('plan/expired', {
        MemberNo: memberId,
        page: 1,
        pageSize: 999,
        token: this.$tokenGenerator()
      })
      if (planExpiredData.status === '000' && planExpiredData.message === '') {
        this.planExpireds = planExpiredData.content
      }
      this.isFetchingUserPlans = false
    },
    /**
     * 取得可訂閱的列表
     * @param {number} type 1是非續訂，2是續訂
     */
    async fetchExchangeList(e, type) {
      if (type === 2) {
        this.isContinuePlan = true
      } else {
        this.isContinuePlan = false
      }
      this.selectedMpId = e.target.dataset.mpid
      const { data } = await this.$axios.post('plan/exchangeList', {
        MemberNo: +this.$store.getters.memberId,
        mp_id: this.selectedMpId,
        type,
        token: this.$tokenGenerator()
      })
      this.changePlans = data.content
    }
  },
  head() {
    return {
      title: '我的已繳費訂閱方案 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
