<template>
  <div id="forgot" class="login-area">
    <MemberFormPortlet :title="'忘記密碼'" @handleSubmit="onHandleSubmit">
      <template v-slot>
        <FormInputer
          v-model="formInput.email"
          :iconClass="'fa fa-user'"
          :feedbackText="'Please insert email address.'"
          :placeholder="'請輸入您註冊時使用的 Email'"
          :name="'email'"
        />
        <button
          @click="onHandleSubmit"
          class="btn btn-primary btn-block rounded-1 mb-2"
          type="submit"
          :disabled="isPosting"
        >
          {{ isPosting ? '請稍後...' : '確認送出' }}
        </button>
      </template>
    </MemberFormPortlet>
  </div>
</template>

<script>
import FormInputer from '@/components/FormInputer'
import MemberFormPortlet from '@/components/MemberFormPortlet'

export default {
  name: 'Forgot',
  components: { FormInputer, MemberFormPortlet },
  data() {
    return {
      isPosting: false,
      formInput: {
        email: ''
      }
    }
  },
  beforeMount() {
    if (this.$store.getters.isAuthenticated) {
      this.$Swal.fire('您已經登入！')
      location.href = '/'
      return false
    }
  },
  methods: {
    async onHandleSubmit() {
      try {
        if (!this.formCheck()) {
          return false
        }
        this.isPosting = true
        const { data } = await this.$axios.post('member/forgetPassword', {
          token: this.$tokenGenerator(),
          Email: this.formInput.email
        })
        if (typeof data === 'string') {
          if (data.includes('Email sent')) {
            this.$Swal.fire({
              icon: 'success',
              title: '認證信已發送！',
              text: '請於一小時內完成密碼重設'
            })
            this.isPosting = false
            return null
          }
        }
        if (data.status === '001' && data.message === '此帳號綁定FB登入') {
          this.$Swal.fire({
            icon: 'info',
            title: '此帳號已綁定第三方登入',
            text: '請於登入頁透過 Facebook 登入您的帳號'
          })
          this.isPosting = false
          this.$router.push('/login')
          return null
        }
        if (data.status === '002' && data.message === '此帳號綁定GOOGLE登入') {
          this.$Swal.fire({
            icon: 'info',
            title: '此帳號已綁定第三方登入',
            text: '請於登入頁透過 Google 登入您的帳號'
          })
          this.isPosting = false
          this.$router.push('/login')
          return null
        }
        this.$Swal.fire('請確認您輸入的信箱')
        this.isPosting = false
        return false
      } catch (error) {
        this.isPosting = false
        console.error(error)
      }
    },
    formCheck() {
      if (!this.formInput.email.trim()) {
        this.$Swal.fire('請確認 Email 已輸入')
        return false
      }
      if (
        !/^\w+((-\w+)|(\.\w+))*@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/.test(
          this.formInput.email
        )
      ) {
        this.$Swal.fire('請確認 Email 是否合法')
        return false
      }
      return true
    }
  },
  head() {
    return {
      title: '忘記密碼 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
