<template>
  <div id="vip" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!--Block start-->
        <div class="block-area">
          <!-- block title -->
          <AppBlockTitle11 :text="'最新VIP文章'" />
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1
                :post="post"
                :key="post.post_id"
                :middleIcon="'fas fa-file-alt'"
              />
            </template>
          </div>
        </div>
        <!--End Block-->
        <!-- 訂閱方案 -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'訂閱方案'" />
          <div class="row">
            <template v-for="subscription in subscriptions">
              <AppSubscribeSection
                :subscription="subscription"
                :key="subscription.subscription_id"
              />
            </template>
          </div>
        </div>
        <!--end 訂閱方案-->
        <!--Block start-->
        <div class="block-area">
          <div class="row d-sm-flex d-none">
            <template v-for="post in downPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
          <!-- 手機版本顯示輪播 -->
          <div class="row d-sm-none d-flex px-4">
            <AppCarousel2
              :carouselPosts="downPosts"
              :carouselSetting="carouselSetting"
            />
          </div>
        </div>
        <!--End Block-->
        <!-- thumbnail -->
        <div class="ratio_1140 image-wrapper mb-module">
          <img
            class="img-fluid"
            width="100%"
            v-lazy="'/img/moneyvip-plans/08.jpg'"
            alt="Image description"
          />
        </div>
        <div class="gap-15"></div>
      </div>
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppPostSection1 from '@/components/AppPostSection1'
import AppSubscribeSection from '@/components/AppSubscribeSection'
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppCarousel2 from '@/components/AppCarousel2'
import moneyvipPlansConfig from '@/assets/json/moneyvipPlans.config'
import newsTypeConfig from '@/assets/json/newsType.config'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'VIP',
  components: {
    AppSubmenu,
    AppPostSection1,
    AppSubscribeSection,
    AppBlockTitle11,
    AppCarousel2
  },
  async asyncData({ $axios, $tokenGenerator }) {
    const { data: articlesData } = await $axios.post('news/vip', {
      page: '1',
      pageSize: '9',
      token: $tokenGenerator()
    })

    const newsType = newsTypeConfig.data.newsType
    articlesData.content.forEach(
      (item) => (item.news_type = newsType[item.news_type])
    )

    const { data: subscriptionData } = await $axios.post('plan/list', {
      page: '1',
      pageSize: '999',
      expert_id: null,
      plan_group: null,
      token: $tokenGenerator()
    })

    // 每個 expert_id 僅取一個 plan_group
    // for (let i = 0; i < subscriptionData.content.length - 1; i++) {
    //   const curr = subscriptionData.content[i]
    //   const next = subscriptionData.content[i + 1]
    //   if (
    //     curr.expect_id === next.expect_id &&
    //     curr.plan_group === next.plan_group
    //   ) {
    //     subscriptionData.content.splice(i + 1, 1)
    //     i = i - 1
    //   }
    // }
    const vipImgs = moneyvipPlansConfig.vipImgs

    const subscriptionDataMap = subscriptionData.content.map((item) => ({
      subscription_id: item.plan_id,
      subscription_title: item.plan_title,
      subscription_img: vipImgs[item.expect_id]
        ? vipImgs[item.expect_id][item.plan_group]
        : '',
      subscription_price: item.plan_price,
      subscription_expert: item.expect_name,
      subscription_expertid: item.expect_id,
      plan_group: item.plan_group,
      post_vip: true
    }))
    return {
      articles: articlesData.content,
      subscriptions: subscriptionDataMap
    }
  },
  data() {
    return {
      articles: [],
      subscriptions: [],
      carouselSetting: {
        margin: 10,
        items: 1,
        nav: true,
        loop: true
      },
      menuItems: []
    }
  },
  computed: {
    upPosts() {
      return this.articles.slice(0, 3)
    },
    downPosts() {
      return this.articles.slice(3, 9)
    }
  },
  created() {
    const vipMenu = menuConfig.menu[7].subMenu
    for (let i = 0; i < vipMenu.length; i++) {
      if (vipMenu[i].subMenu) {
        const expertTitle = vipMenu[i].title
        vipMenu[i].subMenu.forEach((plan) => {
          plan.title = `${expertTitle} - ${plan.title}`
        })
        this.menuItems = this.menuItems.concat(vipMenu[i].subMenu)
      } else {
        this.menuItems.push(vipMenu[i])
      }
    }
  },
  head() {
    return {
      title: 'VIP訂閱 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
