<template>
  <div id="qa-user" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--content-->
      <div class="col-12">
        <div class="post-title text-center mb-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">Q&A</h1>
          <hr class="hr-after" />
        </div>
        <div class="panel-group" id="accordion">
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post1"
                  >如何註冊 Moneybar 會員？</a
                >
              </h2>
            </header>
            <footer id="post1" class="panel-collapse collapse">
              <p class="panel-body">
                在Moneybar
                網站右上⾓，點選「會員登⼊/註冊」點擊下⽅的「⽴即註<br />冊」即可開始註
                冊。Moneybar 提供四種註冊⽅式：<br />
                （1）Facebook<br />
                （2）Google<br />
                （3）Apple ID<br />
                （4）Email<br />
                <img src="/img/faq/003.png" alt="003.png" />
              </p>
            </footer>
          </section>
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post2"
                  >忘記密碼怎麼辦？</a
                >
              </h2>
            </header>
            <footer id="post2" class="panel-collapse collapse">
              <p class="panel-body">
                請在登入頁面中，點擊「忘記密碼」，系統會發一封信件至您的信箱中協助您重設密碼。<br />
                <span class="text-red"
                  >【提醒】沒有完成個人資料前，是無法訂閱任何線上訂閱專案。</span
                >
              </p>
            </footer>
          </section>
        </div>
        <div class="gap-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'FaqRegister',
  components: { AppBreadcrumb },
  data() {
    return {
      qaInfo: [],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A',
          link: '/faq'
        },
        {
          title: '註冊相關問題'
        }
      ]
    }
  },
  head() {
    return {
      title: '註冊相關問題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
