<template>
  <div id="login" class="login-area">
    <MemberFormPortlet :title="'會員登入'">
      <template v-slot>
        <!-- Email starts -->
        <FormInputer
          v-model="formInput.email"
          :iconClass="'fa fa-user'"
          :feedbackText="'Please insert email address.'"
          :placeholder="'帳號 / Email'"
          :name="'email'"
        />
        <!-- Email ends -->
        <!-- Password starts -->
        <FormInputer
          v-model="formInput.password"
          :iconClass="'fa fa-lock'"
          :feedbackText="'Please insert Password.'"
          :placeholder="'密碼'"
          :name="'password'"
          :type="'password'"
        />
        <!-- Password ends -->
        <button
          @click="onHandleSubmit"
          class="btn btn-primary btn-block rounded-1 mb-2"
        >
          登入
        </button>

        <div class="clearfix small">
          <label class="float-left checkbox-inline"
            ><input type="checkbox" /> 記住我</label
          >
          <nuxt-link to="/forgot" class="float-right">忘記密碼</nuxt-link>
        </div>
        <div class="or-seperator"><i>or</i></div>
        <div class="text-center social-btn">
          <FBLoginButton @handleFBLogin="onHandleFBLogin" />
          <GoogleLoginButton @onSuccess="onHandleGoogleLogin" />
          <AppleLoginButton @handleAppleLogin="onHandleAppleLogin" />
        </div>
        <p class="text-center text-muted mt-5">
          還不是會員嗎？&nbsp;<nuxt-link to="/register" class="text-danger"
            >立即註冊！</nuxt-link
          >
        </p>
      </template>
    </MemberFormPortlet>
  </div>
</template>

<script>
import FormInputer from '@/components/FormInputer'
import MemberFormPortlet from '@/components/MemberFormPortlet'
import GoogleLoginButton from '@/components/GoogleLoginButton'
import FBLoginButton from '@/components/FBLoginButton'
import AppleLoginButton from '@/components/AppleLoginButton'

export default {
  name: 'Login',
  components: {
    FormInputer,
    MemberFormPortlet,
    GoogleLoginButton,
    FBLoginButton,
    AppleLoginButton
  },
  data() {
    return {
      formInput: {
        email: '',
        password: ''
      },
      cookieOptions: {
        path: '/',
        maxAge: 60 * 60 * 24 * 7
      }
    }
  },
  beforeMount() {
    /**
     * redirect to index if user has already logged in
     */
    if (this.$cookies.get('memberId')) {
      this.$Swal.fire('您已經登入！')
      location.href = '/'
      return false
    }
    if (this.$route.query.skey_expired) {
      this.$store.commit('CLEAR_USER')
      this.$Swal.fire({
        icon: 'info',
        title: '請重新登入'
      })
    }
  },
  mounted() {
    window.scrollTo(0, 0)
  },
  methods: {
    async onHandleSubmit() {
      try {
        if (!this.formCheck()) {
          return false
        }
        const payload = {
          token: this.$tokenGenerator(),
          user_account: this.formInput.email,
          user_pwd: this.formInput.password
        }
        const { data } = await this.$axios.post('member/login', payload)
        if (data.status === '005' || data.status === '004') {
          this.$Swal.fire('帳號或密碼錯誤')
          return false
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return null
      } catch (error) {
        console.error(error)
      }
    },
    async onHandleFBLogin(res) {
      if (res.error) {
        if (res.error.error_subcode === 467) {
          await this.$Swal.fire('請重新登入Facebook')
          location.reload()
          return null
        }
        if (res.error.code === 2500) {
          console.log('[FB Login] Cancelled by user.')
          return null
        }
      }
      try {
        const userData = { ...res }
        // 檢查使用者是否拒絕提供 email
        if (!userData.email) {
          this.$Swal.fire('您必須提供 Facebook 中的 email 以便註冊')
          return false
        }
        const payload = {
          social_id: userData.id,
          social_type: 'fb',
          social_mail: userData.email,
          social_name: userData.name
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        if (data.status === '008') {
          this.$store.commit('auth/SET_AUTH_REGISTER_DATA', payload)
          this.$router.push({
            path: '/register',
            query: {
              ...payload,
              name: userData.name,
              email: userData.email
            }
          })
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    async onHandleGoogleLogin(userData) {
      try {
        const payload = {
          social_id: userData.id,
          social_type: 'google',
          social_mail: userData.email,
          social_name: userData.name
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        // 未登入過則導向註冊頁面
        if (data.status === '008') {
          this.$store.commit('auth/SET_AUTH_REGISTER_DATA', {
            ...payload,
            name: userData.id,
            email: userData.email
          })
          this.$router.push({
            path: '/register',
            query: {
              ...payload,
              name: userData.name,
              email: userData.email
            }
          })
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        // 登入過則取得伺服器回傳的 member_id 並導向首頁
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    async onHandleAppleLogin(userData) {
      try {
        const payload = {
          social_id: userData.sub,
          social_type: 'apple',
          social_mail: userData.email,
          social_name: ''
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        if (data.status === '008') {
          this.$store.commit('auth/SET_AUTH_REGISTER_DATA', {
            ...payload,
            email: userData.email
          })
          this.$router.push({
            path: '/register',
            query: {
              ...payload,
              email: userData.email
            }
          })
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    formCheck() {
      for (const key in this.formInput) {
        if (!this.formInput[key].trim()) {
          this.$Swal.fire('請確認帳號密碼是否已輸入')
          return false
        }
      }
      if (this.formInput.password.length < 6) {
        this.$Swal.fire('請確認密碼是否正確')
        return false
      }
      return true
    },
    storeSSOKeyInCookie(ssoKey) {
      this.$cookies.set('sKey', ssoKey)
    }
  },
  head() {
    return {
      title: '會員登入 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
