<template>
  <div id="register" class="login-area">
    <MemberRegisterPortlet
      :title="'還沒有member帳號？'"
      :subTitle="'免費註冊一個！'"
    >
      <template v-slot>
        <!-- Email -->
        <FormInputer
          v-model="formInput.email"
          :iconClass="'fas fa-at'"
          :feedbackText="'Please insert email address.'"
          :placeholder="'Email'"
          :name="'register-email'"
          :showRequiredIcon="true"
          :disabled="isThirdPartyRegister"
        />
        <!-- Name -->
        <FormInputer
          v-model="formInput.name"
          :iconClass="'fas fa-user'"
          :feedbackText="'Please insert name.'"
          :placeholder="'姓名'"
          :name="'name'"
          :showRequiredIcon="true"
          :disabled="isThirdPartyRegister && auth.authRegisterData.name"
        />
        <!-- Mobile -->
        <FormInputer
          v-model="formInput.phone"
          :iconClass="'fas fa-mobile-alt'"
          :feedbackText="'Please insert phone.'"
          :placeholder="'手機號碼（Ex: 0912345678）'"
          :name="'phone'"
          :showRequiredIcon="true"
        />
        <!-- Address hint info -->
        <div id="form-inputer" class="input-group mb-3"
          ><div class="input-group-prepend bg-white"
            ><span class="input-group-text rounded-0 bg-themes"
              ><i class="fas fa-map-marker-alt"></i></span
          ></div>
          <div class="form-control rounded-0 pr-0" style="cursor: default;"
            >地址（寄送發票、站內慶小禮物用）</div
          >
        </div>
        <!-- Address -->
        <div class="row mb-3">
          <div class="col-6">
            <select class="form-control" v-model="selectedCity">
              <option value="">縣市</option>
              <option
                v-for="(city, index) in cities"
                :key="index + 1"
                :value="city"
                >{{ city }}</option
              >
            </select>
          </div>
          <div class="col-6">
            <select class="form-control" v-model="selectedArea">
              <option value="">鄉鎮市區</option>
              <option
                v-for="(area, index) in areas"
                :key="index + 1"
                :value="area"
                >{{ area.AreaName }}</option
              >
            </select>
          </div>
        </div>
        <FormInputer
          v-model="addressSuffix"
          :placeholder="'請輸入詳細地址'"
          :name="'address'"
        />
        <!-- Password -->
        <FormInputer
          v-if="!isThirdPartyRegister"
          v-model="formInput.password"
          :iconClass="'fas fa-key'"
          :feedbackText="'Please insert phone.'"
          :placeholder="'密碼（六碼以上，包含英數）'"
          :name="'password'"
          :type="'password'"
          :required="true"
          :showRequiredIcon="true"
        />
        <!-- Password Confirm -->
        <PwStrengthDisplayer
          v-if="!isThirdPartyRegister"
          :passwordStrength="passwordStrength"
        />

        <FormInputer
          v-if="!isThirdPartyRegister"
          v-model="passwordConfirm"
          :iconClass="'fas fa-lock'"
          :feedbackText="'Please insert phone.'"
          :placeholder="'再次確認密碼'"
          :name="'password'"
          :type="'password'"
          :required="true"
          :showRequiredIcon="true"
        />
        <input type="checkbox" id="confirm-privacy" v-model="confirmPrivacy" />
        <label for="confirm-privacy" class="d-inline"
          >加入moneybar會員代表你已閱讀，且同意接受
          <a href="/privacy" class="text-red" target="_blank" rel="noreferrer">
            「moneybar會員服務條款」</a
          ></label
        ><br />
        <button
          @click="onHandleSubmit"
          class="btn btn-primary btn-block rounded-1 my-2"
        >
          免費註冊
        </button>
        <div class="or-seperator"><i>or</i></div>
        <div class="text-center social-btn">
          <FBLoginButton @handleFBLogin="onHandleFBLogin" />
          <GoogleLoginButton @onSuccess="onHandleGoogleLogin" />
          <AppleLoginButton @handleAppleLogin="onHandleAppleLogin" />
        </div>
        <p class="text-center text-muted mt-2">
          已加入會員？&nbsp;<nuxt-link to="/login" class="text-danger"
            >按這裡立即登入！</nuxt-link
          >
        </p>
      </template>
    </MemberRegisterPortlet>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MemberRegisterPortlet from '@/components/MemberRegisterPortlet'
import FormInputer from '@/components/FormInputer'
import PwStrengthDisplayer from '@/components/PwStrengthDisplayer'
import FBLoginButton from '@/components/FBLoginButton'
import GoogleLoginButton from '@/components/GoogleLoginButton'
import AppleLoginButton from '@/components/AppleLoginButton'
import cityCountyData from '@/assets/json/CityCountyData'

const initialFormInput = {
  email: '',
  name: '',
  phone: '',
  address: '',
  password: '',
  social_id: null,
  social_type: ''
}

export default {
  name: 'Register',
  components: {
    MemberRegisterPortlet,
    FormInputer,
    PwStrengthDisplayer,
    FBLoginButton,
    GoogleLoginButton,
    AppleLoginButton
  },
  data() {
    return {
      formInput: { ...initialFormInput },
      passwordConfirm: '',
      passwordStrength: 0,
      selectedCity: '',
      areas: [],
      selectedArea: '',
      addressSuffix: '',
      confirmPrivacy: false,
      isThirdPartyRegister: false
    }
  },
  computed: {
    ...mapState(['auth']),
    /**
     * @returns {string} formInput's password for watcher to calculate password strength
     */
    password() {
      return this.formInput.password
    },
    /**
     * @returns {array} of citynames
     */
    cities() {
      return cityCountyData.cities.map((i) => i.CityName)
    }
  },
  watch: {
    /**
     * 密碼強度:
     *  1: 包含1個字母跟多個數字
     *  2: 包含2個字母跟多個數字
     *  3: 8碼以上且包含2個字母跟多個數字
     */
    password(value) {
      if (value.length < 6 || value.length > 12)
        return (this.passwordStrength = 0)
      const reg = /[A-Za-z]/gi
      const letterCounts = reg.test(value)
      if (!letterCounts) return (this.passwordStrength = 0)
      if (value.length >= 8 && letterCounts >= 2)
        return (this.passwordStrength = 3)
      if (letterCounts >= 2) return (this.passwordStrength = 2)
      return (this.passwordStrength = 1)
    },
    selectedCity(value) {
      this.selectedArea = ''
      this.setFormInputAddress()
      for (let i = 0; i < cityCountyData.cities.length; i++) {
        if (cityCountyData.cities[i].CityName === value) {
          return (this.areas = cityCountyData.cities[i].AreaList)
        }
      }
    },
    selectedArea() {
      this.setFormInputAddress()
    },
    addressSuffix(value) {
      this.setFormInputAddress()
    }
  },
  beforeMount() {
    if (this.$store.getters.isAuthenticated) {
      this.$Swal.fire('您已經登入！')
      location.href = '/'
      return false
    }

    // TODO: 比對 Vuex 及 query 是否相符
    const { query } = this.$route
    if (query.social_id && query.social_type) {
      // 使用者重新載入時則跳回登入頁
      if (
        query.social_id !== this.auth.authRegisterData.social_id ||
        query.social_type !== this.auth.authRegisterData.social_type
      ) {
        this.$Swal.fire('請重新註冊！')
        this.$router.push('/login')
        return false
      }
      this.isThirdPartyRegister = true
      for (const key in query) {
        this.formInput[key] = query[key] ? query[key] : ''
      }
    }
  },
  methods: {
    async onHandleSubmit() {
      // 確認必填欄位
      if (!this.formCheck()) {
        this.$Swal.fire('請確認必填欄位是否均已填寫')
        return false
      }
      // 若非第三方登入，檢查密碼強度
      if (!this.isThirdPartyRegister && this.passwordStrength === 0) {
        this.$Swal.fire('密碼須為 6~12 字並包含英數')
        return false
      }
      // 確認密碼是否相同
      if (this.formInput.password !== this.passwordConfirm) {
        this.$Swal.fire('兩次密碼輸入不同')
        return false
      }
      const { data } = await this.$axios.post('member/regist', {
        user_email: this.formInput.email,
        user_name: this.formInput.name,
        user_zipcode: this.selectedArea === '' ? 0 : this.selectedArea.ZipCode,
        user_address: this.formInput.address,
        user_phone: this.formInput.phone,
        user_pwd: this.formInput.password,
        social_type: this.formInput.social_type,
        social_id: this.formInput.social_id,
        token: this.$tokenGenerator()
      })
      if (data.status === '003' && data.err_msg === '帳號Email重複') {
        this.$Swal.fire('此帳號已被註冊')
        return false
      }
      if (!data.content.member_id) {
        this.$Swal.fire('註冊失敗，請確認欄位是否填妥')
        return false
      }
      const memberId = data.content.member_id
      this.$store.commit('SET_AUTH', memberId)
      this.$router.push('/')
      this.$Toast.fire({
        icon: 'success',
        title: '註冊成功！'
      })
      return null
    },
    async onHandleFBLogin(res) {
      if (res.error) {
        if (res.error.error_subcode === 467) {
          await this.$Swal.fire('請重新登入Facebook')
          location.reload()
          return null
        }
      }
      try {
        const userData = { ...res }
        // 檢查使用者是否拒絕提供 email
        if (!userData.email) {
          this.$Swal.fire('您必須提供 Facebook 中的 email 以便註冊')
          return false
        }
        const payload = {
          social_id: userData.id,
          social_type: 'fb',
          social_mail: userData.email,
          social_name: userData.name
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        if (data.status === '008') {
          this.syncFormInputWithThirdPartyData(payload)
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        console.error('[Thrid Party Auth Error]', error)
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    async onHandleGoogleLogin(userData) {
      try {
        const payload = {
          social_id: userData.id,
          social_type: 'google',
          social_mail: userData.email,
          social_name: userData.name
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        // 未登入過則導向註冊頁面
        if (data.status === '008') {
          this.syncFormInputWithThirdPartyData(payload)
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        // 登入過則取得伺服器回傳的 member_id 並導向首頁
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        console.error('[Thrid Party Auth Error]', error)
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    async onHandleAppleLogin(userData) {
      try {
        const payload = {
          social_id: userData.sub,
          social_type: 'apple',
          social_mail: userData.email,
          social_name: ''
        }
        const { data } = await this.$axios.post('member/login', {
          ...payload,
          token: this.$tokenGenerator()
        })
        if (data.status === '008') {
          this.syncFormInputWithThirdPartyData(payload)
          return null
        }
        if (data.status === '006') {
          this.$Swal.fire({
            html:
              '<p class="text-lg">目前帳號狀態為停用，請聯絡客服協助處理，感謝您。</p>'
          })
          return false
        }
        if (data.status === '000') {
          this.$cookies.setAll([
            {
              name: 'memberId',
              value: data.content.member_id,
              opts: this.cookieOptions
            },
            {
              name: 'memberAccount',
              value: data.content.member_account,
              opts: this.cookieOptions
            }
          ])
          this.storeSSOKeyInCookie(data.content.sKey)
          this.$Toast.fire({
            icon: 'success',
            title: '登入成功！'
          })
          window.location.href = localStorage.getItem('LS_ROUTE_KEY') || '/'
          return null
        }
        return this.$Swal.fire(data.err_msg)
      } catch (error) {
        console.error('[Thrid Party Auth Error]', error)
        return this.$Swal.fire('發生錯誤，請重新輸入')
      }
    },
    syncFormInputWithThirdPartyData(payload) {
      this.$Toast.fire({
        icon: 'info',
        title: '請填寫您的基本資料以完成註冊'
      })
      this.formInput = {
        ...initialFormInput,
        ...payload,
        name: payload.social_name,
        email: payload.social_mail
      }
      this.isThirdPartyRegister = true
    },
    storeSSOKeyInCookie(ssoKey) {
      this.$cookies.set('sKey', ssoKey)
    },
    formCheck() {
      if (!this.confirmPrivacy) {
        this.$Swal.fire('您必須同意 moneybar 會員服務條款')
        return false
      }
      if (!this.isThirdPartyRegister) {
        if (!this.formInput.password.trim() || !this.passwordConfirm.trim()) {
          return false
        }
      }
      if (
        !this.formInput.email.trim() ||
        !this.formInput.name.trim() ||
        !this.formInput.phone.trim()
      ) {
        return false
      }
      return true
    },
    setFormInputAddress() {
      const city = this.selectedCity
      const area = this.selectedArea.AreaName || ''
      return (this.formInput.address = `${city}${area}${this.addressSuffix}`)
    }
  },
  head() {
    return {
      title: '加入會員 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
