<template>
  <div id="faq-paidcontent" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <div class="col-12">
        <div class="post-title text-center mb-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">Q&A</h1>
          <hr class="hr-after" />
        </div>
        <div class="panel-group" id="accordion">
          <!-- question 1 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post1"
                  >什麼時候會收到訂閱內容呢？</a
                >
              </h2>
            </header>
            <footer id="post1" class="panel-collapse collapse">
              <p class="panel-body">
                訂閱之後即可進⼊訂閱專區觀看訂閱內容，記得請先登出再登⼊。每位創作者完成內容的<br />
                時間不同，因此發刊頻率不同。<span class="text-red"
                  >【提醒】此服務是「線上」內容，不會額外寄發紙本刊<br />
                  物，請登⼊會員付費觀看喔！</span
                >
              </p>
            </footer>
          </section>
          <!-- question 2 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post2"
                  >訂閱成功後，我要去哪裡觀看內容？</a
                >
              </h2>
            </header>
            <footer id="post2" class="panel-collapse collapse">
              <p class="panel-body">
                專家付費文章皆在Moneybar 網站或Moneybar 賺bar APP
                觀看。登入會員後，將滑鼠移<br />
                向網頁上方目錄中的「VIP
                訂閱」下面會出現專家列表，請選擇您訂閱的專家即可看到該<br />
                專家的所有付費文章。
                <br />
                <img class="img-fluid" src="/img/faq/026.png" alt="026.png" />
              </p>
            </footer>
          </section>
          <!-- question 3 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post3"
                  >我有訂閱VIP，但是顯⽰[尚未訂閱該專家]或是看不到⽂章內容</a
                >
              </h2>
            </header>
            <footer id="post3" class="panel-collapse collapse">
              <p class="panel-body">
                請按照以下流程試試看是否可以觀看<br />
                (1) 登出後再登⼊<br />
                (2) 確認登⼊帳號/⽅式與當初訂閱時相同:登⼊⽅式有四種 Facebook,
                Google+,<br />
                Apple ID 和⼀般 email<br />
                (3) 確認觀看平台為瀏覽器 APP(Google, Chrome, Safari,
                Firefox)⽽不是⾮瀏覽器<br />
                APP(Facebook, Messenger, Line)<br />
                (4)
                確認訂閱是否正常:登⼊帳號後在網⾴右上⾓點選[會員名稱]並於左邊[我已繳費的訂閱⽅<br />
                案]處確認訂閱狀態<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-009.png"
                  alt="20200902-009.png"
                />
                (5) 如仍然無法觀看請刪除『歷史紀錄 Cookie』 如何刪除歷史紀錄
                Cookie:<br />
                a. Chrome:
                <a
                  href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=zh-Hant"
                  target="_blank"
                  >https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=zh-Hant</a
                ><br />
                b. IE:
                <a
                  href="https://support.microsoft.com/zh-tw/help/278835/how-to-delete-cookie-files-ininternet-explorer"
                  target="_blank"
                >
                  https://support.microsoft.com/zh-tw/help/278835/how-to-delete-cookie-files-ininternet-explorer</a
                ><br />
                c. Safari (iPhone, iPad):<a
                  href="https://support.apple.com/zh-tw/HT201265"
                  target="_blank"
                  >https://support.apple.com/zh-tw/HT201265</a
                ><br />
                d. Safari (Mac):
                <a
                  href="https://support.apple.com/zh-tw/guide/safari/sfri47acf5d6/mac"
                  target="_blank"
                  >https://support.apple.com/zh-tw/guide/safari/sfri47acf5d6/mac</a
                >
              </p>
            </footer>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'FaqPaidcontent',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A',
          link: '/faq'
        },
        {
          title: 'VIP觀看⽂章問題'
        }
      ]
    }
  },
  head() {
    return {
      title: 'VIP觀看⽂章問題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
