<template>
  <div id="privacy" class="container">
    <AppBreadcrumb :breadcrumbs="breadcrumbs" />
    <!-- images -->
    <figure class="ratio_1140-535 image-wrapper">
      <img
        class="img-fluid"
        v-lazy="'/img/1140x535/about-us.png'"
        alt="Image description"
      />
      <figcaption>Image captions</figcaption>
    </figure>
    <AppTitleBox :text="'隱私權暨個人資料保護條款'" :titleSize="2" />
    <p class="privacy__enhance">
      您瞭解並同意本公司得依下開條件蒐集、處理及利用您的個人資料：
    </p>
    <div class="privacy__law">
      <p class="privacy__law-content">
        moneybar基於提供投資理財相關課程、販賣商品、消費者、客戶管理與服務、行銷及其他經營合於營業登記項目或組織章程所定之業務等特定目的之合理關聯範圍內，而於營運地區及營運期間蒐集、處理、或利用您的個人資料，包括但不限於姓名、生日、年齡、身份證字號、行動及家用電話號碼、電子郵件、通訊及住居所地址、身體描述、習慣、健康紀錄、購買或使用之課程或商品等個人資料。</p
      ><p class="privacy__law-content">
        除法律另有規定外，您得依個人資料保護法請求閱覽、查詢、補
        充、更正您的個人資料，或製給複製本（本公司將酌收必要費用）。
        本公司蒐集個人資料蒐集之特定目的消失或期限屆滿時，除依法令或
        本公司因執行職務、業務所必須外，您得請求刪除、停止處理或利用
        個人資料。若您選擇不提供個人資料或提供不完全時，本公司將無法
        提供完整之服務或讓您知悉相關活動資訊。</p
      ><p class="privacy__law-content">
        依據個人資料保護法之規定，若您向本公司請求閱覽、查詢您的
        個人資料，或製給複製本，本公司將於15日內准駁與協助；若您請求
        補充、更正您的個人資料、刪除、停止處理或利用個人資料，本公司
        將於30日內准駁與協助。另關於拒絕行銷之要求，因應本公司需跨部
        門協助作業處理，將於7-10日完成您的需求。</p
      >
    </div>
    <div class="privacy__declare">
      <p class="privacy__declare-content">
        本公司僅會在本公司及其所委任處理營業相關事務或有特定合作關
        係之第三人依照前述服務特定目的範圍為作業之必要運用或揭露客戶
        個人資料。除法律另有規定或另行取得您的同意外，我們不會向前述
        以外之第三人揭露您的個人資料。</p
      ><p class="privacy__declare-content">
        為確保您個人資料得以在網際網路或是其他電子商務行為保持隱密
        性，本公司承諾會確保您個人資料的安全，您所留下的個人資料，除
        經您同意或政府機關、法院及其他依法令規定應提供之情形者外，絕
        不販賣或透露給網站以外的其他人及單位，並嚴禁內部人員私自使用
        這些資料。</p
      ><p class="privacy__declare-content">
        為提昇服務品質，提供更多貼心的服務，本公司會記錄使用者連線
        的IP位址、使用時間、瀏覽網頁等資料，也可能會使用cookies，
        Cookies是為區別使用電腦的不同，而不會辨識使用者身份，這些資
        料是為輔助儲存使用者特定使用偏好。
      </p>
    </div>
  </div>
</template>

<script>
import AppTitleBox from '@/components/AppTitleBox'
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'Privacy',
  components: { AppTitleBox, AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '隱私權政策'
        }
      ]
    }
  },
  head() {
    return {
      title: '隱私權政策 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
