<template>
  <div id="reset" class="login-area">
    <MemberFormPortlet :title="'重設密碼'" @handleSubmit="onHandleSubmit">
      <template v-slot>
        <FormInputer
          v-model="formInput.password"
          :iconClass="'fas fa-key'"
          :feedbackText="'Please insert password.'"
          :placeholder="'請輸入您的新密碼'"
          :name="'password'"
          :type="'password'"
          :required="true"
        />
        <PwStrengthDisplayer :passwordStrength="passwordStrength" />
        <FormInputer
          v-model="passwordConfirm"
          :iconClass="'fas fa-lock'"
          :feedbackText="'Please insert password.'"
          :placeholder="'請再次輸入您的新密碼'"
          :name="'password'"
          :type="'password'"
          :required="true"
        />
        <button
          @click="onHandleSubmit"
          class="btn btn-primary btn-block rounded-1 mb-2"
          type="submit"
          :disabled="isPosting"
        >
          {{ isPosting ? '請稍後...' : '確認送出' }}
        </button>
      </template>
    </MemberFormPortlet>
  </div>
</template>

<script>
import FormInputer from '@/components/FormInputer'
import MemberFormPortlet from '@/components/MemberFormPortlet'
import PwStrengthDisplayer from '@/components/PwStrengthDisplayer'

export default {
  name: 'Reset',
  components: {
    FormInputer,
    MemberFormPortlet,
    PwStrengthDisplayer
  },
  validate({ query }) {
    if (!query.toke) {
      return false
    }
    return true
  },
  data() {
    return {
      isPosting: false,
      formInput: {
        retoken: null,
        password: ''
      },
      passwordConfirm: '',
      passwordStrength: 0
    }
  },
  computed: {
    password() {
      return this.formInput.password
    }
  },
  watch: {
    password(value) {
      /*
       * 密碼強度:
       *  1: 包含1個字母跟多個數字
       *  2: 包含2個字母跟多個數字
       *  3: 8碼以上且包含2個字母跟多個數字
       */
      if (value.length < 6 || value.length > 12)
        return (this.passwordStrength = 0)
      const reg = /[A-Za-z]/gi
      const letterCounts = value.match(reg)?.length
      if (!letterCounts) return (this.passwordStrength = 0)
      if (value.length >= 8 && letterCounts >= 2)
        return (this.passwordStrength = 3)
      if (letterCounts >= 2) return (this.passwordStrength = 2)
      return (this.passwordStrength = 1)
    }
  },
  created() {
    if (process.client) {
      if (!this.checkResetIsValid()) {
        return this.$router.push('/forgot')
      }
    }
  },
  beforeMount() {
    if (this.$store.getters.isAuthenticated) {
      this.$Swal.fire('您已經登入！')
      location.href = '/'
      return false
    }
  },
  methods: {
    async checkResetIsValid() {
      if (!this.$route.query.toke) {
        this.$Swal.fire({
          icon: 'error',
          title: '驗證連結失效',
          text: '請重新寄送認證信'
        })
        this.$router.push('/forgot')
        return false
      }
      this.formInput.retoken = this.$route.query.toke
      const { data } = await this.$axios.post('member/RemakePassword', {
        retoken: this.formInput.retoken,
        token: this.$tokenGenerator()
      })
      if (data.status !== '000' || data.message !== '') {
        this.$Swal.fire({
          icon: 'error',
          title: '驗證連結失效',
          text: '請重新寄送認證信'
        })
        this.$router.push('/forgot')
        return false
      }
      return true
    },
    async onHandleSubmit() {
      if (!this.formCheck()) {
        return false
      }

      this.isPosting = true
      const { data } = await this.$axios.post('member/Passwordupdate', {
        token: this.$tokenGenerator(),
        retoken: this.formInput.retoken,
        user_pwd: this.formInput.password
      })
      if (data.status === '000' && data.message === '') {
        this.$Toast.fire({
          icon: 'success',
          title: '密碼變更成功！'
        })
        this.$router.push('/login')
        return true
      }
      this.$Swal.fire({
        icon: 'error',
        title: '驗證連結失效',
        text: '請重新寄送認證信'
      })
      this.$router.push('/forgot')
      return false
    },
    formCheck() {
      if (!this.formInput.password.trim() || !this.passwordConfirm.trim()) {
        this.$Swal.fire('請確認密碼欄位均已輸入')
        return false
      }
      if (this.formInput.password !== this.passwordConfirm) {
        this.$Swal.fire('請確認兩次密碼輸入是否相同')
        return false
      }
      if (
        this.formInput.password.length < 6 ||
        this.formInput.password.length > 12
      ) {
        this.$Swal.fire('密碼不得小於 6 碼或大於 12 碼')
        return false
      }
      return true
    }
  },
  head() {
    return {
      title: '密碼重設 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
