<template>
  <div id="cart-result" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <AppTitleBox :text="'您的訂閱結果與方案'" :titleSize="1.75" />
      <table class="custom-table w-100">
        <thead>
          <tr>
            <th
              v-for="(field, index) in subscriptionFields"
              :key="index + 1"
              scope="col"
              class="bg-lavender text-white py-2"
              >{{ field }}</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ spgResponse.plan_name }}</td>
            <td>{{ spgResponse.plan_cost }}</td>
            <td v-html="spgResponse.plan_cont"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center w-100">
      <AppTitleBox
        :text="'您的結帳資訊'"
        :titleSize="1.75"
        :subText="'本店採用「智富通」第三方金流服務進行付款'"
        :subSize="1.5"
      />
    </div>
    <form class="custom-form">
      <div class="row">
        <!-- 姓名 -->
        <div class="col-md-5">
          <label class="d-block text-small text-right">姓名</label>
        </div>
        <div class="col-md-7">{{ spgResponse.name }}</div>
      </div>
      <div class="row">
        <!-- EMAIL -->
        <div class="col-md-5">
          <label class="d-block text-small text-right">Email</label>
        </div>
        <div class="col-md-7">{{ spgResponse.email }}</div>
      </div>
      <!-- PHONE -->
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">電話</label>
        </div>
        <div class="col-md-7">{{ spgResponse.phone }}</div>
      </div>
      <!-- COMPANY ID -->
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">公司統編</label>
        </div>
        <div class="col-md-7">{{ spgResponse.company_code }}</div>
      </div>
      <!-- RESULT -->
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">訂閱處理結果</label>
        </div>
        <div ref="spgResponseMsg" class="col-md-7">{{
          spgResponse.spagateway_res_msg
        }}</div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button class="btn-success">
              <nuxt-link to="/member/paidplan" class="text-white"
                >檢視我的訂閱方案</nuxt-link
              >
            </button>
            <button class="btn-warning">
              <nuxt-link :to="'/blogs/moneyvip/' + expertId" class="text-white"
                >回專家頁面</nuxt-link
              ></button
            >
            <button class="btn-primary"
              ><nuxt-link to="/vip" class="text-white"
                >重新檢視訂閱方案</nuxt-link
              ></button
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import failMessages from '@/pages/cart_result/fail-messages'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppTitleBox from '@/components/AppTitleBox'

export default {
  name: 'CartResult',
  components: { AppBreadcrumb, AppTitleBox },
  data() {
    return {
      title: '結帳成功',
      isLoading: false,
      spgResponse: {},
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '訂閱方案購物車'
        }
      ],
      subscriptionFields: ['方案名稱', '方案費用', '方案說明']
    }
  },
  computed: {
    expertId() {
      if (!this.spgResponse.myExpert) return ''
      if (!this.spgResponse.myExpert[0]) return ''
      return this.spgResponse.myExpert[0][0]
    },
    failMessages() {
      return failMessages.messages
    }
  },
  async mounted() {
    /*
     * 預防藍新付款成功回此頁時不會執行 nuxtServerInit
     */
    this.isLoading = true
    if (!this.$store.state.user.CName) {
      const cookies = this.$cookies.getAll()
      if (cookies.memberId && cookies.memberAccount) {
        const { data } = await this.$axios.post('member/info', {
          member_account: cookies.memberAccount,
          token: this.$tokenGenerator()
        })
        const userData = data.content.member_data
        this.$store.state.user.memberAccount = cookies.memberAccount
        this.$store.commit('SET_USER', userData)
      } else {
        return this.$router.push('/login')
      }
    }
    const cartItem = JSON.parse(localStorage.getItem('cartItem'))
    const { data } = await this.$axios.post('plan/receiver/result', {
      mp_code: this.$route.query.mp_code,
      MemberNo: cartItem.MemberNo,
      token: this.$tokenGenerator()
    })
    this.spgResponse = data.content
    if (!this.spgResponse.spagateway_res_msg) {
      this.title = '結帳失敗'
      this.spgResponse.spagateway_res_msg =
        '結帳失敗，請重新訂閱（提醒：若使用銀聯卡訂閱，僅限中國地區使用銀聯卡用戶）'
      this.$refs.spgResponseMsg.classList.add('text-mid')
      this.$refs.spgResponseMsg.classList.add('text-danger')
    }
    if (
      !this.spgResponse.spagateway_res_msg ||
      this.failMessages.includes(this.spgResponse.spagateway_res_msg)
    ) {
      this.title = '結帳失敗'
      this.$refs.spgResponseMsg.classList.add('text-mid')
      this.$refs.spgResponseMsg.classList.add('text-danger')
    }
    this.isLoading = false
  },
  head() {
    return {
      // TODO: 依據結帳結果決定標題(結帳成功/結帳失敗)
      title: this.title + ' - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
