<template>
  <div id="newsletter" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!-- start left column -->
      <div class="col-md-8">
        <div class="row">
          <aside class="col-md-4 left-sidebar-lg" id="left-sidebar">
            <div class="sticky">
              <aside
                id="categories_custom-2"
                class="widget widget_categories widget_categories_custom"
              >
                <!-- SIDEBAR MENU -->
                <ProfileUserMenu :activeLink="currentPath" />
                <!-- END MENU -->
              </aside>
            </div>
            <div class="gap-3"></div>
          </aside>
          <div class="col-md-8">
            <AppTitleBox :text="'電子報訂閱/取消'" :titleSize="1.6" />
            <div
              v-for="(info, index) in newsletterInfo"
              :key="index + 1"
              class="newsletter__section d-flex"
            >
              <div class="news__section-img">
                <img
                  :src="info.info_img"
                  alt="news-section-img"
                  width="125"
                  height="254"
                />
              </div>
              <div class="news__section-info">
                <h3 class="news__section__info-title">{{ info.info_title }}</h3>
                <div class="news__section__info-duration mb-1">
                  <span>發報時間：每{{ info.info_time }}發報</span>
                </div>
                <div class="news__section__info-subscribe mb-1">
                  <span>訂閱</span
                  ><input
                    type="checkbox"
                    class="switch"
                    :checked="user.orderstate"
                    @click="handleSetSubscription"
                  />
                </div>
                <div class="news__section__info-send">
                  <span>email本期訂閱內容給好友</span>
                  <input v-model="email" type="text" /><button
                    @click="handleSend"
                    :disabled="isPosting"
                    >{{ isPosting ? '寄送中...' : '寄送' }}</button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end left column -->
      <!-- start right column -->
      <aside class="col-md-4 right-sidebar-lg order-3 order-md-3">
        <template v-for="(ad, index) in ads">
          <AsideAd :ad="ad" :key="index + 1" />
        </template>
      </aside>
      <!-- end right column -->
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AsideAd from '@/components/AsideAd'
import ProfileUserMenu from '@/components/ProfileUserMenu'
import AppTitleBox from '@/components/AppTitleBox'
import newsletterInfoData from '@/pages/member/newsletter/newsletter-info-data'
export default {
  name: 'Newsletter',
  components: {
    AppBreadcrumb,
    AsideAd,
    ProfileUserMenu,
    AppTitleBox
  },
  fetch() {
    this.newsletterInfo = newsletterInfoData.info
  },
  data() {
    return {
      isPosting: false,
      email: '',
      newsletterInfo: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '會員中心', link: '/member' },
        { title: '我的電子報' }
      ],
      ads: []
    }
  },
  computed: {
    ...mapState(['user']),
    currentPath() {
      return this.$route.path
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.topic,
        m.default.vipSubscription,
        m.default.USStock,
        m.default.appLink
      ]
    })
    if (!this.$store.getters.isAuthenticated) {
      this.$Swal.fire('請先登入以進入個人頁面！')
      this.$router.push('/login')
      return false
    }
  },
  methods: {
    async handleSend() {
      if (!this.email)
        return this.$Swal.fire({ icon: 'danger', title: '請輸入收件人的Email' })
      this.isPosting = true
      const { data } = await this.$axios.post('mail/singleMail', {
        email: this.email,
        token: this.$tokenGenerator()
      })
      if (data.message === 'Mail Sent Sucssfully') {
        this.isPosting = false
        return this.$Toast.fire({
          icon: 'success',
          title: `已成功寄信至${this.email}！`
        })
      }
    },
    handleSetSubscription() {
      this.$store.dispatch('TOGGLE_USER_ORDERSTATE')
      this.$Toast.fire({
        icon: 'success',
        title: `訂閱切換成功！`
      })
    }
  },
  head() {
    return {
      title: '我的電子報 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
