/*----------------------------------------------------------------------
    * Insert Your custom css
------------------------------------------------------------------------*/
/*css after this line*/

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.primary {
  color: #b5a03d;
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}
.secondary {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}
.font-family h1,
.font-family h2,
.font-family h3,
.font-family h4,
.font-family h5,
.font-family h6,
.font-family .h1,
.font-family .h2,
.font-family .h3,
.font-family .h4,
.font-family .h5,
.font-family .h6,
.font-family .navbar-nav,
.menu-mobile a,
.u-breadcrumb .breadcrumb-item,
.post-content .tags-list li:first-child {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

body {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

.full-width {
  background: #ffffff !important;
}

.dark-skin.full-width {
  background: #1b1b1b !important;
}

.bg-primary,
.progress-bar,
.badge-primary {
  background-color: #b5a03d !important;
}

.center-backline:before,
.center-backline-lg:before,
.title-arrow:before {
  background-color: #b5a03d !important;
}

.box-title:before {
  border-top-color: #b5a03d;
}

.badge-primary {
  color: #ffffff !important;
}

.fa-stack-sea {
  border: #b5a03d 3px solid;
}

.form-control:focus {
  border-color: #b5a03d;
}

.hover-a:hover .fa-play-circle {
  background: #b5a03d;
  border: #b5a03d 2px solid;
}

.page-link,
.btn-link {
  color: #b5a03d;
}

a:hover {
  color: #b5a03d;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover,
.h1 > a:hover,
.h2 > a:hover,
.h3 > a:hover,
.h4 > a:hover,
.h5 > a:hover,
.h6 > a:hover {
  color: #b5a03d;
}

.hover-a:hover h1 > a,
.hover-a:hover h2 > a,
.hover-a:hover h3 > a,
.hover-a:hover h4 > a,
.hover-a:hover h5 > a,
.hover-a:hover h6 > a,
.hover-a:hover .h1 > a,
.hover-a:hover .h2 > a,
.hover-a:hover .h3 > a,
.hover-a:hover .h4 > a,
.hover-a:hover .h5 > a,
.hover-a:hover .h6 > a,
.hover-a:hover p > a {
  color: #b5a03d;
}

.nav-tabs .nav-link.active {
  color: #b5a03d;
}

.nav-tabs .nav-item.show .nav-link {
  color: #b5a03d;
}

.navbar-nav .dropdown-item:hover,
#main-menu .vertical-tabs .nav-tabs .nav-link.active,
.dropdown-item.active,
.dropdown-item:active,
a {
  color: #b5a03d;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-nav .dropdown-item:hover,
.text-primary {
  color: #b5a03d !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.custom-range::-ms-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-webkit-slider-thumb,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.dropdown-item.active,
.dropdown-item:active {
  background-color: #b5a03d;
}

.dropdown-menu.mega .container,
.dropdown-menu,
.border-primary {
  border-color: #b5a03d !important;
}

.list-group-item.active,
.btn-outline-primary {
  color: #b5a03d;
  border-color: #b5a03d;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.page-link:hover,
.page-item.active .page-link,
.btn-primary,
.btn-outline-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #b5a03d;
  border-color: #b5a03d;
}

.page-link:hover {
  color: #fff;
}

.big-nav .list-group-item.active {
  color: #ffffff;
  background-color: #b5a03d;
  border-color: #b5a03d;
}

.big-nav.carousel-indicators li:hover {
  background-color: #b5a03d;
  color: #ffffff;
}

.hover-a li:hover a {
  color: #b5a03d;
}
.hover-a:hover a.h1,
.hover-a:hover a.h2,
.hover-a:hover a.h3,
.hover-a:hover a.h4,
.hover-a:hover a.h5,
.hover-a:hover a.h6 {
  color: #b5a03d;
}
li:hover a.h5 {
  color: #b5a03d;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #b5a03d;
  border-color: #b5a03d;
}

.sidetabs .nav-link.active:hover {
  border-color: #b5a03d;
}

.card-list li:hover a {
  color: #b5a03d;
}

.nav-block-link li a.nav-link.active,
.nav-block-link1 li a.nav-link.active,
.nav-block-link2 li a.nav-link.active,
.nav-block-link3 li a.nav-link.active,
.nav-block-link4 li a.nav-link.active,
.nav-block-link5 li a.nav-link.active,
.nav-block-link6 li a.nav-link.active,
.nav-block-link7 li a.nav-link.active,
.nav-block-more li a.nav-link.active {
  color: #b5a03d !important;
  background-color: transparent;
}

.nav-block-link li a.nav-link.active,
.nav-block-link li a.nav-link:hover,
.nav-block-link1 li a.nav-link.active,
.nav-block-link1 li a.nav-link:hover,
.nav-block-link2 li a.nav-link.active,
.nav-block-link2 li a.nav-link:hover,
.nav-block-link3 li a.nav-link.active,
.nav-block-link3 li a.nav-link:hover,
.nav-block-link4 li a.nav-link.active,
.nav-block-link4 li a.nav-link:hover,
.nav-block-link5 li a.nav-link.active,
.nav-block-link5 li a.nav-link:hover,
.nav-block-link6 li a.nav-link.active,
.nav-block-link6 li a.nav-link:hover,
.nav-block-link7 li a.nav-link.active,
.nav-block-link7 li a.nav-link:hover,
.nav-block-more li a.nav-link.active,
.nav-block-more li a.nav-link:hover {
  color: #b5a03d;
}

.widget ol li a:hover,
.widget ul li a:hover {
  color: #b5a03d;
}
.owl-carousel button.owl-dot.active {
  background: #b5a03d;
}
.suggestion-box {
  border-top: 4px solid #b5a03d;
}
.side-link li a:hover,
.side-link li a.active,
.sidebar-link li a:hover,
.sidebar-link li a.active {
  background-color: transparent;
  color: #b5a03d;
}

.side-link li ul li a:hover,
.sidebar-link li ul li a:hover {
  color: #b5a03d;
}

.side-link li a.caret-collapse,
.sidebar-link li a.caret-collapse {
  color: #b5a03d;
}

.side-link li a.caret-collapse.collapsed:hover,
.sidebar-link li a.caret-collapse.collapsed:hover {
  color: #b5a03d;
}

.post-number li:hover a::before {
  color: #b5a03d !important;
}

.timeline-post > li a .timeline-date:hover,
.timeline-post > li a .timeline-title:hover {
  color: #b5a03d !important;
}

.hover-mode .main-nav li:hover > a {
  color: #b5a03d;
}

.sidenav-menu li.show > a.dropdown-toggle,
.navbar-light .nav-item:hover > .nav-link {
  color: #b5a03d;
}

.timeline-post > li:hover:before {
  background: #b5a03d !important;
}

.side-link li a.caret-collapse.collapsed,
.sidebar-link li a.caret-collapse.collapsed {
  color: #161616;
}

.bg-secondary {
  background-color: #000000 !important;
}
.main-menu.navbar-dark .navbar-nav > .nav-item.active,
.main-menu.navbar-dark .navbar-nav > .nav-item:hover {
  background: #b5a03d !important;
}
.btn-secondary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:hover {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-secondary {
  color: #000000;
  border-color: #000000;
}

.btn-outline-secondary:hover {
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #000000;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #000000;
  border-color: #000000;
}

.badge-secondary {
  color: #ffffff;
  background-color: #000000;
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
  color: #ffffff;
  background-color: #000000;
}

.alert-secondary .alert-link {
  color: #000000;
}

.list-group-item-secondary {
  color: #000000;
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
  color: #000000;
}

.list-group-item-secondary.list-group-item-action.active {
  background-color: #000000;
  border-color: #000000;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #000000 !important;
}

.border-secondary {
  border-color: #000000 !important;
}

.text-secondary {
  color: #000000 !important;
}
.main-menu.navbar-dark .hover-a:hover .h1 > a,
.main-menu.navbar-dark .hover-a:hover .h2 > a,
.main-menu.navbar-dark .hover-a:hover .h3 > a,
.main-menu.navbar-dark .hover-a:hover .h4 > a,
.main-menu.navbar-dark .hover-a:hover .h5 > a,
.main-menu.navbar-dark .hover-a:hover .h6 > a,
.main-menu.navbar-dark .hover-a:hover h1 > a,
.main-menu.navbar-dark .hover-a:hover h2 > a,
.main-menu.navbar-dark .hover-a:hover h3 > a,
.main-menu.navbar-dark .hover-a:hover h4 > a,
.main-menu.navbar-dark .hover-a:hover h5 > a,
.main-menu.navbar-dark .hover-a:hover h6 > a {
  color: #b5a03d !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item.active,
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item:focus,
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item:hover {
  color: #b5a03d !important;
}
.dark-skin .hover-a:hover .h1 > a,
.dark-skin .hover-a:hover .h2 > a,
.dark-skin .hover-a:hover .h3 > a,
.dark-skin .hover-a:hover .h4 > a,
.dark-skin .hover-a:hover .h5 > a,
.dark-skin .hover-a:hover .h6 > a,
.dark-skin .hover-a:hover h1 > a,
.dark-skin .hover-a:hover h2 > a,
.dark-skin .hover-a:hover h3 > a,
.dark-skin .hover-a:hover h4 > a,
.dark-skin .hover-a:hover h5 > a,
.dark-skin .hover-a:hover h6 > a {
  color: #b5a03d !important;
}
.dark-skin .side-link li a.active,
.dark-skin .side-link li a.caret-collapse.collapsed.active,
.dark-skin .side-link li a.caret-collapse.collapsed:hover,
.dark-skin .side-link li a:hover,
.dark-skin .sidebar-link li a.active,
.dark-skin .sidebar-link li a.caret-collapse.collapsed.active,
.dark-skin .sidebar-link li a.caret-collapse.collapsed:hover,
.dark-skin .sidebar-link li a:hover {
  color: #b5a03d;
}
.next-post-right a:hover,
.prev-post-left a:hover,
.footer-dark a:hover,
.layout-dark a:hover,
.dark-skin .next-post-right > a:hover,
.dark-skin .prev-post-left > a:hover,
.footer-dark a.btn:hover,
.dark-skin a.btn-outline-light:hover strong {
  color: #b5a03d;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:hover {
  background-color: #b5a03d;
  border-color: #b5a03d;
}
.post-page blockquote,
.u-blockquote,
.wp-block-quote {
  border-left: 3px solid #b5a03d;
}
.tags-links a:hover {
  background-color: #b5a03d;
}

.top-section .block-area {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}
.social-top-left li {
  display: inline-block;
}
.grid-six .image {
  width: 100%;
}
.grid-six .caption {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  padding: 2rem;
}

.card-banner {
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  border-radius: 5px;
}
.overlay-cover {
  width: 100%;
  border: #fff 1px solid;
}
.overlay {
  z-index: 10;
  padding: 1.25rem;
  color: #fff;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.banner-shadow {
  border: #fff 1px solid;
  height: 100%;
  width: 100%;
}
.card-banner:hover .overlay {
  background-color: rgba(0, 0, 0, 0.08);
}
.banner-inner {
  padding: 7px 30px;
  background: #fff;
  display: inline-block;
  margin: 0;
}
.banner-inner .title {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .main-menu.navbar-dark .hover-mode .main-nav > li:hover > a,
  .main-menu.navbar-dark .hover-mode .main-nav > li > a.active {
    background-color: #b5a03d !important;
  }
  .main-menu.navbar-dark .hover-mode .main-nav li:hover > a {
    color: #b5a03d !important;
  }
  .main-menu.navbar-dark .hover-mode .main-nav > li:hover > a {
    color: #fff !important;
  }
  .logo-full .main-logo img {
    max-width: 25rem;
  }
  .search-top-right,
  .social-top-left {
    top: 50%;
    margin-top: -23px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .grid-six .image {
    width: 70%;
  }
  .grid-six .caption {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    padding: 2rem;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 400px) {
  .top-space {
    top: 20%;
  }
}

.card-list li a.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-1low {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-2lows {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.bg-category {
  background-image: url('/img/background/bg-category.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-category::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(27, 27, 27, 0.9);
}
.nav-item {
  white-space: nowrap;
}
.submenu {
  padding: 0;
  margin: 0;
}
.submenu ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.submenu li {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: 1px #eee solid;
}
.submenu li:first-child {
  border-left: 0px #eee solid;
}
.submenu li a {
  float: left;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
  padding: 0rem 0.75rem;
}
.submenu li a:hover {
  color: #b5a03d;
}
.nav-item {
  text-transform: none;
}
.us-stock-table {
  width: 100%;
  margin-bottom: 50px;
  font-size: 85%;
}

.us-stock-table thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.us-stock-table tbody tr {
  height: 60px;
}

.us-stock-table tr th,
.us-stock-table tr td {
  text-align: center;
  align-items: center;
  height: 25px;
  padding: 0 5px;
}

.border-right-div {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.border-left-div {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.us-stock-table .text-align-left {
  text-align: left;
}

.us-stock-table tbody tr:nth-child(even) {
  background: #eee;
}

.stock-info {
  display: flex;
  justify-content: space-between;
}

.rate-box {
  display: flex;
  border: 1px solid #a58806;
  border-top: 2px solid #a58806;
  flex-direction: row;
}

.rate-item {
  flex: 1;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0;
}
.rate-item-body {
  flex: 6;
  display: flex;
  flex-direction: row;
}
.rate-item:last-child {
  border-right: 0px;
}
.rate-item-head {
  background-color: #fff;
  color: #000;
}
.below-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #a58806;
  border-top: 2px solid #a58806;
}

.rate-area {
  display: flex;
  align-items: center;
}

.rate-area-box,
.rate-area-box-head {
  height: 2.5rem;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.rate-area-box-end {
  height: 2.5rem;
  border-right: 0px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.text-green {
  color: rgb(21, 157, 21);
}

/* 平板以上介面 */
@media screen and (min-width: 767px) {
  .mobile-show {
    display: none;
  }
}

/* 手機介面 */
@media screen and (max-width: 766px) {
  .mobile-hide {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .submenu {
    display: none;
  }
  .us-stock-table {
    table-layout: fixed;
    /* word-break: break-all; */
    margin-bottom: 10px;
    font-size: 100%;
  }

  .us-stock-table thead tr th {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .us-stock-table .text-align-left {
    text-align: center;
  }

  .us-stock-table .border-right-div {
    border-right: 0px;
  }

  .us-stock-table .mobile-adjust-width {
    width: 200%;
  }

  .us-stock-table .mobile-adjust-align-left {
    text-align: left;
    padding-left: 10px;
  }

  .us-stock-table tr th {
    padding: 0.5rem 0;
    /* margin: 0 25%; */
  }

  .us-stock-table tbody tr td {
    border: 0px solid #ccc;
  }
  .below-container {
    display: flex;
    flex-direction: row;
  }
  .rate-box {
    display: flex;
    flex-direction: column;
  }
  .rate-item {
    margin: 0;
    padding: 0.75rem 0;
  }
  .rate-item-head {
    border-right: 0px;
    background-color: #a58806;
    color: #fff;
  }
}
