<template>
  <div id="topic" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />

        <!-- Block start -->
        <div class="block-area">
          <!--block content-->
          <div class="row">
            <!--post left start-->
            <div class="col-lg-6">
              <AppPostSection2 :post="leftPickerNews" />
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <template v-for="post in rightPickerNews">
                <AppPostSection3 :post="post" :key="post.news_id" />
              </template>
              <!--End post list-->
            </div>
            <!--end post right list-->
          </div>
          <!-- end block content -->
        </div>
        <!--End Block-->
      </div>

      <!-- start left column -->
      <div class="col-md-8">
        <!--Block start-->
        <div class="block-area">
          <!-- block title -->
          <AppBlockTitle5 :text="'專題相關文章'" />
          <!-- block content -->
          <div class="border-bottom-last-0 first-pt-0">
            <template v-for="newsItem in newsList">
              <AppNewsSection2 :news="newsItem" :key="newsItem.news_id" />
            </template>
          </div>
          <!-- end block content -->
        </div>
        <!--end block-->
      </div>
      <!-- end left column -->

      <!--start right sidebar-->

      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <div class="sticky">
          <!-- AD Banner -->
          <template v-for="(ad, index) in ads">
            <AsideAd :key="index + 1" :ad="ad" />
          </template>
          <!-- end AD Banner -->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->
        </div>
      </aside>

      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppPostSection2 from '@/components/AppPostSection2'
import AppPostSection3 from '@/components/AppPostSection3'
import AppNewsSection2 from '@/components/AppNewsSection2'
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppLatestTopics from '@/components/AppLatestTopics'
import AsideAd from '@/components/AsideAd'

export default {
  name: 'Topic',
  components: {
    AppBreadcrumb,
    AppPostSection2,
    AppPostSection3,
    AppNewsSection2,
    AppBlockTitle5,
    AppBlockTitle7,
    AppLatestTopics,
    AsideAd
  },
  async asyncData({ $axios, $tokenGenerator, $timeFilter, $imgPlaceholder }) {
    const { data: pickerNewsData } = await $axios.post('backstage/threeNews', {
      CategoryID: [1039],
      page: 1,
      pageSize: 5,
      enable: [1, 'True'],
      keyword: null,
      token: $tokenGenerator()
    })
    pickerNewsData.content.forEach((item) => {
      item.news_customUrl = item.news_url
      item.news_type = '財經專題'
      item.news_date = $timeFilter(item.PublishTime)
      item.news_img = $imgPlaceholder(item.news_img)
    })
    const { data: newsListData } = await $axios.post('news/internal', {
      news_sub_type: 1796,
      token: $tokenGenerator()
    })
    newsListData.content.forEach((item) => {
      item.news_date = $timeFilter(item.news_updatetime)
      item.news_img = $imgPlaceholder(item.news_img)
    })
    return {
      pickerNews: pickerNewsData.content,
      newsList: newsListData.content
    }
  },
  data() {
    return {
      newsList: [],
      latestTopics: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '新聞bar', link: '/newsbar' },
        { title: '財經專題' }
      ],
      ads: []
    }
  },
  computed: {
    leftPickerNews() {
      return this.pickerNews[0] || {}
    },
    rightPickerNews() {
      return this.pickerNews.slice(1, 5)
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.USStock,
        m.default.vipSubscription,
        m.default.richkid_ad_2
      ]
    })
  },
  head() {
    return {
      title: '財經專題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
