/*----------------------------------------------------------------------
    * Insert Your custom css
------------------------------------------------------------------------*/
/*css after this line*/
@import 'variables';

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.primary {
  color: $moneybar-gold;
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}
.secondary {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}
.font-family h1,
.font-family h2,
.font-family h3,
.font-family h4,
.font-family h5,
.font-family h6,
.font-family .h1,
.font-family .h2,
.font-family .h3,
.font-family .h4,
.font-family .h5,
.font-family .h6,
.font-family .navbar-nav,
.menu-mobile a,
.u-breadcrumb .breadcrumb-item,
.post-content .tags-list li:first-child {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

body {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

.full-width {
  background: #ffffff !important;
}

.dark-skin.full-width {
  background: #1b1b1b !important;
}

.bg-primary,
.progress-bar,
.badge-primary {
  background-color: $moneybar-gold !important;
}

.center-backline:before,
.center-backline-lg:before,
.title-arrow:before {
  background-color: $moneybar-gold !important;
}

.box-title:before {
  border-top-color: $moneybar-gold;
}

.badge-primary {
  color: #ffffff !important;
}

.fa-stack-sea {
  border: $moneybar-gold 3px solid;
}

.form-control:focus {
  border-color: $moneybar-gold;
}

.hover-a:hover .fa-play-circle {
  background: $moneybar-gold;
  border: $moneybar-gold 2px solid;
}

.page-link,
.btn-link {
  color: $moneybar-gold !important;
}

a:hover {
  color: $moneybar-gold !important;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover,
h5 > a:hover,
h6 > a:hover,
.h1 > a:hover,
.h2 > a:hover,
.h3 > a:hover,
.h4 > a:hover,
.h5 > a:hover,
.h6 > a:hover {
  color: $moneybar-gold;
}

.hover-a:hover h1 > a,
.hover-a:hover h2 > a,
.hover-a:hover h3 > a,
.hover-a:hover h4 > a,
.hover-a:hover h5 > a,
.hover-a:hover h6 > a,
.hover-a:hover .h1 > a,
.hover-a:hover .h2 > a,
.hover-a:hover .h3 > a,
.hover-a:hover .h4 > a,
.hover-a:hover .h5 > a,
.hover-a:hover .h6 > a,
.hover-a:hover p > a {
  color: $moneybar-gold;
}

.nav-tabs .nav-link.active {
  color: $moneybar-gold;
}

.nav-tabs .nav-item.show .nav-link {
  color: $moneybar-gold;
}

.navbar-nav .dropdown-item:hover,
#main-menu .vertical-tabs .nav-tabs .nav-link.active,
.dropdown-item.active,
.dropdown-item:active,
a {
  color: $moneybar-gold;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-nav .dropdown-item:hover,
.text-primary {
  color: $moneybar-gold !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
.custom-range::-ms-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-webkit-slider-thumb,
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox
  .custom-control-input:indeterminate
  ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.dropdown-item.active,
.dropdown-item:active {
  background-color: $moneybar-gold;
}

.dropdown-menu.mega .container,
.dropdown-menu,
.border-primary {
  border-color: $moneybar-gold !important;
}

.list-group-item.active,
.btn-outline-primary {
  color: $moneybar-gold;
  border-color: $moneybar-gold;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle,
.page-link:hover,
.page-item.active .page-link,
.btn-primary,
.btn-outline-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $moneybar-gold;
  border-color: $moneybar-gold;
}

.page-link:hover {
  color: #fff !important;
}

.page-item.active .page-link {
  color: #fff !important;
}

.big-nav .list-group-item.active {
  color: #ffffff !important;
  background-color: $moneybar-gold;
  border-color: $moneybar-gold;
}

.big-nav.carousel-indicators li:hover {
  background-color: $moneybar-gold;
  color: #ffffff;
}

.hover-a li:hover a {
  color: $moneybar-gold;
}
.hover-a:hover a.h1,
.hover-a:hover a.h2,
.hover-a:hover a.h3,
.hover-a:hover a.h4,
.hover-a:hover a.h5,
.hover-a:hover a.h6 {
  color: $moneybar-gold;
}
li:hover a.h5 {
  color: $moneybar-gold;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff !important;
  background-color: $moneybar-gold;
  border-color: $moneybar-gold;
}

.sidetabs .nav-link.active:hover {
  border-color: $moneybar-gold;
}

.card-list li:hover a {
  color: $moneybar-gold;
}

.nav-block-link li a.nav-link.active,
.nav-block-link1 li a.nav-link.active,
.nav-block-link2 li a.nav-link.active,
.nav-block-link3 li a.nav-link.active,
.nav-block-link4 li a.nav-link.active,
.nav-block-link5 li a.nav-link.active,
.nav-block-link6 li a.nav-link.active,
.nav-block-link7 li a.nav-link.active,
.nav-block-more li a.nav-link.active {
  color: $moneybar-gold !important;
  background-color: transparent;
}

.nav-block-link li a.nav-link.active,
.nav-block-link li a.nav-link:hover,
.nav-block-link1 li a.nav-link.active,
.nav-block-link1 li a.nav-link:hover,
.nav-block-link2 li a.nav-link.active,
.nav-block-link2 li a.nav-link:hover,
.nav-block-link3 li a.nav-link.active,
.nav-block-link3 li a.nav-link:hover,
.nav-block-link4 li a.nav-link.active,
.nav-block-link4 li a.nav-link:hover,
.nav-block-link5 li a.nav-link.active,
.nav-block-link5 li a.nav-link:hover,
.nav-block-link6 li a.nav-link.active,
.nav-block-link6 li a.nav-link:hover,
.nav-block-link7 li a.nav-link.active,
.nav-block-link7 li a.nav-link:hover,
.nav-block-more li a.nav-link.active,
.nav-block-more li a.nav-link:hover {
  color: $moneybar-gold;
}

.widget ol li a:hover,
.widget ul li a:hover {
  color: $moneybar-gold;
}
.owl-carousel button.owl-dot.active {
  background: $moneybar-gold;
}
.suggestion-box {
  border-top: 4px solid $moneybar-gold;
}
.side-link li a:hover,
.side-link li a.active,
.sidebar-link li a:hover,
.sidebar-link li a.active {
  background-color: transparent;
  color: $moneybar-gold;
}

.side-link li ul li a:hover,
.sidebar-link li ul li a:hover {
  color: $moneybar-gold;
}

.side-link li a.caret-collapse,
.sidebar-link li a.caret-collapse {
  color: $moneybar-gold;
}

.side-link li a.caret-collapse.collapsed:hover,
.sidebar-link li a.caret-collapse.collapsed:hover {
  color: $moneybar-gold;
}

.post-number li:hover a::before {
  color: $moneybar-gold !important;
}

.timeline-post > li a .timeline-date:hover,
.timeline-post > li a .timeline-title:hover {
  color: $moneybar-gold !important;
}

.hover-mode .main-nav li:hover > a {
  color: $moneybar-gold;
}

.sidenav-menu li.show > a.dropdown-toggle,
.navbar-light .nav-item:hover > .nav-link {
  color: $moneybar-gold;
}

.timeline-post > li:hover:before {
  background: $moneybar-gold !important;
}

.side-link li a.caret-collapse.collapsed,
.sidebar-link li a.caret-collapse.collapsed {
  color: #161616;
}

.bg-secondary {
  background-color: #000000 !important;
}
.main-menu.navbar-dark .navbar-nav > .nav-item.active,
.main-menu.navbar-dark .navbar-nav > .nav-item:hover {
  background: $moneybar-gold !important;
}
.btn-secondary {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:hover {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-secondary {
  color: #000000;
  border-color: #000000;
}

.btn-outline-secondary:hover {
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #000000;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  background-color: #000000;
  border-color: #000000;
}

.badge-secondary {
  color: #ffffff;
  background-color: #000000;
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
  color: #ffffff;
  background-color: #000000;
}

.alert-secondary .alert-link {
  color: #000000;
}

.list-group-item-secondary {
  color: #000000;
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
  color: #000000;
}

.list-group-item-secondary.list-group-item-action.active {
  background-color: #000000;
  border-color: #000000;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #000000 !important;
}

.border-secondary {
  border-color: #000000 !important;
}

.text-secondary {
  color: #000000 !important;
}
.main-menu.navbar-dark .hover-a:hover .h1 > a,
.main-menu.navbar-dark .hover-a:hover .h2 > a,
.main-menu.navbar-dark .hover-a:hover .h3 > a,
.main-menu.navbar-dark .hover-a:hover .h4 > a,
.main-menu.navbar-dark .hover-a:hover .h5 > a,
.main-menu.navbar-dark .hover-a:hover .h6 > a,
.main-menu.navbar-dark .hover-a:hover h1 > a,
.main-menu.navbar-dark .hover-a:hover h2 > a,
.main-menu.navbar-dark .hover-a:hover h3 > a,
.main-menu.navbar-dark .hover-a:hover h4 > a,
.main-menu.navbar-dark .hover-a:hover h5 > a,
.main-menu.navbar-dark .hover-a:hover h6 > a {
  color: $moneybar-gold !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item.active,
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item:focus,
.main-menu.navbar-dark
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item:hover {
  color: $moneybar-gold !important;
}
.dark-skin .hover-a:hover .h1 > a,
.dark-skin .hover-a:hover .h2 > a,
.dark-skin .hover-a:hover .h3 > a,
.dark-skin .hover-a:hover .h4 > a,
.dark-skin .hover-a:hover .h5 > a,
.dark-skin .hover-a:hover .h6 > a,
.dark-skin .hover-a:hover h1 > a,
.dark-skin .hover-a:hover h2 > a,
.dark-skin .hover-a:hover h3 > a,
.dark-skin .hover-a:hover h4 > a,
.dark-skin .hover-a:hover h5 > a,
.dark-skin .hover-a:hover h6 > a {
  color: $moneybar-gold !important;
}
.dark-skin .side-link li a.active,
.dark-skin .side-link li a.caret-collapse.collapsed.active,
.dark-skin .side-link li a.caret-collapse.collapsed:hover,
.dark-skin .side-link li a:hover,
.dark-skin .sidebar-link li a.active,
.dark-skin .sidebar-link li a.caret-collapse.collapsed.active,
.dark-skin .sidebar-link li a.caret-collapse.collapsed:hover,
.dark-skin .sidebar-link li a:hover {
  color: $moneybar-gold;
}
.next-post-right a:hover,
.prev-post-left a:hover,
.footer-dark a:hover,
.layout-dark a:hover,
.dark-skin .next-post-right > a:hover,
.dark-skin .prev-post-left > a:hover,
.footer-dark a.btn:hover,
.dark-skin a.btn-outline-light:hover strong {
  color: $moneybar-gold;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary:hover {
  background-color: $moneybar-gold;
  border-color: $moneybar-gold;
}
.post-page blockquote,
.u-blockquote,
.wp-block-quote {
  border-left: 3px solid $moneybar-gold;
}
blockquote {
  border-left: 3px solid $moneybar-gold;
  background: #f6f6f6;
  padding: 1rem;
  &::before {
    margin-right: 10px;
    position: relative;
  }
  p {
    display: inline;
  }
}
.tags-links a:hover {
  background-color: $moneybar-gold;
}

.top-section .block-area {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}
.social-top-left li {
  display: inline-block;
}
.grid-six .image {
  width: 100%;
}
.grid-six .caption {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  padding: 2rem;
}

.card-banner {
  margin-bottom: 1.5rem;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  border-radius: 5px;
}
.overlay-cover {
  width: 100%;
  border: #fff 1px solid;
}
.overlay {
  z-index: 10;
  padding: 1.25rem;
  color: #fff;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.banner-shadow {
  border: #fff 1px solid;
  height: 100%;
  width: 100%;
}
.card-banner:hover .overlay {
  background-color: rgba(0, 0, 0, 0.08);
}
.banner-inner {
  padding: 7px 30px;
  background: #fff;
  display: inline-block;
  margin: 0;
}
.banner-inner .title {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .main-menu.navbar-dark .hover-mode .main-nav > li:hover > a,
  .main-menu.navbar-dark .hover-mode .main-nav > li > a.active {
    background-color: $moneybar-gold !important;
  }
  .main-menu.navbar-dark .hover-mode .main-nav li:hover > a {
    color: $moneybar-gold !important;
  }
  .main-menu.navbar-dark .hover-mode .main-nav > li:hover > a {
    color: #fff !important;
  }
  .logo-full .main-logo img {
    max-width: 25rem;
  }
  .search-top-right,
  .social-top-left {
    top: 50%;
    margin-top: -23px;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .grid-six .image {
    width: 70%;
  }
  .grid-six .caption {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    padding: 2rem;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 400px) {
  .top-space {
    top: 20%;
  }
}

.card-list li a.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-1low {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.ellipsis-2lows {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.bg-category {
  background-image: url('/img/background/bg-category.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-category::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: rgba(27, 27, 27, 0.9);
}
.nav-item {
  white-space: nowrap;
}
.submenu {
  padding: 0;
  margin: 0;
}
.submenu ul {
  width: 100%;
  padding: 0;
  margin: 0;
}
.submenu li {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  border-left: 1px #eee solid;
}
.submenu li:first-child {
  border-left: 0px #eee solid;
}
.submenu li a {
  float: left;
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
  padding: 0rem 0.75rem;
}
.submenu li a:hover {
  color: $moneybar-gold;
}
.nav-item {
  text-transform: none;
}
.us-stock-table {
  width: 100%;
  margin-bottom: 50px;
  font-size: 85%;
}

.us-stock-table thead {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.us-stock-table tbody tr {
  height: 60px;
}

.us-stock-table tr th,
.us-stock-table tr td {
  text-align: center;
  align-items: center;
  height: 25px;
  padding: 0 5px;
}

.border-right-div {
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.border-left-div {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

.us-stock-table .text-align-left {
  text-align: left;
}

.us-stock-table tbody tr:nth-child(even) {
  background: #eee;
}

.stock-info {
  display: flex;
  justify-content: space-between;
}

.rate-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #a58806;
  border-top: 2px solid #a58806;
}

.rate-item {
  flex: 1;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.75rem 0;
}
.rate-item-body {
  flex: 6;
  display: flex;
  flex-direction: row;
}
.rate-item:last-child {
  border-right: 0px;
}
.rate-item-head {
  border-right: 0px;
  background-color: #a58806;
  color: #fff;
}

.below-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #a58806;
  border-top: 2px solid #a58806;
}

.rate-area {
  display: flex;
  align-items: center;
}

.rate-area-box,
.rate-area-box-head {
  height: 2.5rem;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.rate-area-box-end {
  height: 2.5rem;
  border-right: 0px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.text-green {
  color: rgb(21, 157, 21);
}

.login-area {
  background: #f7f7f7;
}
.form-control {
  min-height: 41px;
  background: #fff;
  border-color: #e3e3e3;
  box-shadow: none !important;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #99c432;
}
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 100px 0 50px;
}
.login-form form,
.login-form section {
  color: #999;
  border-radius: 10px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}
.login-form h2 {
  font-size: 24px;
  color: #454959;
  margin: 45px 0 25px;
  font-family: 'Francois One', sans-serif;
}
.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #70c5c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
  width: 100%;
}
.login-form .btn {
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.social-btn {
  display: flex;
  flex-direction: column;
  button {
    position: relative;
    margin-bottom: 5px;
  }
  .btn {
    border: none;
    opacity: 1;
    &:hover {
      opacity: 0.9;
      text-decoration: none;
    }
  }
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #fff;
  position: relative;
  top: -11px;
  z-index: 1;
}
.login-form form a {
  color: #999;
  text-decoration: none;
}
.login-form a:hover,
.login-form form a:hover {
  text-decoration: none;
}
.login-form form a:hover {
  text-decoration: none;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading .accordion-toggle:before {
  content: '\f146';
  font-family: 'Font Awesome 5 Free';
  color: $moneybar-gold;
  margin-right: 5px;
}
.panel-heading .accordion-toggle.collapsed:before {
  content: '\f0fe';
  font-family: 'Font Awesome 5 Free';
  margin-right: 5px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > .small,
.panel-title > .small > a,
.panel-title > a,
.panel-title > small,
.panel-title > small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel
  > .panel-collapse
  > .list-group:first-child
  .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel
  > .panel-heading
  + .panel-collapse
  > .list-group
  .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.profile-usermenu {
  margin-top: 30px;
}
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  padding: 1px;
}
.profile-usermenu ul li:last-child {
  border-bottom: none;
}
.profile-usermenu ul li a {
  color: #666;
}
.profile-usermenu ul li a i {
  margin-left: 15px;
  margin-right: 8px;
}
.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: $moneybar-gold;
}
.profile-usermenu ul li.active {
  border-bottom: none;
}
.profile-usermenu ul li.active a {
  color: $moneybar-gold;
  background-color: #f6f9fb;
  border-left: 2px solid $moneybar-gold;
  margin-left: -2px;
}
.kidsbar {
  min-height: 600px;
  padding-top: 80px;
  background: #f6f6f6 url('/img/kidsbar/bg.png') no-repeat bottom;
  background-size: contain;
}
.kidsbar-img {
  width: 20rem;
  height: 20rem;
}

/* 平板以上介面 */
@media screen and (min-width: 767px) {
  .mobile-show {
    display: none;
  }
}

/* 手機介面 */
@media screen and (max-width: 766px) {
  .mobile-hide {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .submenu {
    display: none;
  }
  .us-stock-table {
    table-layout: fixed;
    /* word-break: break-all; */
    margin-bottom: 10px;
    font-size: 100%;
  }

  .us-stock-table thead tr th {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .us-stock-table .text-align-left {
    text-align: center;
  }

  .us-stock-table .border-right-div {
    border-right: 0px;
  }

  .us-stock-table .mobile-adjust-width {
    width: 200%;
  }

  .us-stock-table .mobile-adjust-align-left {
    text-align: left;
    padding-left: 10px;
  }

  .us-stock-table tr th {
    padding: 0.5rem 0;
    /* margin: 0 25%; */
  }

  .us-stock-table tbody tr td {
    border: 0px solid #ccc;
  }
  .below-container {
    display: flex;
    flex-direction: row;
  }

  .rate-box {
    border: 0;
    .rate-item-body {
      flex-direction: column;
      .rate-item {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        &:last-child {
          border-right: 1px solid rgb(200, 200, 200);
        }
        span:first-child {
          display: block;
          height: 100%;
          width: 50%;
          background: #a58806;
          color: #fff;
          text-align: center;
          border-top: 1px solid #fff;
          border-right: 1px solid #fff;
          padding: 12px 0;
        }
        span:last-child {
          display: block;
          height: 100%;
          width: 50%;
          padding: 12px 0;
          border-left: 1px solid #fff;
          background: rgb(200, 200, 200);
        }
      }
    }
  }
}
