@import 'variables';
@import 'mixins';

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body {
  user-select: none;
}

strong {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

button {
  i,
  span {
    pointer-events: none !important;
  }
}

figure.media {
  > div {
    height: 400px;
    width: 100%;
  }
}

// Custom Switch Button
input[type='checkbox'].switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.75em;
  height: 1.5em;
  background: silver;
  border-radius: 1.5em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:checked {
    background: navy;
  }
  &:after {
    position: absolute;
    content: '';
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  &:checked:after {
    left: calc(100% - 1.5em);
  }
}

@include customColor('text-red', 'color', red);
@include customColor('text-brown', 'color', brown);
@include customColor('text-green', 'color', green);
@include customColor('text-navy', 'color', navy);
@include customColor('text-blue', 'color', blue);
@include customColor('text-moneybar', 'color', $moneybar-gold);
@include customColor('bg-silver', 'background', rgb(240, 240, 240));
@include customColor('bg-lavender', 'background', rgb(63, 39, 80));
@include customColor('bg-light-gray', 'background', rgba(199, 199, 199, 0.785));
@include customColor('bg-chocolate', 'background', #ba9265);
@include customColor('bg-goldenrod', 'background', #c9ae59);
@include customColor('bg-wheat', 'background', #f6d365);
@include customColor('text-marked', 'background', yellow);

.scrollable {
  overflow-y: scroll;
}

.marker- {
  &yellow {
    background: yellow;
  }
  &green {
    background: chartreuse;
  }
  &blue {
    background: aqua;
  }
  &pink {
    background: pink;
  }
}

.pen- {
  &green {
    color: green;
  }
  &red {
    color: red;
  }
}

.shadowed {
  text-shadow: 3px 3px 5px #000;
}

.custom-table {
  border: 1px solid rgb(200, 200, 200);
  border-bottom: none;
  th {
    border-bottom: 2px solid rgb(63, 39, 80);
    border-right: 1px solid rgb(200, 200, 200);
    text-align: center;
    font-size: 1rem;
  }
  th.bb {
    border-bottom: 1px solid rgb(200, 200, 200);
  }
  td {
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
  }
  .thead- {
    &case- {
      &name {
        width: 120px;
      }
      &fee {
        width: 148px;
      }
      &subs {
        width: 147px;
      }
      &nextpay {
        width: 147px;
      }
      &edit {
        width: 158px;
      }
    }
  }
}

.mobile-search-input {
  overflow-y: hidden;
  transition: height 0.3s;
}

.loading {
  position: absolute;
  // z-index: 1;
  // background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.custom-form {
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 2rem;
  label {
    display: block;
    text-align: right;
    margin: 0;
  }
  input[type='text'] {
    width: 100%;
  }
  select {
    min-width: 20%;
    height: 36px;
    margin-bottom: 5px;
  }
  span {
    display: block;
    text-align: center;
  }
  > div {
    // remove .row default margin
    margin: 0;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 10px 0;
    align-items: center;
    label,
    input,
    button,
    span {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 767.98px) {
    label,
    span {
      text-align: left;
    }
    select {
      min-width: 40%;
    }
  }

  .agree__checkbox {
    border: 2px solid #000;

    label {
      position: relative;
      line-height: 1.4;
      margin-left: 10px;
    }

    input[type='checkbox'] {
      width: 1em;
      font-size: inherit;
      margin: 0;
      transform: translateX(-9999px);
    }
    input[type='checkbox'] + label:before {
      position: absolute;
      content: '';
      left: -1.3em;
      top: 0.2em;
      width: 1em;
      height: 1em;
      margin: 0;
      border: none;
      border-radius: 10%;
      background-color: #bbbbbb;
    }
    input[type='checkbox'] + label:after {
      position: absolute;
      content: '';
      left: -1.3em;
      top: 0.2em;
      width: 1em;
      height: 1em;
      margin: 0;
      border: none;
      background-color: white;
      border-radius: 10%;
      transform: scale(0.8);
    }
    /*checked*/
    input[type='checkbox']:checked + label:before {
      position: absolute;
      content: '';
      left: -1.3em;
      top: 0.2em;
      width: 1em;
      height: 1em;
      margin: 0;
      border: none;
      background-color: #3b88fd;
    }
    input[type='checkbox']:checked + label:after {
      position: absolute;
      content: '\2713';
      left: -1.3em;
      top: 0.2em;
      width: 1em;
      height: 1em;
      margin: 0;
      border: none;
      background-color: #3b88fd;
      border-radius: 10%;
      color: white;
      text-align: center;
      line-height: 1;
    }
    /*focused*/
    input[type='checkbox']:focus + label:before {
      border: 0.1em solid #8eb9fb;
      box-shadow: 0 0 0.2em #3b88fd;
    }
  }
}

.text-strong {
  font-size: 2.5rem;
  font-weight: bold;
  color: $moneybar-gold;
}

.text-small {
  font-size: 1rem;
}

.text-mid {
  font-size: 1.5rem !important;
}

.text-lg {
  font-size: 2rem !important;
}

.table td span::after {
  content: '';
}

.tags-link:hover {
  color: #fff !important;
}

.social-btn {
  i {
    position: absolute;
    left: 60px;
    top: 14px;
  }
}

.custom-shadow {
  box-shadow: 3px 3px 5px 3px #9999;
}

// .thead- {
//   &age {
//     min-width: 150px;
//   }
//   &labor {
//     min-width: 600px;
//   }
//   &retire {
//     min-width: 447px;
//   }
// }

.thead-etf- {
  &price {
    min-width: 50px;
  }
  &interest {
    min-width: 300px;
  }
  &exchange {
    min-width: 100px;
  }
  &pre-dis,
  &turnover {
    min-width: 50px;
  }
}

.btn-blue {
  color: #fff;
  background: blue;
}

.btn-green {
  color: #fff;
  background: green;
}

.google-link,
.apple-link {
  width: 127px;
}

#app-menu {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      border: none;
      a {
        font-family: '微軟正黑體';
      }
    }
  }

  #navbarhome {
    font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif !important;
    font-weight: bolder;
  }

  li.icon-plus-minus > a {
    &::after {
      content: '\f067' !important;
    }
  }

  li.icon-plus-minus.show > a {
    &::after {
      content: '\f068' !important;
    }
  }

  .menu-mobile a {
    margin-right: 20px;
  }

  .close-btn {
    color: rgb(150, 150, 150);
    background: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 50%;
    line-height: 2.5rem;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: rgb(150, 150, 150);
    }
  }

  #side-menu {
    a {
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 1.5rem;
    }
  }

  .dynamic__submenu {
    h5 {
      font-size: 1.25rem;
    }
    a {
      font-size: 1rem;
      font-weight: bold;
    }
    margin-bottom: 20px;
  }

  .aside-footer {
    width: 100%;
    hr {
      margin: 0 0 1rem 0.75rem;
    }
    .list-group-item {
      color: #000;
      font-size: 0.85rem;
      padding: 0.125rem 1.5rem;
      &:hover {
        color: #b5a03d;
      }
    }
    .icon-bar {
      width: 55%;
      margin: 1rem auto;
      a {
        padding: 0 0.25rem;
        font-size: 1.25rem;
        color: rgb(120, 120, 120);
        &:hover {
          color: #b5a03d;
        }
      }
    }
  }

  .submenu li a {
    padding-right: 1rem;
  }

  .dynamic__submenu {
    z-index: 9999;
    background: #fff;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s;
    left: 100vw;
    height: 100%;
  }

  .sub-item {
    border-bottom: 1px solid rgb(222, 226, 230);
  }

  .dynamic__submenu__header {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    background: #fff8d7;
    .dynamic__submenu__header-icon {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      margin-right: 2rem;
    }
    .dynamic__submenu__header-text {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .dynamic__submenu__content {
    padding: 1rem 3rem 8rem 1rem;
  }
}

.mobile-content {
  .mobile-content__header {
    padding: 0 1.5rem;
    a {
      font-size: 1rem;
      font-weight: bold;
      &:hover {
        color: #977c00;
      }
    }
  }
  hr {
    margin: 0 0 1rem 0.75rem;
  }
}

@media (min-width: 992px) {
  .wrapper::before,
  .mobile-side {
    display: none;
  }
  .menu-mobile {
    width: 1px;
    padding: 0;
    transition: width 0.3s;
  }
}

@media (max-width: 993px) {
  .footer-app {
    display: flex;
    justify-content: space-around;
    .apple-link {
      margin-right: 0.5rem;
    }
    .google-link {
      margin-left: 0.5rem;
    }
  }
  .footer-items {
    h3 {
      text-align: center;
      // border: none !important;
      font-size: 1.5rem !important;
    }

    .before-arrow li {
      &:before {
        content: '';
        margin: 0;
      }
      a {
        display: block;
        text-align: center;
      }
    }
  }
}

@media (min-width: 576px) {
  .menu-mobile {
    width: 32.5%;
  }
  .sidenav-left-open .back-menu {
    left: 32.5%;
  }
}

.login-link {
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.custom-search {
  margin-right: 5px;
  img {
    margin-top: -2px;
  }
}

.footer-items {
  font-family: '微軟正黑體';
  .widget-title {
    font-weight: bold;
  }
  li::before,
  .widget-title,
  & {
    font-size: 1rem;
  }
}

#footer {
  border-top: 1px solid #fff;
  box-shadow: 3px 3px 10px 3px rgba(100, 100, 100, 0.6);
}

.mobile-logo {
  width: 200px;
}

.expert-info-profile__wrapper {
  border: 1px solid #b5a03d;
  padding: 1rem;
}

.expert-info-profile__left {
  a:hover {
    color: #fff !important;
  }
}

.expert-info-profile__right {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.dynamic__submenu__content-link {
  font-size: 1.25rem !important;
}

.cut-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination--loading {
  .page-link {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}

.pc__info {
  display: flex;
  .pc__info-img {
    img {
      width: 360px;
    }
  }
  .pc__info-hr {
    height: 1px;
    border-bottom: 2px solid $moneybar-gold;
  }
  .pc__info-title {
    font-size: 28px;
    margin: 10px;
    padding-left: 13px;
    line-height: 42px;
    border-left: 10px solid rgb(63, 39, 80);
  }
  .pc__info-content {
    font-size: 20px;
    margin: 15px;
  }
  @media (max-width: 767.98px) {
    & {
      flex-direction: column;
      align-items: center;
    }
  }
}

.pc__form {
  .pc__form-title {
    border-top: 6px solid rgb(63, 39, 80);
    border-bottom: 3px solid #9583b2;
    padding: 15px 5px;
    h3 {
      font-size: 1.9rem !important;
    }
  }
  .pc__form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    label {
      width: 70%;
      font-size: 1.5rem;
    }
    select,
    input {
      width: 20%;
      font-size: 1.5rem;
    }
    @media (max-width: 767.98px) {
      & {
        flex-direction: column;
        label,
        select,
        input {
          width: 100%;
        }
      }
    }
  }
}

#app-news-content {
  .post-content {
    img {
      height: auto !important;
    }
    iframe {
      width: 100% !important;
      min-height: 400px !important;
    }
  }
}

#article {
  #app-post-section4 {
    .card-title {
      @media (max-width: 767.98px) {
        font-size: 1.5rem;
      }
    }
  }
}

#form-inputer {
  position: relative;
  .form-inputer__required-icon {
    position: absolute;
    font-size: 1.5rem;
    color: red;
    right: -1rem;
    top: 0.7rem;
  }
}

#app-title-box {
  margin: 20px 0;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // width: 100%;
  .app-title-box__text {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.5rem;
    .app-title-box__text-border {
      margin-right: 1rem;
    }
    .app-title-box__text-content {
      padding-right: 2.5rem;
      position: relative;
      top: 2px;
    }
  }
  .app-title-box__sub {
    font-size: 1.8rem;
    padding-left: 2.5rem;
    line-height: 2rem;
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: flex-start;
    .app-title-box__sub {
      padding-left: 0;
      border-left: 0 !important;
    }
  }
}

#qa {
  min-height: 520px;
  max-width: 800px;
  & {
    @media (max-width: 767.98px) {
      padding: 20px 10px 40px 10px;
    }
  }
  a {
    color: #000;
  }
  .icon {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
  .qa-vip-bill {
    background-image: url('/img/icons/qa-vip-bill.png');
    background-size: 50px;
  }
  .qa-vip-subscription {
    background-image: url('/img/icons/001.png');
    background-size: 50px;
  }
  .qa-customer-service {
    background-image: url('/img/icons/002.png');
    background-size: 50px;
  }
  .qa__wrapper {
    margin-top: 20px;
    .qa__wrapper__box {
      height: 140px;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 5px;
      padding: 30px 50px;

      transition: box-shadow 0.3s;
      &:hover {
        box-shadow: 3px 3px 12px #000;
      }
      .qa__wrapper__box-icon {
        width: 70px;
        height: 75px;
        text-align: center;
        font-size: 50px;
      }
      .qa__wrapper__box-text {
        .qa__wrapper__box-title {
          font-size: 18px;
          margin: 0;
        }
        .qa__wrapper__box-desc {
          font-size: 13px;
        }
      }
    }
  }
}

.badge.badge-primary:hover {
  color: inherit !important;
}

.hover-white:hover {
  background: #fff !important;
  color: #000 !important;
}

.btn.btn-outline-primary:hover {
  color: #fff !important;
}

#privacy {
  .privacy__enhance {
    &::before {
      content: '•';
    }
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(51, 51, 51);
  }
  .privacy__law {
    counter-reset: num;
    .privacy__law-content {
      font-size: 1rem;
      color: rgb(51, 51, 51);
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgb(200, 200, 200);
      &::before {
        counter-increment: num;
        content: counter(num);
        font-weight: 800;
        font-size: 1.25rem;
        margin-right: 0.5rem;
        color: rgb(183, 163, 145);
      }
    }
  }
  .privacy__declare {
    .privacy__declare-content {
      &::before {
        content: '•';
      }
      font-size: 1rem;
      color: rgb(51, 51, 51);
      margin-bottom: 1.85rem;
    }
  }
}

#advertisement {
  // max-width: 600px;
  > * {
    margin-bottom: 35px;
    color: rgb(63, 39, 80);
    &:first-child {
      margin-bottom: 20px;
      color: #000;
    }
  }
  .advertisement__text {
    font-size: 1rem;
  }
  .advertisement__text--bold {
    font-size: 1rem;
    font-weight: 700;
  }
  .advertisement__list {
    counter-reset: num;
    .advertisement__list-item {
      font-size: 1rem;
      color: rgb(51, 51, 51);
      &::before {
        counter-increment: num;
        content: counter(num);
        font-weight: 700;
        font-size: 1.25rem;
        margin-right: 0.5rem;
        color: rgb(192, 140, 117);
      }
    }
  }
  .advertisement__contact {
    border: 1px #b8b8b8 solid;
    padding: 20px 15px 20px 15px;
    .advertisement__contact-text {
      color: rgb(51, 51, 51);
      font-size: 1rem;
    }
  }
}

#retirement {
  .retirement__info {
    font-size: 1.25rem;
    margin: 1.5rem 0;
    border: 1px solid rgb(200, 200, 200);
    border-top: 6px solid rgb(63, 39, 80);
    table {
      table-layout: fixed;
      @media (max-width: 1000px) {
        td {
          padding-left: 0;
        }
        font-size: 1rem;
      }
      @media (max-width: 750px) {
        font-size: 0.75rem;
      }
    }
    .retirement__info-desc {
      padding: 1rem;
    }
    .retirement__info-title {
      @media (max-width: 1000px) {
        span:first-child {
          font-size: 1rem;
        }
        span:last-child {
          font-size: 1rem;
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .retirement__info-data {
      .retirement__info__data-item {
        font-size: 1.25rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .retirement__info__data-item--border {
        font-size: 1.25rem;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(200, 200, 200);
      }
    }
  }
  .retirement-btn {
    border-radius: 40px;
    padding: 20px 40px;
    background-color: #cc9966;
    border: 0px solid #ffffff;
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

#watchlist {
  .watchlist__nav {
    .watchlist__nav-item {
      width: 100%;
      text-align: center;
      background: rgb(200, 200, 200);
      .watchlist__nav-link {
        color: #000;
        font-size: 1.75rem;
        display: block;
        border-top: 6px solid rgb(200, 200, 200);
      }
      .active {
        background: #fff;
        border-color: rgb(63, 39, 80);
      }
    }
  }
  .watchlist__tag {
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    border-bottom: 0;
    font-weight: 800;
    color: #333;
    font-size: 1.25rem;
    padding: 0.75rem;
  }
}

#profile-retirement {
  .profile-retirement__texts {
    @media (max-width: 767.98px) {
      .profile-retirement__texts-item {
        font-size: 1rem;
      }
      .text-strong {
        font-size: 1rem;
      }
    }
  }
  .profile-retirement__texts-item {
    font-size: 1.75rem;
    &:first-child {
      padding-bottom: 0.5rem;
    }
  }
}

.myfqscore__info-title {
  font-weight: 900;
  font-size: 26px;
  color: #9e4b96;
}
.myfqscore__info-content {
  .myfqscore__info__content-sub {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
  }
  .myfqscore__info__content-p {
    font-size: 1.5rem;
    margin-top: 20px;
  }
}

.myfqscore__info-button:hover {
  background: #fff;
}

#newsletter {
  .newsletter__section {
    border: 1px solid rgb(200, 200, 200);
    height: 175px;
    overflow: hidden;
    margin-bottom: 1.25rem;
    .news__section-info {
      padding: 5px 0px 10px 15px;
      font-size: 1rem;
      color: #555;
      .news__section__info-title {
        font-size: 1.25rem;
        font-weight: 800;
        color: #000;
      }
      .news__section__info-subscribe {
        display: flex;
        align-items: center;
        span {
          margin-right: 0.5rem;
        }
      }
      .news__section__info-send {
        input {
          height: 26px;
        }
        button {
          background: #8ba3bf;
          color: #fff;
          border: 1px solid rgb(200, 200, 200);
          border-left: 0;
        }
      }
    }
  }
}

#cart {
  .cart__check-info {
    border: 1px solid rgb(200, 200, 200);
  }
}

#my-subscription {
  ol {
    padding-left: 1rem;
  }
  .my-subscription__info {
    font-size: 1rem;
  }
  .my-subscription__cases {
    table {
      width: 1200px;
    }
  }
}

#app-read-aloud {
  button {
    width: 146px;
  }
}

#changeModalDialog {
  width: 100%;
  max-width: 1250px;
}

#app-article-section {
  .app-article-section__title {
    width: 80%;
    @media (max-width: 932px) {
      & {
        width: 75%;
      }
    }
    @media (max-width: 767.98px) {
      & {
        width: 70%;
      }
    }
  }
}

.pagination__search {
  margin-left: 20px;
  input {
    width: 50px;
    margin: 0 10px;
    border: 1px solid #bbb;
  }
}

#fb-share-button {
  border-radius: 5px;
  width: 68px;
  &:hover,
  a:hover,
  i:hover {
    color: #fff;
  }
  a,
  i {
    font-size: 15px;
  }
}

.app__audio__player {
  background-color: rgb(240, 240, 240);
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .btn {
    cursor: pointer;
    opacity: 0.9;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    -webkit-user-select: none;
    user-select: none;
    font-size: 25px;
    padding: 1rem;
    margin-left: 10px;
    border: 1px solid $moneybar-gold;
    background: $moneybar-gold;
    color: #fff;
    border-radius: 50%;
  }
  .btn:hover {
    opacity: 1;
  }

  .player-banner {
    width: 150px;
    height: 150px;
    margin-right: 0.5rem;
  }

  .player-banner img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  @media (max-width: 767.98px) {
    .player-banner,
    .player-banner img {
      width: 100px;
      height: 100px;
    }
    #timer,
    #duration {
      font-size: 12px;
    }
    .progress-wrapper {
      height: 0.2rem;
    }
    .btn {
      font-size: 18px;
      padding: 0.5rem;
    }
  }

  .progress-wrapper {
    height: 0.5rem;
    width: 80%;
    background-color: #aaa;
    cursor: pointer;
  }

  .player-controllers {
    align-self: center;
  }

  #progress {
    height: 100%;
    background-color: #666;
    z-index: 100;
  }

  #timer,
  #duration {
    width: 10%;
    min-width: 30px;
  }

  #duration {
    text-align: right;
  }

  #playerBar {
    display: flex;
    height: 100%;
    overflow: hidden;
    align-items: flex-end;
    .player-bar__inner {
      background-color: #ccc;
      border: 0.5px solid #000;
      transform: rotate(0.5turn);
      animation-name: player-bar__inner-anime;
      animation-direction: alternate;
      height: 20%;
    }
    @keyframes player-bar__inner-anime {
      0% {
        height: 20%;
      }
      100% {
        height: 80%;
      }
    }
  }

  /* Loading */
  #loading {
    width: 25px;
    height: 25px;
    display: none;
  }

  #track-parent {
    width: 100%;
    overflow: hidden;
    margin: 0;
    height: 40px;
    position: relative;
    #track {
      display: inline-block;
      white-space: nowrap;
      position: absolute;
    }
    .track-moving {
      animation: marquee 15s linear infinite;
    }
  }
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  /* Fade-In */
  .fadeout {
    webkit-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
  }
  .fadein {
    webkit-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-ms-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
