<template>
  <div id="newsbar" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--submenu-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End submenu-->

        <!-- Block start -->
        <div class="block-area">
          <!--block content-->
          <div class="row">
            <!--post left start-->
            <div class="col-lg-6">
              <AppPostSection2 :post="leftPost" />
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <template v-for="post in rightPosts">
                <AppPostSection3 :post="post" :key="post.post_id" />
              </template>
              <!--End post list-->
            </div>
            <!--end post right list-->
          </div>
          <!-- end block content -->
        </div>
        <!--End Block-->

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in threeNews">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>

      <!--start left column-->
      <div class="col-md-8">
        <!--最新新聞-->
        <AppLatestNews />
        <!--End 最新新聞-->
      </div>
      <!--end left column-->

      <!--start right sidebar-->
      <aside
        v-if="deviceType === 'tablet'"
        class="col-md-4 right-sidebar-lg d-none d-md-block"
      >
        <div class="sticky">
          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppPostSection1 from '@/components/AppPostSection1'
import AppPostSection2 from '@/components/AppPostSection2'
import AppPostSection3 from '@/components/AppPostSection3'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppLatestTopics from '@/components/AppLatestTopics'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AsideAd from '@/components/AsideAd'
import AppLatestNews from '@/components/AppLatestNews'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'Newsbar',
  components: {
    AppSubmenu,
    AppPostSection1,
    AppPostSection2,
    AppPostSection3,
    AppBlockTitle7,
    AppLatestTopics,
    AppLatestVIPArticles,
    AsideAd,
    AppLatestNews
  },
  async asyncData({ $axios, $tokenGenerator, $imgPlaceholder, $timeFilter }) {
    const { data: headNewsData } = await $axios.post('backstage/threeNews', {
      CategoryID: [1003],
      enable: ['True'],
      keyword: null,
      page: 1,
      pageSize: 5,
      token: $tokenGenerator()
    })
    const { data: threeNewsObj } = await $axios.post('video/videobar', {
      video_type: [1780, 1779, 1796],
      video_count: 1,
      token: $tokenGenerator()
    })
    const threeNewsMap = {
      '1780': '狂理財',
      '1779': '智能News',
      '1796': '財經專題'
    }
    const threeNewsData = []
    for (const key in threeNewsObj.content.video) {
      threeNewsData.push({
        news_id: threeNewsObj.content.video[key][0].Id,
        news_title: threeNewsObj.content.video[key][0].Title,
        news_img: $imgPlaceholder(
          threeNewsObj.content.video[key][0].Image.replace('/246', '')
        ),
        Content: threeNewsObj.content.video[key][0].Intro,
        PublishTime: threeNewsObj.content.video[key][0].PublishTime,
        news_type: threeNewsMap[key]
      })
    }
    return {
      headNews: headNewsData.content.map((news) => ({
        ...news,
        news_type: news.news_category,
        news_date: $timeFilter(news.PublishTime),
        news_content: news.Content
      })),
      threeNews: threeNewsData
    }
  },
  data() {
    return {
      headNews: [],
      threeNews: [],
      posts: [],
      news: [],
      latestTopics: [],
      latestArticles: [],
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    leftPost() {
      return this.headNews[0]
    },
    rightPosts() {
      return this.headNews.slice(1, 5)
    },
    menuItems() {
      for (let i = 0; i < menuConfig.menu.length; i++) {
        if (menuConfig.menu[i].title === '新聞bar')
          return menuConfig.menu[i].subMenu
      }
      return []
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.appLink
    })
  },
  head() {
    return {
      title: '新聞bar - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供最新的財經新聞，含台股盤勢、ETF、個股動態、科技產業、傳產綜合、期貨外匯、經貿財稅、金融市場、國際財經、大陸香港等財經資訊、投資大師、財經專家、財經Blog及健康養生，休閒旅遊及退休規劃 '
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供最新的財經新聞，含台股盤勢、ETF、個股動態、科技產業、傳產綜合、期貨外匯、經貿財稅、金融市場、國際財經、大陸香港等財經資訊、投資大師、財經專家、財經Blog及健康養生，休閒旅遊及退休規劃 '
        }
      ]
    }
  }
}
</script>
