<template>
  <div class="app__audio__player d-flex justify-content-between">
    <!-- Info -->
    <div class="player-info d-flex flex-grow-1">
      <!-- Banner -->
      <div class="player-banner">
        <img :src="banner" alt="banner" />
      </div>
      <!-- Title -->
      <div class="d-flex flex-column justify-content-between flex-grow-1">
        <div id="track-parent">
          <span id="track">Loading...</span>
        </div>
        <div id="playerBar"></div>
        <div class="d-flex align-items-center">
          <div id="timer">0:00</div>
          <div id="progressWapper" class="progress-wrapper">
            <div id="progress" style="width: 0%;"></div>
          </div>
          <div id="duration">--:--</div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <div class="player-controllers">
      <div id="loading" class="spinner-border"></div>
      <i class="fas fa-play btn" id="playBtn" style="display: block;"></i>
      <i class="fas fa-pause btn" id="pauseBtn" style="display: none;"></i>
    </div>
  </div>
</template>

<script>
import player from '@/assets/js/player.js'
export default {
  name: 'AppAudioReader',
  props: {
    audioData: {
      type: Object,
      default: () => ({})
    },
    banner: {
      type: String,
      default: 'https://fakeimg.pl/200x200/'
    }
  },
  mounted() {
    player({
      ...this.audioData,
      howl: null
    })
  },
  beforeDestroy() {
    window.moneyAudioPlayer.pause()
  }
}
</script>
