<template>
  <div
    id="app-article-section"
    class="d-flex justify-content-between align-items-center"
  >
    <div class="app-article-section__title cut-text">
      <span class="app-article-section__title-icon">●</span>
      <h4 class="app-article-section__title-text d-inline m-0 pl-2">
        <nuxt-link
          v-if="post.Is_paid"
          :to="'/vip_article/' + post.news_id + '?page=' + currentPage"
          >{{ post.news_title }}</nuxt-link
        >
        <nuxt-link
          v-else
          :to="'/article/' + post.news_id + '?page=' + currentPage"
          >{{ post.news_title }}</nuxt-link
        >
      </h4>
    </div>
    <div class="app-article-section__date">
      <time :datetime="post.news_date">{{ post.news_date }}</time>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppArticleSection',
  props: {
    post: {
      type: Object,
      required: true
    },
    currentPage: {
      type: Number,
      default: 1
    }
  }
}
</script>

<style lang="scss" scoped>
#app-article-section {
  border-top: 1px solid rgb(200, 200, 200);
  padding: 0.4rem 0;
  .app-article-section__title-icon {
    color: rgb(192, 140, 117);
    font-size: 1.5rem;
    font-weight: 700;
  }
}
</style>
