<template>
  <div id="app-block-title5" class="block-title-5">
    <h4 class="h5 text-center">
      <span class="border-primary">{{ text }}</span>
    </h4>
    <!--link-->
    <!-- <nuxt-link v-if="link" class="mt-1 float-right" :to="link">More</nuxt-link> -->
    <!--end link-->
    <!-- end time -->
  </div>
</template>

<script>
export default {
  name: 'AppBlockTitle5',
  props: {
    text: {
      type: String,
      required: true
    },
    link: {
      type: String,
      default: ''
    }
  }
}
</script>
