<template>
  <div id="app-block-title6" class="block-title-6">
    <h4 class="h5 border-primary border-2">
      <span class="bg-primary text-white">{{ text }}</span>
    </h4>
  </div>
</template>

<script>
export default {
  name: 'AppBlockTitle6',
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
