<template>
  <div id="app-block-title7" class="block-title-7">
    <h4 class="h5 text-center center-backline">
      <span class="bg-themes"><i v-if="icon" :class="icon"></i>{{ text }}</span>
    </h4>
  </div>
</template>

<script>
export default {
  name: 'AppBlockTitle7',
  props: {
    text: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      default: ''
    }
  }
}
</script>
