<template>
  <div id="app-block-title12" class="block-title-12">
    <h4 class="h5 title-box-stripe">
      <span><i class="far fa-newspaper text-primary"></i>{{ text }}</span>
    </h4>
    <div class="stripe-line"></div>
  </div>
</template>

<script>
export default {
  name: 'AppBlockTitle12',
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
