<template>
  <div id="app-breadcrumb" class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb u-breadcrumb pt-3 px-0 mb-0 bg-transparent small">
        <template v-for="(breadcrumb, index) in breadcrumbs">
          <li v-if="breadcrumb.link" :key="index + 1" class="breadcrumb-item"
            ><nuxt-link :to="breadcrumb.link">{{
              breadcrumb.title
            }}</nuxt-link></li
          >
          <li
            v-else
            :key="index + 1"
            class="breadcrumb-item active d-none d-md-block"
            aria-current="page"
            >{{ breadcrumb.title }}</li
          >
        </template>
      </ol>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'AppBreadcrumb',
  props: {
    breadcrumbs: {
      type: Array,
      required: true
    }
  }
}
</script>
