<template>
  <div id="app-block-title" class="block-title-11">
    <h4 class="h5 center-backline">
      <span class="bg-themes">{{ text }}</span>
    </h4>
  </div>
</template>

<script>
export default {
  name: 'AppBlockTitle11',
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
