<template>
  <div id="owl-carousel11" class="owl-carousel owl-theme owl-mx-0">
    <article v-for="post in carouselPosts" :key="post.news_id" class="item">
      <div class="card card-full text-light overflow zoom">
        <!--thumbnail-->
        <div class="ratio image-wrapper">
          <nuxt-link v-if="post.news_id" :to="'' + post.news_id">
            <img
              class="img-fluid"
              :src="post.news_img"
              width="100%"
              alt="Image description"
            />
          </nuxt-link>
          <div class="position-absolute p-3 b-0 w-100 bg-lg-shadow">
            <!--title-->
            <nuxt-link v-if="post.news_id" :to="'' + post.news_id">
              <h2
                class="h1-sm h2-md display-4-lg font-weight-500 text-white ellipsis-2lows"
              >
                {{ post.news_title }}
              </h2>
            </nuxt-link>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: 'AppCarousel2',
  props: {
    carouselPosts: {
      type: Array,
      required: true
    },
    carouselSetting: {
      type: Object,
      required: true
    }
  },
  mounted() {
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel()
    })
    $('#owl-carousel11').owlCarousel(this.carouselSetting)
  }
}
</script>
