<template>
  <div id="owl-carousel3" class="owl-carousel owl-theme">
    <article
      class="item"
      v-for="(professional, index) in carouselItems"
      :key="index + 1"
    >
      <!--post start-->
      <div class="col-12 mb-3 mb-lg-4">
        <div class="card card-full hover-a">
          <!--thumbnail-->
          <div class="ratio_337-337">
            <nuxt-link
              :to="'/blogs/moneyvip/' + professional.professional_id + '/plans'"
            >
              <img
                class="img-fluid owl-lazy wp-post-image rounded-circle"
                :data-src="professional.professional_img"
                alt="the classic of formal menswear is changing"
              />
            </nuxt-link>
          </div>
          <div class="card-body">
            <!--title-->
            <h3 class="card-title text-center">
              <nuxt-link
                :to="
                  '/blogs/moneyvip/' + professional.professional_id + '/plans/'
                "
                >{{ professional.name }}</nuxt-link
              >
            </h3>
            <p class="text-center">{{ professional.professional_name }}</p>
            <hr class="hr-after" />
          </div>
        </div>
      </div>
      <!--end post -->
    </article>
  </div>
</template>

<script>
export default {
  name: 'AppCarousel3',
  props: {
    carouselItems: {
      type: Array,
      required: true
    }
  },
  mounted() {
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel()
    })
    $('#owl-carousel3').owlCarousel({
      margin: 10,
      responsiveClass: true,
      dots: false,
      lazyLoad: true,
      responsive: {
        0: {
          items: 1,
          nav: true
        },
        576: {
          items: 2,
          nav: true
        },
        992: {
          items: 3,
          nav: true
        }
      }
    })
  }
}
</script>
