<template>
  <div id="owl-carousel11" class="owl-carousel owl-theme owl-mx-0">
    <article
      v-for="(item, index) in carouselItems"
      :key="index + 1"
      class="item"
    >
      <div class="card card-full text-light overflow zoom">
        <!--thumbnail-->
        <div class="ratio image-wrapper">
          <a v-if="item.news_customUrl" :href="item.news_customUrl">
            <img
              class="img-fluid owl-lazy"
              :data-src="item.news_img"
              width="100%"
              alt="Image description"
            />
          </a>
          <nuxt-link v-else :to="'/news/' + item.news_id">
            <img
              class="img-fluid owl-lazy"
              :data-src="item.news_img"
              width="100%"
              alt="Image description"
            />
          </nuxt-link>
          <div class="position-absolute p-3 b-0 w-100 bg-lg-shadow">
            <!--title-->
            <nuxt-link :to="'/news/' + item.news_id">
              <h2
                class="h1-sm h2-md display-4-lg font-weight-500 text-white ellipsis-2lows"
              >
                {{ item.news_title }}
              </h2>
            </nuxt-link>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: 'AppCarousel',
  props: {
    carouselItems: {
      type: Array,
      required: true
    },
    carouselSetting: {
      type: Object,
      required: true
    }
  },
  mounted() {
    $('#owl-carousel11').owlCarousel(this.carouselSetting)
  }
}
</script>
