<template>
  <table class="table table-striped ">
    <AppSectionLoader v-if="isLoading" />
    <template v-else>
      <thead>
        <tr>
          <th class="text-center" width="60%">基金名稱</th>
          <th class="text-center">日報酬</th>
          <th class="text-center">年報酬</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(fund, index) in fundItems" :key="index + 1">
          <td width="60%">{{ fund.fund_title | stringSlicer(26) }}</td>
          <td class="text-center">
            <span v-if="fund.fund_dayRevenue === 0 || !fund.fund_dayRevenue">
              {{ fund.fund_dayRevenue | fundNumFilter }}
            </span>
            <span
              v-else
              class="numbers"
              :class="
                +fund.fund_dayRevenue > 0 ? 'text-danger' : 'text-success'
              "
              >{{ fund.fund_dayRevenue | fundNumFilter }}</span
            ></td
          >
          <td class="text-center"
            ><span v-if="fund.fund_yearRevenue === 0 || !fund.fund_yearRevenue">
              {{ fund.fund_yearRevenue | fundNumFilter }}
            </span>
            <span
              v-else
              :class="
                +fund.fund_yearRevenue > 0 ? 'text-danger' : 'text-success'
              "
              >{{ fund.fund_yearRevenue | fundNumFilter }}</span
            ></td
          >
        </tr>
      </tbody>
    </template>
  </table>
</template>

<script>
export default {
  name: 'AppFundTable',
  filters: {
    fundNumFilter(val) {
      if (!val && val !== 0) return '—'
      const intVal = Number(val)
      if (Number.isNaN(intVal)) return '—'
      return intVal.toFixed(2) + '%'
    }
  },
  data() {
    return {
      isLoading: false,
      fundItems: []
    }
  },
  mounted() {
    this.fetchFundItems()
  },
  methods: {
    async fetchFundItems() {
      try {
        this.isLoading = true
        const { data } = await this.$axios.post('etf/twinfo', {
          token: this.$tokenGenerator()
        })
        if (data.Content.etf_data.length) {
          this.fundItems = data.Content.etf_data.map((item) => ({
            fund_title: item.etf_name,
            fund_dayRevenue: item.etf_oneday,
            fund_yearRevenue: item.etf_oneyear
          }))
        }
        this.isLoading = false
      } catch (error) {
        this.isLoading = false
        console.error(error)
      }
    }
  }
}
</script>
