<template>
  <ul id="app-icon-bar" class="mx-0 list-unstyled social-three text-center row">
    <!--twitter-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-twitter" to="#" target="_blank">
        <i class="fab fa-twitter fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.twitter_followers | commaFormat
        }}</span>
        <small class="d-block">Follower</small>
      </nuxt-link>
    </li>
    <!--facebook-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-facebook" to="#" target="_blank">
        <i class="fab fa-facebook fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.facebook_fans | commaFormat
        }}</span>
        <small class="d-block">Fans</small>
      </nuxt-link>
    </li>
    <!--google-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-linkedin" to="#" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.linkedin_followers | commaFormat
        }}</span>
        <small class="d-block">Followers</small>
      </nuxt-link>
    </li>
    <!--youtube-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-youtube" to="#" target="_blank">
        <i class="fab fa-youtube fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.youtube_subscribers | commaFormat
        }}</span>
        <small class="d-block">Subscribers</small>
      </nuxt-link>
    </li>
    <!--vimeo-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-vimeo" to="#" target="_blank">
        <i class="fab fa-vimeo fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.vimeo_subscribers | commaFormat
        }}</span>
        <small class="d-block">Subscribers</small>
      </nuxt-link>
    </li>
    <!--instagram-->
    <li class="col-4 col-sm-3 col-md-4 py-3 col-lg-4 border">
      <nuxt-link class="d-block text-instagram" to="#" target="_blank">
        <i class="fab fa-instagram fa-2x"></i>
        <span class="d-block font-weight-bold">{{
          socialInfo.instagram_followers | commaFormat
        }}</span>
        <small class="d-block">Followers</small>
      </nuxt-link>
    </li>
    <!--end instagram-->
  </ul>
</template>

<script>
export default {
  name: 'AppIconBar',
  filters: {
    commaFormat(value) {
      // 加上千分位符號
      return value
        .toString()
        .replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function(
          all,
          pre,
          groupOf3Digital
        ) {
          return pre + groupOf3Digital.replace(/\d{3}/g, ',$&')
        })
    }
  },
  props: {
    socialInfo: {
      type: Object,
      required: true
    }
  }
}
</script>
