<template>
  <div id="app-latest-topics">
    <article v-if="topTopic.topic_id" class="col-12">
      <div class="card card-full mb-module hover-a text-center">
        <!--thumbnail-->
        <div class="ratio_360-202 image-wrapper">
          <nuxt-link :to="'/news/' + topTopic.topic_id">
            <img
              class="img-fluid"
              v-lazy="topTopic.topic_img"
              width="100%"
              alt="Image description"
            />
          </nuxt-link>
        </div>
        <!-- title & date -->
        <div
          class="mx-4 mt-minus position-relative bg-themes p-3 shadow-lrb-lg border-bottom rounded"
        >
          <h4 class="h5 h3-md h5-lg"
            ><nuxt-link :to="'/news/' + topTopic.topic_id">{{
              topTopic.topic_title
            }}</nuxt-link></h4
          >
          <div class="text-muted small">
            <time :datetime="'/news/' + topTopic.topic_date">{{
              topTopic.topic_date
            }}</time>
          </div>
        </div>
      </div>
    </article>
    <h5 v-else class="text-center">目前沒有文章</h5>
    <!--small post start-->
    <div class="small-post">
      <!--post list-->
      <article
        v-for="(smallTopic, index) in smallTopics"
        :key="index"
        class="card card-full hover-a mb-4"
      >
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pr-2 pr-md-0">
            <div class="ratio_160-112 image-wrapper">
              <nuxt-link :to="'/news/' + smallTopic.topic_id">
                <img
                  class="img-fluid"
                  v-lazy="smallTopic.topic_img"
                  width="100%"
                  alt="Image description"
                />
              </nuxt-link>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <nuxt-link :to="'/news/' + smallTopic.topic_id">{{
                  smallTopic.topic_title
                }}</nuxt-link>
              </h3>
              <div class="card-text small text-muted">
                <time :datetime="smallTopic.topic_date">{{
                  smallTopic.topic_date
                }}</time>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppLatestTopics',
  async fetch() {
    const { data } = await this.$axios.post('news/internal', {
      news_sub_type: 1796,
      token: this.$tokenGenerator()
    })
    this.topics = data.content.map((i) => ({
      topic_id: i.news_id,
      topic_title: i.news_title,
      topic_date: i.news_updatetime.slice(0, 16).replace(/-/g, '/'),
      topic_img: this.$imgPlaceholder(i.news_img)
    }))
  },
  data() {
    return {
      isLoading: false,
      topics: []
    }
  },
  computed: {
    topTopic() {
      if (!this.topics.length) return {}
      return this.topics[0]
    },
    smallTopics() {
      if (this.topics.length <= 1) return []
      return this.topics.slice(1, 4)
    }
  }
}
</script>
