<template>
  <button @click="appleLogin" class="btn btn-apple"
    ><i class="fab fa-apple"></i>以 Apple ID 登入
  </button>
</template>

<script>
import parseJwt from '@/utils/parseJwt'
let browserIsRejected = null
if (process.client) {
  browserIsRejected = require('@/utils/browserIsRejected')
}
export default {
  name: 'AppleLoginButton',
  mounted() {
    /*
     * APPLE LOGIN CODE
     */
    // eslint-disable-next-line no-undef
    AppleID.auth.init({
      clientId: 'com.moneybar.forestageservice',
      scope: 'name email',
      redirectURI: window.location.origin + '/',
      usePopup: true // or false defaults to false
    })
  },
  methods: {
    async appleLogin() {
      try {
        if (browserIsRejected.call(this)) return null
        // eslint-disable-next-line no-undef
        const data = await AppleID.auth.signIn()
        const userData = parseJwt(data.authorization.id_token)
        this.$emit('handleAppleLogin', userData)
      } catch (error) {
        // handle error.
      }
    }
  }
}
</script>
