<template>
  <div id="app-latest-studies" class="sub-card">
    <ul class="list-unstyled card-list border-bottom-last-0">
      <li v-for="study in studyItems" :key="study.study_id">
        <nuxt-link
          class="h5 h4-sm h5-md ellipsis"
          :to="'/news/' + study.study_id"
          >{{ study.study_title }}</nuxt-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AppLatestStudies',
  async fetch() {
    const { data } = await this.$axios.post('news/articlelist', {
      token: this.$tokenGenerator(),
      page: 1,
      expert_id: 59,
      pageSize: 4,
      MemberNo: null
    })
    if (data.status === '000' && data.message === '') {
      this.studyItems = data.content.map((item) => ({
        study_title: item.news_title,
        study_id: item.news_id
      }))
    }
  },
  data() {
    return {
      isLoading: false,
      studyItems: []
    }
  }
}
</script>
