<template>
  <div id="app-latest-articles" class="sub-card">
    <ul class="list-unstyled card-list border-bottom-last-0">
      <li v-for="article in vipArticles" :key="article.article_id">
        <nuxt-link
          class="h5 h4-sm h5-md ellipsis"
          :to="'/news/' + article.article_id"
          >{{ article.article_title }}</nuxt-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AppLatestVIPArticles',
  async fetch() {
    const { data } = await this.$axios.post('news/newsArticle', {
      token: this.$tokenGenerator(),
      page: 1,
      pageSize: 5
    })
    if (data.status === '000' && data.message === '') {
      this.vipArticles = data.content.map((item) => ({
        article_id: item.news_id,
        article_title: item.news_title
      }))
    }
  },
  data() {
    return {
      isLoading: false,
      vipArticles: []
    }
  }
}
</script>
