<template>
  <div class="block-area latest-news mb-4">
    <!-- block title -->
    <AppBlockTitle5 :text="'最新新聞'" :link="'#'" />
    <template v-for="newsItem in latestNews">
      <AppNewsSection1 :news="newsItem" :key="newsItem.news_id" />
    </template>

    <div class="gap-0"></div>
    <AppPagination
      :isLoading="requestingNewsList"
      :page-count="totalPages"
      :innerValue="currentPage"
      :click-handler="onPageChange"
    />
  </div>
</template>

<script>
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppNewsSection1 from '@/components/AppNewsSection1'
import AppPagination from '@/components/AppPagination'
export default {
  name: 'AppLatestNews',
  components: { AppBlockTitle5, AppNewsSection1, AppPagination },
  async fetch() {
    this.requestingNewsList = true
    const { data } = await this.$axios.post('news/list', {
      news_order: '1',
      page: this.currentPage,
      pageSize: '16',
      token: this.$tokenGenerator()
    })
    data.content.forEach((item) => {
      item.news_img = this.$imgPlaceholder(item.news_img)
      item.news_date = this.$timeFilter(item.news_updatetime)
    })
    this.latestNews = data.content
    this.totalPages = Math.floor(data.totalnewsnum / 16 + 1)
    this.requestingNewsList = false
  },
  data() {
    return {
      latestNews: [],
      currentPage: 1,
      totalPages: 1,
      requestingNewsList: false
    }
  },
  methods: {
    onPageChange(page) {
      if (page > this.totalPages) {
        return this.$Swal.fire('頁數不得大於總頁數')
      }
      this.currentPage = page
      this.fetchLatestNews()
    },
    async fetchLatestNews() {
      this.requestingNewsList = true
      const { data } = await this.$axios.post('news/list', {
        news_order: '1',
        page: this.currentPage,
        pageSize: '16',
        token: this.$tokenGenerator()
      })
      data.content.forEach((item) => {
        item.news_img = this.$imgPlaceholder(item.news_img)
        item.news_date = this.$timeFilter(item.news_updatetime)
      })
      this.latestNews = data.content
      this.totalPages = Math.floor(data.totalnewsnum / 16 + 1)
      this.requestingNewsList = false
    }
  }
}
</script>
