<template>
  <article id="app-news-section1" class="card card-full hover-a mb-module">
    <div class="row">
      <!--thumbnail-->
      <div v-if="news.news_img" class="col-3 pr-2 pr-md-0">
        <!--thumbnail-->
        <div class="ratio_180-123 image-wrapper">
          <nuxt-link :to="'/news/' + news.news_id">
            <img
              width="180"
              height="123"
              class="img-fluid wp-post-image"
              alt="news pic"
              v-lazy="news.news_img"
              sizes="(max-width: 180px) 100vw, 180px"
            />
          </nuxt-link>
        </div>
      </div>
      <div :class="news.news_img ? 'col-9' : 'col-12'">
        <div class="card-body pt-0">
          <!--title-->
          <h2 class="card-title h6 h5-sm h4-lg">
            <nuxt-link :to="'/news/' + news.news_id">{{
              news.news_title
            }}</nuxt-link>
          </h2>
          <!--content text-->
          <p class="card-text mb-1 d-none d-md-block">
            {{ news.news_content | stringSlicer(70) }}
          </p>
          <div class="card-text text-muted small">
            <!--author-->
            <span class="font-weight-bold d-none d-sm-inline mr-1">
              <a href="#" title="Posts by" rel="author">{{
                news.news_source
              }}</a>
            </span>
            <!--date-->
            <time class="news-date">{{ news.news_date }}</time>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'AppNewsSection1',
  props: {
    news: {
      type: Object,
      required: true
    }
  }
}
</script>
