<template>
  <div id="app-news-content">
    <div class="post-title mb-4">
      <!-- title -->
      <h1 class="entry-title display-4 display-3-lg mt-2">{{
        news.news_title
      }}</h1>
      <!-- atribute -->
      <div class="post-atribute d-flex justify-content-between">
        <div class="my-3 text-muted small">
          <!--author-->
          <span v-if="news.expert_name">
            by
            <nuxt-link
              class="font-weight-bold"
              :to="'/blogs/moneyvip/' + news.expert_id"
              >{{ news.expert_name }}</nuxt-link
            >
          </span>
          <!--date-->
          <time class="ml-0 ml-sm-2 ml-md-3" :datetime="news.news_date">
            <span class="fa fa-clock"></span> {{ news.news_date }}
          </time>
        </div>

        <div class="social-share d-flex align-items-center">
          <!-- share facebook -->
          <FBShareButton
            :title="news.news_title"
            :description="news.news_description"
            :image="news.news_img"
          />
          <!-- share LINE -->
          <LineShareButton />
        </div>
      </div>
      <AppReadAloud :readText="news.news_content" />
      <!-- post content -->
      <!-- eslint-disable-next-line vue/no-v-html -->
      <AppAudioReader
        v-if="news.audio"
        :audioData="{ title: news.news_title, file: news.audio }"
        :banner="news.news_img"
      />
      <div class="mt-4"></div>
      <template v-if="isPaid">
        <!-- AWS/GCP 影片 -->
        <video
          v-if="/mp4/g.test(news.news_video)"
          id="investbar-video"
          width="100%"
          controls
        >
          <source :src="news.news_video" type="video/mp4" />
          Your browser does not support HTML video.
        </video>
        <!-- YOUTUBE 影片 -->
        <template v-else-if="news.news_video">
          <div
            v-if="news.news_video.length <= 12"
            class="embed-responsive embed-responsive-16by9"
          >
            <iframe
              class="embed-responsive-item"
              :src="`https://www.youtube.com/embed/${news.news_video}?rel=0`"
              allowfullscreen
            ></iframe>
          </div>
        </template>
        <!-- BANNER 圖片 -->
        <img
          v-else-if="showBannerImg && news.news_img"
          :src="news.news_img"
          class="img-fluid"
          alt="news_img"
        />
        <div
          itemprop="articleBody"
          class="post-content"
          id="post-content"
          v-html="news.news_content"
        ></div>
      </template>
      <div v-else itemprop="articleBody">
        <h2 v-if="!isAuthenticated" class="mt-4 font-weight-bold"
          ><nuxt-link to="/login" class="text-red"
            >此文章為付費內文，已訂閱會員請先登入取得觀看權限。</nuxt-link
          ></h2
        >
        <h2 v-else class="mt-4 text-red font-weight-bold"
          ><nuxt-link
            :to="'/blogs/moneyvip/' + news.expert_id + '/plans/'"
            class="text-red"
            >您尚未訂閱此方案，只要完成訂閱後即可觀看此VIP文章。</nuxt-link
          ></h2
        >
      </div>
      <!-- <div
        class="post-content"
        id="post-content"
        v-html="news.news_content"
      ></div> -->
      <hr />
      <!-- footer post -->
      <div v-if="news.news_tags" class="entry-footer my-4">
        <!-- tags -->
        <PostTag :tags="news.news_tags" />
        <div class="gap-0"></div>
      </div>
    </div>
  </div>
</template>

<script>
import PostTag from '@/components/PostTag'
import FBShareButton from '@/components/FBShareButton'
import LineShareButton from '@/components/LineShareButton'
import AppReadAloud from '@/components/AppReadAloud'
import AppAudioReader from '@/components/AppAudioReader'

export default {
  name: 'AppPostContent',
  components: {
    PostTag,
    FBShareButton,
    LineShareButton,
    AppReadAloud,
    AppAudioReader
  },
  props: {
    showBannerImg: {
      type: Boolean,
      default: false
    },
    news: {
      type: Object,
      required: true
    },
    isPaid: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated
    }
  },
  /**
   * set all links to target _blank
   */
  mounted() {
    const postContentLinks = document.querySelectorAll('.post-content a')
    postContentLinks.forEach((link) => (link.target = '_blank'))
  }
}
</script>
