<template>
  <article id="app-news-section2" class="card card-full hover-a py-4">
    <div class="row">
      <div class="col-sm-6 col-md-12 col-lg-6">
        <!--thumbnail-->
        <div class="ratio_360-202 image-wrapper">
          <nuxt-link :to="'/news/' + news.news_id">
            <img
              class="img-fluid"
              width="100%"
              v-lazy="news.news_img"
              alt="Image description"
            />
          </nuxt-link>
        </div>
      </div>
      <div class="col-sm-6 col-md-12 col-lg-6">
        <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
          <!--title-->
          <h3 class="card-title h2 h3-sm h2-md">
            <nuxt-link :to="'/news/' + news.news_id">{{
              news.news_title
            }}</nuxt-link>
          </h3>
          <!--author and date-->
          <div class="card-text mb-2 text-muted small">
            <span class="d-none d-sm-inline mr-1">
              <nuxt-link
                class="font-weight-bold"
                :to="'/news/' + news.news_id"
                >{{ news.news_author }}</nuxt-link
              >
            </span>
            <time :datetime="news.news_date">{{ news.news_date }}</time>
          </div>
          <!--description-->
          <p class="card-text">
            {{ news.news_content | stringSlicer(33) }}
          </p>
          <!-- read more button -->
          <nuxt-link
            class="btn btn-outline-primary"
            :to="'/news/' + news.news_id"
            >閱讀專題</nuxt-link
          >
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'AppNewsSection2',
  props: {
    news: {
      type: Object,
      required: true
    }
  }
}
</script>
