<template>
  <div id="app-post-content">
    <div class="post-title mb-4">
      <!-- title -->
      <h1 class="entry-title display-4 display-3-lg mt-2">{{
        post.post_title
      }}</h1>
      <!-- atribute -->
      <div class="post-atribute mb-3 d-flex justify-content-between">
        <div class="my-3 text-muted small">
          <!--author-->
          <span>
            by
            <nuxt-link class="font-weight-bold" :to="post.post_authorId">{{
              post.post_author
            }}</nuxt-link>
          </span>
          <!--date-->
          <time class="ml-0 ml-sm-2 ml-md-3" :datetime="post.post_date">
            <span class="fa fa-clock"></span> {{ post.post_date }}
          </time>
        </div>

        <div class="social-share mb-3 d-flex align-items-center">
          <!-- share facebook -->
          <FBShareButton />
          <!-- share LINE -->
          <LineShareButton />
        </div>
      </div>
    </div>

    <!-- post content -->
    <!-- eslint-disable-next-line vue/no-v-html -->
    <div class="post-content" v-html="post.post_content"></div>
    <hr />
    <!-- footer post -->
    <div v-if="post.post_tags" class="entry-footer my-4">
      <!-- tags -->
      <PostTag :tags="post.post_tags" />
      <div class="gap-0"></div>
    </div>
  </div>
</template>

<script>
import PostTag from '@/components/PostTag'
import FBShareButton from '@/components/FBShareButton'
import LineShareButton from '@/components/LineShareButton'

export default {
  name: 'AppPostContent',
  components: { PostTag, FBShareButton, LineShareButton },
  props: {
    post: {
      type: Object,
      required: true
    }
  }
}
</script>
