<template>
  <article id="app-post-section3" class="card card-full hover-a mb-4">
    <div class="row">
      <!--thumbnail-->
      <div class="col-4 col-md-3 pr-2 pr-md-0">
        <div class="ratio_115-80 image-wrapper">
          <a v-if="post.news_customUrl" :href="post.news_customUrl"
            ><img
              class="img-fluid"
              v-lazy="post.news_img"
              width="100%"
              alt="Image description"
          /></a>
          <nuxt-link v-else :to="'/news/' + post.news_id">
            <img
              class="img-fluid"
              v-lazy="post.news_img"
              width="100%"
              alt="Image description"
            />
          </nuxt-link>
        </div>
      </div>
      <!-- title & date -->
      <div class="col-8 col-md-9">
        <div class="card-body pt-0">
          <a
            v-if="post.news_customUrl"
            class="p-1 badge badge-primary"
            :href="post.news_customUrl"
            >{{ post.news_type }}</a
          >
          <nuxt-link
            v-else-if="post.news_type"
            class="p-1 badge badge-primary"
            :to="'/news/' + post.news_id"
            >{{ post.news_type }}</nuxt-link
          >
          <h3 class="card-title h5 h4-sm h5-lg">
            <a v-if="post.news_customUrl" :href="post.news_customUrl">{{
              post.news_title
            }}</a>
            <nuxt-link v-else :to="'/news/' + post.news_id">{{
              post.news_title
            }}</nuxt-link>
          </h3>
          <div class="card-text small text-muted">
            <time :datetime="post.news_date">{{ post.news_date }}</time>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'AppPostSection3',
  props: {
    post: {
      type: Object,
      required: true
    }
  }
}
</script>
