<template>
  <div id="app-post-section4" class="card card-full hover-a ">
    <!--thumbnail, category & icon-->
    <div class="ratio_251-141 image-wrapper">
      <a v-if="post.news_customUrl" :href="post.news_customUrl">
        <img
          class="img-fluid"
          width="100%"
          v-lazy="post.news_img"
          alt="Image description"
        />
        <div class="post-type-icon">
          <span class="fa-stack-sea">
            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
          </span>
        </div>
      </a>
      <nuxt-link v-else :to="linkRoute + post.news_id">
        <img
          class="img-fluid"
          width="100%"
          v-lazy="post.news_img"
          alt="Image description"
        />
        <div class="post-type-icon">
          <span class="fa-stack-sea">
            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
          </span>
        </div>
      </nuxt-link>
      <a class="position-absolute m-2 t-0 p-1 badge badge-primary" href="#"></a>
    </div>
    <!-- title, date & comments -->
    <div class="card-body">
      <h3 class="card-title h5 h4-sm h5-md">
        <a v-if="post.news_customUrl" :href="post.news_customUrl">
          {{ post.news_title }}
        </a>
        <nuxt-link :to="linkRoute + post.news_id" class="JQellipsis-26">{{
          post.news_title
        }}</nuxt-link>
      </h3>
      <div class="card-text text-muted small">
        <time :datetime="post.news_date">{{
          post.news_date | dateFilter
        }}</time>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppPostSection4',
  filters: {
    dateFilter(val) {
      if (!val) return val
      return val.slice(0, 16).replace(/-/gi, '/')
    }
  },
  props: {
    post: {
      type: Object,
      required: true
    },
    middleIcon: {
      type: String,
      default: 'fas fa-file-alt'
    },
    linkRoute: {
      type: String,
      default: '/news/'
    }
  }
}
</script>
