<template>
  <article v-if="postHasData" id="app-post-section1" class="col-sm-4">
    <div class="card card-full hover-a mb-module">
      <!--thumbnail-->
      <div class="ratio_360-202 image-wrapper">
        <!-- VIP 專家文章 連結 -->
        <nuxt-link
          v-if="post.Is_paid"
          :to="'/vip_article/' + post.news_id + '?page=' + currentPage"
        >
          <img
            v-if="post.news_img"
            class="img-fluid"
            v-lazy="post.news_img"
            width="100%"
            alt="Image
          description"
          />
          <div class="post-type-icon">
            <span class="fa-stack-sea">
              <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
            </span>
          </div>
        </nuxt-link>
        <!-- 專家文章 連結 -->
        <nuxt-link
          v-else-if="post.author_name"
          :to="'/article/' + post.news_id + '?page=' + currentPage"
        >
          <img
            v-if="post.news_img"
            class="img-fluid"
            v-lazy="post.news_img"
            width="100%"
            alt="Image
          description"
          />
          <div class="post-type-icon">
            <span class="fa-stack-sea">
              <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
            </span>
          </div>
        </nuxt-link>
        <!-- 新聞 連結 -->
        <a v-else-if="post.news_customUrl" :href="post.news_customUrl">
          <img
            v-if="post.news_img"
            class="img-fluid"
            v-lazy="post.news_img"
            width="100%"
            alt="Image
          description"
          />
          <div class="post-type-icon">
            <span class="fa-stack-sea">
              <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
            </span>
          </div>
        </a>
        <nuxt-link v-else :to="'/news/' + post.news_id">
          <img
            v-if="post.news_img"
            class="img-fluid"
            v-lazy="post.news_img"
            width="100%"
            alt="Image
          description"
          />
          <div class="post-type-icon">
            <span class="fa-stack-sea">
              <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa-stack-1x text-primary" :class="middleIcon"></i>
            </span>
          </div>
        </nuxt-link>

        <!--category-->
        <template v-if="post.Is_paid">
          <div class="position-absolute m-2 b-0 ">
            <span class="p-1 badge badge-primary">VIP</span>
          </div>
          <!--訂閱-->
          <div class="position-absolute m-2 t-0 ">
            <nuxt-link :to="'/vip/'" class="p-2 badge badge-danger"
              >訂閱</nuxt-link
            >
          </div>
        </template>
        <!--category-->
        <div
          v-else-if="$route.name != 'article-id'"
          class="position-absolute m-2 b-0 "
        >
          <nuxt-link to="/" class="p-1 badge badge-primary">{{
            post.news_subType
          }}</nuxt-link>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title h2 h3-sm h4-md h3-lg">
          <!-- VIP 專家文章 連結 -->
          <nuxt-link
            v-if="post.Is_paid"
            :to="'/vip_article/' + post.news_id + '?page=' + currentPage"
            >{{ post.news_title }}</nuxt-link
          >
          <!-- 專家文章 連結 -->
          <nuxt-link
            v-else-if="post.author_name"
            :to="'/article/' + post.news_id + '?page=' + currentPage"
            >{{ post.news_title }}</nuxt-link
          >
          <!-- 新聞 連結 -->
          <a v-else-if="post.news_customUrl" :href="post.news_customUrl">{{
            post.news_title
          }}</a>
          <nuxt-link v-else :to="'/news/' + post.news_id">{{
            post.news_title
          }}</nuxt-link>
        </h3>
        <div class="card-text mb-2 text-muted small">
          <!-- 專家 -->
          <span v-if="post.author_name" class="d-none d-sm-inline mr-1">
            <nuxt-link :to="'/blogs/moneyvip/' + post.author_id">{{
              post.author_name
            }}</nuxt-link>
          </span>
          <!-- 新聞 -->
          <span v-else-if="post.news_type" class="d-none d-sm-inline mr-1">
            <a v-if="post.news_customUrl" :href="post.news_customUrl">{{
              post.news_type
            }}</a>
            <nuxt-link v-else :to="'/news/' + post.news_id">{{
              post.news_type
            }}</nuxt-link>
          </span>
          <!--date-->
          <time
            v-if="post.news_updatetime"
            class="news-date"
            :datetime="post.news_updatetime"
            >{{ post.news_updatetime.slice(0, 16).replace(/-/g, '/') }}</time
          >
          <time
            v-if="post.PublishTime"
            class="news-date"
            :datetime="post.PublishTime"
            >{{ post.PublishTime.slice(0, 16).replace(/-/g, '/') }}</time
          >
        </div>
        <!--description-->
        <p class="card-text">
          {{ post.news_content | specialIconFilter | stringSlicer(50) }}
        </p>
      </div>
      <div class="gap-05"></div>
    </div>
  </article>
</template>

<script>
export default {
  name: 'AppPostSection1',
  filters: {
    specialIconFilter(val) {
      if (!val) return val
      return val.replace(/&*;|&[a-z]{4,5}/gi, '')
    }
  },
  props: {
    post: {
      type: Object,
      required: true
    },
    middleIcon: {
      type: String,
      default: 'fas fa-newspaper'
    },
    currentPage: {
      type: Number,
      default: 1
    }
  },
  computed: {
    postHasData() {
      return !(JSON.stringify(this.post) === '{}')
    }
  }
}
</script>
