<template>
  <article
    v-if="postHasData"
    id="app-post-section2"
    class="card card-full hover-a mb-4"
  >
    <!--thumbnail-->
    <div class="ratio_360-202 image-wrapper">
      <a v-if="post.news_customUrl" :href="post.news_customUrl">
        <img
          class="img-fluid"
          width="100%"
          v-lazy="post.news_img"
          alt="Image description"
        />
      </a>
      <nuxt-link v-else :to="'/news/' + post.news_id">
        <img
          class="img-fluid"
          width="100%"
          v-lazy="post.news_img"
          alt="Image description"
        />
      </nuxt-link>
    </div>
    <div class="card-body">
      <!-- title -->
      <a v-if="post.news_customUrl" :href="post.news_customUrl">{{
        post.news_type
      }}</a>
      <nuxt-link
        v-else
        class="p-1 badge badge-primary"
        :to="'/news/' + post.news_id"
        >{{ post.news_type }}</nuxt-link
      >
      <h2 class="card-title h1-sm h3-lg">
        <a v-if="post.news_customUrl" :href="post.news_customUrl">{{
          post.news_title
        }}</a>
        <nuxt-link v-else :to="'/news/' + post.news_id">{{
          post.news_title
        }}</nuxt-link>
      </h2>
      <p class="card-text ellipsis-2lows">
        {{ post.news_content }}
      </p>
    </div>
  </article>
</template>

<script>
export default {
  name: 'AppPostSection2',
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  computed: {
    postHasData() {
      return !(JSON.stringify(this.post) === '{}')
    }
  }
}
</script>
