<template>
  <div id="app-post-section5">
    <div class="big-post">
      <span v-if="!topPost">
        目前沒有文章
      </span>
      <article v-else class="card card-full hover-a mb-4">
        <!--thumbnail-->
        <div class="ratio_360-202 image-wrapper">
          <a v-if="topPost.news_customUrl" :href="topPost.news_customUrl">
            <img
              class="img-fluid"
              width="100%"
              v-lazy="topPost.news_img"
              alt="Image description"
            />
          </a>
          <nuxt-link v-else :to="'/news/' + topPost.news_id">
            <img
              class="img-fluid"
              width="100%"
              v-lazy="topPost.news_img"
              alt="Image description"
            />
          </nuxt-link>
        </div>
        <!-- title & date -->
        <div class="position-absolute p-3 b-0 w-100 bg-shadow">
          <h4 class="card-title h3 h2-sm h4-lg ellipsis">
            <a
              v-if="topPost.news_customUrl"
              class="text-white"
              :href="topPost.news_customUrl"
              >{{ topPost.news_title }}</a
            >
            <nuxt-link
              v-else
              class="text-white"
              :to="'/news/' + topPost.news_id"
              >{{ topPost.news_title }}</nuxt-link
            >
          </h4>
        </div>
      </article>
    </div>
    <div class="sub-card">
      <!--post list-->
      <ul class="list-unstyled card-list border-bottom-last-0">
        <li v-for="(post, index) in smallPost" :key="index + 1">
          <a
            v-if="post.news_customUrl"
            class="h5 h4-sm h5-md ellipsis"
            :href="post.news_customUrl"
            >{{ post.news_title }}</a
          >
          <nuxt-link
            v-else
            class="h5 h4-sm h5-md ellipsis"
            :to="'/news/' + post.news_id"
            >{{ post.news_title }}</nuxt-link
          >
        </li>
      </ul>
      <!--end post list-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppPostSection5',
  props: {
    posts: {
      type: Array,
      required: true
    }
  },
  computed: {
    topPost() {
      return this.posts[0]
    },
    smallPost() {
      return this.posts.slice(1, this.posts.length)
    }
  }
}
</script>
