<template>
  <div id="app-read-aloud" class="d-flex justify-content-end mb-3">
    <button @click="stop" v-if="isPlaying" class="btn btn-primary py-1 rounded">
      <i class="fas fa-stop"></i>&nbsp;停止朗讀
    </button>
    <button @click="speak" v-else class="btn btn-primary py-1 rounded">
      <i class="fas fa-play"></i>&nbsp;開始朗讀
    </button>
  </div>
</template>

<script>
export default {
  name: 'AppReadAloud',
  props: {
    readText: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isPlaying: false,
      msg: null
    }
  },
  mounted() {
    this.msg = new SpeechSynthesisUtterance()
    this.msg.text = document.querySelector('#post-content')
      ? document.querySelector('#post-content').textContent
      : ''
    window.addEventListener('beforeunload', function() {
      speechSynthesis.cancel()
    })
  },
  beforeDestroy() {
    speechSynthesis.cancel()
  },
  methods: {
    speak() {
      this.isPlaying = true
      speechSynthesis.cancel()
      speechSynthesis.speak(this.msg)
    },
    stop() {
      this.isPlaying = false
      speechSynthesis.cancel()
    }
  }
}
</script>
