<template>
  <div id="app-submenu" class="row py-2 mx-auto">
    <div class="submenu">
      <ul>
        <li v-for="(menuItem, index) in menuItems" :key="index"
          ><nuxt-link :to="menuItem.link">{{ menuItem.title }}</nuxt-link></li
        >
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppSubmenu',
  props: {
    menuItems: {
      type: Array,
      required: true
    }
  }
}
</script>
