<template>
  <div id="app-subscribe-section" class="col-sm-6 col-lg-3">
    <div class="about-profile mb-module">
      <div class="card card-full hover-a text-center">
        <!--thumbnail-->
        <div class="ratio_360-202 image-wrapper">
          <nuxt-link
            :to="
              '/blogs/moneyvip/' +
                subscription.subscription_expertid +
                '/plans/'
            "
          >
            <img
              class="img-fluid"
              width="100%"
              v-lazy="subscription.subscription_img"
              alt="Image description"
            />
          </nuxt-link>
        </div>
        <div
          class="mx-4 mt-minus position-relative bg-themes p-3 rounded border-bottom shadow-lrb-lg"
        >
          <!--name-->
          <h3 class="text-uppercase">{{ subscription.subscription_expert }}</h3>
          <!-- text content -->
          <h4 class="h5 h3-md h5-lg">
            <nuxt-link
              :to="
                '/blogs/moneyvip/' +
                  subscription.subscription_expertid +
                  '/plans/'
              "
              >{{ subscription.subscription_title }}</nuxt-link
            >
          </h4>
          <div class="d-flex justify-content-center align-items-center mb-4">
            <div>
              <h5 class="h5 h5-sm h6-md h6-lg mb-0">{{
                subscription.subscription_price
              }}</h5>
            </div>
          </div>
          <nuxt-link
            :to="
              '/blogs/moneyvip/' +
                subscription.subscription_expertid +
                '/plans/'
            "
          >
            <input
              class="btn btn-danger btn-block rounded-0"
              type="submit"
              value="訂閱方案"
          /></nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppSubscribeSection',
  props: {
    subscription: {
      type: Object,
      required: true
    }
  }
}
</script>
