<template>
  <ul
    id="app-top-review"
    class="post-number list-unstyled border-bottom-last-0 rounded mb-3"
  >
    <template v-if="topPosts.length">
      <li class="hover-a" v-for="post in topPosts" :key="post.post_id">
        <nuxt-link class="h5 h6-md h5-lg" :to="'/news/' + post.post_id">{{
          post.post_title | stringSlicer(33)
        }}</nuxt-link>
      </li>
    </template>
    <h5 v-else class="text-center">目前沒有文章</h5>
  </ul>
</template>

<script>
export default {
  name: 'AppTopReview',
  async fetch() {
    const { data } = await this.$axios.post('news/mostCount', {
      token: this.$tokenGenerator(),
      page: 1,
      pageSize: 5
    })
    if (data.status === '000' && data.message === '') {
      this.topPosts = data.content.map((item) => ({
        post_id: item.news_id,
        post_title: item.news_title
      }))
    }
  },
  data() {
    return {
      isLoading: false,
      topPosts: []
    }
  }
}
</script>
