<template>
  <div id="app-title-box">
    <h2
      class="app-title-box__text"
      :style="titleSize ? 'font-size: ' + titleSize + 'rem;' : ''"
      ><span
        class="app-title-box__text-border"
        :style="'border-left: 10px solid ' + borderColor"
      ></span>
      <span class="app-title-box__text-content">
        {{ text }}
      </span>
    </h2>
    <h3 v-if="subText" class="app-title-box__sub" :style="subStyle">
      {{ subText }}
    </h3>
  </div>
</template>

<script>
export default {
  name: 'AppTitleBox',
  props: {
    text: {
      type: String,
      required: true
    },
    borderColor: {
      type: String,
      default: '#3d2751'
    },
    middleLine: {
      type: Boolean,
      default: false
    },
    subText: {
      type: String,
      default: ''
    },
    titleSize: {
      type: Number,
      default: 0
    },
    subSize: {
      type: Number,
      default: 0
    }
  },
  computed: {
    subStyle() {
      return {
        fontSize: this.subSize ? this.subSize + 'rem' : '',
        borderLeft: this.middleLine ? '1px solid #000' : ''
      }
    }
  }
}
</script>
