<template>
  <aside
    id="custom_html-3"
    class="widget_text widget widget_custom_html d-none d-md-block"
  >
    <div class="textwidget custom-html-widget">
      <div class="text-center">
        <a target="_blank" :href="ad.ad_link" rel="noopener noreferrer">
          <img class="img-fluid" v-lazy="ad.ad_img" alt="ad_img" />
        </a>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'AsideAd',
  props: {
    ad: {
      type: Object,
      required: true
    }
  }
}
</script>
