<template>
  <figure class="image-wrapper my-5">
    <a target="_blank" :href="ad.ad_link" rel="noopener noreferrer"
      ><img class="img-fluid w-100" v-lazy="ad.ad_img" alt="Image description"
    /></a>
  </figure>
</template>

<script>
export default {
  name: 'ContentAd',
  props: {
    ad: {
      type: Object,
      required: true
    }
  }
}
</script>
