<template>
  <div id="expert-info-profile" class="row">
    <div class="col-md-3 expert-info-profile__left">
      <div class="d-flex justify-content-center w-100 h-auto">
        <img
          class="rounded-circle img-fluid"
          :src="profile.expert_img"
          alt="expert_profile"
        />
      </div>
      <h5 class="text-center mt-0 mb-2">{{ profile.expert_name }}</h5>
      <nuxt-link
        v-if="profile.expert_isVIP"
        :to="'/blogs/moneyvip/' + profile.expert_id + '/plans'"
        class="btn btn-success btn-block p-2"
        >查看此專家所有訂閱</nuxt-link
      >
    </div>
    <div class="col-md-9 expert-info-profile__right d-flex align-items-center">
      <span class="text-break" v-html="profile.expert_profile"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ExpertInfoProfile',
  props: {
    profile: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped></style>
