<template>
  <button @click="fbLogin" class="btn btn-facebook">
    <i class="fab fa-facebook-f"></i>以 Facebook 帳號登入
  </button>
</template>

<script>
/* eslint-disable */
let browserIsRejected = null
if (process.client) {
  browserIsRejected = require('@/utils/browserIsRejected')
}
export default {
  methods: {
    fbLogin() {
      if (browserIsRejected.call(this)) return null
      const vm = this
      // 檢查登入狀態
      FB.getLoginStatus(function(response) {
        // 登入狀態 - 已登入
        if (response.status === 'connected') {
          // 獲取用戶個人資料
          vm.getProfile()
        } else {
          // 登入狀態 - 未登入
          // 用戶登入(確認授權)
          FB.login(
            function(res) {
              // 獲取用戶個人資料
              vm.getProfile()
            },
            // 授權 - 個人資料&Email
            { scope: 'public_profile,email' }
          )
        }
      })
    },
    fbLogout() {
      // 檢查登入狀態
      FB.getLoginStatus(function(response) {
        // 檢查登入狀態
        if (response.status === 'connected') {
          // 移除授權
          FB.api('/me/permissions', 'DELETE', function(res) {
            // 用戶登出
            FB.logout()
          })
        } else {
          // do something
        }
      })
    },
    getProfile() {
      const vm = this
      FB.api('/me?fields=name,id,email,picture', function(res) {
        // do something
        vm.$emit('handleFBLogin', res)
      })
    }
  }
}
</script>
