<template>
  <a
    :href="
      `https://www.facebook.com/sharer/sharer.php?u=${shareUrl}&utm_source=facebook&utm_medium=share`
    "
    target="_blank"
  >
    <button id="fb-share-button" class="btn bg-facebook p-1 mr-2">
      <i class="fab fa-facebook"></i>
      分享
    </button>
  </a>
</template>

<script>
export default {
  name: 'FBShareButton',
  props: {
    title: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      siteUrl: ''
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    analysisQuery() {
      return 'utm_source=facebook%26utm_medium=share'
    },
    shareUrl() {
      return `${this.siteUrl}${this.currentPath}?${this.analysisQuery}`
    }
  },
  mounted() {
    this.siteUrl = `${location.origin}`
  }
}
</script>
