<template>
  <div id="form-inputer" class="input-group mb-3">
    <div v-if="iconClass" class="input-group-prepend bg-white">
      <span id="basic-addon1" class="input-group-text rounded-0 bg-themes"
        ><i :class="iconClass"></i
      ></span>
    </div>
    <input
      v-if="required"
      :type="type"
      class="form-control rounded-0"
      :name="name"
      :placeholder="placeholder"
      :value="value"
      @input="$emit('input', $event.target.value)"
      aria-label="Email"
      aria-describedby="basic-addon1"
      required
      :disabled="disabled"
    />
    <input
      v-else
      :type="type"
      class="form-control rounded-0"
      :name="name"
      :placeholder="placeholder"
      :value="value"
      @input="$emit('input', $event.target.value)"
      aria-label="Email"
      aria-describedby="basic-addon1"
      :disabled="disabled"
    />
    <span v-if="showRequiredIcon" class="form-inputer__required-icon">*</span>
    <div v-if="feedbackText" class="invalid-feedback text-right">
      {{ feedbackText }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormInputer',
  props: {
    iconClass: {
      type: String,
      default: ''
    },
    feedbackText: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    showRequiredIcon: {
      type: Boolean,
      default: false
    }
  }
}
</script>
