<template>
  <!-- <div id="google-signin-button"></div> -->
  <button v-if="browserIsRejected" @click="rejectUse" class="btn btn-google">
    <i class="fab fa-google"></i>
    以 Google 帳號登入
  </button>
  <GoogleLogin
    v-else
    class="btn btn-google"
    :params="params"
    :onSuccess="onSuccess"
    :onFailure="onFailure"
  >
    <i class="fab fa-google"></i>
    以 Google 帳號登入
  </GoogleLogin>
</template>

<script>
import GoogleLogin from 'vue-google-login'
let isLineApp, isFBApp, isWeixinApp
let browserIsRejected
if (process.client) {
  isLineApp = require('@/utils/browserDetector').isLineApp
  isFBApp = require('@/utils/browserDetector').isFBApp
  isWeixinApp = require('@/utils/browserDetector').isWeixinApp
  browserIsRejected = require('@/utils/browserIsRejected')
}
export default {
  name: 'GoogleLoginButton',
  components: { GoogleLogin },
  data() {
    return {
      params: {
        client_id: process.env.GOOGLE_CLIENT_ID
      },
      browserIsRejected: false
    }
  },
  mounted() {
    this.browserIsRejected = isLineApp || isFBApp || isWeixinApp
  },
  methods: {
    onSuccess(googleUser) {
      const profile = googleUser.getBasicProfile()
      const userData = {
        id: profile.getId(),
        name: profile.getName(),
        imgURL: profile.getImageUrl(),
        email: profile.getEmail()
      }
      this.$emit('onSuccess', userData)
    },
    onFailure() {
      console.log('something went wrong')
    },
    rejectUse() {
      return browserIsRejected.call(this)
    }
  }
}
</script>
