<template>
  <div class="gcse-searchbox-only" data-resultsUrl="/gsearch"></div>
</template>

<script>
if (process.client) {
  ;(function() {
    const cx = '012864969711627689097:x3yuaqa17cy'
    const gcse = document.createElement('script')
    gcse.async = true
    gcse.src = `https://cse.google.com/cse.js?cx=${cx}`
    const s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(gcse, s)
  })()
}
export default {
  name: 'GoogleCustomSearch'
}
</script>
