<template>
  <iframe
    data-lang="zh_Hant"
    data-type="share-a"
    data-ver="3"
    :data-url="`${shareUrl}`"
    data-color="default"
    data-size="large"
    data-count="false"
    data-line-it-id="0"
    scrolling="no"
    frameborder="0"
    allowtransparency="true"
    style="width: 68px; height: 30px; visibility: visible; position: static !important; opacity: 1 !important;"
    class="line-it-button"
    :src="
      `https://social-plugins.line.me/widget/share?url=${shareUrl}%2F&amp;buttonType=share-a&amp;size=large&amp;count=false&amp;color=default&amp;lang=zh_Hant&amp;type=share&amp;ver=3&amp;id=0&amp;origin=${shareUrl}&amp;title=Moneybar%20Forestage%20%7C%20Demo`
    "
    title="Share this page on LINE."
  ></iframe>
</template>

<script>
export default {
  name: 'LineShareButton',
  data() {
    return {
      siteUrl: ''
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    analysisQuery() {
      return 'utm_source=line%26utm_medium=share'
    },
    shareUrl() {
      return `${this.siteUrl}${this.currentPath}?${this.analysisQuery}`
    }
  },
  mounted() {
    this.siteUrl = location.origin
  }
}
</script>
