<template>
  <div id="member-form-portlet" class="login-form">
    <section>
      <div class="avatar">
        <img src="/img/avatar/avatar.png" alt="Avatar" />
      </div>
      <h2 class="text-center" :class="subTitle ? 'mb-0' : ''">{{ title }}</h2>
      <h2 v-if="subTitle" class="text-center mt-2">{{ subTitle }}</h2>
      <slot>
        <!-- Insert custom inputs, submit button here -->
      </slot>
    </section>
  </div>
</template>

<script>
export default {
  name: 'MemberFormPortlet',
  props: {
    title: {
      type: String,
      required: true
    },
    subTitle: {
      type: String,
      default: ''
    }
  }
}
</script>
