<template>
  <div id="post-tag" class="tags-area">
    <ul v-if="tags.length" class="tags-links tagcloud pl-0">
      <li><span class="font-weight-bold mr-2">熱門搜尋關鍵字</span></li>
      <li v-for="(tag, index) in tags" :key="index + 1"
        ><nuxt-link :to="'/tag/tagindex?keyword=' + tag" class="tags-link">{{
          tag
        }}</nuxt-link></li
      >
    </ul>
  </div>
</template>

<script>
export default {
  name: 'PostTag',
  props: {
    tags: {
      type: Array,
      required: true
    }
  }
}
</script>
