<template>
  <div id="profile-birthday" class="row">
    <div class="col-md-4 mb-3">
      <select
        @change="birthdayChange"
        v-model="selectedYear"
        class="custom-select d-block w-100"
        id="year"
        required
      >
        <option v-for="year in selectionYears" :key="year" :value="year">{{
          year
        }}</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid year.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <select
        @change="birthdayChange"
        v-model="selectedMonth"
        class="custom-select d-block w-100"
        id="month"
        required
      >
        <option v-for="month in selectionMonths" :key="month" :value="month">{{
          month
        }}</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid month.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <select
        @change="birthdayChange"
        v-model="selectedDay"
        class="custom-select d-block w-100"
        id="day"
        required
      >
        <option v-for="day in selectionDays" :key="day" :value="day">{{
          day
        }}</option>
      </select>
      <div class="invalid-feedback">
        Please select a valid day.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileBirthday',
  props: {
    /*
     * valid example: '1992/01/01', '1992-01-01'
     */
    passedDate: {
      type: String,
      // required: true
      default: '1992/01/01'
    }
  },
  data() {
    return {
      selectionYears: [],
      selectionMonths: [],
      selectionDays: [],
      selectedYear: null,
      selectedMonth: null,
      selectedDay: null
    }
  },
  watch: {
    selectedYear() {
      this.countDays()
      return null
    },
    selectedMonth() {
      this.countDays()
      return null
    },
    passedDate(date) {
      this.setDate()
    }
  },
  mounted() {
    // add 1901 ~ current year
    for (let i = 1901; i <= new Date().getFullYear(); i++) {
      this.selectionYears.push(i)
    }
    this.selectionMonths = Array.from({ length: 12 }, (v, i) => i + 1)
    // 演算天數
    this.setDate()
  },
  methods: {
    setDate() {
      const [year, month, day] = this.passedDate.split(/\/|-/gi)
      this.selectedYear = +year
      this.selectedMonth = +month
      this.selectedDay = +day
      this.countDays()
    },
    countDays() {
      /*
       * 根據選定的年份和月份，演算對應的天數
       */
      const avaliableDays = new Date(
        this.selectedYear,
        this.selectedMonth,
        0
      ).getDate()
      this.selectionDays = Array.from(
        { length: avaliableDays },
        (v, i) => i + 1
      )
    },
    birthdayChange() {
      const birthday = new Date(
        this.selectedYear,
        this.selectedMonth - 1,
        this.selectedDay + 1
      )
        .toISOString()
        .slice(0, 10)

      return this.$emit('birthdayChange', birthday)
    }
  }
}
</script>
