<template>
  <div id="profile-retirement" class="d-flex align-items-center">
    <div class="profile-retirement__profile-img mr-4">
      <img
        class="img-fluid avatar-xl rounded-circle my-3"
        alt="profile images"
        :src="profileImg ? profileImg : '/img/avatar/default-avatar.png'"
      />
    </div>
    <div class="profile-retirement__texts">
      <p class="profile-retirement__texts-item m-0"
        >等級：<span class="text-strong">{{ fqInfo }}</span></p
      >
      <p class="profile-retirement__texts-item m-0"
        >退休時需準備：<span class="text-strong"
          >{{ pension | filterAfterDot | commaFormat }}&nbsp;</span
        >萬</p
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileRetirement',
  filters: {
    filterAfterDot(val) {
      if (!val) return val
      return val.replace(/\.\d*/gi, '')
    },
    commaFormat(val) {
      // 加上千分位符號
      return val
        .toString()
        .replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function(
          all,
          pre,
          groupOf3Digital
        ) {
          return pre + groupOf3Digital.replace(/\d{3}/g, ',$&')
        })
    }
  },
  props: {
    profileImg: {
      type: String,
      required: true
    },
    pension: {
      type: String,
      default: '0'
    },
    fqInfo: {
      type: String,
      required: true
    }
  }
}
</script>
