<template>
  <div id="profile-user-menu" class="profile-usermenu">
    <ul class="list-unstyled sidebar-link dark custom-category">
      <li
        v-for="(profileLink, index) in profileLinks"
        :key="index + 1"
        :class="profileLink.isActive ? 'active' : ''"
      >
        <nuxt-link :to="profileLink.link"
          ><i :class="profileLink.icon"></i>{{ profileLink.title }}</nuxt-link
        >
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ProfileUserMenu',
  props: {
    activeLink: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      profileLinks: [
        {
          title: '基本資料',
          icon: 'far fa-address-book',
          link: '/member',
          isActive: false
        },
        {
          title: '我的退休金',
          icon: 'fas fa-piggy-bank',
          link: '/member/capension',
          isActive: false
        },
        {
          title: '我的觀察清單',
          icon: 'fas fa-search-dollar',
          link: '/member/watchlist',
          isActive: false
        },
        {
          title: '我的財商FQ',
          icon: 'fas fa-american-sign-language-interpreting',
          link: '/member/myfqscore',
          isActive: false
        },
        {
          title: '我的電子報',
          icon: 'fas fa-envelope-open-text',
          link: '/member/newsletter',
          isActive: false
        },
        {
          title: '我的已繳費訂閱方案',
          icon: 'fas fa-file-invoice-dollar',
          link: '/member/paidplan',
          isActive: false
        }
      ]
    }
  },
  created() {
    this.profileLinks.forEach((item) => {
      if (item.link === this.activeLink) {
        item.isActive = true
      }
    })
  }
}
</script>
