<template>
  <div id="pw-strength-displayer" class="d-flex justify-content-between">
    <div>
      <h6 class="m-0" :class="strengthClass"
        >密碼強度
        <template v-for="n in passwordStrength"
          ><i class="fas fa-circle" :key="n"></i
        ></template>
      </h6>
    </div>
    <div>
      <h6 v-if="!passwordStrength" class="m-0 text-danger"
        >密碼須為 6~12 字並包含英數</h6
      >
    </div>
  </div>
</template>

<script>
export default {
  name: 'PwStrengthDisplayer',
  props: {
    passwordStrength: {
      type: Number,
      required: true
    }
  },
  computed: {
    strengthClass() {
      return this.passwordStrength === 1
        ? 'text-danger'
        : this.passwordStrength === 2
        ? 'text-warning'
        : this.passwordStrength === 3
        ? 'text-success'
        : ''
    }
  }
}
</script>
