<template>
  <div id="valuta-fx-converter" style="padding: 15px;">
    <!-- <script type="text/javascript" charset="utf-8">
      if (typeof vfxIdx === 'undefined') vfxIdx = 0
      vfxIdx++
      document.write("<div id='vfxWidget" + vfxIdx + "'><" + '/div>')
      document.write(
        "<script async type='text/javascript' src='https://widgets.valutafx.com/ConverterWidgetLoader.aspx?sid=CC00BQ7TJ&idx=" +
          vfxIdx +
          "' charset='utf-8'></" +
          'script>'
      )</script> -->
    <div id="vfxWidget1"
      ><iframe
        style="width: 100%; height: 294px; overflow: hidden;"
        id="converterWidget_20200508023944784"
        src="https://widgets.valutafx.com/ConverterWidgetAutocomplete.aspx?sid=CC00BQ7TJ&amp;idx=1&amp;exp=TgXYV1FtDP1M73BMCkOULg%3d%3d&amp;secure=Y&amp;stk=-0RGP8J5"
        frameborder="0"
        scrolling="no"
        onload="Frame_WidgetLoaded(this);"
      ></iframe></div
    ><script
      async=""
      type="text/javascript"
      src="https://widgets.valutafx.com/ConverterWidgetLoader.aspx?sid=CC00BQ7TJ&amp;idx=1"
      charset="utf-8"
    ></script>
    <div style="overflow: hidden;">
      <div style="float: left; text-align: left;">
        <noindex
          ><a
            title="新增此免費小工具到您的網站！"
            style="font-size: 12px; color: #aaaaaa; text-decoration: none;"
            href="https://tw.valutafx.com/AddConverter.aspx?sid=CC00BQ7TJ"
            target="_blank"
            rel="nofollow"
            >新增到網站</a
          ></noindex
        >
      </div>
      <div style="float: right; text-align: right;">
        <a
          style="font-size: 12px; color: #777777; text-decoration: none; opacity: 0.6; filter: alpha(opacity=60);"
          href="https://tw.valutafx.com/"
          target="_blank"
          >tw.valutafx.com</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ValutaFXConverter'
}
</script>
