<template>
  <div id="faq-paidplan" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--content-->
      <div class="col-12">
        <div class="post-title text-center mb-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">Q&A</h1>
          <hr class="hr-after" />
        </div>
        <div class="panel-group" id="accordion">
          <!-- question 1 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post1"
                  >有哪些付費⽅式？</a
                >
              </h2>
            </header>
            <footer id="post1" class="panel-collapse collapse">
              <p class="panel-body">
                Moneybar ⺫前提供以下四種付款⽅式<br />
                (1) 信⽤卡⾃動扣款：Moneybar
                合作的第三⽅⾦流接受VISA、MASTER、JCB、銀聯發<br />
                ⾏的信⽤卡。此付費⽅式為<span class="text-red"
                  >⾃動續約⾃動扣款</span
                >，若不希望被⾃動扣款，可以⾃⾏登⼊<br />
                官網於下⼀次扣款前取消下⼀次訂閱或是選擇其他付款⽅式。此付款⽅式必須開通網<br />
                路刷卡3D 驗證功能才能完成付款。舉例：4/30
                訂閱「⽉費」，當期可觀看⾄<br />
                5/29，系統將於 5/30 扣款。<br /><br />

                (2)
                WebATM：必須有讀卡機與晶⽚卡。若使⽤台灣銀⾏、台新銀⾏、華南銀⾏、兆豐<br />
                銀⾏的⾦融卡可享有免⼿續費。若是使⽤其他銀⾏或郵局的⾦融卡將額外收取跨⾏⼿<br />
                續費。<br /><br />

                (3) ⼀般 ATM
                轉帳：若您擁有台灣銀⾏、台新銀⾏、華南銀⾏、兆豐銀⾏發⾏的⾦融<br />
                卡，並⾄該機構之ATM
                機轉帳可享免跨⾏⼿續費。若是使⽤其他銀⾏或郵局的⾦融<br />
                卡轉帳將額外收取跨⾏⼿續費。<br /><br />

                (4) 超商代碼付款：可以在7-11、全家、萊爾富、OK
                便利超商之店內多媒體機台上列印<br />
                繳費單⾄超商櫃台以現⾦繳費。<br />
              </p>
            </footer>
          </section>
          <!-- question 2 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post2"
                  >信⽤卡訂閱流程？</a
                >
              </h2>
            </header>
            <footer id="post2" class="panel-collapse collapse">
              <p class="panel-body">
                （1）從Moneybar ⾸⾴點「VIP
                訂閱」即可看到所有專家⽅案，挑選完⽅案幾可進⼊付<br />
                款流程<br />
                （2） 選擇付款⽅式為「信⽤卡定期扣款」<br />
                <img class="img-fluid" src="/img/faq/011.png" alt="011.png" />
                <br />（3） 輸入信用卡資訊，並勾選注意事項，確認email
                信箱正確<br />
                <img
                  class="img-fluid"
                  src="/img/faq/012.png"
                  alt="012.png"
                /><br />
                （4）請按下「取得簡訊OTP
                服務密碼」，在您的手機簡訊處確認密碼後再「輸入交易密<br />
                碼」後送出。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/013.png"
                  alt="013.png"
                /><br />
              </p>
            </footer>
          </section>
          <!-- question 3 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post3"
                  >信⽤卡無法順利付款怎麼辦？</a
                >
              </h2>
            </header>
            <footer id="post3" class="panel-collapse collapse">
              <p class="panel-body">
                請確認您輸入的卡片號碼、有效日期或驗證碼是否有誤，信用卡是否有開啟3D
                驗證功能<br />
                或是檢視是否超過信用額度。若是無法處理，請洽詢您的發卡銀行。若您確認信用卡狀態<br />
                正常，卻無法付款。請來信 service@moneybar.com.tw
                告知您的會員帳號與付款日<br />
                期，我們將會盡快為您處理。
              </p>
            </footer>
          </section>
          <!-- question 4 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post4"
                  >WebATM、⼀般 ATM 或超商代碼付款訂閱流程？</a
                >
              </h2>
            </header>
            <footer id="post4" class="panel-collapse collapse">
              <p class="panel-body">
                從Moneybar ⾸⾴點「VIP
                訂閱」即可看到所有專家⽅案，挑選完⽅案進⼊付款流程。填<br />
                寫結帳資訊時點選「WebATM、一般ATM 或超商代碼付款」<br />
                <img
                  class="img-fluid"
                  src="/img/faq/014.png"
                  alt="014.png"
                /><br /><br />
                <span class="font-weight-bold">WebATM</span><br />
                （1） 按「Web
                ATM」。若您擁有台灣銀⾏、台新銀⾏、華南銀⾏、兆豐銀⾏任一銀行<br />
                的金融卡，可直接選擇該銀行付款，無跨行手續費；若您沒有以上銀行的金融<br />
                卡，選擇其他銀行或郵局進行付款，將額外收取跨行手續費。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/015.png"
                  alt="015.png"
                /><br />
                （2） 使用 WebATM 請務必裝上讀卡機與晶片卡。<br /><img
                  class="img-fluid"
                  src="/img/faq/016.png"
                  alt="016.png"
                /><br />
                （3） 按照圖示步驟即可完成付款。<br /><img
                  class="img-fluid"
                  src="/img/faq/017.png"
                  alt="017.png"
                /><br /><br />
                <span class="font-weight-bold">一般ATM</span><br />
                （1） 按「ATM
                轉帳」。若您擁有台灣銀⾏、台新銀⾏、華南銀⾏、兆豐銀⾏任一銀行<br />
                的金融卡，可直接選擇該銀行至該銀行的實體ATM
                轉帳，無跨行手續費；若您<br />
                沒有以上這四家銀行的金融卡，可隨便選擇一家銀行或郵局進行付款，將額外收<br />
                取跨行手續費。<span class="text-red"
                  >【提醒】由於銀⾏作業時間為週⼀⾄週五（不包含例假⽇），早上<br />
                  9:00 ⾄下午
                  3:30，若您已過作業時間轉帳，則款項將於次個⼯作⽇下午才會⼊<br />
                  帳。</span
                ><br /><img
                  class="img-fluid"
                  src="/img/faq/018.png"
                  alt="018.png"
                /><br />
                （2）
                訂單完成後，結帳資訊將會顯示該筆訂單的繳款代碼，您需一次付清訂單金額<br />
                <img
                  class="img-fluid"
                  src="/img/faq/019.png"
                  alt="019.png"
                /><br />（3） 系統會依您填入的 Email
                發送付款通知，函中將詳列您的轉帳金額及付款帳號<br />
                <img
                  class="img-fluid"
                  src="/img/faq/020.png"
                  alt="020.png"
                /><br />
                <span class="font-weight-bold">超商代碼繳款</span><br />
                （1）
                按「超商代碼繳費」，接著點選「列印繳費流程」，最後確認送出<br />
                <img
                  class="img-fluid"
                  src="/img/faq/021.png"
                  alt="021.png"
                /><br />
                （2）
                系統將列出您的繳款代碼，您可使用超商機台列印繳費單後到櫃台繳費。<span
                  class="text-red"
                  >【提醒】<br />
                  請務必在繳費期限前持代碼前往超商的機台列印繳費單，並且完成付款，逾期訂<br />
                  單會被系統自動取消。</span
                ><br />
                <img
                  class="img-fluid"
                  src="/img/faq/022.png"
                  alt="022.png"
                /><br />
                （3） 如果忘了繳費代碼，可以查詢由系統寄出的 Email
                信函做查詢。<br />
                <img class="img-fluid" src="/img/faq/023.png" alt="023.png" />
              </p>
            </footer>
          </section>
          <!-- question 5 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post5"
                  >是否會開⽴紙本發票？</a
                >
              </h2>
            </header>
            <footer id="post5" class="panel-collapse collapse">
              <p class="panel-body">
                為響應政府環保及節能減碳計畫，且無實體電子發票可享「一般發票獎」及「雲端發票專屬獎」的<br />
                雙重對獎機會，因此本公司不提供紙本發票。您的訂單成立後即會開立電子發票，並同步EMAIL<br />
                【電子發票開立通知信】給您，您可於48小時後至<a
                  href="https://www.einvoice.nat.gov.tw/index"
                  target="_blank"
                  >財政部電子發票整合服務平台</a
                >查詢。若您選擇公<br />
                司戶(三聯式)電子發票，您可於通知信中取得「電子發票證明聯」電子檔，自行列印紙本電子發票。<br />
                每期統一發票開獎日系統亦會自動幫您對獎，並將中獎發票列印紙本，寄到您的收貨地址。
              </p>
            </footer>
          </section>
          <!-- question 6 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post6"
                  >發票若需要開⽴統編？</a
                >
              </h2>
            </header>
            <footer id="post6" class="panel-collapse collapse">
              <p class="panel-body">
                請於填寫結帳資訊時選擇「三聯式電子發票」輸入「公司統編」以及「地址」。<br />
                <img class="img-fluid" src="/img/faq/024.png" alt="024.png" />
              </p>
            </footer>
          </section>
          <!-- question 7 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post7"
                  >該如何取消信⽤卡定期扣款？</a
                >
              </h2>
            </header>
            <footer id="post7" class="panel-collapse collapse">
              <p class="panel-body">
                在 Moneybar
                ⾸⾴右上⾓點選「會員名稱」，點左邊的「我的已繳費訂閱方案」即可查<br />
                看已繳費訂閱⽅案。在[我的已繳費訂閱⽅案]，看到您想取消⾃動扣款⽅案的右邊按[取消<br />
                下⼀次訂閱]，就會取消下⼀次的信⽤卡扣款了。若您已經被扣款需要協助，請來信<br />
                service@moneybar.com.tw<br />
              </p>
            </footer>
          </section>
          <!-- question 8 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post8"
                  >我是訂閱VIP 想更改信⽤卡或付款⽅式，該如何更改？</a
                >
              </h2>
            </header>
            <footer id="post8" class="panel-collapse collapse">
              <p class="panel-body">
                a.
                如果您信⽤卡已被⾃動扣款，但您希望更換信⽤卡或付款⽅式請來信<br />
                service@moneybar.com.tw<br />
                b.
                如果您訂閱到期⽇還未到，希望更改下⼀次訂閱的付款⽅式或信⽤卡<br />
                請先登⼊Moneybar，按右上⾓的[會員名稱]，在[我的已繳費訂閱⽅案]，看到您想<br />
                變更信⽤卡的⽅案右邊按[取消下⼀次訂閱]，再按⼀次[重新訂閱該專家]就會進⼊付<br />
                款流程。提醒您，按照此流程操作會當下扣款，但是觀看⽇期還是加在原有的⽅案之後。若<br />
                是想等到原⽅案結束後再扣款，請等到您的觀看到期⽇截⽌前⼀天再操作此流程。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-008.png"
                  alt="20200902-008.png"
                /><br />
              </p>
            </footer>
          </section>
          <!-- question 9 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post9"
                  >我的訂閱期限尚未到，如果提前續約觀看時間會不會重疊？</a
                >
              </h2>
            </header>
            <footer id="post9" class="panel-collapse collapse">
              <p class="panel-body">
                不會，續約⽅案的觀看期限皆會⾃動加在原有⽅案的後⾯，不⽤擔⼼重疊的問題
              </p>
            </footer>
          </section>
        </div>
        <div class="gap-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'FaqPaidplan',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A',
          link: '/faq'
        },
        {
          title: 'VIP付費訂閱問題'
        }
      ]
    }
  },
  head() {
    return {
      title: 'VIP付費訂閱問題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
