<template>
  <div id="myfqscore" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!-- start left column -->
      <div class="col-md-8">
        <div class="row">
          <div
            id="bootnews_author-2"
            class="col-12 bg-light order-md-1 order-2"
          >
            <ProfileRetirement
              :profileImg="profileImg"
              :pension="pension"
              :fqInfo="fqLevel"
            />
          </div>
          <aside
            class="col-md-4 left-sidebar-lg order-md-2 order-1"
            id="left-sidebar"
          >
            <div class="sticky">
              <aside
                id="categories_custom-2"
                class="widget widget_categories widget_categories_custom"
              >
                <!-- SIDEBAR MENU -->
                <ProfileUserMenu :activeLink="currentPath" />
                <!-- END MENU -->
              </aside>
            </div>
            <div class="gap-3"></div>
          </aside>
          <div class="col-md-8 mt-4 order-3">
            <!-- 我的FQ -->
            <!-- 未測驗 -->
            <template v-if="fqLevel === '未測驗'">
              <div class="mb-3">
                <img width="100%" src="/img/fq/fq-title.jpg" alt="fq-title" />
              </div>
              <h1 class="myfqscore__info-title">我的FQ：<span>無</span></h1>
              <div class="myfqscore__info-content">
                <h2 class="myfqscore__info__content-sub"
                  >你是投資新手？老手？高手或贏家？</h2
                >
                <p class="myfqscore__info__content-p">
                  在投資世界中，大家都想成為海中的王者，像
                  鯊魚一樣，一出手就是手到擒來的獵殺。但是
                  只有10%的投資贏家能變成鯊魚。
                </p>
                <p class="myfqscore__info__content-p">
                  你想知道你在投資世界中是哪一種類型的魚，
                  趕快來測一測你的『投資力』？
                </p>
                <div class="d-flex justify-content-center">
                  <nuxt-link
                    to="/investbar/fqtest/questions"
                    class="myfqscore__info-button btn btn-primary text-mid rounded-pill text-white"
                  >
                    測驗開始
                  </nuxt-link>
                </div>
              </div>
            </template>
            <!-- 吻仔魚 -->
            <template v-if="fqLevel === '投資新手'">
              <div class="mb-3">
                <img
                  width="100%"
                  src="/img/fq/fq-result-04.jpg"
                  alt="fq-result-04"
                />
              </div>
              <h1 class="myfqscore__info-title"
                >你的分數是&nbsp;<span>{{ fqInfo.scoreA + fqInfo.scoreB }}</span
                >&nbsp;分。投資新手 (吻仔魚型)</h1
              >
              <div class="myfqscore__info-content">
                <p class="myfqscore__info__content-p">
                  恭喜你！就像吻仔魚日後有可能長成各式各樣的大魚。在投資的世界中，你具有無限的可能(幹話模式…)
                </p>
                <p class="myfqscore__info__content-p">
                  你會被歸類在這個區塊，投資的經驗未必少，但相信你心裡也知道，自己還在投資的世界外徘徊，就像在游泳池外看著別人游泳，自己還沒有真正地下水過。有可能是沒有時間學習，也可能是沒有人帶。或是你潛意識裡壓根不相信「投資能賺到錢」或「我能從投資賺到錢」。所以造就了這種，「投資是別人的事」、「不知道從哪裡研究起」的狀況。也因此你很容易等到大家都在討論，市場正熱的時候，才進去湊一腳，但就算賺了，也不知道自己賺錢的原因，賠了也不知道到底錯在哪。
                </p>
                <p class="myfqscore__info__content-p">
                  而就像一開始所說的，「投資新手」其實是可塑性最高的一群人。若你真有心要透過投資致富，或幫自己賺到優渥的退休金。一方面你可以增加投資知識，投入一個你有感覺、有時間投入的方式，比如不怕看數字的人，可以學習用財報，或巴菲特的方法選股；喜歡整理家務擅長處理行政的人，可以去學習整理籌碼的變化，總之就是要了解自己的特性，尋找適合你的投資法門。
                </p>
                <p class="myfqscore__info__content-p">
                  另外，也要留意是否自己在個性上比較依賴別人，或是心裡對「投資能賺錢」是否有質疑，建議你找個安靜的空間，整理一下自己對於投資的想法，並觀看網站裡推薦新手的文章。
                </p>
              </div>
            </template>
            <!-- 鯛魚 -->
            <template v-if="fqLevel === '投資老手'">
              <div class="mb-3">
                <img
                  width="100%"
                  src="/img/fq/fq-result-03.jpg"
                  alt="fq-result-03"
                />
              </div>
              <h1 class="myfqscore__info-title"
                >你的分數是&nbsp;<span>{{ fqInfo.scoreA + fqInfo.scoreB }}</span
                >&nbsp;分。投資老手(鯛魚型)</h1
              >
              <div class="myfqscore__info-content">
                <p class="myfqscore__info__content-p">
                  在這個區塊的你，通常有不錯的投資知識，也在市場上有一定的年資，已經脫離食物鏈底端永遠被吃的宿命。只是可惜的是，有豐富的投資知識，不代表能落實在現實生活的投資上，「低買高賣」、「長期投資」、「強者恆強」…，這些道理你都知道，但總還沒找到一個屬於自己的勝利方程式。
                </p>
                <p class="myfqscore__info__content-p">
                  到了這個階段，卡住你的已經不是投資的知識或工具，反而你進步的機會在於怎麼找到一套能穩定獲利而且你相信的交易模式。一般來說，要讓你迅速進步的關鍵在於「捨」：捨掉不適合你的投資模式、捨掉想要每個機會都賺的慾望。
                </p>
                <p class="myfqscore__info__content-p">
                  比如有些人一下子看均線、一下子看基本面，每天的生活裡充斥投資的資訊，但過多的訊息反而讓自己的操作變得很混亂，常常事過境遷才發現，當時只要續抱，就可以大賺；或是早知道就不要等那麼多訊號確定才進場，追高高讓自己提心吊膽。
                </p>
                <p class="myfqscore__info__content-p">
                  因此，屬於投資老手區塊的你，首先可以先梳理自己的交易模式中，有沒有自己最相信、最有把握的一套進出方法。接下來，找個安靜的空間靜下來想想，自己是不是甚麼機會都不想放過或是一定要等到百分百確定才進場，如果是個話，就需要好好的練習，放下一些離自己太遙遠的機會，並且相信自己的判斷。
                </p>
                <p class="myfqscore__info__content-p">
                  建議這區塊的你，可以多閱讀一些投資贏家的投資經驗，閱讀的重點不是他怎麼做，而是把自己代入他的角色，試著以「如果我是他，我會怎麼思考」的角度，來幫自己走一趟投資獲利的心靈之旅。另外也推薦，投資老手們，可以透過靜坐、瑜珈、跑步或正念減壓(MBSR)來鍛鍊自己的心性。
                </p>
              </div>
            </template>
            <!-- 石斑魚 -->
            <template v-if="fqLevel === '投資高手'">
              <div class="mb-3">
                <img
                  width="100%"
                  src="/img/fq/fq-result-02.jpg"
                  alt="fq-result-02"
                />
              </div>
              <h1 class="myfqscore__info-title"
                >你的分數是&nbsp;<span>{{ fqInfo.scoreA + fqInfo.scoreB }}</span
                >&nbsp;分。投資高手(石斑魚型)</h1
              >
              <div class="myfqscore__info-content">
                <p class="myfqscore__info__content-p">
                  恭喜你，讓許多人苦手的投資，卻能為你帶來獲利，就像有一口大顎的石斑魚，已有能力獵殺中小型的魚類一樣。或許你沒有懂那麼多投資知識，熟悉的金融工具也不多，但可能就靠著幾招簡單卻有效的方式，讓你順利地從金融市場提款：比如看到股市大跌就買產業龍頭股，或是在股市大漲的時候買最強的股票。
                </p>
                <p class="myfqscore__info__content-p">
                  對你來說，與其甚麼技術都懂，還不如把能制勝的賺錢招，確實的執行出來。
                </p>
                <p class="myfqscore__info__content-p">
                  不過，要注意的是，若您是近幾年才開始投資，比如有些朋友是2009年以後才進場，要留意目前的獲利，有可能是在全球多頭的環境中，怎麼做都對的結果。或是您目前的操作模式剛好適合這種長期多頭的走勢。一旦行情翻轉，目前可行的招式，就未必還能獲利。
                </p>
                <p class="myfqscore__info__content-p">
                  這樣的建議，不是要您草木皆兵，而是帶著危機意識，當前享受獲利，並對未來局勢的變化提早做出準備。比如您可以研究過往長線多頭的如何結束，景氣的轉折又有那些關鍵的徵兆。這些準備都是為了保住眼前的戰果，並悠閒地等待日後的獲利。
                </p>
                <p class="myfqscore__info__content-p">
                  另外若是投資能獲利，但狀況不穩定的話，可以先檢視自己的操作方式是否有其限制，或是會因為帳面的虧損影響到心情。比如用基本面看盤的人，買進後常常還有更低點，帳面上的虧損讓人沮喪，這時就需要回到自己的操作系統，去看見眼前的套牢或許只是過渡時期。
                </p>
                <p class="myfqscore__info__content-p">
                  推薦的進修方式。除了研究大波段轉折如何發生、如何避免之外，同樣也可以找一些靜坐、瑜珈、跑步或正念減壓(MBSR)等活動穩住自己。
                </p>
              </div>
            </template>
            <!-- 鯊魚 -->
            <template v-if="fqLevel === '投資贏家'">
              <div class="mb-3">
                <img
                  width="100%"
                  src="/img/fq/fq-result-02.jpg"
                  alt="fq-result-02"
                />
              </div>
              <h1 class="myfqscore__info-title"
                >你的分數是&nbsp;<span>{{ fqInfo.scoreA + fqInfo.scoreB }}</span
                >&nbsp;分。投資贏家(鯊魚型)</h1
              >
              <div class="myfqscore__info-content">
                <p class="myfqscore__info__content-p">
                  先確定一件事，你是誠實回答的吧(幹話模式再度開啟)。先請您收下本站的景仰，畢竟投資贏家是不到10%的少數族群，想必您能長時間的穩定獲利，除了一套技術方法，也自有一套功夫穩定自己的內在，不被外界的風雨侵擾。
                </p>
                <p class="myfqscore__info__content-p">
                  你就像海中的王者，鯊魚一樣，在投資的世界裡，不出手則以，一出手就是手到擒來的獵殺。
                </p>
                <p class="myfqscore__info__content-p">
                  做投資到了這個階段，要精進的頂多就是心性的穩定，不要讓生活中煩心的事情，特別是家人的事，成為你交易上的阻礙。
                </p>
                <p class="myfqscore__info__content-p">
                  人說：施比受有福，到了這個階段，或許您可以多發表文章，造福人群，對身邊的投資新手、老手伸出援手，或多跟一些贏家交流。
                </p>
                <p class="myfqscore__info__content-p">
                  除了盤勢看法外建議您可以多分享一些自己的心路歷程，比如如何找到自己投資方式、當交易不順利的時候如何度過低潮。
                </p>
                <p class="myfqscore__info__content-p">
                  就像巴菲特每年寫個股東的信，在分享中也是在做自我思考的整理，同時穩穩地往前進。
                </p>
              </div>
            </template>
          </div>
        </div>
      </div>
      <!-- end left column -->

      <!-- start right column -->
      <aside class="col-md-4 right-sidebar-lg order-3 order-md-3">
        <template v-for="(ad, index) in ads">
          <AsideAd :ad="ad" :key="index + 1" />
        </template>
      </aside>
      <!-- end right column -->
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AsideAd from '@/components/AsideAd'
import ProfileRetirement from '@/components/ProfileRetirement'
import ProfileUserMenu from '@/components/ProfileUserMenu'
export default {
  name: 'MyFQScore',
  components: {
    AppBreadcrumb,
    AsideAd,
    ProfileRetirement,
    ProfileUserMenu
  },
  data() {
    return {
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '會員中心', link: '/member' },
        { title: '我的FQ' }
      ],
      fqInfo: {
        scoreA: null,
        scoreB: null
      },
      pension: '0',
      profileImg: '',
      ads: []
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    fqLevel() {
      if (this.fqInfo.scoreA === null || this.fqInfo.scoreB === null)
        return '未測驗'
      // 吻仔魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB <= 12)
        return '投資新手'
      // 鯛魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB <= 12)
        return '投資老手'
      // 石斑魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB >= 13)
        return '投資高手'
      // 鯊魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB >= 13)
        return '投資贏家'
      // 未測驗
      return null
    }
  },
  created() {
    if (process.client) {
      if (!this.$store.getters.isAuthenticated) {
        this.$Swal.fire('請先登入以進入個人頁面！')
        this.$router.push('/login')
        return false
      }
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.topic,
        m.default.vipSubscription,
        m.default.USStock,
        m.default.appLink
      ]
    })
    if (!this.$store.getters.isAuthenticated) {
      this.$Swal.fire('請先登入以進入個人頁面！')
      this.$router.push('/login')
      return false
    }
    this.fetchFQScore()
    this.fetchUserInfo()
    this.fetchMemberPension()
  },
  methods: {
    async fetchUserInfo() {
      const { data: userInfoData } = await this.$axios.post('member/isedit', {
        member_account: this.$store.getters.memberAccount,
        token: this.$tokenGenerator()
      })
      this.profileImg = userInfoData.content.user_img
    },
    async fetchFQScore() {
      const memberId = this.$store.getters.memberId
      const { data } = await this.$axios.post('member/fqinfo', {
        token: this.$tokenGenerator(),
        MemberNo: memberId
      })
      this.fqInfo = data.content
    },
    async fetchMemberPension() {
      const memberId = this.$store.getters.memberId
      const { data } = await this.$axios.post('ret/PensionResulut', {
        token: this.$tokenGenerator(),
        MemberNo: memberId
      })
      if (Array.isArray(data)) return null
      this.pension = data.Content.Pension
    }
  },
  head() {
    return {
      title: '我的財商FQ測驗 - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供你投資力測驗，快來測試你是是投資新手？老手？高手或贏家？'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供你投資力測驗，快來測試你是是投資新手？老手？高手或贏家？'
        }
      ]
    }
  }
}
</script>
