<template>
  <div id="internal" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <!-- block title -->
        <AppBlockTitle12 :text="' 最新' + title + '新聞'" />

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
        <!-- AD images -->
        <ContentAd :ad="bannerAd" />
        <!-- End AD images -->
        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in downPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>
    </div>
  </div>
</template>

<script>
import ContentAd from '@/components/ContentAd'
import AppPostSection1 from '@/components/AppPostSection1'
import AppBlockTitle12 from '@/components/AppBlockTitle12'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import kidsbarInternalData from '@/pages/kidsbar/kidsbar-internal-data'

export default {
  name: 'Internal',
  components: {
    ContentAd,
    AppBreadcrumb,
    AppPostSection1,
    AppBlockTitle12
  },
  async asyncData({ $axios, params, $tokenGenerator, $imgPlaceholder }) {
    const internalKey = params.internal
    const fetchInternalData = kidsbarInternalData.data[internalKey]
    const { data: internalNewsData } = await $axios.post('backstage/newslist', {
      requestingStage: 'forestage',
      Type: [1, 3],
      Status: [0, 1, 2, 4],
      CategoryID: fetchInternalData.id,
      PCategoryID: 1,
      Keyword: null,
      page: 1,
      pageSize: 30,
      backstage: 0,
      token: $tokenGenerator()
    })
    const internalNewsDataMap = internalNewsData.content.map((item) => ({
      news_id: item.id,
      news_title: item.title,
      news_img: $imgPlaceholder(item.image),
      news_type: item.pcategory,
      news_subType: fetchInternalData.breadcrumbText,
      news_updatetime: item.publishTime,
      news_content: item.content
    }))
    return {
      internalNews: internalNewsDataMap,
      internalInfo: fetchInternalData
    }
  },
  data() {
    return {
      internalInfo: {},
      internalNews: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '親子bar', link: '/kidsbar' },
        { title: '' }
      ],
      bannerAd: {}
    }
  },
  computed: {
    upPosts() {
      return this.internalNews.slice(0, 6)
    },
    downPosts() {
      return this.internalNews.slice(6, 30)
    },
    title() {
      return this.internalInfo.title
    }
  },
  beforeMount() {
    const lastIndex = this.breadcrumbs.length - 1
    this.breadcrumbs[lastIndex].title = this.internalInfo.breadcrumbText
    import('@/assets/js/adsConfig').then((m) => {
      this.bannerAd = m.default.richkid_ad_3
    })
  },
  head() {
    return {
      title: this.title + ' - moneybar財經商業資訊社群網站',
      meta: this.internalInfo.description
        ? [
            {
              hid: 'description',
              name: 'description',
              content: this.internalInfo.description
            },
            {
              hid: 'og:description',
              name: 'og:description',
              content: this.internalInfo.description
            }
          ]
        : []
    }
  }
}
</script>
