<template>
  <div id="kidsbar" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <!--end breadcrumb-->
        <div class="mb-4 kidsbar">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mb-5">
                <nuxt-link to="/kidsbar/richboy">
                  <div class="text-center">
                    <img
                      class="img-fluid kidsbar-img rounded-circle mb-3"
                      alt="小孩理財"
                      src="/img/kidsbar/kid.png"
                    />
                    <h4>小孩理財</h4>
                  </div>
                </nuxt-link>
              </div>
              <div class="col-md-6 mb-5">
                <nuxt-link to="/kidsbar/ask">
                  <div class="text-center">
                    <img
                      class="img-fluid kidsbar-img rounded-circle mb-3"
                      alt="profile images"
                      src="/img/kidsbar/parents.png"
                    />
                    <h4>爸媽請進</h4>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>

        <!-- 基金Bar -->
        <div class="block-area mb-5">
          <!-- block title -->
          <AppBlockTitle11 :text="'親子理財最新影音'" />
          <div class="row">
            <!--video post start-->
            <article
              v-for="latestVideo in latestVideos"
              :key="latestVideo.post_id"
              class="col-6 col-lg-3"
            >
              <AppPostSection4
                :linkRoute="'/video/'"
                :middleIcon="'fas fa-video'"
                :post="latestVideo"
              />
            </article>
          </div>
        </div>
        <!--end 基金Bar-->
      </div>
    </div>
  </div>
</template>

<script>
import AppPostSection4 from '@/components/AppPostSection4'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppBlockTitle11 from '@/components/AppBlockTitle11'

export default {
  name: 'Kidsbar',
  components: { AppPostSection4, AppBreadcrumb, AppBlockTitle11 },
  async asyncData({ $axios, $tokenGenerator, $timeFilter }) {
    const { data: videosData } = await $axios.post('video/videobar', {
      video_type: [1743],
      video_count: 4,
      token: $tokenGenerator()
    })
    return {
      latestVideos: videosData.content.video['1743'].map((item) => ({
        news_id: item.Id,
        news_title: item.Title,
        news_img: item.Image,
        news_date: $timeFilter(item.PublishTime)
      }))
    }
  },
  data() {
    return {
      latestVideos: [],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '親子bar'
        }
      ]
    }
  },
  head() {
    return {
      title: '親子bar - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-親子bar透過父母與小孩的互動中，傳遞親子理財的觀念，提供從遊戲中學理財的知識。內容包括爸媽請進，小小巴菲特，零用錢、大富翁、金錢觀、教育金、記帳、紅包理財法'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-親子bar透過父母與小孩的互動中，傳遞親子理財的觀念，提供從遊戲中學理財的知識。內容包括爸媽請進，小小巴菲特，零用錢、大富翁、金錢觀、教育金、記帳、紅包理財法'
        }
      ]
    }
  }
}
</script>
