<template>
  <div id="faq-paidplan" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--content-->
      <div class="col-12">
        <div class="post-title text-center mb-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">Q&A</h1>
          <hr class="hr-after" />
        </div>
        <div class="panel-group" id="accordion">
          <!-- question 1 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post1"
                  >有哪些訂閱的形式？</a
                >
              </h2>
            </header>
            <footer id="post1" class="panel-collapse collapse">
              <p class="panel-body">
                moneybar
                網站目前的內容訂閱形式分為以下三種形式，VIP會員皆可以在訂閱期間內觀<br />看指定專家VIP文章：<br />
                （1）月費型：會員每個月付費。4/30訂閱[月費]，當期可觀看到5/29。<br />
                （2）季費型：會員每一季（三個月）付費。4/30訂閱[季費]，當期可觀看到7/29。<br />
                （3）年費型：會員每一年付費。4/30訂閱[年費]，當期可觀看到隔年4/29。
              </p>
            </footer>
          </section>
          <!-- question 2 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post2"
                  >如何訂閱⽅案？</a
                >
              </h2>
            </header>
            <footer id="post2" class="panel-collapse collapse">
              <p class="panel-body">
                要訂閱專案之前必須先註冊成為 moneybar 會員，如何<nuxt-link
                  to="/register"
                  >註冊會員請按這</nuxt-link
                ><br />
                （1）在 Moneybar ⾸⾴進⼊「VIP
                訂閱」在訂閱⽅案處找到您喜歡的⽅案，點「訂<br />閱⽅案」選擇適合您的⽅案再點選「訂閱」<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-001.png"
                  alt="20200902-001.png"
                /><br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-002.png"
                  alt="20200902-002.png"
                /><br />
                （2）填寫結帳資訊<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-003.png"
                  alt="20200902-003.png"
                /><br />
                （3）訂單成立<br />
              </p>
            </footer>
          </section>
          <!-- question 3 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post3"
                  >如何查看訂閱狀態，或確認訂閱是否成功？</a
                >
              </h2>
            </header>
            <footer id="post3" class="panel-collapse collapse">
              <p class="panel-body">
                請在⾸⾴的右上⽅點選您的「會員名稱」，點左邊的「我的已繳費訂閱⽅案」就會看到您<br />
                的「我的已繳費訂閱⽅案」、「我的待繳費訂閱⽅案」以及「我的已過期訂閱⽅案」，即<br />
                可確定各方案的訂閱狀態。若是有訂閱成功，也會在此處顯示方案的訂閱日期以及下次扣<br />
                款⽇。⼀旦顯⽰完成付款，您會收到⼀封「付費完成通知信」，表⽰付款完成。
              </p>
              <img
                class="img-fluid"
                src="/img/faq/20200902-004.png"
                alt="20200902-004.png"
              /><br />
            </footer>
          </section>
          <!-- question 4 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post4"
                  >付費訂閱 VIP 如何續約？</a
                >
              </h2>
            </header>
            <footer id="post4" class="panel-collapse collapse">
              <p class="panel-body">
                （1）
                信⽤卡：如果訂⼾沒有取消下⼀次訂閱，訂閱到期⽇信⽤卡會⾃動續約扣款，訂<br />
                ⼾會在信箱收到⼀封「付費完成通知信」，表⽰付款完成。<span
                  class="text-red"
                  >例如：4/30 訂閱<br />
                  「⽉費」，當期可觀看⾄ 5/29，系統將於 5/30 扣款。</span
                ><br />
                （2） WebATM、⼀般 ATM
                或超商代碼付款：到期⽇前⼀週，訂閱⼾會在信箱收到⼀<br />
                封「繳款付費通知信」，訂閱⼾可按照之前繳款流程完成繳款完成續訂
                VIP 內容。<br />
              </p>
            </footer>
          </section>
          <!-- question 5 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post5"
                  >我該如何變更訂閱方案？</a
                >
              </h2>
            </header>
            <footer id="post5" class="panel-collapse collapse">
              <p class="panel-body">
                在 Moneybar
                ⾸⾴右上⾓點選「會員名稱」，點左邊的「我的已繳費訂閱⽅案」即可查看<br />
                已繳費訂閱⽅案，選擇「續訂或變更⽅案」，即可變更下⼀次訂閱⽅案。<span
                  class="text-red"
                  >【提醒】不論<br />
                  是重新訂閱或是變更⽅案，訂閱觀看⽇期都會加在原有的⽅案後⾯，並不會重複。 </span
                ><br />
                (1)
                若要變更下⼀次訂閱⽅案請選「續訂或變更⽅案」:之前以信⽤卡付款者，不⽤<br />
                重新輸⼊信⽤卡卡號，系統將變更下⼀次訂閱⽅案並且在下次扣款⽇⾃動扣款。<br />
                之前以 WebATM、⼀般 ATM
                和超商代碼付款者，變更⽅案後都需重新執⾏付<br />
                款流程。<br />
                (2)
                若要取消下⼀次訂閱請選「取消下⼀次訂閱」，系統將於下次扣款⽇⾃動停⽌扣<br />
                款。<br />
                (3)
                若要參與活動提前續約，請選「取消下⼀次訂閱」，再點選「重新訂閱該專家」<br />
                即可進入付款流程提前續約。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-005.png"
                  alt="20200902-005.png"
                />
              </p>
            </footer>
          </section>
          <!-- question 6 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post6"
                  >如果訂閱已過期，該如何重新訂閱？</a
                >
              </h2>
            </header>
            <footer id="post6" class="panel-collapse collapse">
              <p class="panel-body">
                在 Moneybar
                ⾸⾴右上⾓點選「會員名稱」，點左邊的「我的已繳費訂閱方案」即可查<br />
                看「我的已過期訂閱⽅案」，點「重新訂閱該專家」即可進⼊付款流程。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-006.png"
                  alt="20200902-006.png"
                />
              </p>
            </footer>
          </section>
          <!-- question 7 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post7"
                  >訂閱之後若想要退款怎麼辦？</a
                >
              </h2>
            </header>
            <footer id="post7" class="panel-collapse collapse">
              <p class="panel-body">
                非本服務及提案者專案之因素，如訂閱戶想要取消已訂閱的專案，取消訂閱及退費原<br />則為：<br />（1）信用卡自動扣款：已扣款之當月訂閱費，不予退費。但您隨時可以自行登入會<br />員，於下一次付款日以前取消下一次訂閱。請點選「該如何取消信用卡定期扣款？」<br />的操作方式<br />（2）一次性付費（Webatm、一般ATM、超商代碼繳款）：訂閱提案者已提供之一次性付費之創作內容者，不予退<br />費。<br /><span
                  class="text-red"
                >
                  【提醒】<br />▲本服務使用之金流服務係屬第三方服務，如您使用該金流服務訂閱專案，即代表<br />您已同意第三方金流服務平台之相關使用規範及規定。本服務對第三方金流服務之效<br />能以及服務品質，不負任何擔保責任。<br />▲本服務有權可就專案之所有內容進行取消、修改或下架。如確定將取消業經訂閱戶<br />訂閱之專案時，本服務將於平台上進行公告，並於公告後次二月之20日前退還訂閱<br />者剩餘訂閱期所對應之預付訂閱款，但其中不包含相關手續費。<br />▲訂閱專案如有搭贈實體講座或贈品等優惠，如因訂閱者本身因素而無法參加實ㄑ體<br />講座，或因訂閱者不執行個人權益，或個人資料提供不完整等因素，致贈品無法送達<br />者，視同訂閱者放棄該優惠權益，訂閱者不得請求退費。</span
                ><br />
              </p>
            </footer>
          </section>
          <!-- question 8 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post8"
                  >我已經取消下⼀次訂閱，該如何續訂閱？</a
                >
              </h2>
            </header>
            <footer id="post8" class="panel-collapse collapse">
              <p class="panel-body">
                在 Moneybar
                ⾸⾴右上⾓點選「會員名稱」，點左邊的「我的已繳費訂閱⽅案」即可查看<br />
                「我的已繳費訂閱⽅案」，點右邊的「重新訂閱該專家」即可進入付款流程。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/20200902-007.png"
                  alt="20200902-007.png"
                />
              </p>
            </footer>
          </section>
          <!-- question 9 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post9"
                  >我是訂閱中的VIP會員，是否可以更換登入帳號/方式？</a
                >
              </h2>
            </header>
            <footer id="post9" class="panel-collapse collapse">
              <p class="panel-body">
                VIP會員當初用哪個帳號/方式訂閱專家就需要用同個帳號方式登入觀看。若有特殊情況<br />造成原來登入的帳號無法收信或登入，
                <a href="mailto:service@moneybar.com.tw">
                  請來信service@moneybar.com.tw。
                </a>
              </p>
            </footer>
          </section>
        </div>
        <div class="gap-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'FaqPaidplan',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A',
          link: '/faq'
        },
        {
          title: 'VIP訂閱問題'
        }
      ]
    }
  },
  head() {
    return {
      title: 'VIP訂閱問題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
