<template>
  <div id="search" class="container">
    <div class="row mt-4">
      <div class="col-md-8">
        <AppSectionLoader v-if="isLoading" />
        <span v-else-if="!searchResults.length">
          未找到任何結果
        </span>
        <template v-else>
          <div
            v-for="(article, index) in searchResults"
            :key="index + 1"
            class="search__container py-3 border-bottom"
          >
            <nuxt-link :to="article.news_link">
              <h4 class="text-navy m-0">{{ article.news_title }}</h4>
            </nuxt-link>
            <span class="search__link text-green">
              {{ host }}{{ article.news_link }}
            </span>
            <div class="d-flex">
              <!-- <img
                class="img-fluid"
                width="60px"
                v-lazy="article.news_img"
                alt=""
              /> -->
              <p>{{ article.news_content }}</p>
            </div>
          </div>
          <div class="mt-4">
            <AppPagination
              :innerValue="currentPage"
              :page-count="totalPages"
              :click-handler="onPageChange"
            />
          </div>
        </template>
        <!-- Search Result -->
      </div>
      <aside
        v-if="deviceType === 'tablet'"
        class="col-md-4 right-sidebar-lg d-none d-md-block"
      >
        <div class="sticky">
          <!-- 台股人氣ETF -->
          <div class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'台股人氣ETF'" />
            <!-- widget content -->
            <AppFundTable />
            <div class="gap-0"></div>
          </div>
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新研究報告'" />
            <!-- sub card -->
            <AppLatestStudies />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <!-- post with number -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最多人瀏覽'" />
            <!-- Block content -->
            <AppTopReview />
            <!-- end block content -->
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
    </div>
  </div>
</template>

<script>
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppFundTable from '@/components/AppFundTable'
import AppTopReview from '@/components/AppTopReview'
import AppLatestStudies from '@/components/AppLatestStudies'
import AsideAd from '@/components/AsideAd'
import AppPagination from '@/components/AppPagination'
export default {
  name: 'Search',
  components: {
    AppBlockTitle7,
    AppFundTable,
    AppTopReview,
    AppLatestStudies,
    AsideAd,
    AppPagination
  },
  async asyncData({ query, $axios, redirect, $tokenGenerator }) {
    const { q } = query
    if (!q) return redirect('/search?q=ETF')
    const { data } = await $axios.post('news/siteSearch', {
      keyword: q,
      page: 1,
      pageSize: 10,
      token: $tokenGenerator()
    })
    if (data.status === '000' && data.message === '') {
      const searchResultsMap = data.content
      searchResultsMap.forEach((item) => {
        if (item.isCharge)
          return (item.news_link = '/vip_article/' + item.news_id)
        if (item.news_type === 2)
          return (item.news_link = '/article/' + item.news_id)
        if (item.s3Video) return (item.news_link = '/video/' + item.news_id)
        return (item.news_link = '/news/' + item.news_id)
      })
      return {
        keyword: q,
        searchResults: searchResultsMap,
        totalPages: data.totalPage
      }
    }
  },
  data() {
    return {
      isLoading: false,
      host: 'https://www.moneybar.com.tw',
      studyItems: [],
      keyword: '',
      searchResults: [],
      currentPage: 1,
      totalPages: 0,
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.USStock
      this.secondAd = m.default.appLink
    })
  },
  mounted() {
    /*
     * Prevent accessing this page without any query
     */
    if (!this.$route.query.q) {
      return history.go(-1)
    }
  },
  methods: {
    async fetchSearchResult(page, keyword) {
      this.isLoading = true
      const { data } = await this.$axios.post('news/siteSearch', {
        keyword,
        page,
        pageSize: 10,
        token: this.$tokenGenerator()
      })
      if (data.status === '000' && data.message === '') {
        this.searchResults = data.content
        this.searchResults.forEach((item) => {
          if (item.isCharge)
            return (item.news_link = '/vip_article/' + item.news_id)
          if (item.news_type === 2)
            return (item.news_link = '/article/' + item.news_id)
          if (item.s3Video) return (item.news_link = '/video/' + item.news_id)
          return (item.news_link = '/news/' + item.news_id)
        })
        this.totalPages = data.totalPage
        this.isLoading = false
      }
    },
    onPageChange(page) {
      this.currentPage = page
      this.fetchSearchResult(this.currentPage, this.keyword)
    }
  },
  head() {
    return {
      title: '站內搜尋結果 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
