<template>
  <div id="expert-info" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--content-->
      <div class="col-md-8">
        <!-- Expert Info -->
        <div class="block-area expert-info-profile__wrapper">
          <ExpertInfoProfile :profile="expertInfoProfile" />
        </div>
        <!-- Expert Main Articles -->
        <div class="block-area">
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!-- Expert Other Articles -->
        <div class="block-area">
          <template v-for="post in downPosts">
            <AppArticleSection :key="post.post_id" :post="post" />
          </template>
        </div>
      </div>
      <!-- Aside -->
      <aside
        v-if="deviceType === 'tablet'"
        class="col-md-4 right-sidebar-lg d-none d-md-block d-none d-md-block"
      >
        <div class="sticky">
          <!-- 台股人氣ETF -->
          <div class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'台股人氣ETF'" />
            <!-- widget content -->
            <AppFundTable />
            <div class="gap-0"></div>
          </div>

          <!--social icon-->
          <aside class="widget">
            <!--block title-->
            <!-- <AppBlockTitle7 :text="'i 玩＄'" /> -->
            <!--icon start-->
            <!-- <AppIconBar :socialInfo="socialInfo" /> -->
            <!-- <div class="gap-05"></div> -->
            <!--end icon-->
          </aside>
          <!-- end social icon -->

          <!-- post with number -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新研究報告'" />
            <!-- sub card -->
            <AppLatestStudies />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <!-- post with number -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最多人瀏覽'" />
            <!-- Block content -->
            <AppTopReview />
            <!-- end block content -->
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
        </div>
      </aside>
      <!-- end content -->
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppPostSection1 from '@/components/AppPostSection1'
import AppArticleSection from '@/components/AppArticleSection'
import ExpertInfoProfile from '@/components/ExpertInfoProfile'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppFundTable from '@/components/AppFundTable'
// import AppIconBar from '@/components/AppIconBar'
import AppLatestStudies from '@/components/AppLatestStudies'
import AppTopReview from '@/components/AppTopReview'
import AsideAd from '@/components/AsideAd'
import arrayHasSameVal from '@/utils/arrayHasSameVal'
import expertDescriptionConfig from '@/assets/json/expertDescription.config'
import newsTypeConfig from '@/assets/json/section.config'

export default {
  name: 'ExpertInfoId',
  components: {
    AppBreadcrumb,
    AppPostSection1,
    AppArticleSection,
    ExpertInfoProfile,
    AppBlockTitle7,
    AppFundTable,
    // AppIconBar,
    AppLatestStudies,
    AppTopReview,
    AsideAd
  },
  validate({ params, app, redirect }) {
    const { id } = params
    if (isNaN(+id)) return false
    return true
  },
  async asyncData({
    params,
    $axios,
    $tokenGenerator,
    $timeFilter,
    $imgPlaceholder,
    redirect,
    app
  }) {
    const { id } = params
    const expertDescription = expertDescriptionConfig.data[id] || null
    const newsType = newsTypeConfig.data.newsType
    const { data: expertData } = await $axios.post('backstage/channelsdetail', {
      professional_id: id,
      token: $tokenGenerator()
    })
    if (!expertData.content.expert_id) {
      return redirect('/error')
    }
    if (expertData.content.expert_isVIP) {
      const { data: planListData } = await $axios.post('plan/list', {
        expert_id: id,
        plan_group: 1,
        page: 1,
        pageSize: 999,
        token: $tokenGenerator()
      })
      const planLists = planListData.content.map((i) => i.plan_id)
      if (app.$cookies.get('memberId')) {
        const { data: userSubscriptions } = await $axios.post('plan/dif', {
          MemberNo: app.$cookies.get('memberId'),
          token: $tokenGenerator()
        })

        if (!arrayHasSameVal(planLists, userSubscriptions.content)) {
          return redirect(`/blogs/moneyvip/${params.id}/plans`)
        }
      } else {
        return redirect(`/blogs/moneyvip/${params.id}/plans`)
      }
    }

    const showMemberNo = !!expertData.content.expert_isVIP

    const { data: newsData } = await $axios.post('news/articlelist', {
      expert_id: id,
      page: 1,
      pageSize: 100,
      MemberNo: showMemberNo ? app.$cookies.get('memberId') || null : null,
      token: $tokenGenerator()
    })
    newsData.content.forEach((item) => {
      item.news_img = $imgPlaceholder(item.news_img)
      item.news_date = $timeFilter(item.PublishTime)
      item.news_type = newsType[item.news_type]
    })
    return {
      expertInfoProfile: expertData.content,
      newsContent: newsData.content,
      newsType,
      expertDescription
    }
  },
  data() {
    return {
      newsType: {},
      expertInfoProfile: {},
      newsContent: '',
      socialInfo: [],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '＄觀點',
          link: '/blogs'
        },
        {
          title: '專家'
        }
      ],
      firstAd: {},
      secondAd: {},
      expertDescription: null
    }
  },
  computed: {
    upPosts() {
      return this.newsContent.slice(0, 6)
    },
    downPosts() {
      return this.newsContent.slice(6, this.newsContent.length)
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  created() {
    this.breadcrumbs[
      this.breadcrumbs.length - 1
    ].title = this.expertInfoProfile.expert_name
  },
  beforeMount() {
    if (this.expertInfoProfile.expert_isVIP) {
      this.breadcrumbs[1] = {
        title: 'VIP訂閱',
        link: '/vip'
      }
    }
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.richkid_ad_1
    })
  },
  head() {
    return {
      title: `${this.expertInfoProfile.expert_name}首頁 - moneybar財經商業資訊社群網站`,
      meta: this.expertDescription
        ? [
            {
              hid: 'description',
              name: 'description',
              content: this.expertDescription
            },
            {
              hid: 'og:description',
              name: 'og:description',
              content: this.expertDescription
            }
          ]
        : []
    }
  }
}
</script>
