<template>
  <div id="internal" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <!-- block title -->
        <AppBlockTitle12 :text="' 最新' + title + '新聞'" />

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
        <!-- AD images -->
        <ContentAd :ad="ad" />
        <!-- End AD images -->
        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in downPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>
    </div>
  </div>
</template>

<script>
import ContentAd from '@/components/ContentAd'
import AppPostSection1 from '@/components/AppPostSection1'
import AppBlockTitle12 from '@/components/AppBlockTitle12'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import retirebarInternalData from '@/pages/retirebar/retirebar-internal-data'

export default {
  name: 'Internal',
  components: {
    ContentAd,
    AppBreadcrumb,
    AppPostSection1,
    AppBlockTitle12
  },
  async asyncData({
    $axios,
    params,
    redirect,
    $tokenGenerator,
    $imgPlaceholder
  }) {
    const internalKey = params.internal
    const fetchInternalData = retirebarInternalData.data[internalKey]
    if (!fetchInternalData) {
      return redirect('/error')
    }
    const { data: internalNewsData } = await $axios.post('news/internal', {
      news_sub_type: fetchInternalData.id,
      token: $tokenGenerator()
    })
    internalNewsData.content.forEach((i) => {
      i.news_subType = fetchInternalData.breadcrumbText
      i.news_img = $imgPlaceholder(i.news_img)
    })
    return {
      internalNews: internalNewsData.content,
      internalInfo: fetchInternalData
    }
  },
  data() {
    return {
      internalInfo: {},
      internalNews: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '退休bar', link: '/retirebar' },
        { title: '' }
      ],
      ad: {}
    }
  },
  computed: {
    upPosts() {
      return this.internalNews.slice(0, 6)
    },
    downPosts() {
      return this.internalNews.slice(6, 30)
    },
    title() {
      return this.internalInfo.title
    }
  },
  beforeMount() {
    const lastIndex = this.breadcrumbs.length - 1
    this.breadcrumbs[lastIndex].title = this.internalInfo.breadcrumbText
    import('@/assets/js/adsConfig').then((m) => {
      this.ad = m.default.richkid_ad_3
    })
  },
  head() {
    return {
      title: this.title + ' - moneybar財經商業資訊社群網站',
      meta: this.internalInfo.description
        ? [
            {
              hid: 'description',
              name: 'description',
              content: this.internalInfo.description
            },
            {
              hid: 'og:description',
              name: 'og:description',
              content: this.internalInfo.description
            }
          ]
        : []
    }
  }
}
</script>
