<template>
  <div id="retire-bar" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--Slider ticker-->
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!-- Block start -->
        <div class="block-area">
          <!--block content-->
          <div class="row">
            <!--post left start-->
            <div class="col-lg-6">
              <AppPostSection2 :post="leftPost" />
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <template v-for="post in rightPosts">
                <AppPostSection3 :post="post" :key="post.post_id" />
              </template>
              <!--End post list-->
            </div>
            <!--end post right list-->
          </div>
          <!-- end block content -->
        </div>
        <!--End Block-->

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in threeNews">
              <AppPostSection1
                :post="post"
                :key="post.post_id"
                :middleIcon="'fas fa-file-alt'"
              />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>

      <!--start left column-->
      <div class="col-md-8">
        <!--最新新聞-->
        <AppLatestNews />
        <!--End 最新新聞-->
      </div>
      <!--end left column-->

      <!--start right sidebar-->
      <aside
        v-if="deviceType === 'tablet'"
        class="col-md-4 right-sidebar-lg d-none d-md-block"
      >
        <div class="sticky">
          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppPostSection1 from '@/components/AppPostSection1'
import AppPostSection2 from '@/components/AppPostSection2'
import AppPostSection3 from '@/components/AppPostSection3'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppLatestTopics from '@/components/AppLatestTopics'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AsideAd from '@/components/AsideAd'
import AppLatestNews from '@/components/AppLatestNews'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'Retirebar',
  components: {
    AppSubmenu,
    AppPostSection1,
    AppPostSection2,
    AppPostSection3,
    AppBlockTitle7,
    AppLatestTopics,
    AppLatestVIPArticles,
    AsideAd,
    AppLatestNews
  },
  async asyncData({ $axios, $tokenGenerator, $imgPlaceholder, $timeFilter }) {
    const { data: headNewsData } = await $axios.post('news/headlinenews', {
      token: $tokenGenerator()
    })
    headNewsData.content.news_data.forEach((news) => {
      news.news_img = $imgPlaceholder(news.news_img, 'mid')
      news.news_date = $timeFilter(news.PublishTime)
    })
    const { data: threeNewsData } = await $axios.post('news/threeNews', {
      CategoryID: [1043, 1044, 1045],
      enable: 'True',
      page: 1,
      pageSize: 1,
      token: $tokenGenerator()
    })
    const threeNewsDataMap = []
    for (const key in threeNewsData.content) {
      threeNewsDataMap.push(threeNewsData.content[key][0] || {})
    }
    const newsTypes = ['勞保退休金', '退休調查', '退休規劃']
    threeNewsDataMap.forEach((news, index) => {
      if (!news.news_title) return false
      news.news_customUrl = news.news_url
      news.news_img = $imgPlaceholder(news.news_img)
      news.news_type = newsTypes[index]
    })
    return {
      headNews: headNewsData.content.news_data,
      threeNews: threeNewsDataMap
    }
  },
  data() {
    return {
      headNews: [],
      latestNews: [],
      threeNews: [],
      totalPages: 1,
      currentPage: 1,
      requestingNewsList: false,
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    leftPost() {
      return this.headNews[0]
    },
    rightPosts() {
      return this.headNews.slice(1, 5)
    },
    menuItems() {
      for (let i = 0; i < menuConfig.menu.length; i++) {
        if (menuConfig.menu[i].title === '退休bar')
          return menuConfig.menu[i].subMenu
      }
      return []
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.appLink
    })
  },
  head() {
    return {
      title: '退休bar首頁 - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供退休金計算,如何請領退休金及退休規劃課程,許你一個快樂退休的未來。'
        },
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供退休金計算,如何請領退休金及退休規劃課程,許你一個快樂退休的未來。'
        }
      ]
    }
  }
}
</script>
