<template>
  <div id="news-id" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->

      <!--content-->
      <div class="col-md-8">
        <AppNewsContent :showBannerImg="true" :news="newsContent" />
      </div>
      <!-- end content -->

      <!-- start right column -->
      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <!--sticky-->
        <div class="sticky">
          <!--Advertiser-->
          <AsideAd :ad="firstAd" />
          <!--end advertiser-->

          <!-- Social icon -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最多人瀏覽'" />
            <!-- Block content -->
            <AppTopReview />
            <!-- end block content -->
            <div class="gap-0"></div>
          </aside>
          <!-- End social icon -->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <AsideAd :ad="secondAd" />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->
        </div>
        <!--End sticky-->
      </aside>
      <!-- end right column -->
      <!--Related post title-->
      <div class="related-post mb-4">
        <AppBlockTitle6 :text="'相關新聞'" />
        <div v-if="relatedNews.length" class="row">
          <article
            v-for="relatedPost in relatedNews"
            :key="relatedPost.news_id"
            class="col-12 col-lg-4 mb-module"
          >
            <AppPostSection4 :post="relatedPost" />
          </article>
        </div>
        <h5 v-else class="text-center">目前沒有相關新聞</h5>
      </div>
    </div>
  </div>
</template>

<script>
import htmlToText from 'html-to-text'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBlockTitle6 from '@/components/AppBlockTitle6'
import AppTopReview from '@/components/AppTopReview'
import AppNewsContent from '@/components/AppNewsContent'
import AppPostSection4 from '@/components/AppPostSection4'
import AppLatestTopics from '@/components/AppLatestTopics'
import AsideAd from '@/components/AsideAd'
import menuLinkFilter from '@/utils/menuLinkFilter'
import contentPTagAdder from '@/utils/contentPTagAdder'
import dateNowGenerator from '@/utils/dateNowGenerator'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'NewsId',
  components: {
    AppBreadcrumb,
    AppBlockTitle7,
    AppBlockTitle6,
    AppTopReview,
    AppNewsContent,
    AppPostSection4,
    AppLatestTopics,
    AsideAd
  },
  validate({ params }) {
    if (!params.id) return false
    if (Number.isNaN(+params.id)) return false
    return true
  },
  async asyncData({
    req,
    params,
    $axios,
    redirect,
    $tokenGenerator,
    $imgPlaceholder,
    $timeFilter,
    env
  }) {
    const { data: newsContent } = await $axios.post('news/detail', {
      news_id: params.id,
      token: $tokenGenerator()
    })
    if (!newsContent.content.news_id) {
      /* 判定找不到新聞，導至 error 頁 */
      return redirect('/error')
    }
    if (newsContent.content.news_video) {
      /* 判定為影片，導至 video 頁 */
      redirect(`/video/${params.id}`)
      return false
    }
    if (newsContent.content.news_type === 2) {
      /* 判定為專家文章，導至 article 頁 */
      redirect(`/article/${params.id}`)
      return false
    }
    const newsDateNow = +newsContent.content.news_updatetime * 1000

    newsContent.content.news_isotime = new Date(newsDateNow).toISOString()
    newsContent.content.news_description =
      htmlToText.fromString(newsContent.content.news_content).slice(0, 150) +
      '...'
    newsContent.content.news_date = dateNowGenerator(newsDateNow)
    newsContent.content.news_tags = newsContent.content.news_keywords
      ? newsContent.content.news_keywords.split(',')
      : []
    newsContent.content.news_content = contentPTagAdder(
      newsContent.content.news_content
    )
    newsContent.content.audio = newsContent.content.news_audio
    const { data: relatedNewsData } = await $axios.post('news/newsrelate', {
      news_id: params.id,
      token: $tokenGenerator()
    })
    relatedNewsData.content.news_data.forEach((item) => {
      item.news_img = $imgPlaceholder(item.news_img)
    })
    const newsPCategory =
      newsContent.content.news_Pcategory &&
      newsContent.content.news_Pcategory !== '新聞'
        ? newsContent.content.news_Pcategory.toLowerCase()
        : '新聞bar'
    const newsCategory = newsContent.content.news_category
    const { menu } = menuConfig
    const { primaryCategoryLink, subCategoryLink } = menuLinkFilter(
      newsPCategory,
      newsCategory,
      menu
    )
    return {
      newsContent: newsContent.content,
      relatedNews: relatedNewsData.content.news_data.slice(0, 3),
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: newsPCategory,
          link: primaryCategoryLink
        },
        {
          title: newsCategory,
          link: subCategoryLink
        }
      ],
      domain: env.domain
    }
  },
  data() {
    return {
      newsContent: '',
      relatedNews: [],
      topReviewPosts: [],
      relatedPosts: [],
      post: {},
      latestTopics: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '', link: '/' },
        { title: '', link: '/' }
      ],
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.richkid_ad_1
      this.secondAd = m.default.Parents_AD_02
    })
  },
  mounted() {
    // 顯示 YPA 按鈕 (如果是第一次載入則會由 script 執行)
    const ypaBtn = document.querySelector('.ypa-popup-button')
    if (ypaBtn) {
      ypaBtn.style.display = 'block'
    }
  },
  beforeDestroy() {
    // 移除 YPA 按鈕
    const ypaBtn = document.querySelector('.ypa-popup-button')
    if (ypaBtn) {
      ypaBtn.style.display = 'none'
    }
  },
  head() {
    return {
      title:
        this.newsContent.news_title + '新聞 - moneybar財經商業資訊社群網站',
      meta: [
        {
          property: 'og:url',
          content: this.domain + '/news/' + this.newsContent.news_id
        },
        {
          property: 'og:title',
          name: 'og:title',
          content: `${this.newsContent.news_title} - moneybar財經商業資訊社群網站`
        },
        {
          property: 'og:image',
          name: 'og:image',
          content:
            this.newsContent.news_img ||
            'https://www.moneybar.com.tw/img/logo/moneybar_logo.png'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          name: 'og:description',
          content: this.newsContent.news_description
        },
        {
          property: 'article:section',
          content: this.newsContent.news_category
        },
        {
          property: 'article:published_time',
          content: this.newsContent.news_isotime
        },
        {
          hid: 'description',
          name: 'description',
          content: this.newsContent.news_description
        }
      ]
      // script: [
      //   {
      //     src:
      //       'https://ypa.focusoftime.com/static/adsapiptbase.js?ptid=f3f0193f1e68d7997c1ea13240ef3424'
      //   }
      // ]
    }
  }
}
</script>
