<template>
  <div id="qa" class="container">
    <AppBreadcrumb :breadcrumbs="breadcrumbs" />
    <div class="row">
      <div
        v-for="(item, index) in sectionData"
        :key="index + 1"
        class="qa__wrapper col-12 col-md-6"
      >
        <div class="qa__wrapper__box d-flex align-items-center">
          <div class="qa__wrapper__box-icon">
            <i :class="item.iconClass"></i>
          </div>
          <nuxt-link :to="item.link" class="d-block">
            <div class="qa__wrapper__box-text">
              <h5 class="qa__wrapper__box-title">{{ item.title }}</h5>
              <span class="qa__wrapper__box-desc" v-html="item.desc"></span>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
    <div class="mb-4"></div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'QA',
  components: { AppBreadcrumb },
  data() {
    return {
      sectionData: [
        {
          iconClass: 'fas fa-user',
          title: '註冊相關問題',
          desc: '會員註冊與登入相關問題',
          link: '/faq/register'
        },
        {
          iconClass: 'icon qa-vip-subscription',
          title: 'VIP訂閱問題',
          desc: 'VIP訂閱與方案相關問題',
          link: '/faq/subscription'
        },
        {
          iconClass: 'icon qa-vip-bill',
          title: 'VIP付費問題',
          desc: '付費、發票與售後相關問題',
          link: '/faq/paidplan'
        },
        {
          iconClass: 'far fa-file-alt',
          title: 'VIP觀看⽂章問題',
          desc: '付費文章相關問題',
          link: '/faq/paidcontent'
        },
        {
          iconClass: 'fas fa-mobile-alt',
          title: 'APP相關問題',
          desc: '賺bar APP相關問題',
          link: '/faq/app'
        },
        {
          iconClass: 'icon qa-customer-service',
          title: '客服聯絡方式',
          desc:
            '電話：02-25508052<br/>信箱：service@moneybar.com.tw<br/>服務時間：週一至週五&nbsp;9:00-18:00',
          link: '#'
        }
      ],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A'
        }
      ]
    }
  },
  head() {
    return {
      title: '常見Q&A - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
