<template>
  <div id="exchange" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <!-- block title -->
        <AppBlockTitle12 :text="' 外匯熱門新聞'" />

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
            <!--post start-->
            <article class="col-sm-4">
              <!--block title-->
              <AppBlockTitle7
                :icon="'fas fa-calculator'"
                :text="' 貨幣換算器'"
              />
              <!-- ValutaFX CURRENCY CONVERTER START -->
              <client-only>
                <ValutaFXConverter />
              </client-only>
              <!-- ValutaFX CURRENCY CONVERTER END -->
            </article>
          </div>
        </div>
        <!--End Block-->
        <!-- AD images -->
        <ContentAd :ad="bannerAd" />
        <!-- End AD images -->
        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in downPosts">
              <AppPostSection1 :post="post" :key="post.post_id" />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>
    </div>
  </div>
</template>

<script>
import ContentAd from '@/components/ContentAd'
import ValutaFXConverter from '@/components/ValutaFXConverter'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBlockTitle12 from '@/components/AppBlockTitle12'
import AppPostSection1 from '@/components/AppPostSection1'
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'Exchange',
  components: {
    ContentAd,
    ValutaFXConverter,
    AppBlockTitle7,
    AppBlockTitle12,
    AppPostSection1,
    AppBreadcrumb
  },
  async asyncData({
    context,
    $axios,
    params,
    $tokenGenerator,
    $imgPlaceholder
  }) {
    const { data: internalNewsData } = await $axios.post('news/internal', {
      news_sub_type: 1717,
      token: $tokenGenerator()
    })
    internalNewsData.content.forEach((news) => {
      news.news_img = $imgPlaceholder(news.news_img)
      news.news_type = '投資bar'
    })
    return {
      upPosts: internalNewsData.content.slice(0, 5),
      downPosts: internalNewsData.content.slice(5, 29)
    }
  },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '投資bar',
          link: '/investbar'
        },
        {
          title: '外匯'
        }
      ],
      posts: [],
      upPosts: [],
      downPosts: [],
      bannerAd: {}
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.bannerAd = m.default.richkid_ad_3
    })
  },
  head() {
    return {
      title: '外匯新聞 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
