<template>
  <div id="questions" class="container">
    <AppBreadcrumb :breadcrumbs="breadcrumbs" />
    <div class="questions-picture">
      <img width="100%" src="/img/fq/fq-title.jpg" alt="fq-title" />
    </div>
    <!-- Section 1 -->
    <template v-if="page === 1">
      <h1 class="questions-title mt-2">{{ sectionOne.title }}</h1>
      <div
        class="questions-question"
        v-for="(question, index) in sectionOne.questions"
        :key="question.id"
      >
        <h2>{{ question.id }}.{{ question.question }}</h2>
        <div
          class="questions-answers"
          v-for="answer in question.answers"
          :key="answer.id"
        >
          <input
            type="radio"
            :id="'answer' + answer.id"
            :name="'answer' + index + 1"
            v-model="answered[index]"
            :value="answer.answer"
          />
          <label :for="'answer' + answer.id">{{ answer.answer }}</label>
        </div>
      </div>
    </template>
    <!-- Section 2 -->
    <template v-if="page === 2">
      <h1 class="questions-title mt-2">{{ sectionTwo.title }}</h1>
      <div
        class="questions-question"
        v-for="(question, index) in sectionTwo.questions"
        :key="question.id"
      >
        <h2>{{ question.id }}.{{ question.question }}</h2>
        <div
          class="questions-answers"
          v-for="answer in question.answers"
          :key="answer.id"
        >
          <input
            type="radio"
            :id="'answer' + answer.id"
            :name="'answer' + index + 1"
            v-model="answered[index + 4]"
            :value="answer.answer"
          />
          <label :for="'answer' + answer.id">{{ answer.answer }}</label>
        </div>
      </div>
    </template>
    <!-- Section 3 -->
    <template v-if="page === 3">
      <h1 class="questions-title mt-2">{{ sectionThree.title }}</h1>
      <div
        class="questions-question"
        v-for="(question, index) in sectionThree.questions"
        :key="question.id"
      >
        <h2>{{ question.id }}.{{ question.question }}</h2>
        <div
          class="questions-answers"
          v-for="answer in question.answers"
          :key="answer.id"
        >
          <input
            type="radio"
            :id="'answer' + answer.id"
            :name="'answer' + index + 1"
            v-model="answered[index + 8]"
            :value="answer.answer"
          />
          <label :for="'answer' + answer.id">{{ answer.answer }}</label>
        </div>
      </div>
    </template>
    <!-- Section 4 -->
    <template v-if="page === 4">
      <h1 class="questions-title mt-2">{{ sectionFour.title }}</h1>
      <div
        class="questions-question"
        v-for="(question, index) in sectionFour.questions"
        :key="question.id"
      >
        <h2>{{ question.id }}.{{ question.question }}</h2>
        <div
          class="questions-answers"
          v-for="answer in question.answers"
          :key="answer.id"
        >
          <input
            type="radio"
            :name="'answer' + index + 1"
            :id="'answer' + answer.id"
            v-model="answered[index + 12]"
            :value="answer.answer"
          />
          <label :for="'answer' + answer.id">{{ answer.answer }}</label>
        </div>
      </div>
    </template>
    <div class="text-center">
      <button
        v-if="page < 4"
        @click="nextPage"
        class="btn btn-primary rounded-pill mb-4"
        >下一頁</button
      >
      <button
        v-else
        :disabled="isLoading"
        @click="calculateScore"
        class="btn btn-primary rounded-pill mb-4"
        >查看結果</button
      ></div
    >
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import fqConfig from '@/assets/json/fq.config'
export default {
  name: 'FQQuestions',
  components: { AppBreadcrumb },
  fetch() {
    this.sectionOne.questions = this.fqConfig.slice(0, 4)
    this.sectionTwo.questions = this.fqConfig.slice(4, 8)
    this.sectionThree.questions = this.fqConfig.slice(8, 12)
    this.sectionFour.questions = this.fqConfig.slice(12, 17)
  },
  data() {
    return {
      isLoading: false,
      page: 1,
      scoreA: 0,
      scoreB: 0,
      answered: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '投資bar', link: '/investbar' },
        { title: 'FQ測驗' }
      ],
      sectionOne: {
        title: '一、投資知識測驗（單選）',
        questions: []
      },
      sectionTwo: {
        title: '二、投資能力測驗（單選）',
        questions: []
      },
      sectionThree: {
        title: '三、投資經驗測驗（單選）',
        questions: []
      },
      sectionFour: {
        title: '四、投資是否賺到錢（單選）',
        questions: []
      }
    }
  },
  computed: {
    fqConfig() {
      return fqConfig.data
    }
  },
  created() {
    if (process.client) {
      if (!this.$store.getters.isAuthenticated) {
        this.$Swal.fire('請先登入以進入個人頁面！')
        this.$router.push('/login')
        return false
      }
    }
  },
  beforeMount() {
    this.answered = Array.from({ length: 17 }, () => '')
  },
  methods: {
    nextPage() {
      // 確認是否均有作答
      for (let i = this.page; i < this.page * 4; i++) {
        if (!this.answered[i]) {
          this.$Swal.fire('每一題都必須作答')
          return false
        }
      }
      this.page += 1
      window.scrollTo(0, 0)
    },
    async calculateScore() {
      this.isLoading = true

      // 確認是否均有作答
      for (let i = 12; i < 17; i++) {
        if (!this.answered[i]) {
          this.$Swal.fire('每一題都必須作答')
          this.isLoading = false
          return false
        }
      }

      // 演算分數
      for (let i = 0; i < 12; i++) {
        for (let j = 0; j < this.fqConfig[i].answers.length; j++) {
          if (this.answered[i] === this.fqConfig[i].answers[j].answer) {
            this.scoreA += this.fqConfig[i].answers[j].score
          }
        }
      }

      for (let i = 12; i < 17; i++) {
        for (let j = 0; j < this.fqConfig[i].answers.length; j++) {
          if (this.answered[i] === this.fqConfig[i].answers[j].answer) {
            this.scoreB += this.fqConfig[i].answers[j].score
          }
        }
      }

      const payload = {
        MemberNo: this.$store.state.user.MemberNo,
        scoreA: this.scoreA,
        scoreB: this.scoreB
      }
      const { data } = await this.$axios.post('member/fqtest', {
        ...payload,
        token: this.$tokenGenerator()
      })

      if (data.status === '000' && data.err_msg === '') {
        this.isLoading = false
        this.$Swal.fire(`測驗成功！您的分數是 ${this.scoreA + this.scoreB} 分`)
        this.$router.push('/member/myfqscore')
      }
    }
  }
}
</script>
