<template>
  <div id="plans" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <div class="col-12 mt-1 mb-5 ">
          <div class="image-wrapper">
            <template v-for="(img, index) in plansInfo.plan_imgs">
              <img
                width="100%"
                :key="index + 1"
                v-lazy="img"
                alt="Image description"
              />
            </template>
          </div>
          <!--end title-->
          <div
            class="mx-4 position-relative bg-themes shadow-lrb-lg border-bottom p-3 rounded"
          >
            <div class="category-title text-center">
              <h1 class="h2 h1-md mt-3">{{ plansInfo.plan_title }}</h1>
              <hr class="hr-after" />
            </div>
            <div class="px-2 px-sm-5 mb-3" v-html="plansInfo.plan_description">
              <!-- Plan description goes here -->
            </div>
          </div>
        </div>
      </div>

      <!--訂閱方案-->
      <div class="col-12">
        <div class="widget">
          <!-- block title -->
          <AppBlockTitle5
            :text="`${plansInfo.plan_title} 訂閱方案`"
            :time="'2020/04/05'"
          />
          <!-- widget content -->
          <table class="table table-striped ">
            <thead>
              <tr>
                <th width="35%" class="text-center">方案名稱</th>
                <th width="20%" class="text-center">方案費用</th>
                <th class="mobile-hide text-center">方案說明</th>
                <th width="10%" class="">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="cases.length">
                <tr v-for="(tableCase, index) in cases" :key="index + 1">
                  <td class="py-3"
                    ><span class="h6 h5-sm">{{
                      tableCase.case_title
                    }}</span></td
                  >
                  <td class="text-center py-3"
                    ><span>{{ tableCase.case_price }}</span></td
                  >
                  <td
                    class="mobile-hide py-3"
                    v-html="tableCase.case_description"
                  ></td>
                  <td class="text-center py-3"
                    ><button
                      v-if="!userSubscriptions.includes(tableCase.case_id)"
                      :data-index="index"
                      @click="handleSubscribe"
                      class="btn btn-sm btn-danger"
                      >訂閱</button
                    >
                    <button v-else class="btn btn-sm border btn-light"
                      >已訂閱</button
                    >
                  </td>
                </tr>
              </template>
              <tr v-else>
                <td></td>
                <td class="text-center">尚無任何訂閱方案</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <div class="gap-0"></div>
        </div>
      </div>
      <!--end 訂閱方案-->
      <!--Block start-->
      <div class="block-area">
        <!-- block title -->
        <AppBlockTitle11 :text="`看更多 ${plansInfo.plan_title} 文章`" />
        <div class="row">
          <template v-for="post in posts">
            <AppPostSection1 :post="post" :key="post.post_id" />
          </template>
        </div>
      </div>
      <!--End Block-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppPostSection1 from '@/components/AppPostSection1'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import moneyvipPlansConfig from '@/assets/json/moneyvipPlans.config'

export default {
  name: 'Plans',
  components: {
    AppBlockTitle5,
    AppBlockTitle11,
    AppPostSection1,
    AppBreadcrumb
  },
  async asyncData({ $axios, params, redirect, $tokenGenerator, app }) {
    const { data: professionalData } = await $axios.post(
      'backstage/channelsdetail',
      {
        professional_id: params.id,
        token: $tokenGenerator()
      }
    )
    /* 非 VIP 導至 error 頁 */
    if (!professionalData.content.expert_isVIP) {
      return redirect('/error')
    }
    const professionalDataMap = {
      plan_id: professionalData.content.expert_id,
      plan_title: professionalData.content.expert_name,
      plan_description: professionalData.content.expert_profile
    }
    const { data: newsData } = await $axios.post('news/articlelist', {
      expert_id: params.id,
      page: 1,
      pageSize: 9,
      MemberNo: null,
      token: $tokenGenerator()
    })
    return {
      plansInfo: professionalDataMap,
      posts: newsData.content,
      moneyvipPlansImgs: moneyvipPlansConfig.moneyvipPlansImgs,
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: 'VIP訂閱',
          link: '/vip'
        },
        {
          title: professionalDataMap.plan_title,
          link: '/blogs/moneyvip/' + professionalDataMap.plan_id
        },
        {
          title: '方案介紹'
        }
      ]
    }
  },
  data() {
    return {
      plansInfo: {},
      cases: [],
      posts: [],
      breadcrumbs: [],
      moneyvipPlansImgs: {}
    }
  },
  computed: {
    ...mapGetters(['userSubscriptions'])
  },
  beforeMount() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch('FETCH_USER_SUBSCRIPTIONS')
    }
    const expertId = this.$route.params.id
    const planGroup = 0
    this.fetchPlanList(expertId)
    this.plansInfo.plan_imgs = this.moneyvipPlansImgs[expertId]
      ? this.moneyvipPlansImgs[expertId][planGroup]
      : ''
  },
  methods: {
    async fetchPlanList(expertId) {
      const { data: planData } = await this.$axios.post('plan/list', {
        expert_id: expertId,
        plan_group: null,
        page: 1,
        pageSize: 999,
        token: this.$tokenGenerator()
      })
      this.cases = planData.content.map((item) => ({
        case_id: item.plan_id,
        case_title: item.plan_title,
        case_price: item.plan_price,
        case_description: item.plan_cont,
        plan_group: item.plan_group
      }))
    },
    handleSubscribe(e) {
      if (!this.$store.getters.isAuthenticated) {
        this.$Swal.fire('請登入以進行訂閱')
        this.$router.push('/login')
        return false
      }
      const i = e.target.dataset.index
      localStorage.setItem(
        'cartItem',
        JSON.stringify({
          ...this.cases[i],
          expert_id: this.plansInfo.plan_id,
          MemberNo: this.$store.getters.memberId
        })
      )
      this.$router.push('/cart')
    }
  },
  head() {
    return { title: 'VIP訂閱首頁 - moneybar財經商業資訊社群網站' }
  }
}
</script>
