<template>
  <div class="app-footer">
    <!--Footer start-->
    <footer>
      <!--Footer content-->
      <div id="footer" class="py-5 px-3">
        <div class="container">
          <div class="row">
            <!-- left widget -->
            <div class="widget col-md-12 col-lg-3">
              <div class="widget-content  mb-2">
                <img
                  class="footer-logo img-fluid d-block d-lg-none mx-auto"
                  v-lazy="'/img/logo/default-logo.png'"
                  alt="Footer-logo-mobile"
                />
                <img
                  class="footer-logo img-fluid d-none d-lg-block mx-auto"
                  v-lazy="'/img/logo/logo-footer-dark.png'"
                  alt="Footer-logo-pc"
                />
              </div>
            </div>
            <div class="widget footer-app col-12 col-lg-3">
              <!--title-->
              <h3
                class="h5 widget-title border-bottom border-dark d-none d-lg-block"
                >Download Our Apps</h3
              >
              <!--App store link-->
              <a
                class="btn btn-dark rounded-0 text-left p-2 mb-2 apple-link"
                href="https://apps.apple.com/tw/app/moneybar-賺bar-app-陪你學習一起變有錢/id1503118229"
                target="_blank"
              >
                <span class="media align-items-center">
                  <!--icon-->
                  <span class="mr-2">
                    <span class="fab fa-apple"></span>
                  </span>
                  <!--text-->
                  <span class="media-body">
                    <span class="small d-block">Download on the</span>
                    <strong>App Store</strong>
                  </span>
                  <!--end text-->
                </span>
              </a>
              <!--End App store link-->
              <!--Google play link-->
              <a
                class="btn btn-dark rounded-0 text-left p-2 mb-2 google-link"
                href="https://play.google.com/store/apps/details?hl=zh_TW&id=com.moneybar.app"
                target="_blank"
              >
                <span class="media align-items-center">
                  <!--icon-->
                  <span class="mr-2">
                    <span class="fab fa-google-play"></span>
                  </span>
                  <!--text-->
                  <span class="media-body">
                    <span class="d-block small">Get it on</span>
                    <strong>Google Play</strong>
                  </span>
                  <!--end text-->
                </span>
              </a>
              <!--End Google play link-->
            </div>
            <!-- center widget -->
            <div
              v-for="(footerItem, index) in footer"
              :key="index + 1"
              class="footer-items widget col-6 col-lg-3"
            >
              <h3 class="widget-title border-bottom border-dark">
                {{ footerItem.title }}
              </h3>
              <ul class="list-unstyled before-arrow">
                <!-- 寬度切換時交替文字 -->
                <li v-if="footerItem.title === '關於我們'">
                  <nuxt-link to="/aboutus" class="d-none d-lg-block"
                    >關於我們</nuxt-link
                  >
                  <nuxt-link to="/aboutus" class="d-block d-lg-none"
                    >認識我們</nuxt-link
                  >
                </li>
                <li
                  v-for="(footerSubItem,
                  footerSubItemIndex) in footerItem.subMenu"
                  :key="footerSubItemIndex + 1"
                >
                  <!-- IF LINK IS OTHER WEBSITE USE A HREF -->
                  <a
                    v-if="/http/gi.test(footerSubItem.link)"
                    target="_blank"
                    rel="noreferrer"
                    :href="footerSubItem.link"
                    >{{ footerSubItem.title }}</a
                  >
                  <nuxt-link v-else :to="footerSubItem.link">{{
                    footerSubItem.title
                  }}</nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--End footer content-->
      <!--Start footer copyright-->
      <div class="bg-secondary footer-dark py-1 border-top border-smooth">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md text-center">
              <p class="d-block mb-3 mt-3">
                Copyright © 2020 moneybar All Rights Reserved.
                ◎未經授權,不得轉載
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End footer copyright-->
    </footer>
    <!-- End Footer -->
  </div>
</template>

<script>
import footerConfig from '@/assets/json/footer.config.json'

export default {
  name: 'AppFooter',
  computed: {
    footer() {
      return footerConfig.footer
    }
  }
}
</script>
