<template>
  <div id="app-go-top">
    <a
      class="material-scrolltop back-top btn btn-light border position-fixed r-1 b-1"
      href="javascript:void(0)"
      ><i class="fa fa-arrow-up"></i
    ></a>
  </div>
</template>

<script>
export default {
  name: 'AppGoTop'
}
</script>
