<template>
  <div id="app-header">
    <!--Header start-->
    <header class="header">
      <!-- top menu -->
      <div class="top-menu">
        <div class="container shadow">
          <!--Navbar-->
          <nav class="navbar navbar-expand-lg px-0 py-0">
            <!--Hamburger button-->
            <button
              id="showLeftPush"
              class="navbar-toggler side-hamburger border-0 px-0"
              @click="pushMenuToLeft"
            >
              <span class="hamburger-icon">
                <span class="bg-dark"></span><span class="bg-dark"></span
                ><span class="bg-dark"></span><span class="bg-dark"></span>
              </span>
            </button>
            <!-- Mobile logo -->
            <nuxt-link to="/">
              <img
                class="mobile-logo img-fluid d-lg-none mx-auto"
                src="@/static/img/logo/default-logo.png"
                alt="Logo site"
              />
            </nuxt-link>
            <!--Right Toggle Button-->
            <div>
              <button
                class="custom-search navbar-toggler px-0"
                type="button"
                @click="toggleSearchInput"
              >
                <img
                  src="/img/svg/custom-search.svg"
                  width="16px"
                  alt="search"
                />
              </button>
              <a
                v-if="userData.id"
                class="text-dark login-link d-lg-none d-inline"
                href="javascript:void(0)"
                @click="logout"
              >
                LOGOUT
              </a>
              <nuxt-link
                v-else
                to="/login"
                class="text-dark login-link d-lg-none d-inline"
                >LOGIN</nuxt-link
              >
            </div>
            <!--Top Navbar-->
            <div id="navbarTogglerDemo" class="collapse navbar-collapse">
              <!-- Time -->
              <div class="date-area d-none d-lg-block">
                <time class="navbar-text mr-2">{{ currentDate }}</time>
              </div>
              <!--Top right menu-->
              <ul class="navbar-nav ml-auto text-center">
                <li class="nav-item">
                  <!-- 未登入 -->
                  <nuxt-link v-if="!userData.id" class="nav-link" to="/login"
                    >會員登入/註冊
                  </nuxt-link>
                  <!-- 已登入有名字 -->
                  <template v-else-if="userData.name">
                    <nuxt-link to="/member">{{ userData.name }}</nuxt-link>
                    <a class="pl-4" href="javascript:void(0)" @click="logout"
                      >登出</a
                    >
                  </template>
                  <!-- 已登入沒名字 -->
                  <template v-else>
                    <nuxt-link to="/member">使用者</nuxt-link>
                    <a class="pl-4" href="javascript:void(0)" @click="logout"
                      >登出</a
                    >
                  </template>
                </li>
              </ul>
              <!--end top right menu-->
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
      <!--end top menu-->

      <!--start second header-->
      <div class="second-header pt-2 pt-lg-0">
        <div class="container">
          <div class="row">
            <!--Left content logo-->
            <div class="col-lg-4">
              <div id="main-logo" class="main-logo my-lg-1 d-none d-lg-block">
                <nuxt-link class="navbar-brand" to="/">
                  <img
                    class="img-fluid"
                    src="@/static/img/logo/default-logo.png"
                    alt="Logo site"
                  />
                </nuxt-link>
              </div>
            </div>

            <div class="my-lg-4 d-none d-lg-block ml-auto text-center">
              <form class="form-inline" @submit.prevent.stop="handleSearch">
                <div class="input-group w-100 bg-white">
                  <input
                    v-model="searchText"
                    type="text"
                    class="form-control border border-right-0"
                    placeholder="Search..."
                    aria-label="search"
                  />
                  <div class="input-group-prepend bg-light-dark">
                    <button
                      class="btn bg-transparent border-left-0 input-group-text border"
                      type="submit"
                      :disabled="isLoading"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <!--search mobile-->
            <div
              class="mobile-search-input col-12"
              ref="mobileSearch"
              style="height: 1px;"
            >
              <form class="form-inline" @submit.prevent.stop="handleSearch">
                <div class="input-group w-100 bg-white">
                  <input
                    v-model="searchText"
                    type="text"
                    class="form-control border border-right-0"
                    placeholder="Search..."
                    aria-label="search"
                  />
                  <div class="input-group-prepend bg-light-dark">
                    <button
                      class="btn bg-transparent border-left-0 input-group-text border"
                      type="submit"
                      :disabled="isLoading"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--end search mobile-->
          </div>
        </div>
      </div>
      <!--End second header-->
    </header>
    <!--End header-->
  </div>
</template>

<script>
import dateGenerator from '@/utils/dateGenerator'

export default {
  name: 'AppHeader',
  props: {
    userData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isLoading: false,
      searchText: ''
    }
  },
  computed: {
    currentDate() {
      return dateGenerator()
    },
    availableRoutes() {
      return this.$router.options.routes
    }
  },
  beforeMount() {
    this.searchText = this.$route.query.q || ''
  },
  methods: {
    pushMenuToLeft() {
      document.querySelector('.close-btn').classList.remove('d-none')
      document.querySelector('body').classList.toggle('sidenav-left-open')
      document.querySelector('.push-left').classList.toggle('pushleft-open')
    },
    handleSearch() {
      this.isLoading = true
      if (!this.searchText.trim()) return false
      location.href = `/search?q=${this.searchText}`
      this.isLoading = false
      return null
    },
    toggleSearchInput() {
      const { mobileSearch } = this.$refs
      mobileSearch.style.height =
        mobileSearch.style.height === '1px' ? '50px' : '1px'
    },
    logout() {
      this.$cookies.remove('memberId')
      this.$cookies.remove('memberAccount')
      this.$Swal.fire('登出成功！')
      this.$store.commit('CLEAR_USER')
      location.reload()
      return null
    }
  }
}
</script>
