<template>
  <div id="app-menu">
    <!--Main menu-->
    <div
      id="showbacktop"
      class="full-nav bg-white border-none border-lg-1 border-bottom shadow-b-sm py-0"
    >
      <div class="container">
        <nav
          id="main-menu"
          class="main-menu navbar navbar-expand-lg navbar-light px-2 px-lg-0 py-0"
        >
          <!--Navbar menu-->
          <div
            id="navbarTogglerDemo1"
            class="collapse navbar-collapse hover-mode"
          >
            <!-- logo in navbar -->

            <!--left main menu start-->
            <ul id="left-main" class="navbar-nav main-nav first-left-lg-0">
              <li
                v-for="(menuItem, index) in menu"
                :key="index + 1"
                class="nav-item mr-4"
              >
                <template v-if="menuItem.subMenu">
                  <nuxt-link
                    id="navbarhome"
                    class="nav-link dropdown-toggle"
                    :to="menuItem.link || '/'"
                    data-hover="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >{{ menuItem.title }}</nuxt-link
                  >
                  <!--link-->
                  <ul class="dropdown-menu">
                    <template
                      v-for="(subItem, subItemIndex) in menuItem.subMenu"
                    >
                      <!-- PC非熱搜 -->
                      <li v-if="!subItem.subMenu" :key="subItemIndex + 1">
                        <nuxt-link
                          class="dropdown-item"
                          :to="subItem.link || '#'"
                          >{{ subItem.title }}</nuxt-link
                        >
                      </li>
                      <!-- PC熱搜 -->
                      <li
                        v-else
                        :key="subItemIndex + 1"
                        class="dropdown-submenu"
                      >
                        <nuxt-link
                          id="sub1"
                          class="dropdown-item dropdown-toggle"
                          :to="subItem.link || '#'"
                          data-hover="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >{{ subItem.title }}</nuxt-link
                        >
                        <ul class="dropdown-menu" aria-labelledby="sub1">
                          <li
                            v-for="(subItemSub,
                            subItemSubIndex) in subItem.subMenu"
                            :key="subItemSubIndex + 1"
                          >
                            <nuxt-link
                              class="dropdown-item"
                              :to="subItemSub.link || '#'"
                              >{{ subItemSub.title }}</nuxt-link
                            >
                          </li>
                        </ul>
                      </li>
                    </template>
                  </ul>
                </template>
                <!-- end link -->
                <a
                  v-else-if="menuItem.openNewTab"
                  :href="menuItem.link || '#'"
                  id="navbarhome"
                  target="_blank"
                  class="nav-link"
                >
                  {{ menuItem.title }}
                </a>
                <nuxt-link
                  v-else
                  id="navbarhome"
                  class="nav-link"
                  :to="menuItem.link || '/'"
                >
                  {{ menuItem.title }}
                </nuxt-link>
              </li>
            </ul>
            <!--end left main menu-->
          </div>
          <!--End navbar menu-->
        </nav>
      </div>
    </div>
    <!-- End main menu -->

    <!-- sidebar mobile menu -->
    <div class="mobile-side">
      <!--Left Mobile menu-->
      <div class="back-menu">
        <div ref="closeBtn" class="close-btn d-none" @click="closeMenu"
          >&times;</div
        >
        <span class="hamburger-icon open">
          <span></span><span></span><span></span><span></span>
        </span>
      </div>
      <nav
        id="mobile-menu"
        ref="mobileMenu"
        class="menu-mobile d-flex flex-column push push-left shadow-r-sm bg-white "
      >
        <!-- mobile menu content -->
        <div ref="mobileContent" class="mobile-content">
          <!--logo-->
          <div @click="closeMenu" class="mobile-content__header">
            <nuxt-link v-if="userData.name" to="/member">{{
              userData.name
            }}</nuxt-link>
            <nuxt-link v-else-if="!userData.name" to="/member"
              >使用者</nuxt-link
            >
            <nuxt-link v-else to="login">
              會員登入/註冊
            </nuxt-link>
          </div>
          <hr />
          <!--navigation-->
          <div class="sidenav-menu">
            <nav class="navbar navbar-inverse">
              <ul
                id="side-menu"
                class="nav navbar-nav list-group list-unstyled side-link"
              >
                <!-- dropdown menu start -->
                <template v-for="(menuItem, index) in menu">
                  <!-- menu with subMenu -->
                  <li
                    v-if="menuItem.subMenu"
                    :key="index + 1"
                    :data-index="index"
                    @click="openSubMenu"
                    class="menu-item menu-item-has-children dropdown mega-dropdown nav-item"
                  >
                    <a
                      :data-index="index"
                      aria-haspopup="true"
                      aria-expanded="false"
                      class="dropdown-toggle nav-link"
                      id="menu-11"
                      >{{ menuItem.title }}</a
                    >
                  </li>
                  <!-- menu without subMenu -->
                  <li
                    v-else-if="menuItem.openNewTab"
                    :key="index + 1"
                    :data-index="index"
                    @click="closeMenu"
                    class="menu-item nav-item"
                  >
                    <a :href="menuItem.link" target="_blank" class="nav-link">{{
                      menuItem.title
                    }}</a>
                  </li>
                  <li
                    v-else
                    :key="index + 1"
                    @click="closeMenu"
                    class="menu-item nav-item"
                  >
                    <nuxt-link :to="menuItem.link" class="nav-link">{{
                      menuItem.title
                    }}</nuxt-link>
                  </li>
                </template>
                <!-- end dropdown menu -->
              </ul>

              <!-- copyright mobile sidebar menu -->
              <div class="aside-footer">
                <hr />
                <ul>
                  <li
                    v-for="(footerItem, index) in asideFooterConfig"
                    :key="index + 1"
                    @click="closeMenu"
                  >
                    <nuxt-link :to="footerItem.link" class="list-group-item">{{
                      footerItem.title
                    }}</nuxt-link>
                  </li>
                </ul>
                <div class="icon-bar d-flex justify-content-between mb-5">
                  <a
                    v-for="(icon, index) in asideFooterIcons"
                    :key="index + 1"
                    :href="icon.link"
                    target="_blank"
                  >
                    <img :src="icon.image" width="24" alt="icon" />
                  </a>
                </div>
                <hr />
              </div>
            </nav>
          </div>
        </div>
        <!-- dynamic mobile subMenu starts -->
        <div
          ref="dynamicSubMenu"
          class="dynamic__submenu"
          style="width: 1px; overflow:hidden; left: 100vw;"
        >
          <div class="dynamic__submenu__header">
            <span class="dynamic__submenu__header-icon" @click="closeSubMenu"
              ><i class="fas fa-chevron-left"></i
            ></span>
            <span class="dynamic__submenu__header-text">功能表</span>
          </div>
          <div class="dynamic__submenu__content sidenav-menu">
            <nav class="navbar navbar-inverse">
              <h5 @click="closeMenu">
                <nuxt-link
                  v-if="activeSubMenuLink"
                  :to="activeSubMenuLink"
                  class="dynamic__submenu__content-link p-0"
                >
                  {{ activeSubMenuTitle }}
                </nuxt-link>
                <template v-else>{{ activeSubMenuTitle }}</template>
              </h5>
              <!-- subMenu enters here -->
              <ul
                class="nav navbar-nav list-group list-unstyled side-link"
                aria-labelledby="menu-11"
                role="menu"
              >
                <template v-for="(subItem, subItemIndex) in activeSubMenu">
                  <!-- subMenu without subMenu -->
                  <li
                    v-if="!subItem.subMenu"
                    :key="subItemIndex + 1"
                    @click="closeMenu"
                    class="menu-item nav-item"
                  >
                    <nuxt-link :to="subItem.link" class="dropdown-item">{{
                      subItem.title
                    }}</nuxt-link>
                  </li>
                  <!-- subMenu with subMenu -->
                  <li
                    v-else
                    :key="subItemIndex + 1"
                    class="menu-item menu-item-has-children dropdown mega-dropdown nav-item icon-plus-minus"
                  >
                    <a
                      href="javascript:void(0)"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      class="dropdown-item dropdown-toggle"
                      id="menu-13"
                    >
                      {{ subItem.title }}
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="menu-13"
                      role="menu"
                    >
                      <li
                        v-for="(subItemSub, subItemSubIndex) in subItem.subMenu"
                        :key="subItemSubIndex + 1"
                        @click="closeMenu"
                        class="menu-item nav-item sub-item"
                      >
                        <nuxt-link
                          :to="subItemSub.link"
                          class="dropdown-item"
                          >{{ subItemSub.title }}</nuxt-link
                        >
                      </li>
                    </ul>
                  </li>
                </template>
              </ul>
            </nav>
          </div>
        </div>
        <!-- dynamic mobile subMenu ends -->
      </nav>
    </div>
    <!-- end sidebar mobile menu -->
  </div>
</template>

<script>
import menuConfig from '@/assets/json/menu.config.json'
import footerConfig from '@/assets/json/footer.config.json'

export default {
  name: 'AppMenu',
  props: {
    userData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      subMenuIndex: null,
      asideFooterConfig: [
        {
          title: '認識我們',
          link: '/aboutus'
        }
      ],
      asideFooterIcons: [
        {
          image: '/img/icons/facebook-icon.png',
          link: 'https://www.facebook.com/moenybar'
        },
        {
          image: '/img/icons/youtube-icon.png',
          link:
            'https://www.youtube.com/channel/UCQWtzlNyFmCYZWaxsfUzoVw/featured'
        },
        {
          image: '/img/icons/line-icon.png',
          link: 'https://line.me/R/ti/p/%40vau4498j'
        }
      ]
    }
  },
  computed: {
    menu() {
      return menuConfig.menu
    },
    footer() {
      return footerConfig.footer[0].subMenu
    },
    activeSubMenuTitle() {
      return this.menu[this.subMenuIndex]
        ? this.menu[this.subMenuIndex].title
        : null
    },
    activeSubMenuLink() {
      return this.menu[this.subMenuIndex]
        ? this.menu[this.subMenuIndex].link
        : null
    },
    activeSubMenu() {
      return this.menu[this.subMenuIndex]
        ? this.menu[this.subMenuIndex].subMenu
        : null
    }
  },
  created() {
    this.footer.forEach((i) => this.asideFooterConfig.push(i))
  },
  mounted() {
    const invokingWidth = 992
    if (document.body.clientWidth > invokingWidth) {
      document
        .querySelectorAll('.navbar-nav>li>.dropdown-menu')
        .forEach((node) => {
          node.classList.add('animations', 'slideInUp')
        })
    }
  },
  methods: {
    closeMenu() {
      this.closeSubMenu()
      this.$refs.closeBtn.classList.add('d-none')
      this.$refs.mobileMenu.classList.remove('pushleft-open', 'pushright-open')
      document
        .querySelector('body')
        .classList.remove('sidenav-left-open', 'sidenav-right-open')
    },
    openSubMenu(e) {
      const parentHeight = this.$refs.mobileContent.offsetHeight
      const { dynamicSubMenu, mobileMenu } = this.$refs
      this.subMenuIndex = e.target.dataset.index
      dynamicSubMenu.style.width = '100%'
      dynamicSubMenu.style.left = '0vw'
      dynamicSubMenu.style.height = `${parentHeight}px`
      dynamicSubMenu.style.overflowY = 'scroll'
      mobileMenu.scrollTo(0, 0)
      mobileMenu.style.overflowY = 'hidden'
    },
    closeSubMenu() {
      const { dynamicSubMenu, mobileMenu } = this.$refs
      dynamicSubMenu.style.width = '1px'
      dynamicSubMenu.style.left = '100vw'
      this.subMenuIndex = null
      mobileMenu.style.overflowY = 'scroll'
    }
  }
}
</script>
