<template>
  <div id="indstock" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->

      <!--content-->
      <div class="col-md-8">
        <div class="post-title mb-4">
          <!-- title -->
          <h1 class="entry-title display-4 display-3-lg mt-2"
            >{{ stockInfo.etf_name }}
            <small class="text-red"> ({{ stockInfo.etf_code }})</small></h1
          >
          <!-- atribute -->
          <div class="post-atribute mb-3">
            <div class="stock-info">
              <div class="">
                <h1
                  class="d-inline display-4 display-3-lg"
                  :class="
                    +stockInfo.etf_oneday === 0
                      ? 'text-black'
                      : +stockInfo.etf_oneday > 0
                      ? 'text-danger'
                      : 'text-green'
                  "
                  >${{ stockInfo.etf_price }}</h1
                >
                <span v-if="+stockInfo.etf_oneday < 0" class="text-green"
                  >(&nbsp;<i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_oneday | fixTwo
                  }}&nbsp;)</span
                >
                <span v-else-if="+stockInfo.etf_oneday > 0" class="text-danger">
                  (&nbsp;<i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_oneday | fixTwo
                  }}&nbsp;)
                </span>
                <span v-else class="text-black">
                  (&nbsp;─&nbsp;)
                </span>
                美元 <span class="ml-1 ml-sm-3 mr-1">P/E</span
                ><span :class="stockInfo.etf_PE ? 'text-danger' : ''">{{
                  stockInfo.etf_PE | fixTwo
                }}</span>
                <span class="ml-1 ml-sm-3 mr-1">EPS 成長(%)</span
                ><span :class="stockInfo.etf_PE ? 'text-danger' : ''">{{
                  stockInfo.etf_EPS | fixTwo
                }}</span>
                <span class="ml-1 ml-sm-3 mr-1">配息</span
                ><span :class="stockInfo.etf_PE ? 'text-danger' : ''">{{
                  stockInfo.etf_Dividend | fixTwo
                }}</span>
                <span class="ml-1 ml-sm-3 mr-1">{{ stockInfo.etf_date }}</span>
              </div>
              <div class="ml-auto">
                <button
                  v-if="!isWatched"
                  class="btn btn-social btn-primary text-white btn-sm"
                  @click.self="handleAddWatchlist"
                  :data-etfpid="stockInfo.etf_pid"
                  title="add"
                  ><i class="fas fa-plus"></i>
                  <span class="d-none d-sm-inline">加入觀察</span>
                </button>
                <button
                  v-else
                  class="btn btn-social btn-primary text-white btn-sm"
                  disabled
                >
                  <span class="d-none d-sm-inline">已在您的觀察清單</span>
                </button>
              </div>
            </div>
          </div>
          <div class="rate-box">
            <!-- 電腦版標頭 -->
            <div class="rate-item rate-item-head d-md-flex d-none"
              >期間報酬率</div
            >
            <div class="rate-item-body">
              <!-- 手機版標頭 -->
              <div class="rate-item d-flex d-md-none"
                ><span>期間</span><span>報酬率</span></div
              >
              <div class="rate-item"
                ><span>1日</span
                ><span v-if="+stockInfo.etf_oneday < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_oneday | fixTwo | filterMinus | addPercentage
                  }}</span
                ><span v-else-if="+stockInfo.etf_oneday > 0" class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_oneday | fixTwo | addPercentage
                  }}</span
                ><span v-else class="text-black">─</span>
              </div>
              <div class="rate-item"
                ><span>今年以來</span
                ><span v-if="+stockInfo.etf_ytd < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_ytd | fixTwo | filterMinus | addPercentage
                  }}</span
                ><span v-else-if="+stockInfo.etf_ytd > 0" class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_ytd | fixTwo | addPercentage
                  }}</span
                >
                <span v-else class="text-black">─</span>
              </div>
              <div class="rate-item"
                ><span>1年</span
                ><span v-if="+stockInfo.etf_oneyear < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_oneyear | fixTwo | filterMinus | addPercentage
                  }}</span
                ><span
                  v-else-if="+stockInfo.etf_oneyear > 0"
                  class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_oneyear | fixTwo | addPercentage
                  }}</span
                ><span v-else class="text-black">─</span></div
              >
              <div class="rate-item"
                ><span>2年</span
                ><span v-if="+stockInfo.etf_twoyear < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_twoyear | fixTwo | filterMinus | addPercentage
                  }}</span
                ><span
                  v-else-if="+stockInfo.etf_twoyear > 0"
                  class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_twoyear | fixTwo | addPercentage
                  }}</span
                ><span v-else class="text-black">─</span></div
              >
              <div class="rate-item"
                ><span>3年</span
                ><span v-if="+stockInfo.etf_threeyars < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_threeyars
                      | fixTwo
                      | filterMinus
                      | addPercentage
                  }}</span
                ><span
                  v-else-if="+stockInfo.etf_threeyars > 0"
                  class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_threeyars | fixTwo | addPercentage
                  }}</span
                ><span v-else class="text-black">─</span></div
              >
              <div class="rate-item"
                ><span>5年</span
                ><span v-if="+stockInfo.etf_fiveyears < 0" class="text-green"
                  ><i class="fas fa-caret-down"></i>&nbsp;{{
                    stockInfo.etf_fiveyears
                      | fixTwo
                      | filterMinus
                      | addPercentage
                  }}</span
                ><span
                  v-else-if="+stockInfo.etf_fiveyears > 0"
                  class="text-danger"
                  ><i class="fas fa-caret-up"></i>&nbsp;{{
                    stockInfo.etf_fiveyears | fixTwo | addPercentage
                  }}</span
                ><span v-else class="text-black">─</span></div
              >
            </div>
          </div>
        </div>

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <!--個股介紹-->
            <div class="col-lg-6">
              <!-- Address style 1 -->
              <div class="widget">
                <!-- block title -->
                <AppBlockTitle6 :text="'個股介紹'" />
                <!--內容-->
                <div class="card">
                  <div class="bg-themes p-3">
                    <p>{{ stockInfo.etf_comment }}</p>
                  </div>
                </div>
                <!--end 內容-->
                <div class="gap-0"></div>
              </div>
            </div>
            <!--end 個股介紹-->

            <!--vip訂閱-->
            <div class="col-lg-6">
              <div class="textwidget custom-html-widget mt-4">
                <div class="text-center">
                  <a
                    target="_blank"
                    :href="stockAd.ad_link"
                    rel="noopener noreferrer"
                  >
                    <img
                      class="img-fluid w-100"
                      :src="stockAd.ad_img"
                      alt="vip-subscription"
                    />
                  </a>
                </div>
              </div>
            </div>
            <!--end vip訂閱-->
          </div>
        </div>
        <!--End Block-->
        <hr />
        <div class="tags-area my-4">
          <div class="mb-2">
            <span class="font-weight-bold mr-2">相關熱門主題</span>
            <a class="btn btn-sm border btn-light" href="#">Finance</a>
            <a class="btn btn-sm border btn-light" href="#">Dollar</a>
            <a class="btn btn-sm border btn-light" href="#">Economy</a>
            <a class="btn btn-sm border btn-light" href="#">Market</a>
            <a class="btn btn-sm border btn-light" href="#">World</a>
          </div>
          <div class="gap-0"></div>
        </div>
        <!--相關熱門資訊-->
        <div class="block-area latest-news mb-4">
          <!-- block title -->
          <AppBlockTitle5 :text="'相關熱門資訊'" />
          <!--start post-->
          <template v-for="newsItem in news">
            <AppNewsSection1 :news="newsItem" :key="newsItem.news_id" />
          </template>

          <div class="gap-0"></div>
        </div>
        <!--End 相關熱門資訊-->

        <!--Pagination-->
        <AppPagination
          :isLoading="requestingNewsList"
          :innerValue="currentPage"
          :page-count="totalPages"
          :click-handler="onPageChange"
        />
        <!--end pagination-->
      </div>
      <!-- end content -->

      <!--start right sidebar-->
      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <div class="sticky">
          <!-- 台股人氣ETF -->
          <div class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'台股人氣ETF'" />
            <!-- widget content -->
            <AppFundTable />
            <div class="gap-0"></div>
          </div>

          <!-- VIP會員最新文章 -->
          <aside class="widget d-none d-md-block">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- VIP會員最新文章 -->
          <aside class="widget d-none d-md-block">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import AsideAd from '@/components/AsideAd'
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppBlockTitle6 from '@/components/AppBlockTitle6'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppPagination from '@/components/AppPagination'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppLatestTopics from '@/components/AppLatestTopics'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AppFundTable from '@/components/AppFundTable'
import AppNewsSection1 from '@/components/AppNewsSection1'

export default {
  name: 'IndstockId',
  components: {
    AsideAd,
    AppBlockTitle5,
    AppBlockTitle6,
    AppBlockTitle7,
    AppPagination,
    AppBreadcrumb,
    AppLatestTopics,
    AppLatestVIPArticles,
    AppFundTable,
    AppNewsSection1
  },
  filters: {
    filterMinus(value) {
      // 拿掉 - 號
      return value.replace('-', '')
    },
    addPercentage(value) {
      return value + '%'
    },
    fixTwo(value) {
      if (!value) return '─'
      const intVal = Number(value)
      if (Number.isNaN(intVal)) return '－'
      return intVal.toFixed(2)
    }
  },
  validate({ params }) {
    const { id } = params
    if (isNaN(+id)) return false
    return true
  },
  async asyncData({
    $axios,
    params,
    redirect,
    $tokenGenerator,
    $timeFilter,
    $imgPlaceholder
  }) {
    const { data: stockInfoData } = await $axios.post('etf/usainfo', {
      ID: params.id,
      token: $tokenGenerator()
    })
    if (!stockInfoData.Content.etf_data.etf_id) {
      return redirect('/error')
    }
    stockInfoData.Content.etf_data.etf_date = $timeFilter(
      stockInfoData.Content.etf_data.etf_date
    )
    const { data: latestNewsData } = await $axios.post('news/list', {
      pageSize: '16',
      news_order: '1',
      page: '1',
      token: $tokenGenerator()
    })
    latestNewsData.content.forEach((item) => {
      item.news_img = $imgPlaceholder(item.news_img)
      item.news_date = $timeFilter(item.news_updatetime)
    })
    return {
      stockInfo: stockInfoData.Content.etf_data,
      news: latestNewsData.content,
      totalPages: latestNewsData.totalnewsnum
        ? Math.floor(latestNewsData.totalnewsnum / 16) + 1
        : 1
    }
  },
  data() {
    return {
      requestingNewsList: false,
      stockInfo: {},
      latestTopics: [],
      latestArticles: [],
      fundItems: [],
      news: [],
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '投資bar',
          link: '/investbar'
        },
        {
          title: '美股',
          link: '/investbar/usstock'
        }
      ],
      firstAd: {},
      secondAd: {},
      stockAd: {},
      currentPage: 1,
      totalPages: 0
    }
  },
  computed: {
    isWatched() {
      if (!this.$store.state.user.watchlists) return false
      return this.$store.state.user.watchlists.includes(this.stockInfo.etf_pid)
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.richkid_ad_2
      this.stockAd = m.default.USStock
    })
  },
  mounted() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch('FETCH_USER_WATCHLIST')
    }
  },
  methods: {
    async onPageChange(page) {
      if (page > this.totalPages) {
        return this.$Swal.fire('頁數不得大於總頁數')
      }
      this.currentPage = page
      this.requestingNewsList = true
      const { data: latestNewsData } = await this.$axios.post('news/list', {
        pageSize: '16',
        news_order: '1',
        page,
        token: this.$tokenGenerator()
      })
      latestNewsData.content.forEach((item) => {
        item.news_img = this.$imgPlaceholder(item.news_img)
        item.news_date = this.$timeFilter(item.news_updatetime)
      })
      this.news = latestNewsData.content
      this.requestingNewsList = false
    },
    handleAddWatchlist(e) {
      if (this.$store.getters.isAuthenticated) {
        const etfPID = e.target.dataset.etfpid
        this.$store.dispatch('ADD_USER_WATCHLIST', etfPID)
        return null
      }
      this.$Swal.fire('請先登入！')
      return this.$router.push('/login')
    }
  },
  head() {
    return {
      title: '美股單一股票頁 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
