<template>
  <div>
    <div id="fb-root"></div>
    <script>
      ;(function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0]
        if (d.getElementById(id)) return
        js = d.createElement(s)
        js.id = id
        js.src =
          'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0'
        fjs.parentNode.insertBefore(js, fjs)
      })(document, 'script', 'facebook-jssdk')
    </script>
    <!--Skippy-->
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
    <!--Background image-->
    <div class="bg-image"></div>
    <!-- ========== WRAPPER ========== -->
    <div class="wrapper">
      <AppHeader :userData="userData" />
      <AppMenu :userData="userData" />
      <transition name="fade">
        <nuxt
          keep-alive
          :keep-alive-props="{
            exclude: [
              'NewsId',
              'Article',
              'VIPArticleId',
              'Cart',
              'Login',
              'Register',
              'Reset',
              'Payment',
              'Forgot'
            ]
          }"
        ></nuxt>
      </transition>
      <AppFooter />
    </div>
    <!-- ========== END WRAPPER ========== -->
    <AppGoTop />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import AppHeader from '@/layouts/partials/AppHeader'
import AppFooter from '@/layouts/partials/AppFooter'
import AppMenu from '@/layouts/partials/AppMenu'
import AppGoTop from '@/layouts/partials/AppGoTop'
export default {
  components: {
    AppHeader,
    AppFooter,
    AppMenu,
    AppGoTop
  },
  data() {
    return {
      resizeTimer: null
    }
  },
  computed: {
    ...mapState(['user']),
    userData() {
      return {
        id: this.user.MemberNo || null,
        name: this.user.CName || null
      }
    }
  },
  created() {
    if (process.client && this.$cookies.get('sKey')) {
      this.$axios.defaults.headers.sKey = this.$cookies.get('sKey')
    }
  },
  mounted() {
    require('@/static/js/back-to-top')
    require('@/static/js/show-back-top')
    document.addEventListener('contextmenu', (event) => event.preventDefault())
    if (window.innerWidth < 768) {
      window.addEventListener('resize', this.resizeHandler)
    } else {
      this.$store.commit('SET_DEVICE_TYPE', 'tablet')
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandler)
  },
  methods: {
    resizeHandler() {
      clearTimeout(this.resizeTimer)
      this.resizeTimer = setTimeout(() => {
        if (window.innerWidth >= 768) {
          window.removeEventListener('resize', this.resizeHandler)
          this.$store.commit('SET_DEVICE_TYPE', 'tablet')
        }
      }, 300)
    }
  }
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
