<template>
  <div
    id="error"
    class="d-flex flex-column justify-content-center align-items-center"
  >
    <h1>404！Error</h1>
    <h1>抱歉！您所查詢的資料，目前無法找到任何頁面！</h1>
    <h2>．您輸入了錯誤的網址 </h2>
    <h2>．此頁面已被移除或不存在</h2>
    <span>即將導回首頁...</span>
  </div>
</template>

<script>
export default {
  name: 'Error',
  data() {
    return {
      redirectTimer: null
    }
  },
  mounted() {
    this.redirectTimer = setTimeout(() => {
      location.href = '/'
    }, 5000)
  },
  beforeDestroy() {
    clearTimeout(this.redirectTimer)
  }
}
</script>

<style scoped>
#error {
  min-height: 600px;
}
</style>
