<template>
  <div id="article" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->

      <!--content-->
      <div class="col-md-8">
        <AppNewsContent :showBannerImg="true" :news="newsContent" />
      </div>
      <!-- end content -->

      <!-- start right column -->
      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <!--sticky-->
        <div class="sticky">
          <!--Advertiser-->
          <AsideAd :ad="firstAd" />
          <!--end advertiser-->

          <!-- VIP會員最新文章 -->
          <aside class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->
          <!-- AD Banner -->
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
        <!--End sticky-->
      </aside>
      <!-- end right column -->
      <template>
        <!--Related post title-->
        <div class="related-post mb-4">
          <AppBlockTitle6
            :text="'更多' + newsContent.expert_name + '相關文章'"
          />
          <div class="row">
            <template v-for="sectionPost in topPosts">
              <AppPostSection1
                :currentPage="currentPage"
                :post="sectionPost"
                :key="sectionPost.post_id"
              />
            </template>
          </div>
          <!-- <div class="row">
            <article
              v-for="relatedPost in relatedPosts"
              :key="relatedPost.post_id"
              class="col-12 col-lg-4 mb-module"
            >
              <AppPostSection4 :linkRoute="'/article/'" :post="relatedPost" />
            </article>
          </div> -->
        </div>
        <div class="block-area px-4 w-100">
          <template v-for="articlePost in restPosts">
            <AppArticleSection
              :currentPage="currentPage"
              :key="articlePost.post_id"
              :post="articlePost"
            />
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import htmlToText from 'html-to-text'
import AppArticleSection from '@/components/AppArticleSection'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBlockTitle6 from '@/components/AppBlockTitle6'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AppNewsContent from '@/components/AppNewsContent'
import AppPostSection1 from '@/components/AppPostSection1'
import AsideAd from '@/components/AsideAd'
import YTAnchorGetter from '@/utils/YTAnchorGetter'
import YTWebsiteValidator from '@/utils/YTWebsiteValidator'
export default {
  name: 'Article',
  components: {
    AppArticleSection,
    AppBlockTitle7,
    AppBlockTitle6,
    AppBreadcrumb,
    AppLatestVIPArticles,
    AppNewsContent,
    AppPostSection1,
    AsideAd
  },
  validate({ params, query, redirect }) {
    if (+query.page === 1) {
      redirect(`/article/${params.id}`)
    }
    const { id } = params
    if (isNaN(+id)) return false
    return true
  },
  async asyncData({
    query,
    app,
    params,
    $axios,
    redirect,
    $tokenGenerator,
    $imgPlaceholder,
    $timeFilter,
    env
  }) {
    const { data: articleData } = await $axios.post(
      'backstage/article/detail',
      {
        ArticleNo: params.id,
        token: $tokenGenerator()
      }
    )
    /* 若上傳的是影片就存入 news_video */
    let newsVideo = null
    if (
      articleData.content.bannerType === 2 ||
      /https/gi.test(articleData.content.video)
    ) {
      newsVideo = articleData.content.video
    }
    if (Array.isArray(articleData.content)) {
      /* 判定找不到專家文字，導至 error 頁 */
      return redirect('/error')
    }
    if (articleData.content.chargeArticleSelected === 1) {
      /* 判定為付費文章 */
      return redirect(`/vip_article/${params.id}`)
    }
    const { data: expertData } = await $axios.post('backstage/channelslist', {
      token: $tokenGenerator(),
      requestingStage: 'forestage',
      enabled: [0, 1],
      page: 1,
      pageSize: 1,
      keyword: articleData.content.professionalSelected,
      isVIP: null
    })

    const showMemberNo = !!expertData.content.expert_isVIP

    const { data: relatedPostsData } = await $axios.post('news/articlelist', {
      expert_id: expertData.content[0].professional_id,
      page: 1,
      pageSize: 23,
      MemberNo: showMemberNo ? app.$cookies.get('memberId') || null : null,
      token: $tokenGenerator()
    })
    relatedPostsData.content.forEach((item) => {
      item.news_img = $imgPlaceholder(item.news_img)
    })
    relatedPostsData.content.map((item) => {
      item.news_date = item.PublishTime.substring(
        0,
        item.PublishTime.length - 3
      )
    })
    return {
      newsContent: {
        news_id: articleData.content.id,
        news_title: articleData.content.title,
        expert_id: expertData.content[0].professional_id,
        expert_name: articleData.content.professionalSelected,
        news_date: $timeFilter(articleData.content.datetime),
        news_content: articleData.content.editorContent,
        Is_paid: articleData.content.chargeArticleSelected,
        news_tags: articleData.content.keywords.split(','),
        news_img: articleData.content.image,
        news_description:
          htmlToText
            .fromString(articleData.content.editorContent)
            .slice(0, 150) + '...',
        news_isotime: new Date(
          articleData.content.datetime.replace(/-/g, '/')
        ).toISOString(),
        news_video: YTWebsiteValidator(newsVideo)
          ? YTAnchorGetter(newsVideo)
          : newsVideo,
        audio: articleData.content.audio
      },
      topPosts: relatedPostsData.content.filter((item, index) => index <= 2),
      restPosts: relatedPostsData.content.filter((item, index) => index > 2),
      relatedPosts: relatedPostsData.content,
      currentPage: +query.page || 1,
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        { title: '＄觀點', link: '/blogs' },
        {
          title: articleData.content.professionalSelected,
          link: '/blogs/moneyvip/' + expertData.content[0].professional_id
        },
        {
          title: articleData.content.title
        }
      ],
      domain: env.domain
    }
  },
  data() {
    return {
      isLoading: false,
      newsContent: {},
      breadcrumbs: [],
      relatedPosts: [],
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.richkid_ad_2
      this.secondAd = m.default.appLink
    })
  },
  mounted() {
    // 顯示 YPA 按鈕 (如果是第一次載入則會由 script 執行)
    const ypaBtn = document.querySelector('.ypa-popup-button')
    if (ypaBtn) {
      ypaBtn.style.display = 'block'
    }
  },
  beforeDestroy() {
    // 移除 YPA 按鈕
    const ypaBtn = document.querySelector('.ypa-popup-button')
    if (ypaBtn) {
      ypaBtn.style.display = 'none'
    }
  },
  head() {
    return {
      title: this.newsContent.news_title + ' - moneybar財經商業資訊社群網站',
      meta: [
        {
          property: 'og:url',
          content: this.domain + '/article/' + this.newsContent.news_id
        },
        {
          property: 'og:title',
          name: 'og:title',
          content: `${this.newsContent.news_title} - moneybar財經商業資訊社群網站`
        },
        {
          property: 'og:image',
          name: 'og:image',
          content:
            this.newsContent.news_img ||
            'https://www.moneybar.com.tw/img/logo/moneybar_logo.png'
        },
        {
          hid: 'og:description',
          property: 'og:description',
          name: 'og:description',
          content: this.newsContent.news_description
        },
        {
          property: 'article:section',
          content: '＄觀點'
        },
        {
          property: 'article:published_time',
          content: this.newsContent.news_isotime
        },
        {
          hid: 'description',
          name: 'description',
          content: this.newsContent.news_description
        }
      ]
      // script: [
      //   {
      //     src:
      //       'https://ypa.focusoftime.com/static/adsapiptbase.js?ptid=f3f0193f1e68d7997c1ea13240ef3424'
      //   }
      // ]
    }
  }
}
</script>
