<template>
  <div id="pensioncalculation" class="container">
    <div class="row">
      <div class="col-12 mt-05">
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
        <article class="pc__info border mb-4">
          <div class="pc__info-img">
            <img src="/img/retire/retired_img01.jpg" alt="retired_img01" />
          </div>
          <div>
            <h2 class="pc__info-title"
              >1,000萬或2,000萬,到底要準備多少錢才能退休？</h2
            >
            <hr class="pc__info-hr" />
            <p class="pc__info-content"
              >我知道你不想面對，但存退休金是你我老年時都會遇到的課題，以下簡單的算式，快速幫你試算政府的勞保已經幫你存多少退休金，然後再決定自己每月還要存多少錢，讓自己有一個健康快樂的退休生活。</p
            >
          </div>
        </article>
        <form class="border my-4 pc__form" @submit.stop.prevent="handleSubmit">
          <div class="pc__form-title">
            <h3>請輸入以下資料</h3>
          </div>
          <div class="pc__form-form">
            <!-- 性別 -->
            <div class="border pc__form-group">
              <label for="gender">性別</label>
              <select
                v-model="formInput.gender"
                name="gender"
                class="form-control"
                id="gender"
              >
                <option
                  v-for="(gender, index) in selectionData.gender"
                  :value="gender.value"
                  :key="index"
                  >{{ gender.text }}</option
                >
              </select>
            </div>
            <!-- 目前實足年齡 -->
            <div class="border pc__form-group">
              <label for="age">目前實足年齡</label>
              <select
                v-model="formInput.age"
                name="age"
                class="form-control"
                id="age"
              >
                <option
                  v-for="(age, index) in selectionData.age"
                  :value="age.value"
                  :key="index"
                  >{{ age.text }}歲</option
                >
              </select></div
            >
            <!-- 過去到現在勞保年資合計 -->
            <div class="border pc__form-group">
              <label for="labor-total"
                >過去到現在勞保年資合計（<a
                  href="https://edesk.bli.gov.tw/na/"
                  target="_blank"
                  >查詢勞保年資</a
                >）
              </label>
              <select
                v-model="formInput.laborTotal"
                name="labor-total"
                class="form-control"
                id="labor-total"
              >
                <option
                  v-for="(laborTotal, index) in selectionData.laborTotal"
                  :value="laborTotal.value"
                  :key="index"
                  >{{ laborTotal.text }}年</option
                >
              </select>
            </div>
            <!-- 現任公司到職年齡 -->
            <div class="border pc__form-group">
              <label for="company-age">現任公司到職年齡</label>
              <select
                v-model="formInput.companyAge"
                name="company-age"
                class="form-control"
                id="company-age"
              >
                <option
                  v-for="(newAge, index) in selectionData.newAge"
                  :value="newAge.value"
                  :key="index"
                  >{{ newAge.text }}歲</option
                >
              </select>
            </div>
            <!-- 勞基法退休金選擇舊制或勞退新制 -->
            <div class="border pc__form-group">
              <label for="law-new-old">勞基法退休金選擇舊制或勞退新制</label>
              <select
                v-model="formInput.lawNewOld"
                name="law-new-old"
                class="form-control"
                id="law-new-old"
              >
                <option
                  v-for="(lawNewOld, index) in selectionData.lawNewOld"
                  :value="lawNewOld.value"
                  :key="index"
                  >{{ lawNewOld.text }}</option
                >
              </select>
            </div>
            <!-- 如選新制，請填選新制時年齡 -->
            <div class="border pc__form-group">
              <label for="new-age"
                >如選新制，請填選新制時年齡
                <small class="text-red">
                  （新制2005/7/1實施，可以用今年例如2020計算實行16年，用年齡回推選新制年齡）</small
                ></label
              >
              <select
                v-model="formInput.newAge"
                name="new-age"
                class="form-control"
                id="new-age"
              >
                <option
                  v-for="(newAge, index) in selectionData.newAge"
                  :value="newAge.value"
                  :key="index"
                  >{{ newAge.text }}歲</option
                >
              </select></div
            >
            <!-- 預期退休年齡 -->
            <div class="border pc__form-group">
              <label for="retire-age">預期退休年齡</label>
              <select
                v-model="formInput.retireAge"
                name="retire-age"
                class="form-control"
                id="retire-age"
              >
                <option
                  v-for="(retireAge, index) in selectionData.retireAge"
                  :value="retireAge.value"
                  :key="index"
                  >{{ retireAge.text }}歲</option
                >
              </select></div
            >
            <!-- 目前工資 -->
            <div class="border pc__form-group">
              <label for="current-income">目前工資</label>
              <input
                v-model="formInput.currentIncome"
                class="form-control"
                name="current-income"
                id="current-income"
                type="text"
                placeholder="例如：50000"
            /></div>
            <!-- 預期調薪率 -->
            <div class="border pc__form-group">
              <label for="income-raise">預期調薪率</label>
              <select
                v-model="formInput.incomeRaise"
                name="income-raise"
                class="form-control"
                id="income-raise"
              >
                <option
                  v-for="(incomeRaise, index) in selectionData.incomeRaise"
                  :value="incomeRaise.value"
                  :key="index"
                  >{{ incomeRaise.text }}%</option
                >
              </select>
            </div>
            <!-- 預期退休後每月費用 -->
            <div class="border pc__form-group">
              <label for="month-fee"
                >預期退休後每月費用 （含生活費及醫療費）</label
              >
              <input
                v-model="formInput.retireMonthFee"
                name="month-fee"
                class="form-control"
                id="month-fee"
                type="text"
                placeholder="例如：40000"
            /></div>
            <!-- 目前為退休準備的資產價值 -->
            <div class="border pc__form-group">
              <label for="current-asset"
                >目前為退休準備的資產價值
                <span class="text-blue">
                  (單位:萬元)
                </span>
              </label>
              <input
                v-model="formInput.currentAssets"
                name="current-asset"
                class="form-control"
                id="current-asset"
                type="text"
                placeholder="例如：50"
            /></div>
          </div>
          <div class="text-center my-4">
            <button
              type="submit"
              class="btn btn-primary text-mid rounded-pill"
              :disabled="isLoading"
              >{{ isLoading ? '計算中' : '開始試算' }}</button
            >
          </div>
        </form>
        <div class="pc__pact mb-4 text-right">
          <img src="/img/retire/PACT.png" alt="PACT" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'PensionCalculation',
  middleware: 'checkLogin',
  components: { AppBreadcrumb },
  data() {
    return {
      isLoading: false,
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '退休bar', link: '/' },
        { title: '退休金計畫' }
      ],
      formInput: {
        gender: 1,
        age: 35,
        laborTotal: 11,
        companyAge: 31,
        lawNewOld: 1,
        newAge: 35,
        retireAge: 56,
        currentIncome: '',
        incomeRaise: 2,
        retireMonthFee: '',
        currentAssets: ''
      },
      selectionData: {
        gender: [
          {
            value: 1,
            text: '男'
          },
          {
            value: 2,
            text: '女'
          }
        ],
        age: [],
        laborTotal: [],
        companyAge: [],
        lawNewOld: [
          {
            value: 1,
            text: '新制'
          },
          {
            value: 2,
            text: '舊制'
          }
        ],
        newAge: [],
        retireAge: [],
        incomeRaise: []
      }
    }
  },
  beforeMount() {
    const numData = Array.from({ length: 71 }, (v, i) => {
      return { value: i, text: i }
    })
    this.selectionData.age = numData.slice(18, 70)
    this.selectionData.laborTotal = numData.slice(0, 46)
    this.selectionData.newAge = numData.slice(18, 61)
    this.selectionData.retireAge = numData.slice(40, 71)
    this.selectionData.incomeRaise = numData.slice(0, 11)
  },
  mounted() {
    if (!this.$store.getters.isAuthenticated) {
      this.$Swal.fire('請先登入！')
      this.$router.push('/login')
      return null
    }
  },
  methods: {
    async handleSubmit() {
      this.isLoading = true
      const { MemberNo } = this.$store.state.user
      const payload = {
        MemberNo,
        sex: this.formInput.gender,
        CurrentAge: this.formInput.age,
        Plaborannualsalary: this.formInput.laborTotal,
        WorkAge: this.formInput.companyAge,
        RetiredChose: this.formInput.lawNewOld,
        ChoseNewAge: this.formInput.newAge,
        RitiredAge: this.formInput.retireAge,
        txtCurrentsalary: this.formInput.currentIncome,
        SalaryRaise: +this.formInput.incomeRaise / 100,
        EachCharge: this.formInput.retireMonthFee,
        txtRetirementPrepareAsset: this.formInput.currentAssets
      }
      try {
        const { data } = await this.$axios.post('ret/PensionCalculation', {
          token: this.$tokenGenerator(),
          ...payload
        })
        if (data.err_msg === '' && data.status === '000') {
          location.href = '/member/capension'
          return null
        }
      } catch (error) {
        console.error(error)
        this.$Toast.fire({
          title: '發生錯誤，請稍後在試',
          icon: 'error'
        })
      } finally {
        this.isLoading = false
      }
    }
  },
  head() {
    return {
      title: '退休金計算 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
