<template>
  <div id="index">
    <div class="container">
      <div class="row">
        <!-- top section -->
        <div class="col-12 mt-05">
          <!--Slider ticker-->
          <div class="row py-2"></div>
          <!--End slider ticker-->

          <!-- Big grid slider 1 -->
          <div class="row featured-1 mb-4">
            <!--Start left cover-->
            <div class="col-md-6 pb-05 pt-05 pr-md-05">
              <AppCarousel
                :carouselItems="carouselNews"
                :carouselSetting="carouselSetting"
              />
            </div>
            <!--End left cover-->
            <!--Start box news-->
            <div class="col-md-6 pt-05 pl-md-05">
              <div class="row newsbox">
                <!--news box-->
                <article
                  class="col-6"
                  v-for="blockNews in fourBlockNews"
                  :key="blockNews.news_id"
                >
                  <div class="card card-full text-white overflow zoom">
                    <div class="ratio image-wrapper">
                      <!--thumbnail-->
                      <nuxt-link :to="'/news/' + blockNews.news_id">
                        <img
                          class="img-fluid"
                          v-lazy="blockNews.news_img"
                          alt="Image description"
                        />
                      </nuxt-link>
                      <!-- category & title -->
                      <div
                        class="position-absolute px-3 pb-3 pt-0 b-0 w-100 bg-shadow"
                      >
                        <a class="p-1 badge badge-primary" href="#">{{
                          blockNews.news_type
                        }}</a>
                        <nuxt-link :to="'/news/' + blockNews.news_id">
                          <h2
                            class="h6 h4-sm h6-md h5-lg text-white my-1 ellipsis-2lows"
                          >
                            {{ blockNews.news_title }}
                          </h2>
                        </nuxt-link>
                      </div>
                    </div>
                  </div>
                </article>
                <!--news box-->
              </div>
            </div>
            <!--End box news-->
          </div>
          <!--End Big grid slider 1-->

          <!-- ＄影音Bar -->
          <div class="block-area mb-5">
            <!-- block title -->
            <AppBlockTitle11 :text="'＄影音Bar'" />
            <div v-if="videoPosts.length" class="row">
              <!--video post start-->
              <article
                v-for="videoPost in videoPosts"
                :key="videoPost.post_id"
                class="col-6 col-lg-3"
              >
                <AppPostSection4
                  :linkRoute="'/video/'"
                  :post="videoPost"
                  :middleIcon="'fas fa-video'"
                />
              </article>
              <!--end 影音Bar-->
            </div>
            <span v-else>目前沒有影音</span>
          </div>
        </div>

        <!--start left column-->
        <div class="col-md-8">
          <!--Block start-->
          <div class="block-area">
            <div class="row">
              <!--＄觀點-->
              <div class="col-lg-6">
                <!-- block title -->
                <AppBlockTitle5 :text="'＄觀點'" :link="'#'" />
                <AppPostSection5 :posts="moneyPosts" />
              </div>
              <!--end ＄觀點-->

              <!--親子Bar-->
              <div class="col-lg-6">
                <!-- block title -->
                <AppBlockTitle5 :text="'親子bar'" :link="'#'" />
                <AppPostSection5 :posts="parentPosts" />
              </div>
              <!--end 親子Bar-->
            </div>
          </div>
          <!--End Block-->

          <!--專家訂閱-->
          <div class="mb-4">
            <!-- block title -->
            <AppBlockTitle5 :text="'專家訂閱'" :link="'#'" />
            <div class="row">
              <AppCarousel3 :carouselItems="topProfessionals" />
            </div>
          </div>
          <!--End 專家訂閱-->

          <!--最新新聞-->
          <AppLatestNews />
          <!--End 最新新聞-->
        </div>
        <!--end left column-->

        <!--start right sidebar-->
        <aside
          v-if="deviceType === 'tablet'"
          class="col-md-4 right-sidebar-lg d-none d-md-block"
        >
          <div class="sticky">
            <!-- 台股人氣ETF -->
            <div class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'台股人氣ETF'" />
              <!-- widget content -->
              <AppFundTable />
              <div class="gap-0"></div>
            </div>

            <!--social icon-->
            <aside class="widget">
              <!--block title-->
              <!-- <AppBlockTitle7 :text="'i 玩＄'" /> -->
              <!--icon start-->
              <!-- <AppIconBar :socialInfo="socialInfo" /> -->
              <!-- <div class="gap-05"></div> -->
              <!--end icon-->
            </aside>
            <!-- end social icon -->

            <!-- post with number -->
            <aside class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'最新研究報告'" />
              <!-- sub card -->
              <AppLatestStudies />
              <!-- end sub card -->
              <div class="gap-0"></div>
            </aside>
            <!-- end post with number -->

            <!-- post with number -->
            <aside class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'最多人瀏覽'" />
              <!-- Block content -->
              <AppTopReview />
              <!-- end block content -->
              <div class="gap-0"></div>
            </aside>
            <!-- end post with number -->

            <!-- AD Banner -->
            <AsideAd :ad="firstAd" />
            <AsideAd :ad="secondAd" />
            <!-- end AD Banner -->
          </div>
        </aside>
        <!--end right sidebar-->
      </div>
    </div>
  </div>
</template>

<script>
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppFundTable from '@/components/AppFundTable'
// import AppIconBar from '@/components/AppIconBar'
import AppTopReview from '@/components/AppTopReview'
import AppCarousel from '@/components/AppCarousel'
import AppCarousel3 from '@/components/AppCarousel3'
import AppLatestStudies from '@/components/AppLatestStudies'
import AppPostSection4 from '@/components/AppPostSection4'
import AppPostSection5 from '@/components/AppPostSection5'
import AsideAd from '@/components/AsideAd'
import AppLatestNews from '@/components/AppLatestNews'
import indexProfileConfig from '@/assets/json/indexProfile.config'
import sectionConfig from '@/assets/json/section.config'

export default {
  name: 'Index',
  components: {
    AppBlockTitle11,
    AppBlockTitle5,
    AppBlockTitle7,
    AppFundTable,
    // AppIconBar,
    AppTopReview,
    AppCarousel,
    AppCarousel3,
    AppLatestStudies,
    AppPostSection4,
    AppPostSection5,
    AsideAd,
    AppLatestNews
  },
  async asyncData({ $axios, $tokenGenerator, $imgPlaceholder, $timeFilter }) {
    try {
      const { data: headNewsData } = await $axios.post('backstage/threeNews', {
        CategoryID: [1001],
        page: 1,
        pageSize: 8,
        keyword: null,
        enable: ['True'],
        token: $tokenGenerator(),
        requestingStage: 'forestage'
      })
      const { data: videosData } = await $axios.post('backstage/threeNews', {
        token: $tokenGenerator(),
        CategoryID: [1036],
        requestingStage: 'forestage',
        keyword: null,
        page: 1,
        pageSize: 4,
        enable: ['True']
      })
      const { data: parentPostsData } = await $axios.post(
        'backstage/threeNews',
        {
          token: $tokenGenerator(),
          CategoryID: [1038],
          requestingStage: 'forestage',
          pageSize: 5,
          keyword: null,
          enable: ['True'],
          page: 1
        }
      )
      const { data: moneyPostsData } = await $axios.post(
        'backstage/threeNews',
        {
          token: $tokenGenerator(),
          CategoryID: [1037],
          requestingStage: 'forestage',
          pageSize: 5,
          keyword: null,
          enable: ['True'],
          page: 1
        }
      )
      return {
        headNews: headNewsData.content.map((news) => ({
          news_id: news.news_id,
          news_title: news.news_title,
          news_img: news.news_img,
          news_type: sectionConfig.data.newsType[news.news_type],
          news_customUrl: news.news_url
        })),
        parentPosts: parentPostsData.content.map((news) => ({
          news_id: news.news_id,
          news_title: news.news_title,
          news_img: news.news_img,
          news_type: sectionConfig.data.newsType[news.news_type],
          news_customUrl: news.news_url
        })),
        moneyPosts: moneyPostsData.content.map((news) => ({
          news_id: news.news_id,
          news_title: news.news_title,
          news_img: news.news_img,
          news_type: sectionConfig.data.newsType[news.news_type],
          news_customUrl: news.news_url
        })),
        videoPosts: videosData.content.map((news) => ({
          news_id: news.news_id,
          news_title: news.news_title,
          news_img: news.news_img,
          news_date: news.PublishTime,
          news_customUrl: news.news_url
        }))
      }
    } catch (error) {
      console.error(error)
    }
  },
  data() {
    return {
      headNews: [],
      socialInfo: [],
      news: [],
      videoPosts: [],
      moneyPosts: [],
      parentPosts: [],
      carouselSetting: {
        margin: 10,
        items: 1,
        nav: true,
        loop: true,
        lazyLoad: true,
        autoplay: true,
        autoplayTimeout: 5000
      },
      firstAd: {},
      secondAd: {}
    }
  },
  computed: {
    professionals() {
      return indexProfileConfig.experts
    },
    carouselNews() {
      return this.headNews.slice(0, 4)
    },
    fourBlockNews() {
      return this.headNews.slice(4, 8)
    },
    topProfessionals() {
      return this.professionals
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.richkid_ad_2
    })
  },
  head() {
    return {
      title: 'moneybar商業財經首頁 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
