<template>
  <div id="moneyview" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <AppSubmenu :menuItems="menuItems" />
        <!--End slider ticker-->

        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in upPosts">
              <AppPostSection1
                :post="post"
                :key="post.news_id"
                :middleIcon="'fas fa-file-alt'"
              />
            </template>
          </div>
        </div>
        <!--End Block-->
        <!-- AD images -->
        <ContentAd :ad="ad" />
        <!-- End AD images -->
        <!--Block start-->
        <div class="block-area">
          <div class="row">
            <template v-for="post in downPosts">
              <AppPostSection1
                :post="post"
                :key="post.news_id"
                :middleIcon="'fas fa-file-alt'"
              />
            </template>
          </div>
        </div>
        <!--End Block-->
      </div>
    </div>
  </div>
</template>

<script>
import AppSubmenu from '@/components/AppSubmenu'
import AppPostSection1 from '@/components/AppPostSection1'
import ContentAd from '@/components/ContentAd'
import menuConfig from '@/assets/json/menu.config'

export default {
  name: 'Moneyview',
  components: { AppSubmenu, AppPostSection1, ContentAd },
  async asyncData({ $axios, $tokenGenerator, $timeFilter }) {
    const { data: latestNewsData } = await $axios.post(
      'backstage/pickerarticle',
      {
        CategoryID: null,
        page: 1,
        pageSize: 30,
        keyword: null,
        IsCharge: [0],
        token: $tokenGenerator()
      }
    )
    return {
      latestNews: latestNewsData.content.map((i) => ({
        author_name: i.channel,
        news_title: i.title,
        news_img: /https/g.test(i.img)
          ? i.img
          : 'https://gcs.moneybar.com.tw/images/Article/Banner/' + i.img,
        news_id: i.id,
        news_content: i.content,
        news_updatetime: $timeFilter(i.publishTime),
        author_id: i.expert
      }))
    }
  },
  data() {
    return {
      latestNews: [],
      ad: {}
    }
  },
  computed: {
    upPosts() {
      return this.latestNews.slice(0, 6)
    },
    downPosts() {
      return this.latestNews.slice(6, this.latestNews.length)
    },
    menuItems() {
      return menuConfig.menu.filter((i) => i.title === '＄觀點')[0].subMenu
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ad = m.default.vipSubscriptionBanner
    })
  },
  head() {
    return {
      title: '專家觀點首頁 - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供國內外投資專家觀點，包括台股高手安納金，退休教母林奇芬，外匯大師李其展，外匯小生馬哈親子理財，台股及全球ETF達人歐斯麥，Ａ股專家言程序，房地產數據達人李奕農，稅務專家李雨珊。'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站-提供國內外投資專家觀點，包括台股高手安納金，退休教母林奇芬，外匯大師李其展，外匯小生馬哈親子理財，台股及全球ETF達人歐斯麥，Ａ股專家言程序，房地產數據達人李奕農，稅務專家李雨珊。'
        }
      ]
    }
  }
}
</script>
