<template>
  <div id="profile" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--left sidebar check-->
      <aside
        class="col-md-3 left-sidebar-lg order-1 order-md-1"
        id="left-sidebar"
      >
        <div class="sticky d-flex flex-column">
          <aside
            id="bootnews_author-2"
            class="widget widget_categories widget_categories_custom bg-light pb-2 order-md-1 order-2"
          >
            <div class="block-area">
              <div class="about-profile">
                <div class="about-content text-center">
                  <div class="about-img">
                    <img
                      v-if="formInput.user_img"
                      class="img-fluid avatar-xl rounded-circle my-3"
                      :src="formInput.user_img"
                      alt="user_img"
                    />
                    <img
                      v-else
                      class="img-fluid avatar-xl rounded-circle my-3"
                      alt="profile images"
                      src="/img/avatar/default-avatar.png"
                    />
                    <p>
                      <label
                        class="btn btn-outline-light text-muted btn-sm rounded-sm"
                      >
                        <input
                          id="upload_img"
                          style="display:none;"
                          type="file"
                          accept="image/*"
                          ref="uploadImage"
                          @change="handleFileChange"
                        />
                        <i class="fa fa-plus-circle"></i> <span>上傳圖片</span>
                      </label>
                    </p>
                    <!-- <p class="small">建議使用尺寸750x750 pixel圖片檔案 可接受JPG,PNG,BMP格式</p> -->
                    <h3 class="text-uppercase text-primary"
                      >等級：{{ fqFishName }}</h3
                    >
                  </div>
                </div>
                <div class="text-center">
                  <nuxt-link
                    class="btn btn-outline-primary"
                    to="/retirebar/pensioncalculation"
                    >測驗退休金</nuxt-link
                  >
                  <nuxt-link
                    class="btn btn-outline-primary"
                    to="/investbar/fqtest"
                    >測驗FQ財商</nuxt-link
                  >
                </div>
              </div>
            </div>
          </aside>
          <aside
            id="categories_custom-2"
            class="widget widget_categories widget_categories_custom order-md-2 order-1"
          >
            <!-- SIDEBAR MENU -->
            <ProfileUserMenu :activeLink="currentPath" />
            <!-- END MENU -->
          </aside>
        </div>
        <div class="gap-3"></div>
      </aside>
      <!--left sidebar check-->

      <div class="col-md-5 order-2 order-md-2">
        <div class="block-area">
          <AppBlockTitle7 :text="'基本資料'" />
        </div>
        <AppSectionLoader v-if="isLoading" />
        <form
          v-else
          class="needs-validation"
          @submit.prevent.stop="handleSubmit"
        >
          <div class="mb-3">
            <label for="cname">姓名</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input
                v-model="formInput.user_name"
                type="text"
                class="form-control"
                id="cname"
                placeholder="Username"
                required
              />
              <div class="invalid-feedback" style="width: 100%;">
                請輸入姓名
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">登入Email </label>
            <input
              :value="formInput.user_email"
              type="email"
              class="form-control"
              id="email"
              placeholder="you@example.com"
              disabled
            />
            <div class="invalid-feedback">
              請輸入正確Email
            </div>
          </div>

          <div class="mb-3">
            <label for="phone">聯絡電話 </label>
            <input
              v-model="formInput.user_phone"
              type="phone"
              class="form-control"
              id="phone"
              placeholder="手機號碼"
            />
            <div class="invalid-feedback">
              請輸入電話
            </div>
          </div>

          <div class="mb-3">
            <label for="pwd">密碼 </label>
            <input
              v-model="formInput.user_pwd"
              type="password"
              class="form-control"
              id="pwd"
              placeholder="六碼以上 包含英數"
            />
            <div class="invalid-feedback">
              請輸入密碼
            </div>
          </div>

          <div class="mb-3">
            <label for="pwdc">確認密碼 </label>
            <input
              v-model="passwordCheck"
              type="password"
              class="form-control"
              id="pwdc"
              placeholder="再輸入一次密碼"
            />
            <div class="invalid-feedback">
              請輸入正確密碼
            </div>
          </div>

          <div class="mb-3">
            <label for="address">地址</label>
            <div class="row">
              <div class="col-md-5 mb-3">
                <select
                  class="custom-select d-block w-100"
                  id="country"
                  v-model="selectedCity"
                  required
                >
                  <option value="">請選擇...</option>
                  <option
                    v-for="(city, index) in cities"
                    :key="index + 1"
                    :value="city"
                    >{{ city }}</option
                  >
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <select
                  v-model="selectedArea"
                  class="custom-select d-block w-100"
                  id="state"
                  required
                >
                  <option value="">請選擇...</option>
                  <option
                    v-for="(area, index) in areaList"
                    :key="index + 1"
                    :value="area"
                    >{{ area }}</option
                  >
                </select>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
            </div>
            <input
              v-model="addressSuffix"
              type="text"
              class="form-control"
              id="address"
              placeholder="請輸入詳細地址"
              required
            />
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="mb-3">
            <label for="male">性別</label>
            <div class="row">
              <div class="col-md-5 mb-3">
                <div class="custom-control custom-radio">
                  <input
                    id="credit"
                    type="radio"
                    class="custom-control-input"
                    value="M"
                    v-model="formInput.user_gender"
                    required
                  />
                  <label class="custom-control-label" for="credit">男</label>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="custom-control custom-radio">
                  <input
                    id="debit"
                    type="radio"
                    class="custom-control-input"
                    value="F"
                    v-model="formInput.user_gender"
                    required
                  />
                  <label class="custom-control-label" for="debit">女</label>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="birthday">生日</label>
            <ProfileBirthday
              :passedDate="userInfo.user_bday"
              @birthdayChange="onBirthdayChange"
            />
          </div>

          <hr class="mb-4" />
          <button
            @click="handleSubmit"
            class="btn btn-primary btn-lg btn-block"
            type="submit"
            >儲存修改</button
          >
          <div class="gap-3"></div>
        </form>
      </div>
      <!--right sidebar check-->

      <!-- start right column -->
      <aside class="col-md-4 right-sidebar-lg order-3 order-md-3">
        <template v-for="(ad, index) in ads">
          <AsideAd :ad="ad" :key="index + 1" />
        </template>
      </aside>
      <!-- end right column -->
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import ProfileUserMenu from '@/components/ProfileUserMenu'
import AsideAd from '@/components/AsideAd'
import ProfileBirthday from '@/components/ProfileBirthday'
import addressGenerator from '@/utils/addressGenerator'
import blobtoDataURL from '@/utils/blobtoDataURL'
import fileChecker from '@/utils/fileChecker'
import cityCountyData from '@/assets/json/CityCountyData'

export default {
  name: 'Profile',
  components: {
    AppBlockTitle7,
    AppBreadcrumb,
    ProfileUserMenu,
    AsideAd,
    ProfileBirthday
  },
  data() {
    return {
      isLoading: true,
      userInfo: {},
      fqInfo: {},
      breadcrumbs: [{ title: '首頁', link: '/' }, { title: '會員中心' }],
      formInput: {
        user_pwd: '',
        user_img: ''
      },
      passwordCheck: '',
      selectedCity: '',
      areas: [],
      selectedArea: '',
      addressSuffix: '',
      ads: []
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    cities() {
      return cityCountyData.cities.map((i) => i.CityName)
    },
    areaList() {
      return this.areas.map((i) => i.AreaName)
    },
    fqFishName() {
      if (this.fqInfo.scoreA === null || this.fqInfo.scoreB === null)
        return '未測驗'
      // 吻仔魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB <= 12)
        return '投資新手'
      // 鯛魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB <= 12)
        return '投資老手'
      // 石斑魚
      if (this.fqInfo.scoreA <= 17 && this.fqInfo.scoreB >= 13)
        return '投資高手'
      // 鯊魚
      if (this.fqInfo.scoreA >= 18 && this.fqInfo.scoreB >= 13)
        return '投資贏家'
      // 未測驗
      return null
    }
  },
  watch: {
    selectedCity(value) {
      for (let i = 0; i < cityCountyData.cities.length; i++) {
        if (cityCountyData.cities[i].CityName === value) {
          return (this.areas = cityCountyData.cities[i].AreaList.map(
            (area) => area
          ))
        }
      }
    },
    selectedArea(value) {
      for (let i = 0; i < this.areas.length; i++) {
        if (this.areas[i].AreaName === this.selectedArea) {
          return (this.formInput.user_zipcode = this.areas[i].ZipCode)
        }
      }
    },
    addressSuffix(value) {
      const city = this.selectedCity
      const area = this.selectedArea

      return (this.formInput.user_address = `${city}${area}${value}`)
    },
    userInfo(obj) {
      this.formInput = JSON.parse(JSON.stringify(obj))
    }
  },
  created() {
    if (process.client) {
      if (!this.$store.getters.isAuthenticated) {
        this.$Swal.fire('請先登入以進入個人頁面！')
        this.$router.push('/login')
        return false
      }
      this.fetchUserInfo()
      this.fetchFQScore()
    }
  },
  beforeMount() {
    import('@/assets/js/adsConfig').then((m) => {
      this.ads = [
        m.default.topic,
        m.default.vipSubscription,
        m.default.USStock,
        m.default.appLink
      ]
    })
  },
  methods: {
    async fetchUserInfo() {
      try {
        const { data: userInfoData } = await this.$axios.post('member/isedit', {
          member_account: this.$store.getters.memberAccount,
          token: this.$tokenGenerator()
        })
        this.userInfo = userInfoData.content
        this.userInfo.user_bday = this.userInfo.user_bday
          ? this.userInfo.user_bday
          : '1992-01-01'
        if (userInfoData.content.user_address) {
          const { city, area, address } = addressGenerator(
            userInfoData.content.user_address
          )
          // 未傳入 city 或 area 時分別給予預設值
          this.selectedCity = city === undefined ? '' : city
          this.selectedArea = area === undefined ? '' : area
          this.addressSuffix = address
        }
        this.isLoading = false
      } catch (error) {
        this.isLoading = false
        console.error(error)
      }
    },
    async fetchFQScore() {
      const memberId = this.$store.getters.memberId
      const { data } = await this.$axios.post('member/fqinfo', {
        token: this.$tokenGenerator(),
        MemberNo: memberId
      })
      this.fqInfo = data.content
    },
    onBirthdayChange(bday) {
      this.formInput.user_bday = bday
    },
    async handleSubmit() {
      const payload = {
        ...this.formInput,
        user_email: this.$store.state.user.Email,
        member_id: this.$store.getters.memberId,
        member_account: this.$store.getters.memberAccount,
        token: this.$tokenGenerator()
      }
      console.log(payload)
      const { data } = await this.$axios.post('member/edit', payload)
      if (data.err_msg === '' && data.status === '000') {
        this.$Toast.fire({
          icon: 'success',
          title: '會員資料編輯成功！'
        })
      }
    },
    handleFileChange(e) {
      const files = e.target.files
      const size = Math.floor(files[0].size / 1024)
      if (!files.length) return null
      // 限制大小 400 kb
      if (!fileChecker(files[0], '400kb', this.$refs.uploadImage)) {
        return Swal.fire('檔案過大', '圖片不得超過 400 KB', 'warning')
      }
      blobtoDataURL(files[0], async (dataURL) => {
        // 產生預覽圖
        this.previewURL = dataURL
        // 取 dataURL 的 base64
        this.formInput.user_img =
          'data:image/png;base64,' + dataURL.split(',')[1]
        const { data } = await this.$axios.post('UploadFile/img', {
          token: this.$tokenGenerator(),
          path: 'images/Member/Icon/',
          size,
          member_id: this.$store.getters.memberId,
          img: this.formInput.user_img
        })
        if (data.status === '000' && data.err_msg === '') {
          this.formInput.user_img =
            'https://gcs.moneybar.com.tw/' + data.content.imgurl
        }
      })
    }
  },
  head() {
    return {
      title: '會員中心 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
