<template>
  <div id="watchlist" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <div class="col-md-3">
        <ProfileUserMenu :activeLink="currentPath" />
      </div>
      <div class="col-md-9">
        <ul class="nav nav-tabs watchlist__nav" role="tablist">
          <li class="watchlist__nav-item custom-shadow">
            <a
              class="watchlist__nav-link active"
              data-toggle="tab"
              href="#watchlist1"
              role="tab"
              aria-controls="watchlist1"
              aria-selected="true"
              >我的觀察清單</a
            >
          </li>
        </ul>
        <div class="tab-content mb-2" id="myTabContent">
          <div
            class="tab-pane fade show active table-responsive"
            id="watchlist1"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="watchlist__pagebox my-4">
              Display:
              <template v-if="displayNum === 10">
                <span>&nbsp;10</span>
                <span @click="setDisplayNum(20)" class="cursors"
                  >&nbsp;<u>20</u></span
                >
              </template>
              <template v-else>
                <span @click="setDisplayNum(10)" class="cursors"
                  >&nbsp;<u>10</u></span
                >
                <span>&nbsp;20</span>
              </template>
              <span>&nbsp;(1 page of 20)</span>
            </div>
            <span class="watchlist__tag">基本資料</span>
            <table class="custom-table w-100">
              <thead>
                <tr>
                  <th rowspan="2" class="thead-etf-code">代碼</th>
                  <th rowspan="2" class="thead-etf-name">名稱</th>
                  <th rowspan="2" class="thead-etf-date">日期</th>
                  <th rowspan="2" class="thead-etf-price">市價</th>
                  <th colspan="4" class="thead-etf-interest">報酬率(%)</th>
                  <th rowspan="2" class="thead-etf-vol">成交量(千股)</th>
                  <th rowspan="2" class="thead-etf-exchange">交易所</th>
                  <th rowspan="2" class="thead-etf-pre-dis">溢/折價</th>
                  <th rowspan="2" class="thead-etf-turnover">週轉率</th>
                  <th rowspan="2" class="thead-etf-price-rate">總費用率</th>
                  <th rowspan="2" class="thead-edit">編輯</th>
                </tr>
                <tr>
                  <th class="thead-etf-oneday">1日</th>
                  <th class="thead-etf-oneyear">1年</th>
                  <th class="thead-etf-threeyears">3年</th>
                  <th class="thead-etf-fiveyears">5年</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(etf, index) in filteredEtfData" :key="index + 1">
                  <td>{{ etf.Code }}</td>
                  <td>{{ etf.Name }}</td>
                  <td>{{ etf.ROEDateTime }}</td>
                  <td class="text-red">{{ etf.Price }}</td>
                  <td v-if="+etf.ROE_DAY >= 0" class="text-red"
                    ><i class="fas fa-caret-up"></i>&nbsp;{{
                      +etf.ROE_DAY | percentageFormat
                    }}</td
                  >
                  <td v-else class="text-green"
                    ><i class="fas fa-caret-down"></i>&nbsp;{{
                      +etf.ROE_DAY | percentageFormat | minusFormat
                    }}</td
                  >
                  <td v-if="+etf.ROE_1_YEAR >= 0" class="text-red"
                    ><i class="fas fa-caret-up"></i>&nbsp;{{
                      +etf.ROE_1_YEAR | percentageFormat
                    }}</td
                  >
                  <td v-else class="text-green"
                    ><i class="fas fa-caret-down"></i>&nbsp;{{
                      +etf.ROE_1_YEAR | percentageFormat | minusFormat
                    }}</td
                  >
                  <td v-if="+etf.ROE_3_YEAR >= 0" class="text-red"
                    ><i class="fas fa-caret-up"></i>&nbsp;{{
                      +etf.ROE_3_YEAR | percentageFormat
                    }}</td
                  >
                  <td v-else class="text-green"
                    ><i class="fas fa-caret-down"></i>&nbsp;{{
                      +etf.ROE_3_YEAR | percentageFormat | minusFormat
                    }}</td
                  >
                  <td v-if="+etf.ROE_5_YEAR >= 0" class="text-red"
                    ><i class="fas fa-caret-up"></i>&nbsp;{{
                      +etf.ROE_5_YEAR | percentageFormat
                    }}</td
                  >
                  <td v-else class="text-green"
                    ><i class="fas fa-caret-down"></i>&nbsp;{{
                      +etf.ROE_5_YEAR | percentageFormat | minusFormat
                    }}</td
                  >
                  <td>{{ etf.Volume | commaFormat }}</td>
                  <td>{{ etf.Exchange }}</td>
                  <td>{{ etf.Premium }}</td>
                  <td>{{ etf.Turnover }}</td>
                  <td>{{ etf.ManageFee }}</td>
                  <td
                    ><button
                      class="btn btn-danger p-1"
                      :data-code="etf.ID"
                      @click.self="handleDelete"
                      ><i class="fas fa-trash-alt"></i></button
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <AppPagination
          :isLoading="false"
          :page-count="totalPages"
          :click-handler="onPageChange"
          :innerValue="page"
        />
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import ProfileUserMenu from '@/components/ProfileUserMenu'
import AppPagination from '@/components/AppPagination'

export default {
  name: 'Watchlist',
  components: { AppBreadcrumb, ProfileUserMenu, AppPagination },
  filters: {
    percentageFormat(val) {
      return val + '%'
    },
    minusFormat(val) {
      return val.replace('-', '')
    },
    commaFormat(val) {
      // 加上千分位符號
      return val
        .toString()
        .replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function(
          all,
          pre,
          groupOf3Digital
        ) {
          return pre + groupOf3Digital.replace(/\d{3}/g, ',$&')
        })
    }
  },
  data() {
    return {
      etfData: [],
      displayNum: 10,
      page: 1,
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '會員中心', link: '/member' },
        { title: '我的觀察清單' }
      ]
    }
  },
  computed: {
    currentPath() {
      return this.$route.path
    },
    filteredEtfData() {
      return this.etfData.slice(
        this.page * this.displayNum - this.displayNum,
        this.displayNum * this.page
      )
    },
    totalPages() {
      return Math.floor(this.etfData.length / this.displayNum) + 1
    }
  },
  beforeMount() {
    if (!this.$store.getters.isAuthenticated) {
      this.$Swal.fire('請先登入以進入個人頁面！')
      this.$router.push('/login')
      return false
    }
    this.fetchETFData()
  },
  methods: {
    onPageChange(page) {
      this.page = page
    },
    setDisplayNum(num) {
      this.page = 1
      this.displayNum = num
    },
    async handleDelete(e) {
      const etfPID = e.target.dataset.code
      const result = await this.$Swal.fire({
        text: `您確定要從觀察清單中移除 ${etfPID} 嗎？`,
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: '確定',
        cancelButtonText: '取消'
      })
      if (result.value) {
        this.$store.dispatch('DELETE_USER_WATCHLIST', etfPID).then(() => {
          for (let i = 0; i < this.etfData.length; i++) {
            if (this.etfData[i].ID === etfPID) {
              return this.etfData.splice(i, 1)
            }
          }
        })
      }
    },
    async fetchETFData() {
      const MemberNo = this.$store.getters.memberId
      const { data } = await this.$axios.post('member/watch/list', {
        MemberNo,
        token: this.$tokenGenerator()
      })
      this.etfData = data.content
    }
  },
  head() {
    return {
      title: '我的觀察清單 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
