<template>
  <div id="about-us" class="container">
    <div class="row">
      <!--breadcrumb-->
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <!--end breadcrumb-->
      <!--content-->
      <div class="col-12">
        <!-- images -->
        <figure class="ratio_1140-535 image-wrapper">
          <img
            class="img-fluid"
            v-lazy="'/img/1140x535/about-us.png'"
            alt="Image description"
          />
          <figcaption>Image captions</figcaption>
        </figure>
        <div class="post-title text-center mt-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">關於我們</h1>
          <hr class="hr-after" />
        </div>
        <div class="entry-content post-content post-page">
          <p
            >「moneybar陪你學習，一起變有錢」，是我們公司的Slogan，我們是一個「投資學習交易」平台，
            希望為每一個人打造「個人化」的財商 （Financial Intelligence
            Quotient財務智慧商數）知識，滿足用戶「一生」的理財需求。</p
          >
          <p
            >網站內容包含「親子bar,小資bar,退休bar」三大區塊，創辦人馬哈認為金融素養應從小培養，也針對小孩推出「親子理財」內容，鼓勵父母大手牽小孩從小一起教孩子學理財
            。同時也針對剛出社會的小資族，推出一系列新手投資的內容，moneybar網站部分專家推出VIP訂閱內容、舉辦投資講座，分享實戰的投資心得與看法，並鼓勵每一個人越早規劃退休生活及自存退休金，早日達到財富自由的目標。
          </p>
          <hr class="my-4" />
          <h2 class="text-center">產品與服務</h2>
          <p>moneybar產品兩大區塊： </p>
          <p
            >第一區塊「系統性」打造你的理財「資」識力，我們推出「財經專家VIP」訂閱內容，提供業界高手實戰經驗，提高你的投資力，教你避開投資地雷。
          </p>
          <p
            >第二區塊：推出「親子bar」內容，推廣大人跟小孩一起學理財，並且製作一系列親子理財影音內容，以影片方式跟孩子溝通，2020計畫推出K12金融素養「愛玩錢（i玩＄）」線上兒童理財教學平台，並推出「小馬哈」2D人偶，以AI方式產出一系列「馬哈理財小常識」影音內容，並搭配線上親子理財課程及線下實體親子理財營隊以及小小巴菲特競賽，讓更多兒童接觸輕鬆有趣的理財知識，逐漸養成金融理財的概念(金融素養)。</p
          >
          <hr class="my-4" />
          <h2 class="text-center">團隊大事紀</h2>
          <p><span class="pr-4"> 2017/10</span>moneybar網站上線</p>
          <p
            ><span class="pr-4">2018/01</span
            >推出第一梯次小小巴菲特親子理財營隊</p
          >
          <p
            ><span class="pr-4">2018/03</span>推出200人大型投資講座，三天賣光</p
          >
          <p><span class="pr-4">2018/04</span>推出專家VIP訂閱服務</p>
          <p
            ><span class="pr-4">2018/09</span
            >卡提諾戰略合作推出「狂理財」，未來將有更多合作</p
          >
          <p><span class="pr-4">2018/10</span>推出AI智能news</p>
          <p
            ><span class="pr-4">2019/05</span>推出moneybar APP(賺bar) Android</p
          >
          <p><span class="pr-4">2019/07</span>華爾街女孩財經主播上線</p>
          <p><span class="pr-4">2020/02</span> APP(賺bar) App</p>

          <div class="gap-3"></div>
        </div>
      </div>
      <!--end content-->
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'

export default {
  name: 'About',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '關於我們'
        }
      ]
    }
  },
  head() {
    return {
      title: '關於我們 - moneybar財經商業資訊社群網站',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content:
            'moneybar是一個財經商業資訊社群網站，幫助你實現財富自由人生，快樂退休。提供財商（Financial Intelligence Quotient）知識，小資理財、親子理財、個人退休金計算、ETF報價、外匯報價、投資理財規劃、最新財經新聞、研究報告、投資趨勢及投資高手實戰經驗財經新聞都在moneybar財經商業資訊社群網站。'
        },
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            'moneybar是一個財經商業資訊社群網站，幫助你實現財富自由人生，快樂退休。提供財商（Financial Intelligence Quotient）知識，小資理財、親子理財、個人退休金計算、ETF報價、外匯報價、投資理財規劃、最新財經新聞、研究報告、投資趨勢及投資高手實戰經驗財經新聞都在moneybar財經商業資訊社群網站。'
        }
      ]
    }
  }
}
</script>
