<template>
  <div id="advertisement" class="container">
    <AppBreadcrumb :breadcrumbs="breadcrumbs" />
    <!-- images -->
    <figure class="ratio_1140-535 image-wrapper">
      <img
        class="img-fluid"
        v-lazy="'/img/1140x535/about-us.png'"
        alt="Image description"
      />
      <figcaption>Image captions</figcaption>
    </figure>
    <AppTitleBox
      :text="'廣告合作'"
      :titleSize="2"
      :subText="'moneybar一起賺錢吧！'"
      :subSize="1.5"
      :middleLine="true"
    />
    <p class="advertisement__text mt-0">
      我們是一群熱愛投資及網路產業的人，希望透過傳遞有價多元的投資
      資訊，幫助更多的人達到財富自由，我們歡迎各種類型的合作模式，
      請將你的想法或計畫發送郵件到 service@moneybar.com.tw，
      我們會盡快跟你聯繫，謝謝！
    </p>
    <p class="advertisement__text mt-0">
      ＂moneybar是一個財經商業資訊社群網站，
      幫助你實現財富自由人生，快樂退休。＂
    </p>
    <p class="advertisement__text mt-0">
      我們為每一個人打造「個人化」的財商 （Financial Intelligence
      Quotient財務智慧商數）知識，
    </p>
    <p class="advertisement__text--bold mt-0">
      我們的廣告代理商為《澄菓數位》
    </p>
    <p class="advertisement__text mt-0">
      澄菓數位:
      代表著時刻以幫客戶規劃及執行美好的行銷成果為宗旨，也代表著與笿戶及合作夥伴們，共創纍纍果實，共享美好成果。
    </p>
    <p class="advertisement__text--bold mt-0">
      澄菓數位營業項目
    </p>
    <div class="advertisement__list">
      <p class="advertisement__list-item m-0">數位網站代理及廣告投放</p>
      <p class="advertisement__list-item m-0"
        >客製的行銷規劃服務，包括線上及線下整合活動</p
      >
      <p class="advertisement__list-item m-0">內容行銷規劃</p>
      <p class="advertisement__list-item m-0">影音製作</p>
      <p class="advertisement__list-item m-0">實體招生及酬賓活動</p>
      <p class="advertisement__list-item m-0"
        >輔銷工具製作 (別冊及書籍的編製)</p
      >
    </div>
    <p class="advertisement__text--bold mt-0">
      澄菓數位聯絡資訊
    </p>
    <div class="advertisement__contact">
      <p class="advertisement__contact-text m-0">聯絡人：蘇小姐 Sharon</p>
      <p class="advertisement__contact-text m-0">Line ID：sharonsu01</p>
      <p class="advertisement__contact-text m-0"
        >Email：sharonsu@orangedigi.com</p
      >
    </div>
  </div>
</template>

<script>
import AppTitleBox from '@/components/AppTitleBox'
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'Advertisement',
  components: { AppTitleBox, AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '廣告合作'
        }
      ]
    }
  },
  head() {
    return {
      title: '廣告合作 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
