<template>
  <div id="cart-result-payment" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <AppTitleBox :text="'您的訂閱結果與方案'" :titleSize="1.75" />
      <table class="custom-table w-100">
        <thead>
          <tr>
            <th
              v-for="(field, index) in subscriptionFields"
              :key="index + 1"
              scope="col"
              class="bg-lavender text-white py-2"
              >{{ field }}</th
            >
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ spgResponse.plan_id }}</td>
            <td>{{ spgResponse.plan_title }}</td>
            <td>{{ spgResponse.plan_cost }}</td>
            <td v-html="spgResponse.plan_cont"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-center w-100">
      <AppTitleBox
        :text="'您的結帳資訊'"
        :titleSize="1.75"
        :subText="'本店採用「智富通」第三方金流服務進行付款'"
        :subSize="1.5"
      />
    </div>
    <form class="custom-form">
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">訂閱訂單代碼</label>
        </div>
        <div class="col-md-7">{{ spgResponse.mp_code }}</div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">姓名</label>
        </div>
        <div class="col-md-7">{{ spgResponse.name }}</div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">E-mail</label>
        </div>
        <div class="col-md-7">{{ spgResponse.email }}</div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">電話</label>
        </div>
        <div class="col-md-7">{{ spgResponse.phone }}</div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">公司統編</label>
        </div>
        <div class="col-md-7">{{ spgResponse.company_code }}</div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">處理結果</label>
        </div>
        <div class="col-md-7">{{ spgResponse.msg }}</div>
      </div>
      <!-- RESULT -->
      <div class="row">
        <div class="col-md-5">
          <label class="d-block text-small text-right">訂閱處理結果</label>
        </div>
        <div class="col-md-7" v-html="spgResponse.pay_info"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-right">
            <button class="btn-success">
              <nuxt-link to="/member/paidplan" class="text-white"
                >檢視我的訂閱方案</nuxt-link
              >
            </button>
            <button class="btn-warning">
              <nuxt-link
                :to="'/blogs/moneyvip/' + cartItem.expert_id"
                class="text-white"
                >回專家頁面</nuxt-link
              ></button
            >
            <button class="btn-primary"
              ><nuxt-link to="/vip" class="text-white"
                >重新檢視訂閱方案</nuxt-link
              ></button
            >
          </div>
        </div>
      </div>
    </form>
    <ul>
      <li
        >請記錄您的付款資料，並於繳費期限內完成支付，逾繳費時間該轉帳帳號將失效。</li
      >
      <li
        >您可至全台任一ATM自動櫃員機或透過任何銀行之網路ATM進行交易轉帳，完成轉帳後藍新金流將發送交易結果通知信至您的電子信箱。</li
      >
      <li
        >當選擇使用<span class="text-red">彰化銀行進行ATM轉帳</span
        >，於實體機台操作付款時，須採「繳費」功能，請勿使用「轉帳」功能，<span
          class="text-red"
          >若使用轉帳功能會導致轉帳失敗</span
        >。</li
      >
      <li>若逾繳費時間，本筆訂單將作廢，讓您重新下訂。</li>
    </ul>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppTitleBox from '@/components/AppTitleBox'
export default {
  name: 'CartResultPayment',
  components: { AppBreadcrumb, AppTitleBox },
  data() {
    return {
      subscriptionFields: ['', '方案名稱', '方案費用', '方案說明'],
      spgResponse: {},
      breadcrumbs: [],
      cartItem: {}
    }
  },
  async beforeMount() {
    this.cartItem = JSON.parse(localStorage.getItem('cartItem'))
    if (!this.$route.query.mp_id) {
      this.$router.push('/error')
    }
    const { data } = await this.$axios.post('plan/receiver/resultPayment', {
      mp_id: this.$route.query.mp_id,
      token: this.$tokenGenerator()
    })
    this.spgResponse = data.content
  },
  async mounted() {
    /*
     * 預防藍新付款成功回此頁時不會執行 nuxtServerInit
     */
    if (!this.$store.state.user.CName) {
      const cookies = this.$cookies.getAll()
      if (cookies.memberId && cookies.memberAccount) {
        const { data } = await this.$axios.post('member/info', {
          member_account: cookies.memberAccount,
          token: this.$tokenGenerator()
        })
        const userData = data.content.member_data
        this.$store.state.user.memberAccount = cookies.memberAccount
        return this.$store.commit('SET_USER', userData)
      }
      return this.$router.push('/login')
    }
  },
  head() {
    return {
      title: '付款資訊 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
