<template>
  <div id="faq-app" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <div class="col-12">
        <div class="post-title text-center mb-3">
          <h1 class="h1 display-4-md display-3-lg mt-2">Q&A</h1>
          <hr class="hr-after" />
        </div>
        <div class="panel-group" id="accordion">
          <!-- question 1 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post1"
                  >如何下載Moneybar 的賺bar APP？</a
                >
              </h2>
            </header>
            <footer id="post1" class="panel-collapse collapse">
              <p class="panel-body">
                現在無論是iPhone 或是Android ⼿機，都可以透過App 收到專家最新<br />
                ⽂章即時推播，幫你緊追專家觀點、掌握最新投資趨勢！<br />
                APP 下載連結：<br />
                iOS -
                <a href="https://pse.is/M8ZDZ" target="_blank"
                  >https://pse.is/M8ZDZ</a
                ><br />
                Android -
                <a href="https://reurl.cc/V616zY" target="_blank"
                  >https://reurl.cc/V616zY</a
                ><br />
              </p>
            </footer>
          </section>
          <!-- question 2 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post2"
                  >VIP 訂⼾如何透過(賺bar) APP 觀看訂閱專家⽂章？</a
                >
              </h2>
            </header>
            <footer id="post2" class="panel-collapse collapse">
              <p class="panel-body">
                (1) 打開APP
                之後，請先點選你也興趣的主題，建議全選，進⼊下⼀步進<br />
                ⼊APP ⾸⾴的⾴⾯。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/028-1.png"
                  alt="028-1.png"
                /><br />
                (2) 點選右下⾓「我的」登⼊你的會員，你看以選擇⽤FB 或Google
                或<br />
                Apple
                帳⼾，記得點選「記住我」可保留14天，不⽤每天登⼊帳⼾，登⼊<br />後會看到屬於⾃⼰的會員資料。<br />
                <img
                  class="img-fluid"
                  src="/img/faq/029.png"
                  alt="029.png"
                /><br />
                (3)
                點選左上⽅的三條線，選擇專家，會看到所有專家，點選你想觀看專<br />
                家，並且按下追蹤專家，可隨時掌握專家最新⽂章資訊。<br />
                (4)
                專家最新⽂章會在第⼀則，則可點⼊觀看⽂章，如果你無法觀看⽂章，<br />
                ⿇煩登⼊您的VIP 會員。<br />
                <img class="img-fluid" src="/img/faq/030.png" alt="030.png" />
              </p>
            </footer>
          </section>
          <!-- question 3 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post3"
                  >APP (賺bar) APP ⽂章字體變⼤問題？</a
                >
              </h2>
            </header>
            <footer id="post3" class="panel-collapse collapse">
              <p class="panel-body">
                （1） Android ⼿機⽤⼾：如果你使⽤對是Android
                系統⼿機，可以透<br />
                過設定⼿機本⾝字體⼤⼩，放⼤字體的⼤⼩。<br /><br />
                （2） iPhone ⼿機⽤⼾：因Apple IOS
                系統問題，⽤⼾無法透過設定⼿<br />
                機本⾝字體⼤⼩。
              </p>
            </footer>
          </section>
          <!-- question 4 -->
          <section class="panel panel-default">
            <header class="panel-heading">
              <h2 class="panel-title">
                <a
                  class="accordion-toggle collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#post4"
                  >APP (賺bar) APP VIP ⽂章圖⽚觀看問題？</a
                >
              </h2>
            </header>
            <footer id="post4" class="panel-collapse collapse">
              <p class="panel-body">
                ⺫前VIP
                ⽂章圖⽚除了搭配⽂章⽅便閱讀之外，會統⼀將圖⽚放在最下<br />
                ⾯，⽅便VIP ⽤⼾⼀次觀看所有圖⽚，且圖⽚可以放⼤觀看。__
              </p>
            </footer>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'FaqApp',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        {
          title: '首頁',
          link: '/'
        },
        {
          title: '常見Q&A',
          link: '/faq'
        },
        {
          title: 'APP相關問題'
        }
      ]
    }
  },
  head() {
    return {
      title: 'APP相關問題 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
