<template>
  <div
    id="payment"
    style="height: 480px;"
    class="d-flex justify-content-center align-items-center"
  >
    <h1 class="text-center">您即將前往藍新支付頁面，請勿點擊上一頁...</h1>
    <form id="spg" :action="SPGATEWAY_URL" method="POST">
      <template v-for="(item, key, index) in spgInfo">
        <input type="hidden" :key="index + 1" :name="key" :value="item" />
      </template>
    </form>
  </div>
</template>

<script>
// 此頁會攜帶 /cart 中後端 Response 的藍新加密資訊對藍新的 URL 發 POST，藍新會將瀏覽器重導向至付款頁面
// 於藍新完成付款後，會導向 /cart_result (信用卡) 或 /cart_result_payment (非信用卡)
import { mapState } from 'vuex'
export default {
  name: 'Payment',
  computed: {
    ...mapState(['spgInfo']),
    SPGATEWAY_URL() {
      return (
        process.env.SPGATEWAY_URL || 'https://core.newebpay.com/MPG/mpg_gateway'
      )
    }
  },
  mounted() {
    setTimeout(() => {
      document.getElementById('spg').submit()
    }, 2000)
  }
}
</script>
