<template>
  <div id="fq-test" class="container">
    <div class="row">
      <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      <div class="col-12">
        <img class="img-fluid" src="/img/fq/fq-title.jpg" alt="fq-title" />
      </div>
      <div class="col-md-8 mt-4 order-3">
        <div class="myfqscore__info-content">
          <h2 class="myfqscore__info__content-sub"
            >你是投資新手？老手？高手或贏家？</h2
          >
          <p class="myfqscore__info__content-p">
            在投資世界中，大家都想成為海中的王者，像
            鯊魚一樣，一出手就是手到擒來的獵殺。
          </p>
          <p class="myfqscore__info__content-p">
            但是只有10%的投資贏家能變成鯊魚。
          </p>
          <p class="myfqscore__info__content-p">
            你想知道你在投資世界中是哪一種類型的魚，
            趕快來測一測你的『投資力』？
          </p>
        </div>
        <nuxt-link
          to="/investbar/fqtest/questions"
          class="myfqscore__info-button btn btn-primary text-mid rounded-pill mb-4 text-white"
        >
          測驗開始
        </nuxt-link>
        <p
          >以上『投資力』測驗作者為投資心理學專家佛 洛阿水，
          非經本人或本網站同意請勿任意轉載。</p
        >
      </div>
    </div>
  </div>
</template>

<script>
import AppBreadcrumb from '@/components/AppBreadcrumb'
export default {
  name: 'FQTest',
  middleware: 'checkLogin',
  components: { AppBreadcrumb },
  data() {
    return {
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '投資bar', link: '/investbar' },
        { title: 'FQ投資' }
      ]
    }
  },
  head() {
    return {
      title: 'FQ投資  - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
