<template>
  <div id="search" class="pb-2 mb-2 mb-md-4">
    <div class="pb-2 mb-2 mb-md-4">
      <!--Container-->
      <div class="container">
        <div class="row">
          <!--breadcrumb-->
          <AppBreadcrumb :breadcrumbs="breadcrumbs" />
          <!--end breadcrumb-->
          <!--category title-->
          <div
            ref="tagBackgroundImage"
            class="col-12 py-5 px-3"
            :style="topInfoBackground"
          >
            <div class="widget">
              <div class="category-title text-center">
                <h1 class="h2 h1-md text-white shadowed"
                  >主題：{{ topInfo.keyword }}</h1
                >
                <hr class="hr-after" />
              </div>
              <div class="bg-light-gray mx-5">
                <p class="category-text px-2 px-sm-5 mb-1 text-black">
                  {{ topInfo.description }}
                </p>
                <!-- sub category -->
                <div class="tags-area px-2 px-sm-5 my-4">
                  <div class="mb-2">
                    <span class="font-weight-bold mr-2 text-black"
                      >相關熱門主題</span
                    >
                    <nuxt-link
                      v-for="(tag, index) in topTags"
                      :to="'/tag/tagindex?keyword=' + tag"
                      :key="index + 1"
                      class="btn btn-sm border-dark text-black mr-1 hover-white"
                      >#{{ tag }}</nuxt-link
                    >
                  </div>
                </div>
              </div>
              <!-- end sub category -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!--start left column-->
        <div class="col-md-8">
          <!--相關熱門資訊-->
          <div class="block-area latest-news mb-4">
            <div
              class="loading"
              :class="requestingNewsList ? 'bg-white' : ''"
              :style="requestingNewsList ? 'z-index: 1' : ''"
            >
            </div>
            <!-- block title -->
            <AppBlockTitle5 :text="'相關熱門資訊'" />
            <!--start post-->
            <template v-for="newsItem in news">
              <AppNewsSection1 :news="newsItem" :key="newsItem.news_id" />
            </template>

            <div class="gap-0"></div>
          </div>
          <!--End 相關熱門資訊-->

          <!--Pagination-->
          <AppPagination
            :isLoading="requestingNewsList"
            :innerValue="currentPage"
            :page-count="totalPages"
            :click-handler="onPageChange"
          />
          <!--end pagination-->

          <!-- footer post -->
          <div class="entry-footer">
            <hr />
            <!-- tags -->
            <div class="tags-area">
              <ul class="tags-links tagcloud pl-0">
                <li>
                  <span class="font-weight-bold mr-2">熱門搜尋關鍵字</span>
                </li>
                <li v-for="(tag, index) in bottomTags" :key="index + 1">
                  <nuxt-link :to="'/tag/tagindex?keyword=' + tag">{{
                    tag
                  }}</nuxt-link>
                </li>
              </ul>
            </div>
            <div class="gap-15"></div>
          </div>
        </div>
        <!--end left column-->

        <!--start right sidebar-->
        <aside
          v-if="deviceType === 'tablet'"
          class="col-md-4 right-sidebar-lg d-none d-md-block"
        >
          <div class="sticky">
            <!-- 台股人氣ETF -->
            <div class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'台股人氣ETF'" />
              <!-- widget content -->
              <AppFundTable />
              <div class="gap-0"></div>
            </div>

            <!--social icon-->
            <aside class="widget">
              <!--block title-->
              <!-- <AppBlockTitle7 :text="'i 玩＄'" /> -->
              <!--icon start-->
              <!-- <AppIconBar :socialInfo="socialInfo" /> -->
              <!-- <div class="gap-05"></div> -->
              <!--end icon-->
            </aside>
            <!-- end social icon -->

            <!-- post with number -->
            <aside class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'最新研究報告'" />
              <!-- sub card -->
              <AppLatestStudies />
              <!-- end sub card -->
              <div class="gap-0"></div>
            </aside>
            <!-- end post with number -->

            <!-- post with number -->
            <aside class="widget">
              <!-- widget title -->
              <AppBlockTitle7 :text="'最多人瀏覽'" />
              <!-- Block content -->
              <AppTopReview />
              <!-- end block content -->
              <div class="gap-0"></div>
            </aside>
            <!-- end post with number -->

            <!-- AD Banner -->
            <AsideAd :ad="firstAd" />
            <AsideAd :ad="secondAd" />
            <!-- end AD Banner -->
          </div>
        </aside>
        <!--end right sidebar-->
      </div>
    </div>
  </div>
</template>

<script>
import knuthShuffle from '@/utils/knuthShuffle'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppPagination from '@/components/AppPagination'
import AppBlockTitle5 from '@/components/AppBlockTitle5'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppFundTable from '@/components/AppFundTable'
// import AppIconBar from '@/components/AppIconBar'
import AppTopReview from '@/components/AppTopReview'
import AppNewsSection1 from '@/components/AppNewsSection1'
import AppLatestStudies from '@/components/AppLatestStudies'
import AsideAd from '@/components/AsideAd'
import keywordsConfig from '@/assets/json/keywords.config'
import tagsConfig from '@/assets/json/tags.config'

export default {
  name: 'Search',
  components: {
    AppBreadcrumb,
    AppPagination,
    AppBlockTitle5,
    AppBlockTitle7,
    AppFundTable,
    // AppIconBar,
    AppTopReview,
    AppNewsSection1,
    AppLatestStudies,
    AsideAd
  },
  validate({ query }) {
    if (!query.keyword) return false
    return true
  },
  async asyncData({ $axios, query, $tokenGenerator }) {
    const { keyword } = query
    const { data: newsData } = await $axios.post('/news/searchDetail', {
      keyword,
      page: 1,
      pageSize: 17,
      token: $tokenGenerator()
    })
    return {
      news: newsData.content.map((i) => ({
        ...i,
        news_date: i.PublishTime.slice(0, 16).replace(/-/g, '/')
      })),
      totalPages: newsData.totalPage
    }
  },
  data() {
    return {
      topReviewPosts: [],
      fundItems: [],
      socialInfo: [],
      news: [],
      studyItems: [],
      currentPage: 1,
      totalPages: null,
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '熱搜' },
        { title: '' }
      ],
      firstAd: {},
      secondAd: {},
      requestingNewsList: false
    }
  },
  computed: {
    keyword() {
      return this.$route.query.keyword
    },
    topTags() {
      return this.topInfo.tags
    },
    bottomTags() {
      return knuthShuffle(tagsConfig.tags).slice(0, 5)
    },
    topInfo() {
      for (let i = 0; i < keywordsConfig.keywords.length; i++) {
        if (this.keyword === keywordsConfig.keywords[i].keyword) {
          return keywordsConfig.keywords[i]
        }
      }
      return { keyword: this.$route.query.keyword, description: '' }
    },
    topInfoBackground() {
      if (this.topInfo.imageUrl) {
        return {
          background:
            'linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) ),url(' +
            this.topInfo.imageUrl +
            ') no-repeat center/1170px'
        }
      }
      return {
        background: 'url(/img/search/default.jpg)'
      }
    },
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  watch: {
    async keyword(val) {
      if (!val) return null
      this.breadcrumbs[2].title = val
      const { data: newsData } = await this.$axios.post('/news/searchDetail', {
        keyword: val,
        page: 1,
        pageSize: 17,
        token: this.$tokenGenerator()
      })
      this.news = newsData.content.map((i) => ({
        ...i,
        news_date: i.PublishTime.slice(0, 16).replace(/-/g, '/')
      }))
      this.totalPages = newsData.totalPage
    },
    news() {
      this.news.forEach((item) => {
        if (!/jpg|jpeg|png|JPG|PNG|JPEG/gi.test(item.news_img)) {
          item.news_img = null
        }
      })
    }
  },
  beforeMount() {
    this.breadcrumbs[2].title = this.keyword
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.appLink
    })
  },
  mounted() {
    this.news.forEach((item) => {
      if (!/jpg|jpeg|png|JPG|PNG|JPEG/gi.test(item.news_img)) {
        item.news_img = null
      }
    })
  },
  methods: {
    async onPageChange(page) {
      if (page > this.totalPages) {
        return this.$Swal.fire('頁數不得大於總頁數')
      }
      this.currentPage = page
      this.requestingNewsList = true
      const { data: newsData } = await this.$axios.post('/news/searchDetail', {
        keyword: this.$route.query.keyword,
        page,
        pageSize: 17,
        token: this.$tokenGenerator()
      })
      newsData.content.forEach((item) => {
        if (!/jpg|jpeg|png|JPG|PNG|JPEG/gi.test(item.news_img)) {
          item.news_img = null
        }
        item.news_date = item.PublishTime.slice(0, 16).replace(/-/g, '/')
      })
      this.news = newsData.content
      this.requestingNewsList = false
    }
  },
  head() {
    return {
      title: `${this.keyword} - moneybar財經商業資訊社群網站`
    }
  }
}
</script>
