<template>
  <div id="share-holding" class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--breadcrumb-->
        <AppBreadcrumb :breadcrumbs="breadcrumbs" />
      </div>

      <!--start left column-->
      <div class="col-md-8">
        <!-- AD images -->
        <ContentAd :ad="bannerAd" />
        <div class="mt-3">
          <!-- block title -->
          <AppBlockTitle11 :text="title" />
          <table class="us-stock-table small">
            <thead>
              <tr>
                <th rowspan="2" class="text-align-left">加入</th>
                <th rowspan="2" class="text-align-left mobile-hide">代碼</th>
                <th
                  rowspan="2"
                  class="text-align-left mobile-adjust-width mobile-adjust-align-left"
                >
                  名稱
                </th>
                <th rowspan="2" class="mobile-hide">日期</th>
                <th rowspan="2">
                  <div class="border-right-div">市價</div>
                </th>
                <th colspan="4" class="mobile-hide">報酬率（％）</th>
                <th rowspan="2" class="mobile-hide">
                  <div class="border-left-div">成交量</div>
                </th>
                <th rowspan="2" class="mobile-show">漲跌幅</th>
              </tr>
              <tr>
                <th class="mobile-hide">1日</th>
                <th class="mobile-hide">1年</th>
                <th class="mobile-hide">3年</th>
                <th class="mobile-hide">5年</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(etf, index) in etfItems" :key="index + 1">
                <td>
                  <i
                    v-if="!etf.isWatched"
                    @click="handleAddWatchlist"
                    :data-etfpid="etf.etf_pid"
                    class="fas fa-plus-circle"
                  ></i>
                  <i
                    v-if="etf.isWatched"
                    @click="handleDeleteWatchlist"
                    :data-etfpid="etf.etf_pid"
                    class="fas fa-minus-circle text-red"
                  ></i
                ></td>
                <td class="text-align-left mobile-hide">{{ etf.etf_code }}</td>
                <td
                  class="text-align-left mobile-adjust-width mobile-adjust-align-left"
                >
                  <nuxt-link :to="'/investbar/usstock/' + etf.etf_id">
                    {{ etf.etf_name }}
                  </nuxt-link>
                </td>
                <td class="mobile-hide">{{ etf.etf_date }}</td>
                <td :class="etf.etf_price ? 'text-danger' : ''">{{
                  etf.etf_price || '─'
                }}</td>
                <!-- ETF One day -->
                <td v-if="+etf.etf_oneday > 0" class="text-danger "
                  ><i class="fas fa-caret-up"></i>{{ etf.etf_oneday }}</td
                >
                <td v-else-if="+etf.etf_oneday < 0" class="text-success"
                  ><i class="fas fa-caret-down"></i
                  >{{ etf.etf_oneday | filterMinus }}</td
                >
                <td v-else class="text-black">─</td>
                <!-- ETF One Year -->
                <td v-if="+etf.etf_oneyear > 0" class="text-danger mobile-hide"
                  ><i class="fas fa-caret-up"></i>{{ etf.etf_oneyear }}</td
                >
                <td
                  v-else-if="+etf.etf_oneyear < 0"
                  class="text-success mobile-hide"
                  ><i class="fas fa-caret-down"></i
                  >{{ etf.etf_oneyear | filterMinus }}</td
                ><td v-else class="text-black">─</td>
                <!-- ETF Three Years -->
                <td
                  v-if="+etf.etf_threeyears > 0"
                  class="text-danger mobile-hide"
                  ><i class="fas fa-caret-up"></i>{{ etf.etf_threeyears }}</td
                >
                <td
                  v-else-if="+etf.etf_threeyears < 0"
                  class="text-success mobile-hide"
                  ><i class="fas fa-caret-down"></i
                  >{{ etf.etf_threeyears | filterMinus }}</td
                ><td v-else class="text-black">─</td>
                <!-- ETF Five Years -->
                <td
                  v-if="+etf.etf_fiveyears > 0"
                  class="text-danger mobile-hide"
                  ><i class="fas fa-caret-up"></i>{{ etf.etf_fiveyears }}</td
                >
                <td
                  v-else-if="+etf.etf_fiveyears < 0"
                  class="text-success mobile-hide"
                  ><i class="fas fa-caret-down"></i
                  >{{ etf.etf_fiveyears | filterMinus }}</td
                ><td v-else class="text-black">─</td>
                <!-- ETF Vol -->
                <td v-if="etf.etf_vol" class="mobile-hide text-right">{{
                  etf.etf_vol | commaFormat
                }}</td>
                <td v-else class="mobile-hide text-right">─</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--end left column-->

      <!--start right sidebar-->
      <aside v-if="deviceType === 'tablet'" class="col-md-4 right-sidebar-lg">
        <div class="sticky">
          <!-- 台股人氣ETF -->
          <div class="widget">
            <!-- widget title -->
            <AppBlockTitle7 :text="'台股人氣ETF'" />
            <!-- widget content -->
            <AppFundTable />
            <div class="gap-0"></div>
          </div>

          <!-- VIP會員最新文章 -->
          <aside class="widget d-none d-md-block">
            <!-- widget title -->
            <AppBlockTitle7 :text="'VIP會員最新文章'" />
            <!-- sub card -->
            <AppLatestVIPArticles />
            <!-- end sub card -->
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- VIP會員最新文章 -->
          <aside class="widget d-none d-md-block">
            <!-- widget title -->
            <AppBlockTitle7 :text="'最新專題'" />
            <AppLatestTopics />
            <div class="gap-0"></div>
          </aside>
          <!-- end VIP會員最新文章 -->

          <!-- AD Banner -->
          <AsideAd :ad="firstAd" />
          <AsideAd :ad="secondAd" />
          <!-- end AD Banner -->
        </div>
      </aside>
      <!--end right sidebar-->
    </div>
  </div>
</template>

<script>
import ContentAd from '@/components/ContentAd'
import AppBreadcrumb from '@/components/AppBreadcrumb'
import AppBlockTitle7 from '@/components/AppBlockTitle7'
import AppBlockTitle11 from '@/components/AppBlockTitle11'
import AppFundTable from '@/components/AppFundTable'
import AppLatestTopics from '@/components/AppLatestTopics'
import AppLatestVIPArticles from '@/components/AppLatestVIPArticles'
import AsideAd from '@/components/AsideAd'

export default {
  name: 'ShareHolding',
  components: {
    ContentAd,
    AppBreadcrumb,
    AppBlockTitle7,
    AppBlockTitle11,
    AppFundTable,
    AppLatestTopics,
    AppLatestVIPArticles,
    AsideAd
  },
  filters: {
    commaFormat(value) {
      // 加上千分位符號
      if (!value) return value
      return value
        .toString()
        .replace(/^(-?\d+?)((?:\d{3})+)(?=\.\d+$|$)/, function(
          all,
          pre,
          groupOf3Digital
        ) {
          return pre + groupOf3Digital.replace(/\d{3}/g, ',$&')
        })
    },
    fixTwo(value) {
      if (!value) return value
      if (value.length < 4) return value
      return value.toString().slice(0, -3)
    },
    filterMinus(value) {
      // 拿掉 - 號
      if (!value) return '-'
      return value.replace('-', '')
    }
  },
  validate({ query }) {
    if (!query.keyword) return false
    return true
  },
  async asyncData({ $axios, query, redirect, $tokenGenerator }) {
    const { keyword } = query
    const { data: etfItemsData } = await $axios.post('etf/usadetail', {
      ETFName: keyword.replace(/%20/gi, ' '),
      token: $tokenGenerator()
    })
    if (!etfItemsData.Content.etf_data.length) {
      return redirect('/error')
    }
    etfItemsData.Content.etf_data.forEach((i) => {
      i.isWatched = false
      i.etf_vol = i.etf_vol ? i.etf_vol.split('.')[0] : ''
    })

    return {
      etfItems: etfItemsData.Content.etf_data,
      title: keyword.replace(/%20/gi, ' ')
    }
  },
  data() {
    return {
      title: '',
      etfItems: [],
      breadcrumbs: [
        { title: '首頁', link: '/' },
        { title: '投資bar', link: '/investbar' },
        { title: '美股', link: '/investbar/usstock' }
      ],
      firstAd: {},
      secondAd: {},
      bannerAd: {}
    }
  },
  computed: {
    deviceType() {
      return this.$store.state.deviceType
    }
  },
  beforeMount() {
    this.$store.dispatch('FETCH_USER_WATCHLIST').then(() => {
      this.etfItems.forEach((etfItem) => {
        if (this.$store.state.user.watchlists.includes(etfItem.etf_pid)) {
          return (etfItem.isWatched = true)
        }
        return (etfItem.isWatched = false)
      })
    })
    const stockEngNames = document.querySelectorAll('.stock-eng-name')
    stockEngNames.forEach((el) => {
      if (window.screen.width > 766 && el.textContent.length > 20) {
        el.textContent = el.textContent.substr(0, 19) + '...'
      }
    })
    import('@/assets/js/adsConfig').then((m) => {
      this.firstAd = m.default.vipSubscription
      this.secondAd = m.default.richkid_ad_2
      this.bannerAd = m.default.vipSubscriptionBanner
    })
  },
  methods: {
    handleAddWatchlist(e) {
      if (this.$store.getters.isAuthenticated) {
        const etfPID = e.target.dataset.etfpid
        this.$store.dispatch('ADD_USER_WATCHLIST', etfPID).then(() => {
          this.toggleWatchlistBtn(etfPID)
        })
        return null
      }
      this.$Swal.fire('請先登入以加入個人清單！')
      return this.$router.push('/login')
    },
    handleDeleteWatchlist(e) {
      const etfPID = e.target.dataset.etfpid
      this.$store.dispatch('DELETE_USER_WATCHLIST', etfPID).then(() => {
        this.toggleWatchlistBtn(etfPID)
      })
    },
    toggleWatchlistBtn(etfPID) {
      for (let i = 0; i < this.etfItems.length; i++) {
        if (this.etfItems[i].etf_pid === etfPID)
          return (this.etfItems[i].isWatched = !this.etfItems[i].isWatched)
      }
    }
  },
  head() {
    return {
      title: '大型機構美股持股名單 - moneybar財經商業資訊社群網站'
    }
  }
}
</script>
